
@mixin gb-typography(
	$color,
	$font-family,
	$font-size-sm,
	$font-size-med,
	$font-size-lg,
	$font-weight,
	$line-height-sm,
	$line-height-med,
	$line-height-lg,
	$letter-spacing-sm,
	$letter-spacing-med,
	$letter-spacing-lg
) {
	color: $color;
	font-family: $font-family;
	font-size: $font-size-sm;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing-sm;
	line-height: $line-height-sm;

	@media (min-width: 800px) and (max-width: 1199px) {
		font-size: $font-size-med;
		letter-spacing: $letter-spacing-med;
		line-height: $line-height-med;
	}

	@media (min-width: 1200px) {
		font-size: $font-size-lg;
		letter-spacing: $letter-spacing-lg;
		line-height: $line-height-lg;
	}
}