/* Mixin for generating vertical spacing styles*/
/* Vertical spacing is used to create space between components by adding a bottom margin*/
/* to the element being applied to.  The use of !important is needed to make sure if any*/
/* other classes are applied that have a bottom margin to override.*/
@mixin generate-vertical-spacing(
	$min-margin: null,
	$small-margin: null,
	$base-margin: null,
	$medium-margin: null,
	$large-margin: null,
	$xlarge-margin: null,
	$xxlarge-margin: null,
	$xxxlarge-margin: null,
	$max-margin: null
) {
	.gb-none-margin {
		margin-bottom: 0 !important;
	}

	@if $min-margin {
		.gb-min-margin {
			margin-bottom: $min-margin !important;
		}
	}

	@if $small-margin {
		.gb-small-margin {
			margin-bottom: $small-margin !important;
		}
	}

	@if $base-margin {
		.gb-base-margin {
			margin-bottom: $base-margin !important;
		}
	}

	@if $medium-margin {
		.gb-medium-margin {
			margin-bottom: $medium-margin !important;
		}
	}

	@if $large-margin {
		.gb-large-margin {
			margin-bottom: $large-margin !important;
		}
	}

	@if $xlarge-margin {
		.gb-xlarge-margin {
			margin-bottom: $xlarge-margin !important;
		}
	}

	@if $xxlarge-margin {
		.gb-xxlarge-margin {
			margin-bottom: $xxlarge-margin !important;
		}
	}

	@if $xxxlarge-margin {
		.gb-xxxlarge-margin {
			margin-bottom: $xxxlarge-margin !important;
		}
	}

	@if $max-margin {
		.gb-max-margin {
			margin-bottom: $max-margin !important;
		}
	}
} ;
