/* Mixin for generating vertical spacing styles*/
/* Vertical spacing is used to create space between components by adding a bottom margin*/
/* to the element being applied to.  The use of !important is needed to make sure if any*/
/* other classes are applied that have a bottom margin to override.*/
@mixin generate-vertical-spacing(
	$small-margin,
	$medium-margin,
	$large-margin,
	$xlarge-margin
) {
	.gb-none-margin {
		margin-bottom: 0 !important;
	}

	.gb-small-margin {
		margin-bottom: $small-margin !important;
	}

	.gb-medium-margin {
		margin-bottom: $medium-margin !important;
	}

	.gb-large-margin {
		margin-bottom: $large-margin !important;
	}

	.gb-xlarge-margin {
		margin-bottom: $xlarge-margin !important;
	}
};
