/* Draw a triangle pointing straight up, down, left and right */
@mixin icon-triangle($orientation, $height, $width, $color, $position : absolute) {
	border: 0;
	content: '';
	position: $position;


	@if $orientation == 'up' {
		border-bottom: $height solid $color;
		border-left: $width solid transparent;
		border-right: $width solid transparent;
	}

	@if $orientation == 'right' {
		border-bottom: $height solid transparent;
		border-left: $width solid $color;
		border-top: $height solid transparent;
	}

	@if $orientation == 'down' {
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-top: $height solid $color;
	}

	@if $orientation == 'left' {
		border-bottom: $height solid transparent;
		border-right: $width solid $color;
		border-top: $height solid transparent;
	}
}