@use 'radio' as r;
@use '../../../cadillac/colors' as c;
@use '../../../cadillac/fonts' as f;

.gb-radio {
	input[type='radio'] {
		@include r.base-radio-input(
			1.625rem,
			0 0.625rem 0.625rem 0.625rem,
			1.625rem,
		);

		&::before {
			background: c.$grey-extra-light;
			border-radius: 1rem;
			content: '';
			display: inline-block;
			height: 1.625rem;
			position: relative;
			width: 1.625rem;
		}

		+label {
			@include r.base-radio-label(
				c.$grey-darker,
				f.$cadillac-sans,
				0.875rem,
				1.5,
				0,
			);
			align-items: baseline;
			bottom: 3px;
			font-weight: f.$font-weight-book;
			letter-spacing: 0.071rem;
		}

		&:checked {
			&::before {
				background: c.$white;
				box-shadow: inset 0 0 0 0.5rem c.$grey-darker;
			}
		}
	}

	&.invert {
		input[type='radio'] {
			&:checked {
				&::before {
					background: c.$gold-dark;
					border: .5rem solid #fff;
					box-shadow: none;
				}
			}
		}
	}


	&.disabled {
		opacity: 30%;
	}
}
