@use 'radio' as r;
@use '../../../chevy/colors' as c;
@use '../../../chevy/fonts' as f;
@use '../../../utils/visually-hide' as v;

.gb-radio {
  	input[type='radio'] {
	  	@include v.visually-hidden();
		+ label {
			@include r.base-radio-label (
				c.$grey-dark,
				f.$font-family-roboto,
				14px,
				23px,
				10px 0);
			display: inline-block;
			font-weight: f.$font-weight-bold;
			left: 20px;
			padding: 0 0 0 10px;
			position: relative;
			vertical-align: middle;

			@media print, only screen and (min-width: 800px) {
				@include r.base-radio-label (
					c.$grey-dark,
					f.$font-family-roboto,
					18px,
					32px,
					12px 0);
				left: 20px;
			}

			&::before {
				@include r.base-radio-input (
					20px,
					12px 0,
					20px);
				background: c.$grey-light;
				border: 1px solid c.$grey;
				border-radius: 50%;
				content: '';
				display: inline-block;
				left: -20px;
				position: absolute;
				top: -10px;
				z-index: 1;

				@media print, only screen and (min-width: 800px) {
					top: -5px;
				}
			}
		}

		&:checked, &:focus {
			+ label {
				&::before {
					background: c.$grey;
					box-shadow: inset 0 0 0 5px c.$grey-light;
					outline: -webkit-focus-ring-color auto 1px;
				}
			}
		}

		&:disabled {
			+ label {
				left: 20px;
				padding: 0 0 0 10px;
				position: relative;

				&::before {
					@include r.base-radio-input (
						20px,
						12px 0,
						20px);
					box-shadow: inset 0 0 0 5px c.$grey-light;
					opacity: .4;
					outline: unset;
					padding: 0;
				}
			}

			&:hover, &:focus {
				+ label {
					&::after {
						display: none;
					}
				}
			}
		}

		&:hover, &:focus {
			&:checked {
				&:disabled {
					+ label {
						&::before {
							box-shadow: inset 0 0 0 5px c.$grey-light;
						}
					}
				}

				+ label {
					&::before {
						box-shadow: inset 0 0 0 3px c.$grey-light;
					}
				}
			}

			+ label {
				display: inline-block;
				left: 24px;
				padding: 0 0 0 6px;

				&::before {
					left: -24px;
					outline: unset;
				}

				&::after {
					@include r.base-radio-input (
						28px,
						8px 0,
						28px);
					background: c.$grey-light;
					border: none;
					border-radius: 50%;
					content: '';
					display: inline-block;
					left: -28px;
					outline: -webkit-focus-ring-color auto 1px;
					padding: 4px;
					position: absolute;
					top: -10px;

					@media print, only screen and (min-width: 800px) {
						top: -5px;
					}
				}
			}

			@media print, only screen and (min-width: 800px) {
				margin: 18px 0;
			}
		}
  	}
}

span.gb-radio {
  	display: inline-block;

  	input[type=radio]:disabled, input[type=radio] {
		&:hover, &:disabled, &:focus {
		  	+ label {
			  	left: 0;
			  	padding: 0;

			  	&::before {
			  		left: 0;
			  	}

				&::after {
				  	left: -4px;
				  	margin-right: 6px;
				  	top: -11.5px;

				  	@media print, only screen and (min-width: 800px) {
					  	top: -6px;
					}
				}
			}
		}

	  	+ label {
			left: 0;
		  	margin-right: 6px;
			padding: 0;
			top: -2px;

			&::before {
				left: 0;
				margin: 0 10px 0 0;
				padding: 0;
				position: relative;
				top: -2px;
	  		}
		}
	}
}


html[dir='rtl'] {
  	.gb-radio {
		input[type='radio'] {
		  	@include v.visually-hidden();
	  		&:hover, &:focus {
				&:disabled {
					+ label {
						padding: 0 10px 0 0;
						right: 20px;

						@media print, only screen and (min-width: 800px) {
						  	right: 20px;
						}

						&::before {
						  	right: -20px;
						}
					}
				}

				+ label {
					padding: 0 6px 0 0;
					right: 24px;

					&::before {
					  	right: -24px;
					}

					@media print, only screen and (min-width: 800px) {
					  	right: 24px;
					}
				}
			}

			+ label {
				padding: 0 10px 0 0;
				position: relative;
				right: 20px;

				&::before {
				  	right: -20px;
				}

				&::after {
				  	right: -28px;
				  	transform: translate(0%, 0%);
				}
			}
		}
  	}

  	span.gb-radio {
	  	display: inline-block;

		input[type=radio]:disabled, input[type=radio] {
		  	&:hover, &:disabled, &:focus {
				+ label {
					right: 0;
					padding: 0;

					&::before {
					  	right: 0;
					}

					&::after {
						right: -10px;
					  	margin-left: 6px;
						top: -11.5px;

						@media print, only screen and (min-width: 800px) {
						  	top: -6px;
						}
					}
				}
			}

			+ label {
				right: 0;
			  	margin-left: 6px;
			  	margin-right: 0;
			  	padding: 0;
				top: -2px;

				&::before {
					right: 0;
					margin: 0 0 0 10px;
					padding: 0;
					position: relative;
					top: -2px;
				}
			}
		}
  	}
}
