@use 'radio' as r;
@use '../../../cadillac/colors' as c;
@use '../../../cadillac/fonts' as f;

.gb-radio {
	input[type='radio'] {
		@include r.base-radio-input(
			20px,
			2px 10px 26px 0,
			20px,
		);

		&::before {
			background: c.$grey-light;
			border-radius: 1rem;
			content: '';
			display: inline-block;
			height: 1.625rem;
			position: relative;
			width: 1.625rem;
		}

		+label {
			@include r.base-radio-label(
				c.$grey-darker,
				f.$cadillac-sans,
				16px,
				1.5,
				0,
			);
			align-items: baseline;
			bottom: 3px;
			font-weight: f.$font-weight-book;
			letter-spacing: .99px;
			vertical-align: super;
		}

		&:checked {
			&:hover {
				&::before {
					box-shadow: inset 0 0 0 0.5rem c.$grey-light;
				}
			}

			&::before {
				background: c.$white;
				box-shadow: inset 0 0 0 0.5rem c.$grey-darker;
			}
		}
	}

	&.disabled {
		input[type='radio'] {
			cursor: default !important;

			&::before {
				background: c.$grey-extra-light;
				box-shadow: inset 0 0 0 0.5rem c.$grey-extra-light;
			}
			
			&:checked {
				&:hover {
					/* stylelint-disable-next-line*/
					&::before {
						box-shadow: inset 0 0 0 0.5rem c.$grey-extra-light;
					}
				}
		
				&::before {
					background: c.$white;
					box-shadow: inset 0 0 0 0.5rem c.$grey-extra-light;
				}
			}
		}
	
		+label {
			color: c.$grey;
		}
	}

	@media print,only screen and (min-width:800px) {
		input[type='radio'] + label {
			@include r.base-radio-label(
				c.$grey-darker,
				f.$cadillac-sans,
				18px,
				normal,
				0,
			);
			top: 3px;
			vertical-align: super;
		}
	}
}
