@use 'radio' as r;
@use '../../../gmc/colors' as c;
@use '../../../gmc/fonts' as f;

.gb-radio {
	input[type='radio'] {
		@include r.base-radio-input(
			2rem,
			0.3rem 1rem 1rem 1rem,
			2rem,
		);

		&::before {
			background: c.$white;
			border: 2px solid c.$brand-black;
			border-radius: 1rem;
			content: '';
			display: inline-block;
			height: 2rem;
			position: relative;
			width: 2rem;
		}

		+label {
			@include r.base-radio-label(
				c.$font,
				f.$font-family-muli,
				1.2rem,
				1.3,
				0.3rem 0 1rem,
			);
			bottom: 2px;
		}

		&:checked {
			&::before {
				background: c.$brand-black;
				box-shadow: inset 0 0 0 0.35rem c.$white;
			}
		}
	}

	&.disabled {
		opacity: 30%;
	}
}
