@use 'tab-nav' as tn;
@use 'tab-flyout-behavior' as tfb;
@use '../../gmc/colors' as c;
@use '../../gmc/fonts' as f;
@use '../../utils/animations/container-movement' as cm;
@use '../../utils/breakpoints' as bp;

gb-tab-nav,
.gb-tab-nav {
	.content-button-group {
		@include tfb.base-content-button-group();

		@include tn.base-tab-button-group(c.$white);

		border-bottom: 1px solid c.$font-light;
		font-family: f.$font-family-stratum;
		padding: 0;
	}

	.content-button {
		@include tfb.base-content-button();

		@include tn.base-tab-button(c.$white, c.$font, 16px, f.$font-weight-normal, 56px, 0);

		margin-block-start: 0;
		padding-inline-end: 26px;

		button {
			font-family: f.$font-family-stratum;
			letter-spacing: 0;
			line-height: 1.375;
		}

		&.active,
		&:hover,
		&:focus {
			button {
				border-bottom: 2px solid c.$brand-red;
				color: c.$brand-red;
				font-weight: f.$font-weight-bold;
				margin-block-end: -1px;
			}
		}
	}

	.content-container {
		@include tfb.base-content-container();

		@include tn.base-tab-content-container(c.$white, 0);

		.back-button {
			@include tfb.base-compact-content-container-back-button(
				c.$brand-black-lighten,
				none,
				c.$brand-black,
				15px,
				f.$font-weight-bold,
				51px,
				0 43px
			);

			border-bottom: 1px solid c.$font;
			display: none;
			font-family: f.$font-family-stratum;
			letter-spacing: 2px;
			line-height: 1.5;
		}

		.stacked-content-title {
			align-items: center;
			background: c.$brand-black;
			border-bottom: 2px solid c.$brand-red;
			color: c.$white;
			display: none;
			font-family: f.$font-family-stratum;
			font-size: 22px;
			font-weight: f.$font-weight-xbold;
			height: 47px;
			letter-spacing: 1px;
			line-height: 1.75;
			padding-block: 0;
			padding-inline: 16px;
		}
	}

	@mixin stacked-tabs() {
		@include tfb.base-compact-content-button-container-parent();

		.content-button-group {
			@include tfb.base-compact-content-button-group();

			@include tn.base-tab-button-group(c.$white);

			border-bottom: 0;
		}

		.content-button {
			@include tfb.base-compact-content-button();
			background: c.$brand-black-lighten;
			border-bottom: 1px solid c.$font;
			height: 47px;
			padding-block: 8px 9px;
			padding-inline: 15px 5px;

			button {
				align-items: center;
				color: c.$white;
				display: flex;
				font-weight: f.$font-weight-bold;
				height: 47px;
				position: relative;

				&::after {
					content: url('data:image/svg+xml,%3Csvg%20width%3D%2231%22%20height%3D%2231%22%20viewBox%3D%220%200%2031%2031%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m11.822%2021.145%205.728-5.73-5.728-5.728%201.743-1.744%207.472%207.473-7.472%207.472z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
					height: 31px;
					inset-inline-end: 0;
					position: absolute;
					transform: var(--rotate-stacked-button-arrow);
					width: 31px;
				}
			}

			&:hover,
			&:focus {
				background: c.$brand-primary;

				button {
					border-bottom: 0;
					color: c.$white;
					font-weight: f.$font-weight-bold;
					margin-block-end: 0;
				}
			}

			@include bp.small-only {
				&.active {
					background: c.$brand-black-lighten;

					button {
						border-bottom: 0;
						margin-block-end: 0;
					}

					&:hover,
					&:focus {
						background: c.$brand-primary;

						button {
							border-bottom: 0;
							margin-block-end: 0;
						}
					}
				}
			}
		}

		.content-container {
			@include cm.slide-left-right(100%);
			@include tfb.base-compact-content-container();

			.back-button {
				display: block;

				&::before {
					content: url('data:image/svg+xml,%3Csvg%20width%3D%2231%22%20height%3D%2231%22%20viewBox%3D%220%200%2031%2031%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m11.822%2021.145%205.728-5.73-5.728-5.728%201.743-1.744%207.472%207.473-7.472%207.472z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
					height: 31px;
					inset-inline-start: 4px;
					position: absolute;
					top: 10px;
					transform: var(--rotate-back-button-arrow);
					width: 31px;
				}

				/* stylelint-disable-next-line*/
				.back-button-label {
					color: c.$white;
					font-size: 15px;
					line-height: 1.5;
					padding-block: 0;
					padding-inline: 43px;
				}
			}

			/* Overriding container movement properties so container content appears over content below it.*/
			&.open,
			&.opening,
			&.closing {
				position: fixed;
				z-index: 1;
			}

			.stacked-content-title {
				display: flex;
			}
		}
	}

	@include bp.small-only {
		&.gb-stacked-sm {
			@include stacked-tabs;
		}
	}

	@include bp.medium-only {
		&.gb-stacked-med {
			@include stacked-tabs;
		}
	}

	@include bp.large-and-above {
		&.gb-stacked-lg {
			@include stacked-tabs;
		}
	}
}
