@use '../../common/common' as com;

@use 'tab-nav' as tn;
@use 'tab-flyout-behavior' as tfb;
@use '../../chevy/colors' as c;
@use '../../chevy/fonts' as f;
@use '../../utils/animations/container-movement' as cm;
@use '../../utils/breakpoints' as bp;

gb-tab-nav,
.gb-tab-nav {
	padding: 0;

	.content-button-group {
		@include tfb.base-content-button-group();

		@include tn.base-tab-button-group(
			c.$grey-light,
		);

		display: inline-flex;
	}

	.content-button {
		@include tfb.base-content-button();

		@include tn.base-tab-button(
			c.$white,
			c.$grey-mid-dark,
			calc(.6375 * #{com.$gmux-base-font}),
			f.$font-weight-bold,
			50px,
			0 15px,
		);

		margin-top: 0;

		&.active {
			button {
				color: c.$grey-dark;
			}
		}

		&:hover {
			background-color: c.$white;
		}
		
		button {
			&:hover {
				color: c.$grey-dark;
				cursor: pointer;
			}
		}

		@include bp.medium-and-above {
			font-size: calc(.75 * #{com.$gmux-base-font});
		}

		@include bp.large-and-above {
			font-size: calc(.8624 * #{com.$gmux-base-font});
		}
	}

	.content-container {
		@include tfb.base-content-container();

		@include tn.base-tab-content-container(
			c.$white,
			0 50px,
		);

		.back-button {
			@include tfb.base-compact-content-container-back-button(
				c.$grey-light,
				none,
				c.$grey-dark,
				calc(.6375 * #{com.$gmux-base-font}),
				f.$font-weight-bold,
				50px,
				0 30px 0 30px,
			);

			display: none;

			@include bp.medium-and-above {
				font-size: calc(.75 * #{com.$gmux-base-font});
			}
	
			@include bp.large-and-above {
				font-size: calc(.8624 * #{com.$gmux-base-font});
			}
		}

		.stacked-content-title {
			display: none;
		}
	}

	@mixin stacked-tabs() {
		@include tfb.base-compact-content-button-container-parent();

		.content-button-group {
			@include tfb.base-compact-content-button-group();

			@include tn.base-tab-button-group(
				c.$white,
			);
		}

		.content-button {
			@include tfb.base-compact-content-button();

			@include tn.base-tab-button(
				c.$white,
				c.$grey-dark,
				calc(.6375 * #{com.$gmux-base-font}),
				f.$font-weight-bold,
				auto,
				20px,
			);

			border-bottom: 1px solid c.$grey-mid;

			button {
				align-items: center;
				display: flex;
				font-family: f.$font-family-roboto;
				font-size: 12px;
				line-height: 1.5;
				position: relative;

				&::after {
					border-bottom: calc(.2789 * #{com.$gmux-base-font}) solid transparent;
					border-left: calc(.4329 * #{com.$gmux-base-font}) solid c.$grey;
					border-top: calc(.2789 * #{com.$gmux-base-font}) solid transparent;
					content: '';
					position: absolute;
					right: calc(1.9921 * #{com.$gmux-base-font});
	
					@include bp.medium-and-above {
						border-bottom: calc(.3281 * #{com.$gmux-base-font}) solid transparent;
						border-left: calc(.5093 * #{com.$gmux-base-font}) solid c.$grey;
						border-top: calc(.3281 * #{com.$gmux-base-font}) solid transparent;
						right: calc(2.3437 * #{com.$gmux-base-font});
					}
	
					@include bp.large-and-above {
						border-bottom: calc(.3773 * #{com.$gmux-base-font}) solid transparent;
						border-left: calc(.5857 * #{com.$gmux-base-font}) solid c.$grey;
						border-top: calc(.3773 * #{com.$gmux-base-font}) solid transparent;
						right: calc(2.6953 * #{com.$gmux-base-font});
					}
				}
			}

			@include bp.medium-and-above {
				font-size: calc(.75 * #{com.$gmux-base-font});
			}
	
			@include bp.large-and-above {
				font-size: calc(.8624 * #{com.$gmux-base-font});
			}
		}

		.content-container {
			@include cm.slide-left-right(100%);
			@include tfb.base-compact-content-container();

			padding: 0;

			.back-button {
				display: block;

				&::before {
					border-bottom: 5px solid transparent;
					border-right: 8px solid c.$black;
					border-top: 5px solid transparent;
					content: '';
					left: calc(.9296 * #{com.$gmux-base-font});
					position: absolute;
					top: 21px;

					@include bp.medium-and-above {
						left: calc(1.0937 * #{com.$gmux-base-font});
					}

					@include bp.large-and-above {
						left: calc(1.2578 * #{com.$gmux-base-font});
					}
				}

				/* stylelint-disable-next-line*/
				.back-button-label {
					color: c.$grey-dark;
					font-family: f.$font-family-roboto;
					font-size: 12px;
					line-height: 1.5;
				}
			}

			/* Overriding container movement properties so container content appears over content below it.*/
			&.open,
			&.opening,
			&.closing {
				position: fixed;
				z-index: 1;
			}
		}
	}

	@include bp.small-only {
		&.gb-stacked-sm {
			@include stacked-tabs;
		}
	}

	@include bp.medium-only {
		&.gb-stacked-med {
			@include stacked-tabs;
		}
	}

	@include bp.medium-and-above { 
		.content-button-group {
			.content-button {
				/* stylelint-disable-next-line*/
				button {
					font-family: f.$font-family-roboto;
					font-size: 14px;
					line-height: 1.29;
				}
			}
		}
	}

	@include bp.large-and-above {
		&.gb-stacked-lg {
			@include stacked-tabs;
		}
	}
}
