@use 'dropdown' as d;
@use '../../../buick/colors' as c;
@use '../../../buick/fonts' as f;

.gb-dropdown {
	label {
		@include d.base-label(
			f.$font-family-futura,
			1.167rem,
			2px,
			1.5,
			0 0 .5rem 0
		);
	}

	select {
		@include d.base-select(
			c.$white,
			linear-gradient(to right, c.$black-light, c.$black-light),
			linear-gradient(to right, c.$brand-black, c.$brand-black),
			100% 0,
			3.538rem 100%,
			1px solid c.$grey,
			f.$font-family-avenir-next,
			1.3rem,
			0,
			1.08rem 1.846rem,
			100%
		);
	}

	.select-container {
		&::after {
			border-bottom: 2px solid c.$white;
			border-right: 2px solid c.$white;
			bottom: 2.6rem;
			content: '';
			display: flex;
			height: 11px;
			margin: 0 0 0 auto;
			pointer-events: none;
			position: relative;
			right: 1.45rem;
			transform: rotate(45deg);
			width: 11px;
		}
	}
}

html[dir='rtl'] {
	.gb-dropdown {
		select {
			background-position: 0 0;
		}

		&::after {
			margin: 0 auto 0 0;
			right: -1.45rem;
		}
	}
}
