@use 'dropdown' as d;
@use '../../../gmc/colors' as c;
@use '../../../gmc/fonts' as f;

.gb-dropdown {
	label {
		@include d.base-label(
			f.$font-family-muli,
			1.2rem,
			1px,
			1.5,
			0
		);
	}

	select {
		@include d.base-select(
			c.$white,
			linear-gradient(to right, c.$brand-black, c.$brand-black),
			linear-gradient(to right, c.$brand-black-lighten, c.$brand-black-lighten),
			100% 0,
			4rem 100%,
			2px solid c.$brand-black,
			f.$font-family-muli,
			1.6rem,
			0,
			1rem 4rem 1rem 1rem,
			100%
		);
		border-radius: 2px;
		line-height: 2;
	}

	.select-container {
		&::after {
			border-bottom: 3px solid c.$white;
			border-right: 3px solid c.$white;
			bottom: 3.5rem;
			content: '';
			display: flex;
			height: 12px;
			margin: 0 0 0 auto;
			pointer-events: none;
			position: relative;
			right: 1.5rem;
			transform: rotate(45deg);
			width: 12px;
		}
	}
}

html[dir='rtl'] {
	.gb-dropdown {
		select {
			background-position: 0 0;
			padding: 1rem 1rem 1rem 4rem;
		}

		&::after {
			margin: 0 auto 0 0;
			right: -1.5rem;
		}
	}
}
