@use 'dropdown' as d;
@use '../../../chevy-ev/colors' as c;
@use '../../../chevy-ev/fonts' as f;

.gb-dropdown {
	label {
		@include d.base-label(
			f.$font-family-louis,
			.8rem,
			.1875rem,
			1.66625rem,
			0 0 5px 0
		);
		color: c.$grey-mid-dark;
	}

	select {
		@include d.base-select(
			c.$white,
			linear-gradient(to right, c.$grey, c.$grey),
			linear-gradient(to right, c.$grey-dark, c.$grey-dark),
			100% 0,
			70px 100%,
			1px solid c.$grey-mid,
			f.$font-family-roboto,
			.9rem,
			0,
			1px 70px 1px 30px,
			100%
		);
		line-height: 1.875rem;
	}

	.select-container {
		&::after {
			border-bottom: 9px solid c.$white;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			bottom: 1.3rem;
			content: '';
			display: flex;
			margin: 0 0 0 auto;
			pointer-events: none;
			position: relative;
			right: 1.8rem;
			transform: rotate(180deg);
			width: 10px;

			@media (min-width: 600px) and (max-width: 1499px) {
				bottom: 1.2rem;
				right: 1.5rem;
			}
		
			@media (min-width: 1500px) {
				bottom: 1.15rem;
				right: 1.3rem;
			}
		}
	}
}

html[dir='rtl'] {
	.gb-dropdown {
		select {
			background-position: 0 0;
		}

		&::after {
			margin: 0 auto 0 0;
			right: -1.5rem;
		}
	}
}
