// Clear any floats
.tabbable {
  .clearfix();
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.tab-content-button > .tab-pane-button,
.pill-content > .pill-pane {
  display: none;
}
.tab-content,
.tab-content-button,
.pill-content {
  > .active {
    display: block;
  }
}

/* DEfault tabs For Owner Center
 * ---------------------------------- */

.tabs {
  display: none;
  @media (min-width: @screen-tablet) {
    display: inline-block;
  }
}


ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

ul.tabs li {
  display: table-cell;
  text-align: center;
  width: 1%;
  margin: 0;
  cursor: pointer;
  padding: 20px;
  // line-height: 31px;
  border-top: 1px solid @gray;
  border-right: 1px solid @gray;
  border-left: 1px solid @gray;
  border-bottom: 1px solid @gray;
  background-color: @white;
//   overflow: hidden;
//   position: relative;
//
  span {
    font-size: 40px;
    color: @blue;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 5px;
    &.disabled {
      color: @blue-lightest;
    }
  }
  p {
    margin-bottom: 0px;
  }
}

.tab_last { border-right: 1px solid @gray;
 }

ul.tabs li:hover {
  background-color: #ccc;
  // color: @gray;

}

ul.tabs li.active {
  background-color: #fff;
  // color: @gray;
  border-bottom: 1px solid #fff;
  // display: block;
  cursor: default;
      position: relative;
}

// .tab_container {
//   border: 1px solid @gray;
//   border-top: none;
//   clear: both;
//   float: left;
//   width: 100%;
//   background: #fff;
//   overflow: auto;
// }


.tab-content {
  border-bottom: 1px solid @gray;
  @media (min-width: @screen-tablet) {
    border-bottom: none;
    margin-top: -6px;

  }
}



.tab-pane {
  padding:20px;
  border-right: 1px solid @gray;
  border-left: 1px solid @gray;
  @media (min-width: @screen-tablet) {
    display: block;
    margin-top: -1px;
    border-top: 1px solid @gray;
    border-right: 1px solid @gray;
    border-left: 1px solid @gray;
    border-bottom: 1px solid @gray;
  }
}



.accordian-tab-title {
  display: block;
  position: relative;
  // background-color: red;
  // color: #fff;
  padding:20px;
  border-top: 1px solid @gray;
  border-left: 1px solid @gray;
  border-right: 1px solid @gray;
  margin: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  width:100%;
  span {
    font-size: 30px;
    position: absolute;
    top: 15px;
    color: @blue;
    &.disabled {
      color: @blue-lightest;
    }
  }
  span + p {
    margin-left: 40px;
    margin-bottom: 0px;
  }
  p {
    margin-bottom: 0px;
  }
  &.selected {
    background-color: @gray-darker;
    color: @white;
    // span {
    //   color: @white;
    //   &.disabled {
    //     color: @white;
    //   }
    // }
  }
  @media (min-width: @screen-tablet) {
    display: none;
  }
}

// .d_active {
//   background-color: green;
//   color: @white;
// }





/* Button Tabs
 * ---------------------------------- */
 .tab-pane-button {
  padding:20px;
  border: 1px solid @gray;
  width: 100%;
  @media (min-width: @screen-tablet) {
    display: block;
    margin-top: 0px;
  }
}




.btn-tab {
  color: @btn-info-color;
  border: 1px solid;
  border-color: @btn-info-border;
  background-color: @btn-info-bg;
  width: 50%;
  @media (min-width: @screen-tablet) {
    width: auto;
  }


  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @btn-info-color;
    background-color: @gray;
  }


  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-color: @input-bg;
    border-bottom-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  .box-shadow(inset 0 0px 0px rgba(0,0,0,0));
  }


  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @gray;
    }
  }
}


// Make the div behave like a button
.btn-group-tab {
  margin-bottom: -1px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  > .btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
    &:focus {
      // Remove focus outline when dropdown JS adds it after closing the menu
      outline: none;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn-group-tab {
  .btn + .btn,
  .btn + .btn-group-tab,
  .btn-group-tab + .btn,
  .btn-group-tab + .btn-group-tab {
    margin-left: 0px;
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  .clearfix();

  .btn-group-tab {
    float: left;
  }
  // Space out series of button groups
  > .btn,
  > .btn-group-tab {
    + .btn,
    + .btn-group-tab {
      margin-left: 5px;
    }
  }
}

.btn-group-tab > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

// // Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group-tab > .btn:first-child {
  margin-left: 0;
  &:not(:last-child):not(.dropdown-toggle) {
    .border-right-radius(0);
  }
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn-group-tab > .btn:last-child:not(:first-child),
.btn-group-tab > .dropdown-toggle:not(:first-child) {
  .border-left-radius(0);
}

// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
.btn-group-tab > .btn-group-tab {
  float: left;
}
.btn-group-tab > .btn-group-tab:not(:first-child):not(:last-child) > .btn {
  border-radius: 0px;
}
.btn-group-tab > .btn-group-tab:first-child {
  > .btn:last-child,
  > .dropdown-toggle {
    .border-right-radius(0);
  }
}
.btn-group-tab > .btn-group-tab:last-child > .btn:first-child {
  .border-left-radius(0);
}

// On active and open, don't show outline
.btn-group-tab .dropdown-toggle:active,
.btn-group-tab.open .dropdown-toggle {
  outline: 0;
}



/* PILL Tabs
 * ---------------------------------- */


.pill-pane {
    padding: 0px;
    border: none;
    margin: 20px 0px;
@media (min-width: @screen-tablet) {
    padding:0px;
  }
}


.btn-pill-tab {
   color: @blue-lighter;
   border: 1px solid;
   border-color: @btn-info-border;
   background-color: @btn-info-bg;
   margin-bottom:5px;
   width: 100%;
   margin-right: 0px;
   @media (min-width: @screen-tablet) {
      width: auto;
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
   }



  &:hover {
    color: @blue-lighter;
    background-color: @gray;
  }


  &:focus,
  .open .dropdown-toggle& {
    color: @blue-lighter;
    background-color: @white;
  }




  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-color: @input-bg;
  .box-shadow(inset 0 0px 0px rgba(0,0,0,0));
  }


  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @gray;
    }
  }
}






