@use 'separator' as s;
@use '../../chevy/colors' as c;
@use '../../chevy/fonts' as f;

.gb-separator {
	.separator-invisible {
		@include s.base-separator(
		);
	}

	.separator-primary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey-mid
		);
	}

	.separator-secondary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey
		);
	}

	.separator-tertiary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey-dark
		);
	}

	&.separator-join-containter {
		background-color: c.$grey-very-light;
	}

	.separator-join-vertical {
		@include s.base-separator(
			$height: 90px
		);
		background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: 50%;
		position: relative;
		text-align: center;

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				1rem,
				f.$font-weight-normal,
				0,
				1.5,
				c.$grey,
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			top: calc(50% - 15px);
		}
	}

	.separator-join-horizontal {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				1rem,
				f.$font-weight-normal,
				.15rem,
				1.5,
				c.$grey,
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}
		}
	}

	.separator-join-combined {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				1rem,
				f.$font-weight-normal,
				.15rem,
				1.5,
				c.$grey,
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}
		}
	}

	@media (min-width: 960px) {
		.separator-join-combined {
			@include s.base-separator(
				$height: 90px
			);
			background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
			background-position: 100% 0;
			background-repeat: repeat-y;
			background-size: 50%;
			position: relative;
			text-align: center;

			.separator-copy {
				@include s.base-separater-copy(
					f.$font-family-roboto,
					1rem,
					f.$font-weight-normal,
					0,
					1.5,
					c.$grey,
				);
				background-color: c.$grey-very-light;
				padding: 5px 5px 3px;
				top: calc(50% - 15px);
			}
		}
	}
}
