@use '../../common/common' as com;
@use '../../utils/breakpoints' as bp;

@use 'separator' as s;
@use '../../holden/colors' as c;
@use '../../holden/fonts' as f;

.gb-separator {
	.separator-invisible {
		@include s.base-separator(
		);
	}

	.separator-primary {
		@include s.base-separator(
			0 0 1px 0,
			c.$grey-very-light,
			solid
		);
	}

	.separator-secondary {
		@include s.base-separator(
			0 0 1px 0,
			c.$grey-mid,
			solid
		);
	}

	.separator-tertiary {
		@include s.base-separator(
			0 0 1px 0,
			c.$brand-black,
			solid
		);
	}

	.separator-join-vertical {
		@include s.base-separator(
			$height: 90px
		);
		background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: 50%;
		position: relative;
		text-align: center;

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-avenir-next,
				calc(.8654 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				0,
				1.5,
				c.$brand-black,
				calc(.75 * #{com.$gmux-base-font}),
				calc(.78125 * #{com.$gmux-base-font}),
				calc(.8125 * #{com.$gmux-base-font})
			);
			background-color: c.$white;
			padding: calc(.75 * #{com.$gmux-base-font});
			top: 50%;
			transform: translateY(-50%);
			width: 100%;

			@include bp.medium-and-above {
				font-size: calc(.9015 * #{com.$gmux-base-font});
				padding: calc(.78125 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				font-size: calc(.9376 * #{com.$gmux-base-font});
				padding: calc(.8125 * #{com.$gmux-base-font});
			}
		}
	}

	.separator-join-horizontal {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-avenir-next,
				calc(.8654 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				0,
				1.5,
				c.$brand-black,
				calc(.75 * #{com.$gmux-base-font}),
				calc(.78125 * #{com.$gmux-base-font}),
				calc(.8125 * #{com.$gmux-base-font})
			);
			background-color: c.$white;
			padding: calc(1.5 * #{com.$gmux-base-font});
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}

			@include bp.medium-and-above {
				font-size: calc(.9015 * #{com.$gmux-base-font});
				padding: calc(1.5625 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				font-size: calc(.9376 * #{com.$gmux-base-font});
				padding: calc(1.625 * #{com.$gmux-base-font});
			}
		}
	}

	.separator-join-combined {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-avenir-next,
				calc(.8654 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				0,
				1.5,
				c.$brand-black,
				calc(.75 * #{com.$gmux-base-font}),
				calc(.78125 * #{com.$gmux-base-font}),
				calc(.8125 * #{com.$gmux-base-font})
			);
			background-color: c.$white;
			padding: calc(.75 * #{com.$gmux-base-font});
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}

			@include bp.medium-and-above {
				font-size: calc(.9015 * #{com.$gmux-base-font});
				padding: calc(.78125 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				font-size: calc(.9376 * #{com.$gmux-base-font});
				padding: calc(.8125 * #{com.$gmux-base-font});
			}
		}
	}

	@media (min-width: 960px) {
		.separator-join-combined {
			@include s.base-separator(
				$height: 90px
			);
			background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
			background-position: 100% 0;
			background-repeat: repeat-y;
			background-size: 50%;
			position: relative;
			text-align: center;

			.separator-copy {
				@include s.base-separater-copy(
					f.$font-family-avenir-next,
					calc(.8654 * #{com.$gmux-base-font}),
					f.$font-weight-normal,
					0,
					1.5,
					c.$brand-black,
					calc(.75 * #{com.$gmux-base-font}),
					calc(.78125 * #{com.$gmux-base-font}),
					calc(.8125 * #{com.$gmux-base-font})
				);
				background-color: c.$white;
				padding: calc(.75 * #{com.$gmux-base-font});
				top: 50%;
				transform: translateY(-50%);

				&::before {
					border-width: 0;
				}

				@include bp.medium-and-above {
					font-size: calc(.9015 * #{com.$gmux-base-font});
					padding: calc(.78125 * #{com.$gmux-base-font});
				}
	
				@include bp.large-and-above {
					font-size: calc(.9376 * #{com.$gmux-base-font});
					padding: calc(.8125 * #{com.$gmux-base-font});
				}
			}
		}
	}
}
