@use '../../common/common' as com;
@use '../../utils/breakpoints' as bp;

@use 'separator' as s;
@use '../../chevy/colors' as c;
@use '../../chevy/fonts' as f;

.gb-separator {
	.separator-invisible {
		@include s.base-separator(
		);
	}

	.separator-primary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey-mid
		);
	}

	.separator-secondary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey
		);
	}

	.separator-tertiary {
		@include s.base-separator(
			$height: 1px,
			$background-color: c.$grey-dark
		);
	}

	&.separator-join-containter {
		background-color: c.$grey-very-light;
	}

	.separator-join-vertical {
		@include s.base-separator(
			$height: 90px
		);
		background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: 50%;
		position: relative;
		text-align: center;

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				calc(1.0625 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				0,
				1.5,
				c.$grey,
				calc(1.0625 * #{com.$gmux-base-font}),
				calc(1.25 * #{com.$gmux-base-font}),
				calc(1.4375 * #{com.$gmux-base-font})
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			top: calc(50% - 15px);

			@include bp.medium-and-above {
				font-size: calc(1.25 * #{com.$gmux-base-font});
				padding: 5px 5px 3px;
			}

			@include bp.large-and-above {
				font-size: calc(1.4375 * #{com.$gmux-base-font});
				padding: 5px 5px 3px;
			}
		}

		@include bp.medium-and-above {
			height: 130px;
		}
	}

	.separator-join-horizontal {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				calc(1.0625 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				calc(.1593 * #{com.$gmux-base-font}),
				1.5,
				c.$grey,
				calc(1.0625 * #{com.$gmux-base-font}),
				calc(1.25 * #{com.$gmux-base-font}),
				calc(1.4375 * #{com.$gmux-base-font})
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}

			@include bp.medium-and-above {
				font-size: calc(1.25 * #{com.$gmux-base-font});
				letter-spacing: calc(.1875 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				font-size: calc(1.4375 * #{com.$gmux-base-font});
				letter-spacing: calc(.2156 * #{com.$gmux-base-font});
			}
		}
	}

	.separator-join-combined {
		@include s.base-separator-join(
		);

		.separator-copy {
			@include s.base-separater-copy(
				f.$font-family-roboto,
				calc(1.0625 * #{com.$gmux-base-font}),
				f.$font-weight-normal,
				calc(.1593 * #{com.$gmux-base-font}),
				1.5,
				c.$grey,
				calc(1.0625 * #{com.$gmux-base-font}),
				calc(1.25 * #{com.$gmux-base-font}),
				calc(1.4375 * #{com.$gmux-base-font})
			);
			background-color: c.$grey-very-light;
			padding: 5px 5px 3px;
			position: static;

			&::before {
				@include s.base-separator(
					1px 0 0 0,
					c.$grey-mid,
					solid
				);

				bottom: 0;
				content: '';
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 50%;
				z-index: -1;
			}

			@include bp.medium-and-above {
				font-size: calc(1.25 * #{com.$gmux-base-font});
				letter-spacing: calc(.1875 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				font-size: calc(1.4375 * #{com.$gmux-base-font});
				letter-spacing: calc(.2156 * #{com.$gmux-base-font});
			}
		}
	}

	@media (min-width: 960px) {
		.separator-join-combined {
			@include s.base-separator(
				$height: 130px
			);
			background: linear-gradient(90deg, c.$grey-mid 1px, transparent 1px);
			background-position: 100% 0;
			background-repeat: repeat-y;
			background-size: 50%;
			position: relative;
			text-align: center;

			.separator-copy {
				@include s.base-separater-copy(
					f.$font-family-roboto,
					calc(1.0625 * #{com.$gmux-base-font}),
					f.$font-weight-normal,
					0,
					1.5,
					c.$grey,
					calc(1.0625 * #{com.$gmux-base-font}),
					calc(1.25 * #{com.$gmux-base-font}),
					calc(1.4375 * #{com.$gmux-base-font})
				);
				background-color: c.$grey-very-light;
				padding: 5px 5px 3px;
				top: calc(50% - 15px);

				@include bp.medium-and-above {
					font-size: calc(1.25 * #{com.$gmux-base-font});
					padding: 5px 5px 3px;
				}

				@include bp.large-and-above {
					font-size: calc(1.4375 * #{com.$gmux-base-font});
					padding: 5px 5px 3px;
				}
			}
		}
	}
}
