
//
// CARD - CITATION Style 2
// --------------------------------------------------


.card-cit2 {
  background-color: $white;
  border-radius: 0px 0px 14px 14px;
  position: relative; 
  box-shadow: 0px 28px 35px -28px $grey-mid-dark; 
  padding-bottom: 40px;
  .content{
    padding:40px;
    display: flex;
    flex-direction: column;
    .pricing {
      .price {
        .gb-bold1.sup {
          font-size: 1.25em;
          line-height: 1em;
        }
        :not(.gb-bold1.sup) {
            line-height: .9em;
        }
      }
    }
  }
  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}


.card-byo-cit2 {
  background-color: $white;
  border-radius: 0px 0px 14px 14px;
  position: relative; 
  border: 2px solid $grey-light;
  border-radius: 20px;
  padding:40px;
  display: flex;
  flex-direction: column;
  &.selected {
    border: 2px solid #000;
    .selected-pill {
      position: absolute;
      left:40px;
      top: -13px;
      border-radius: 20px;
      background-color: $black;
      padding: 3px 10px;
      display: inline-flex;
      z-index: 2;
      span.icon-ui-check {
        margin-right: 5px;
      }
    }
  }
  ul.category {
    margin-bottom: 0px;
    li {

      padding:10px 0px;
      margin: 0px;
      border-bottom: 1px solid $grey-light;
      &:first-child {
        padding-top: 0px;
      }
      .gb-icon-button {
        margin-left: 5px;
        padding:0px;
        span {
          vertical-align: middle;
          margin-top: -2px;
        }
      }
    }
  }
  .pricing {
    .price {
      .gb-bold1.sup {
        font-size: 1.25em;
        line-height: 1em;
      }
      :not(.gb-bold1.sup) {
          line-height: .9em;
      }
    }
  }

  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}



