//
// VARIABLES - CITATION-2 Style
// --------------------------------------------------

// Close

$close-font-size:                   $font-size-base;
$close-font-weight:                 $font-weight-bold !default;
$close-color:                       $black !default;
$close-text-shadow:                 0 1px 0 $white !default;