
$black: #000;
$white: #fff;

$grey-very-dark: #1a1a1a;
$grey-dark: #262626;
$grey-mid-dark: #6e6e6e;
$grey: #808080;
$grey-mid: #b3b3b3;
$grey-light: #e6e6e6;
$grey-very-light: #f2f2f2;

$gold: #cd9834;
$gold-light: #e6ac39;
$gold-dark: #9e8d6a;

$red: #e25959;
$green: #61af71;

$brand-orange:  #f26522;
//
// BADGES - CITATION Style 2
// --------------------------------------------------

// Used to display Google play and apple app stor badges
.app-badges {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  img {
    height: 80px;
    width: auto;
    &:last-child {
      height:54px;
    }
  }
}

// Discount Badge
.cit2-badge-discount {
  position: relative;
  display: inline-flex;
  span{
    color: $gold-light;
    font-size: 50px;
    line-height: 0px;
    margin-left: 10px;
    @media (min-width: 600px) {
    font-size: 60px;
    }
  }
  div {
    position: absolute;
    color : $black;
    right:5px;
    p {
      line-height: 0px;
      margin-bottom: 0px;
    }
  }
}


// Status Badge - Used on vehicle profile page
.cit2-badge-status {
  background-color: $grey-light;
  height: 34px;
  padding: 6px 14px 6px 16px;
  border-radius: 17px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

// Family Sharing Badge - Used on vehicle profile page
ul.cit2-badge-familyshare{
  margin-bottom: 0px;
  display: flex;
  li {
    margin-bottom: 0px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid $gold;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    div.gb-body1 {
      color: $gold !important;
      font-size: 10px;
      p {
        margin-bottom: 0px !important;
      }
    }
  }
  li.child {
    border-color: $brand-orange;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -4px;
    div.gb-body1 {
      color: $brand-orange !important;
      font-size: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      border: 0px;
      width: 32px;
      height: 32px;
      border: 2px solid $white;
      border-radius: 50%;
    }
  }
}

