
//
// UTILITIES - CITATION Style 2
// --------------------------------------------------

.lighter-grey-background{
  background-color: $grey-very-light;
}

.light-grey-background{
  background-color: $grey-light;
}




.white-narrow-container {
	background-color: $white;
	 @media (max-width: $screen-md) {
	 	width: 96%;
	 }
}