//
// STEPPER - CITATION2 Style
// --------------------------------------------------

.stepper {
  display: flex;
  .stepper-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0px;
    padding:0px;
    z-index: 0;
    position: relative;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom:0px;
      position: relative;
      margin-right:20px;
      background-color: transparent;
      padding:0px;
      border: 0px;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        left: 50px;
        top: 12px;
        border-top: 1px dashed $grey-mid;
        position: absolute;
        z-index: -1;
      }
      &:last-child {
        margin-right: 0px;
        &:after {
          content: '';
          border-top: 0px;
          width: 0px;
        }
      }
      &.checked { 
        cursor: pointer;
        &:last-child {
          margin-right: 0px;
          &:after {
          content: '';
          border-top: 0px;
          width: 0px;
          }
        }
       }
      &.active {
        .circle-graphic {
          border: 1px solid $brand-black;
          background-color: $brand-black;
          div {
            color: $white;
          }
        }
        .title {
          div {
            p.step-title {
              color: $brand-black;
            }
          }
        }
      }
      &.checked {
        &:after {
          content: '';
          height: 2px;
          width: 100%;
          left: 50px;
          top: 12px;
          border-top: 2px solid $brand-black;
          position: absolute;
          z-index: -1;
        }
        .circle-graphic {
          border: 1px solid $brand-black;
          background-color:$brand-black;
          color: $white;
          .gb-body3 {
            display: none;
          }
          &:before {
            content: "\e915";
            font-family: 'icon-ui';
          }
        }
        .title {
          div {
            p.step-title {
              color: $brand-black;
            }
          }
        }
      }
      .circle-graphic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $grey-mid;
        position: relative;
        background: $white;
        color: $grey-mid-dark;
        .gb-body2 {
          margin-bottom: 2px;
        }
      }
      .title {
        div {
          p.step-title {
            text-align: center;
            overflow-wrap: break-word;
            width: 84px;
            margin-bottom: 0px;
            margin-top: 2px;
            color: $grey-mid-dark;
          }
        }
      }
    }
  }
}


