//
// TABLES - CITATION2 Style
// --------------------------------------------------
.cit2-mobile-table {
  display: block;
  width: 100%;
  color: red;
  @media (min-width: $screen-desktop) {
    display: none;
  }
  .plan {
    padding:49px 30px 50px 30px;
    position: relative;
    z-index: 0;
    width: 100%;
    border: 2px solid $grey-light;
    border-radius: 0px;
    color: $grey-dark;
    &.current {
      padding:20px 30px 50px 30px;
    }
    &.selected {
      border: 2px solid #000;
      border-radius: 0px;
      .selected-pill {
        position: absolute;
        top: -13px;
        border-radius: 20px;
        background-color: $black;
        padding: 3px 10px;
        display: inline-flex;
        z-index: 2;
        span.icon-ui-check {
          margin-right: 5px;
        }
      }
    }
    ul.category {
      li {
        padding: 15px 20px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        &:nth-child(even) {
          background-color: $grey-light;
        }
        .gb-icon-button {
          margin-left: 5px;
          padding:0px;
          span {
            vertical-align: middle;
            margin-top: -2px;
          }
        }
      }
    }
  }
}

/* DESKTOP TABLE
	 ========================================================================== */



table.cit2-desktop {
  display: none;
  width: 100%;
  @media (min-width: $screen-desktop) {
    display: block;
  }
  a {
    position: relative;
  }
  tbody {
    vertical-align: top;
    tr:nth-child(even) {
      background-color: $grey-light;
    }
    tr {
      td {
        padding: 16px 25px;
        &.selected {
          position: relative;
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: transparent;
            position: absolute;
            top:0;
            left:0px;
            border-left: 2px solid $black;
            border-right: 2px solid $black;
            border-bottom: 0px;
            z-index: 0;
          }
        }
        .selected-pill {
          position: absolute;
          top: -13px;
          border-radius: 0px;
          background-color: $black;
          padding: 3px 10px;
          display: inline-flex;
          z-index: 1;
          span.icon-ui-check {
            margin-right: 5px;
          }
        }
        &.cat {
          padding: 16px 25px;
          .gb-icon-button {
            padding:0px 0px 0px 5px;
          }
          .tag-and-plan-name {
            display: flex;
            flex-direction: column;
          }
        }
        &:not(.cat){
          padding: 16px 60px;
        }
      }
      &.controls {
        background-color: $white;
        border-top: 1px solid $grey-mid;
        td {
          padding-top: 30px;
          padding-bottom: 30px;
          &.selected {
            position: relative;
            &:before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: transparent;
              position: absolute;
              top:0;
              left:0px;
              border: 2px solid $black;
              border-top: 0px;
              border-radius: 0px 0px 0px 0px;
              z-index: 0;
            }
          }
        }
      }
      &.first-row {
        background-color: $white;
        border-bottom: 1px solid $grey-mid;
        td {
          vertical-align: bottom;
          &:first-child {
            width: 30%;
          }
          &.selected {
            position: relative;
            padding-top: 30px !important;
            &:before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: transparent;
              position: absolute;
              top:0;
              left:0px;
              border: 2px solid $black;
              border-bottom: 0px;
              border-radius: 0px 0px 0px 0px;
              z-index: 0;
            }
          }
        }
      }
      &.second-row {
        background-color: $white;
        td.price {
          vertical-align: top;
        }
      }
    }
    tr.cat-title-first {
      td {
        padding: 4px 25px 10px 25px;
        background-color: $white;
      }
    }
    tr.cat-title {
      td {
        padding: 50px 25px 10px 25px;
        background-color: $white;
      }
    }

  }
}
