/* SNACKBAR - CITATION2 Style
   ========================================================================== */

.snackbar-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	padding:10px 0px 0px 0px;
	display: flex;
	justify-content: center;
	z-index: 9999;
  	@media (min-width: $screen-desktop) {
		padding:10px 0px 15px 0px;
  	}
	.snackbar {
		background-color: $grey-dark;
		border-radius: 0px;
		padding: 15px 15px;
		color: $white;
		// box-shadow: 0px 28px 25px -20px $grey-mid-dark;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			margin-bottom: 0px;
		}
	}
}




// .footer-snackbar-desktop {
// 	display: none;
// 	background-color: $grey-dark;
// 	padding: 30px 0px;
// 	color: $white;
//   	@media (min-width: $screen-desktop) {
//   		display: block;
//   	}
// 	ul {
// 		display: flex;
// 		justify-content: flex-end;
// 		align-items: center;
// 		margin-bottom: 0px;
// 		li {
// 			margin:0px;
// 			padding-right: 60px;
// 			&:last-child {
// 				width:20%;
// 				padding-right: 0px;
// 			}
// 		}
// 	}
// }


