
//
// CARD - CITATION Style 2
// --------------------------------------------------


.card-offer-small-cit2 {
  background-color: $white;
  border: 2px solid $grey-light;
  border-radius: 0px;
  position: relative; 
  // box-shadow: 0px 28px 35px -28px $grey-mid-dark; 
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-bottom: 25px;
  @media (min-width: $screen-desktop) {
    margin-bottom: 0px;
  }
  .content{
    padding:0px;
    display: flex;
    flex-direction: column;
    .pricing {
      .price {
        .gb-bold1.sup {
          font-size: 1.25em;
          line-height: 1em;
        }
        :not(.gb-bold1.sup) {
            line-height: .9em;
        }
      }
    }
  }
}





.card-offer-large-cit2 {
  background-color: $white;
  border: 2px solid $grey-light;
  border-radius: 0px;
  position: relative; 
  // box-shadow: 0px 28px 35px -28px $grey-mid-dark; 
  padding-bottom: 0px;
  .content{
    padding:40px;
    display: flex;
    flex-direction: column;
    .pricing {
      .price {
        .gb-bold1.sup {
          font-size: 1.25em;
          line-height: 1em;
        }
        :not(.gb-bold1.sup) {
            line-height: .9em;
        }
      }
    }
  }
  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}



.card-cit2 {
  background-color: $white;
  border: 2px solid $grey-light;
  border-radius: 0px;
  position: relative; 
  // box-shadow: 0px 28px 35px -28px $grey-mid-dark; 
  padding-bottom: 40px;
  .content{
    padding:40px;
    display: flex;
    flex-direction: column;
    .pricing {
      .price {
        .gb-bold1.sup {
          font-size: 1.25em;
          line-height: 1em;
        }
        :not(.gb-bold1.sup) {
            line-height: .9em;
        }
      }
    }
  }
  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}


.card-byo-cit2 {
  background-color: $white;
  border: 2px solid $grey-light;
  border-radius: 0px;
  position: relative; 
  padding:40px;
  display: flex;
  flex-direction: column;
  &.selected {
    border: 2px solid #000;
    .selected-pill {
      position: absolute;
      left:40px;
      top: -13px;
      border-radius: 20px;
      background-color: $black;
      padding: 3px 10px;
      display: inline-flex;
      z-index: 2;
      span.icon-ui-check {
        margin-right: 5px;
      }
    }
  }
  ul.category {
    margin-bottom: 0px;
    li {

      padding:10px 0px;
      margin: 0px;
      border-bottom: 1px solid $grey-light;
      &:first-child {
        padding-top: 0px;
      }
      .gb-icon-button {
        margin-left: 5px;
        padding:0px;
        span {
          vertical-align: middle;
          margin-top: -2px;
        }
      }
    }
  }
  .pricing {
    .price {
      .gb-bold1.sup {
        font-size: 1.25em;
        line-height: 1em;
      }
      :not(.gb-bold1.sup) {
          line-height: .9em;
      }
    }
  }

  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}


// USED ON PRODUCT DETAILS PAGE -START
.card-explore-cit2 {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid $grey-mid;
  border-radius: 0px;
  // border-top: 1px solid $grey-mid;
  // border-right: 1px solid $grey-mid;
  // border-bottom: 1px solid $grey-mid;
  // border-left: 1px solid $grey-mid;
  @media (min-width: $screen-desktop) {
    flex-direction: row;
  }
  .image {
    width: 100%;
    @media (min-width: $screen-desktop) {
      width: 290px;
    }
    img {
      border-radius: 0px 0px 0px 0px;
      @media (min-width: $screen-desktop) {
        height: 100%;
        border-radius: 0px 0px 0px 0px;
      }
    }
  }
  .content-mobile {
    display: block;
    padding: 50px 65px;
    width: 100%;
    padding: 40px;
    @media (min-width: $screen-desktop) {
      display: none;
    }
    .gb-expander {
      margin-bottom: -1px;
      &:last-child {
        margin-bottom: 0px;
      }
      .gb-expander-content-body {
        padding:15px 30px 40px 30px;
      }
    }
  }

  .content-desktop {
    display:none;
    @media (min-width: $screen-desktop) {
      display: block;
      padding: 50px 65px;
      width: 100%;
    }
    .explore-item-container {
      margin-bottom:0px;
      @media (min-width: $screen-desktop) {
        margin-bottom: 40px;
        display: flex;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .explore-item {
        display: flex;
        flex-shrink:1;
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 25px;
        &:last-child {
          margin-right: 0px;
        }
        @media (min-width: $screen-desktop) {
          margin-bottom: 0px;
          margin-right: 40px;
        }
        span {
          font-size: 5px;
          color: $gold;
          @media (min-width: $screen-desktop) {
            font-size: 12px;
            line-height: 2em
          }
        }
        .description {
          display: flex;
          flex-direction: column;
          margin-left: 15px;
        }
      }
    }
  }
}
// USED ON PRODUCT DETAILS PAGE - END





.card-payment-cit2 {
  background-color: $white;
  border: 2px solid $grey-light;
  border-radius: 0px;
  position: relative; 
  padding:40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  &.selected {
    border: 2px solid #000;
    // box-shadow: 0px 28px 35px -28px $grey-mid-dark; 
    .selected-pill {
      position: absolute;
      left:40px;
      top: -13px;
      border-radius: 20px;
      background-color: $black;
      padding: 3px 10px;
      display: inline-flex;
      z-index: 2;
      span.icon-ui-check {
        margin-right: 5px;
      }
    }
  }
  &.expired{
    background-color: $grey-very-light;
  }
  ul.category {
    margin-bottom: 0px;
    li {

      padding:10px 0px;
      margin: 0px;
      border-bottom: 1px solid $grey-light;
      &:first-child {
        padding-top: 0px;
      }
      .gb-icon-button {
        margin-left: 5px;
        padding:0px;
        span {
          vertical-align: middle;
          margin-top: -2px;
        }
      }
    }
  }
  .pricing {
    .price {
      .gb-bold1.sup {
        font-size: 1.25em;
        line-height: 1em;
      }
      :not(.gb-bold1.sup) {
          line-height: .9em;
      }
    }
  }

  .cta {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px; 
  }
}

