//
// ALERTS - CITATION2 Style
// --------------------------------------------------


.cit2-alert {
  position: relative;
  padding: 16px 25px 16px 22px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-left: 4px solid $grey-dark;
  background-color: $white-mid;
  &.alert-danger {
    border-color: $red;
    .content {
      display: flex;
      background-color: transparent;
      .icon {
        width:24px;
        height:24px;
        margin-right: 15px;
        @media (min-width: 600px) {
          margin-top: 3px;
        }
      }
    }

  }
}



.cit2-alert {
  position: relative;
  padding: 16px 25px 16px 22px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-left: 4px solid $grey-dark;
  background-color: $white-mid;
  &.alert-success {
    border-color: $green;
    .content {
      display: flex;
      background-color: transparent;
      .icon {
        color: $green;
        margin-right: 15px;
        span {
          margin-right: 0px;
          font-size: 24px;
        }
        @media (min-width: 600px) {
          margin-top: 2px;
        }
      }
    }

  }
}


.cit2-alert {
  position: relative;
  padding: 16px 25px 16px 22px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-left: 4px solid $grey-dark;
  background-color: $white-mid;
  &.alert-info {
    border-color: $brand-black;
    .content {
      display: flex;
      background-color: transparent;
      .icon {
        color: $brand-black;
        margin-right: 15px;
        span {
          margin-right: 0px;
          font-size: 24px;
        }
        @media (min-width: 600px) {
          margin-top: 2px;
        }
      }
    }

  }
}