@use '../../../common/common' as com;
@use '../../../utils/breakpoints' as bp;

@use 'toggle' as t;
@use '../../../cadillac/colors' as c;
@use '../../../cadillac/fonts' as f;

.gb-toggle {
	input[type='checkbox'] {
		@include t.base-toggle-input(
			48px,
			48px
		);

		&::before {
			@include t.outer-toggle(
				c.$grey-extra-light,
				none,
				29px,
				calc(1.4218 * #{com.$gmux-base-font}),
				.4s,
				calc(2.5593 * #{com.$gmux-base-font})
			);
			top: 14px;

			@include bp.medium-and-above {
				height: calc(1.5234 * #{com.$gmux-base-font});
				width: calc(2.7421 * #{com.$gmux-base-font});
			}
	
			@include bp.large-and-above {
				height: calc(1.625 * #{com.$gmux-base-font});
				width: calc(2.925 * #{com.$gmux-base-font});
			}
		}

		&::after {
			@include t.inner-toggle(
				c.$grey-darker,
				50%,
				calc(1.09375 * #{com.$gmux-base-font}),
				.4s,
				calc(1.09375 * #{com.$gmux-base-font})
			);
			bottom: 6px;
			left: 3px;

			@include bp.medium-and-above {
				bottom: 7.5px;
				height: calc(1.171875 * #{com.$gmux-base-font});
				width: calc(1.171875 * #{com.$gmux-base-font});
			}
	
			@include bp.large-and-above {
				bottom: 9px;
				height: calc(1.25 * #{com.$gmux-base-font});
				width: calc(1.25 * #{com.$gmux-base-font});
			}
		}

		&:checked {
			&::before {
				background-color: c.$grey-darker;
			}

			&::after {
				background-color: c.$white;
				left: 0;
				transform: translateX(20px);

				@include bp.medium-and-above {
					left: 2px;
				}
			}
		}
	}


	label {
		@include t.base-toggle-label(
			c.$grey-darker,
			f.$cadillac-sans,
			calc(.7656 * #{com.$gmux-base-font}),
			1.5,
			0 calc(calc(.875 * #{com.$gmux-base-font}) - 8px)
		);
		bottom: 15px;
		font-weight: f.$font-weight-book;
		letter-spacing: calc(.0621 * #{com.$gmux-base-font});

		@include bp.medium-and-above {
			font-size: calc(.8203 * #{com.$gmux-base-font});
			letter-spacing: calc(.0665 * #{com.$gmux-base-font});
			margin: 0 calc(calc(.9375 * #{com.$gmux-base-font}) - 8px);
		}

		@include bp.large-and-above {
			font-size: calc(.875 * #{com.$gmux-base-font});
			letter-spacing: calc(.071 * #{com.$gmux-base-font});
			margin: 0 calc(calc(1 * #{com.$gmux-base-font}) - 8px);
		}
	}

	&.disabled {
		opacity: 30%;
	}
}

html[dir='rtl'] {
	.gb-toggle {
		input[type='checkbox'] {
			&::after {
				left: 0;
				right: 3px;
			}

			&:checked {
				&::after {
					transform: translateX(-20px);
				}
			}
		}
	}
}
