@use 'toggle' as t;
@use '../../../cadillac/colors' as c;
@use '../../../cadillac/fonts' as f;

.gb-toggle {
	input[type='checkbox'] {
		@include t.base-toggle-input(
			48px,
			48px
		);

		&::before {
			@include t.outer-toggle(
				c.$grey-extra-light,
				none,
				29px,
				1.625rem,
				.4s,
				2.925rem
			);
			top: 14px;
		}

		&::after {
			@include t.inner-toggle(
				c.$grey-darker,
				50%,
				1.25rem,
				.4s,
				1.25rem
			);
			bottom: 9px;
			left: 3px;
		}

		&:checked {
			&::before {
				background-color: c.$grey-darker;
			}

			&::after {
				background-color: c.$white;
				transform: translateX(20px);
			}
		}
	}


	label {
		@include t.base-toggle-label(
			c.$grey-darker,
			f.$cadillac-sans,
			0.875rem,
			1.5,
			0 calc(1rem - 8px)
		);
		bottom: 15px;
		font-weight: f.$font-weight-book;
		letter-spacing: 0.071rem;
	}

	&.disabled {
		opacity: 30%;
	}
}

html[dir='rtl'] {
	.gb-toggle {
		input[type='checkbox'] {
			&::after {
				left: 0;
				right: 3px;
			}

			&:checked {
				&::after {
					transform: translateX(-20px);
				}
			}
		}
	}
}
