/* Mixins, variables, etc. for common component styling go in here*/
@use '../../../utils/breakpoints' as bp;

@mixin base-label(
	$font-family,
	$font-size,
	$letter-spacing,
	$line-height,
	$margin
) {
	display: block;
	font-family: $font-family;
	font-size: $font-size;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	margin: $margin;
}

@mixin base-input(
	$background-color,
	$border,
	$color,
	$disabled-opacity,
	$font-family,
	$font-size,
	$padding,
	$focus-border: $border,
) {
	&[type],
	textarea {
		background-color: $background-color;
		border: $border;
		color: $color;
		font-family: $font-family;
		font-size: $font-size;
		height: auto;
		margin: 0;
		padding: $padding;
		width: 100%;

		&:focus {
			border: $focus-border;
			outline: none;
		}

		&[disabled] {
			background-color: $background-color;
			opacity: $disabled-opacity;
		}
	}

	/*ios date bugfix*/
	&[type='date'] {
		min-width: intrinsic;

		&::-webkit-date-and-time-value {
			padding: 24px 0 0 8px;
			text-align: left;
		}
	}
}

@mixin inline-svg-img(
	$background-img-svg,
	$background-img-size-sm,
	$background-img-size-lg,
	$height-sm,
	$width-sm,
	$height-lg,
	$width-lg,
	$top-position-sm,
	$top-position-lg,
	$margin) {
	&::before {
		background-image: $background-img-svg;
		background-size: $background-img-size-sm;
		content: '';
		display: inline-block;
		height: $height-sm;
		margin: $margin;
		position: relative;
		top: $top-position-sm;
		width: $width-sm;

		@include bp.medium-and-above {
			background-size: $background-img-size-lg;
			height: $height-lg;
			top: $top-position-lg;
			width: $width-lg;
		}

	}
}

