@use 'input' as i;
@use '../../../gm-generic/colors' as c;
@use '../../../gm-generic/fonts' as f;

.gb-input {
	position: relative;

	%gb-datetime-indicators-visible {
		&::-webkit-datetime-edit {
			opacity: 1;
		}

		&::-webkit-calendar-picker-indicator {
			opacity: 1;
		}

	}

	%gb-datetime-indicators-hidden {
		&::-webkit-datetime-edit {
			opacity: 0;
		}

		&::-webkit-calendar-picker-indicator {
			opacity: 0;
		}

	}

	%gb-text-container {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	%gb-pw-info-item {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-family: f.$font-family-overpass;
		font-size: 12px;
		line-height: 1.33;
		margin: 5px auto 5px 16px;

		.gb-pw-info-text {
			margin-left: 6px;
		}

		.gb-pw-info-icon-check {
			border-bottom: solid 1px c.$white;
			border-right: solid 1px c.$white;
			display: none;
			height: 6px;
			margin: 2px 4px;
			transform: rotate(45deg);
			width: 3px;
		}

		.gb-pw-info-icon {
			background-color: c.$white;
			border: solid 1px c.$font;
			border-radius: 50%;
			display: inline-block;
			height: 14px;
			width: 14px;


			&.valid {
				background-color: c.$font;

				/* stylelint-disable-next-line*/
				.gb-pw-info-icon-check {
					display: block;
				}
			}
		}
	}

	.hide {
		display: none;
	}

	label {
		@include i.base-label(f.$font-family-overpass,
		16px,
		normal,
		1.5,
		auto);

		color: c.$font;
	}

	.clear-input,
	.show-password {
		display: none;
		font-family: f.$font-family-overpass;
		font-size: 12px;
		position: absolute;
		right: 17px;
		text-transform: uppercase;
		top: 18px;

		&:hover {
			cursor: pointer;
		}
	}

	.gb-input-label {
		color: c.$font;
		font-size: 16px;
		left: 16px;
		position: absolute;
		top: 12px;

		&.hover {
			color: c.$font;
			display: block;
			font-size: 12px;
			left: 16px;
			top: 8px;
		}
	}

	&:focus{

		&input {

			&[type=date] {

				&::-webkit-datetime-edit {
					opacity: 1;
				}

				&::-webkit-calendar-picker-indicator {
					opacity: 1;
				}
			}
		}
	}

	&.form-error {
		.gb-input-label {
			color: c.$error;
		}

		.gb-helper-text-container {
			display: none;
		}

		.gb-pw-info-container {
			display: none;
		}

		input {
			&[type],
			textarea {

				&:focus {
					~ .gb-input-label {
						color: c.$error;
					}
				}

				border-bottom: c.$error solid 2px;

				&:focus {
					border-bottom: c.$error solid 2px;
				}

				&:hover {
					border-bottom: c.$error solid 2px;
				}
			}
		}

		.gb-error-text-container {
			@extend %gb-text-container;
		}
	}

	.gb-error-text-container {
		display: none;
		margin: 0;
		padding: 12px 19px 14px 16px;

		.gb-helper-text-icon-container {
			margin-right: 5px;
		}

		.gb-error-text {
			color: c.$error;
			font-family: f.$font-family-overpass;
			font-size: 12px;
		}
	}

	.gb-pw-info-container {
		.gb-pw-label {
			color: c.$font;
			display: block;
			font-family: f.$font-family-overpass;
			font-size: 14px;
			font-weight: f.$font-weight-bold;
			line-height: 1.43;
			margin: 19px auto 4px 16px;
		}

		.gb-pw-str-indicator {
			border-radius: 25px;
			border-top: solid 4px c.$success;
			margin: 0 16px;

			&.good-pw {
				border-top-color: c.$amber;
			}

			&.weak-pw {
				border-top-color: c.$error;
			}

		}

		.gb-pw-info-item {
			@extend %gb-pw-info-item;
		}
	}

	.gb-helper-text-icon-container {
		display: inline-block;
		height: 16px;
		margin: 0;
		padding: 0;
		width: 16px;

		.gb-helper-text-icon-image {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}

	input {
		&::-moz-placeholder {
			color: c.$grey-light;
			font-family: f.$font-family-overpass;
			font-size: 16px;
			margin: 3px 0;
		}
		&::placeholder {
			color: c.$grey-light;
			font-family: f.$font-family-overpass;
			font-size: 16px;
			margin: 3px 0;
		}

		@include i.base-input(c.$white,
		1px solid c.$grey-light,
		c.$font,
		30%,
		f.$font-family-overpass,
		16px,
		27px 50px 0 16px,
		1px solid c.$grey-light);


		&[type],
		textarea {
			border-bottom-color: c.$font;
			border-radius: 8px 8px 0 0;

			&:focus {
				border-bottom: solid 2px c.$font;

				~ .gb-input-label {
					color: c.$font;
					display: block;
					font-size: 14px;
					left: 16px;
					line-height: 1.33;
					top: 8px;
				}

				~ .clear-input {
					display: inline-block;
				}

				~ .show-password {
					display: inline-block;
				}
			}

		}
		/*IOS  This is to override IOS appearance for date input types.*/
		&[type=date] {
			display: block;
			text-transform: uppercase;
			-webkit-appearance: textfield;
			-moz-appearance: textfield;
			min-height: 52px;


			&::-webkit-datetime-edit-text {
				padding: 0 6px;

			}

			&::-webkit-datetime-edit-day-field {
				padding-left: 6px;
			}

			&::-webkit-datetime-edit-year-field {
				padding-left: 6px;
			}

			@extend %gb-datetime-indicators-hidden;

			&:focus {
				@extend %gb-datetime-indicators-visible;
			}

			&.valid {
				&:focus {

					&::-webkit-calendar-picker-indicator {
						opacity: 1;
					}
				}

				&::-webkit-datetime-edit {
					opacity: 1;
				}

				&::-webkit-calendar-picker-indicator {
					opacity: 0;
				}
			}

		}
	}

	.gb-helper-text-container {
		margin: 0;
		padding: 7px 19px 14px 16px;

		@extend %gb-text-container;

		.gb-helper-text-icon-container {
			margin-right: 5px;
		}

		.gb-helper-text {
			color: c.$font;
			font-family: f.$font-family-overpass;
			font-size: 12px;
		}
	}

	&.disabled {
		input {
			border: 1px solid c.$cool-grey1c-10;

			&[type],
			textarea {
				&[disabled] {
					background-color: c.$cool-grey1c-10;
					color: c.$font;
					opacity: 1;
				}
			}

			&:hover {
				border: 1px solid c.$cool-grey1c-10;

			}
		}

		.gb-helper-text-container {
			visibility: hidden;
		}
	}

	&.form-success {
		.gb-helper-text-container {
			.gb-helper-text {
				color: c.$success;
			}
		}
	}


	@media (min-width: 800px) {
		.clear-input,
		.show-password {
			font-size: 14px;
			right: 20px;
			top: 22px;
		}

		.gb-input-label {
			font-size: 16px;
			top: 14px;

			&.hover {
				font-size: 14px;
			}
		}

		.gb-helper-text-icon-container {
			height: 20px;
			width: 20px;
		}

		.gb-pw-info-container {
			.gb-pw-info-item {
				font-size: 14px;
			}
		}

		input {
			&::-moz-placeholder {
				font-size: 18px;
			}
			&::placeholder {
				font-size: 18px;
			}

			&[type],
			textarea {
				font-size: 18px;
				padding: 27px 65px 4px 16px;
			}

			&[type=date] {
				min-height: 57px;
			}
		}

		.gb-helper-text-container {
			padding: 5px 12px 12px 16px;

			.gb-helper-text {
				font-size: 14px;
			}
		}
	}
}

html[dir='rtl'] {
	.gb-input {
		direction: rtl;
		display: flex;
		flex-flow: column wrap;
	}
}
