@use 'input' as i;
@use '../../../gmc/colors' as c;
@use '../../../gmc/fonts' as f;

.gb-input {
	label {
		@include i.base-label(
			f.$font-family-muli,
			1.2rem,
			1px,
			1.5,
			0
		);
	}

	input {
		@include i.base-input(
			c.$white,
			2px solid c.$brand-black,
			c.$font,
			30%,
			f.$font-family-muli,
			1.6rem,
			1rem,
			2px solid c.$brand-black,
		);
		line-height: 2;
	}

	p {
		font-family: f.$font-family-muli;
		font-size: 1.2rem;
		line-height: 1.5;
		margin-top: 1rem;
	}

	&.form-error {
		input {
			border-color: c.$error-red;
		}

		p {
			color: c.$error-red;
		}
	}

	&.form-success {
		p {
			color: c.$success-green;
		}
	}
}

html[dir='rtl'] {
	.gb-input {
		direction: rtl;
		display: flex;
		flex-flow: column wrap;
	}
}
