@use 'input' as i;
@use '../../../chevy-ev/colors' as c;
@use '../../../chevy-ev/fonts' as f;

.gb-input {
	label {
		@include i.base-label(
			f.$font-family-louis,
			.8rem,
			.1875rem,
			1.66625rem,
			0 0 5px 0
		);
		color: c.$grey-mid-dark;
	}

	input {
		@include i.base-input(
			c.$white,
			1px solid c.$grey-mid,
			c.$grey-dark,
			30%,
			f.$font-family-roboto,
			.9rem,
			1px 2px 1px 20px,
			1px solid c.$grey
		);
		line-height: 1.875rem;
	}

	p {
		font-family: f.$font-family-roboto;
		font-size: 0.7rem;
		line-height: 1.25;
		margin-top: 20px;
	}

	&.form-error {
		input {
			border: 0;
			box-shadow: inset 0 0 0 3px c.$red;
			transition: border, box-shadow 0.25s;
		}

		p {
			color: c.$red;
		}
	}

	&.form-success {
		p {
			color: c.$green;
		}
	}
}

html[dir='rtl'] {
	.gb-input {
		direction: rtl;
		display: flex;
		flex-flow: column wrap;
	}
}
