@use 'checkbox';
@use '../../../chevy-ev/colors';
@use '../../../chevy-ev/fonts';
@use '../../../utils/breakpoints' as bp;

.gb-checkbox {
	align-items: center;
	display: flex;
	position: relative;

	label, /* Override Legacy Quantum Style*/
	input[type='checkbox'] + label {
		@include checkbox.base-label(
			colors.$gray-90,
			fonts.$font-family-roboto,
			1rem,
			fonts.$font-weight-normal,
			normal,
			1.375
		);
	}

	label + input[type='checkbox'] {
		margin: 0 0 0 10px;
	}

	input[type='checkbox'] {
		@include checkbox.base-box(20px);

		background: colors.$white;
		border: 1px solid colors.$gray-80;
		border-radius: 4px;
		margin: 0 0 0 auto;
		order: 2;
		position: relative;

		&:hover {
			border: 1px solid colors.$gray-90;
		}

		&:checked {
			background: colors.$chevy-ev-blue-base;
			border: 0;
			border-radius: 4px;

			&:hover {
				background: colors.$chevy-ev-blue-bright;
			}
		}

		&:checked::after {
			content: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2211%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%205.889%205.385%209%2013%202%22%20stroke%3D%22%23F7F7F7%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
			left: 3px;
			position: absolute;
			top: 1px;
		}

		@include bp.medium-and-above {
			margin: 0 8px 0 0;
			order: 0;
		}
	}

	&.disabled {
		label, /* Override Legacy Quantum Style*/
		input[type='checkbox'] + label {
			color: colors.$gray-50-chevy-ev;
		}

		input[type='checkbox'] {
			border: 1px solid colors.$gray-20;

			&:checked {
				background: colors.$blue-bright;
				border: 0;
			}
		}
	}

	&.invert {
		input[type='checkbox'] {
			background-color: transparent;
			border: 1px solid colors.$gray-20;

			&:hover {
				border: 1px solid colors.$gray-60;
			}

			&:checked {
				background: colors.$chevy-ev-blue-base;
				border: 0;
				border-radius: 4px;
	
				&:hover {
					background: colors.$chevy-ev-blue-bright;
				}
			}
		}

		&:checked::after {
			content: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2211%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%205.889%205.385%209%2013%202%22%20stroke%3D%22%23AFAFAF%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
		}

		&.disabled {
			label, /* Override Legacy Quantum Style*/
			input[type='checkbox'] + label {
				color: colors.$gray-50-chevy-ev;
			}
	
			input[type='checkbox'] {
				border: 1px solid colors.$gray-80;
	
				&:checked {
					background: colors.$gray-80;
					border: 0;
				}
			}
		}
	}
}
