@use 'checkbox';
@use '../../../cadillac/colors';
@use '../../../cadillac/fonts';

.gb-checkbox {
	position: relative;

	label, /* Override Legacy Quantum Style*/
	input[type='checkbox'] + label {
		@include checkbox.base-label(
			colors.$grey-darker,
			fonts.$cadillac-sans,
			0.875rem,
			fonts.$font-weight-book,
			1.5,
			2px
		);
	}

	label + input[type='checkbox'] {
		margin: 0 0 0.625rem 0.625rem;
	}

	input[type='checkbox'] {
		@include checkbox.base-box(1.5rem);

		background: colors.$grey-extra-light;
		border: 0;
		margin: 0 0.625rem 0.625rem 0;
		position: relative;
		top: 3px;

		&:checked::after {
			content: url("data:image/svg+xml,%3Csvg%20width='23px'%20height='23px'%20viewBox='4%20-1%2023%2023'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolyline%20id='Path'%20stroke='%234B4B4B'%20stroke-width='2'%20fill='none'%20transform='translate(15.562199,%2010.181532)%20rotate(-270.000000)%20translate(-15.562199,%20-10.181532)'%20points='5.88066751%200.243730635%2025.2437306%2014.6831909%2017.7490288%2020.1193325'%3E%3C/polyline%3E%3C/svg%3E");
			left: .3rem;
			position: absolute;
			top: -.2rem;
		}
	}

	&.disabled {
		opacity: 30%;
	}
}
