@use 'checkbox';
@use '../../../gm-generic/colors';
@use '../../../gm-generic/fonts';

.gb-checkbox {
	position: relative;

	label, /* Override Legacy Quantum Style*/
	input[type='checkbox'] + label {
		@include checkbox.base-label(
			colors.$grey-medium,
			fonts.$font-family-gmglobal-sans,
			1rem,
			fonts.$font-weight-normal,
			normal,
			normal
		);
		padding-left: calc(1rem - 8px);
		position: relative;
		top: 1px;
	}

	label + input[type='checkbox'] {
		margin: 0;
	}

	input[type='checkbox'] {
		@include checkbox.base-box(48px);
		margin: 0;
		position: relative;

		&::before {
			background: colors.$white;
			border: 1px solid colors.$grey-50;
			border-radius: 3px;
			content: '';
			display: block;
			height: 1.25rem;
			left: 14px;
			margin: 0;
			position: relative;
			top: 14px;
			width: 1.25rem;
		}

		&:checked {
			&::before {
				background: colors.$grey;
				border: 1px solid colors.$grey;
			}

			&::after {
				content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017.48%2013.73%22%3E%3Cg%3E%3Cpath%20d%3D%22M18.6%2C5.66a1.2%2C1.2%2C0%2C0%2C1%2C2%2C1.38l-0.09.12L11.38%2C18.49a1.2%2C1.2%2C0%2C0%2C1-1.65.21l-0.11-.1-6-5.74A1.2%2C1.2%2C0%2C0%2C1%2C5.17%2C11l0.12%2C0.1%2C5%2C4.84Z%22%20transform%3D%22translate(-3.26%20-5.22)%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
				display: block;
				left: 17px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 14px;
			}
		}
	}

	&.disabled {
		input[type='checkbox']:disabled {
			&::before {
				border: 1px solid colors.$grey-20;
			}

			&:checked {
				&::before {
					background: colors.$white;
				}
	
				&::after {
					content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017.63%2013.8%22%3E%3Cg%3E%3Cpath%20d%3D%22M15.34%2C0.44a1.21%2C1.21%2C0%2C1%2C1%2C2%2C1.38h0l-0.09.12L8.12%2C13.27a1.2%2C1.2%2C0%2C0%2C1-1.65.21l-0.11-.1-6-5.74A1.21%2C1.21%2C0%2C1%2C1%2C1.91%2C5.78h0L2%2C5.88l5%2C4.84Z%22%20transform%3D%22translate(0.08%200.09)%22%20style%3D%22fill%3A%23d6d8d9%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
				}
			}
		}
	}
}

html[dir='rtl'] {
	.gb-checkbox {
		input[type='checkbox']::before {
			left: 0;
			right: 14px;
		}
	}
}
