@use 'checkbox';
@use '../../../cadillac/colors';
@use '../../../cadillac/fonts';
@use '../../../utils/breakpoints' as bp;

.gb-checkbox {
	position: relative;

	label, /* Override Legacy Quantum Style*/
	input[type='checkbox'] + label {
		@include checkbox.base-label(
			colors.$grey-darker,
			fonts.$cadillac-sans,
			16px,
			fonts.$font-weight-book,
			.99px,
			1.5
		);

		margin: 0 5px;
		position: relative;
		top: 2px;

		@include bp.medium-and-above {
			font-size: 18px;
			letter-spacing: 1.14px;
			line-height: 1.875;
		}
	}

	input[type='checkbox'] {
		$box-size: 18px;

		@include checkbox.base-box(18px);

		background: colors.$grey-light;
		margin: 3px;
		position: relative;

		&:checked {
			background: colors.$grey-darker;

			&::after {
				border: 0;
				content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M0.75%202.032L1.706%200.75%2017.378%2012.437%2010.769%2017.23%209.83%2015.936%2014.678%2012.418z%22%20transform%3D%22translate(-339%20-214)%20translate(338%20201)%20translate(0%2012)%20translate(1%201)%20rotate(90%209.064%208.99)%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
				height: $box-size;
				position: absolute;
				width: $box-size;
			}
		}

		@include bp.medium-and-above {
			@include checkbox.base-box(20px);

			&:checked {
				&::after {
					content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M0.833%202.258L1.896%200.833%2019.308%2013.818%2011.966%2019.144%2010.922%2017.706%2016.309%2013.798z%22%20transform%3D%22translate(-834%20-219)%20translate(834%20201)%20translate(0%2018)%20rotate(90%2010.07%209.989)%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
					height: 20px;
					width: 20px;
				}
			}
		}
	}

	&:hover {
		input[type='checkbox'] {
			background: colors.$grey-darker;

			&:checked {
				background: colors.$grey-light;
			}
		}
	}

	&.disabled {
		label,
		input[type='checkbox'] + label {
			color: colors.$brownish-grey;
		}

		input[type='checkbox'] {
			background: colors.$grey-extra-light;
		}

		&:hover {
			input[type='checkbox'] {
				background: colors.$grey-extra-light;
			}
		}
	}
}
