@use 'button' as b;
@use '../../crossbrand-2023/colors' as c;
@use '../../crossbrand-2023/fonts' as f;
@use '../../crossbrand-2023/icons' as i;

%button-icon-base {
	svg,
	img {
		block-size: 20px;
		inline-size: 20px;
		vertical-align: middle;
	}

	&.icon-stacked {
		svg,
		img {
			display: block;
			margin: auto auto .3125rem;
		}
	}

	&.icon-left {
		svg,
		img {
			margin-inline-end: 8px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-inline-start: 8px;
		}
	}
}

%button-icon-only {
	svg,
	img {
		block-size: 32px;
		inline-size: 32px;
		vertical-align: middle;
	}
}

$transition: background .5s, block-size .5s, border .5s, color .5s, inline-size .5s;

%gb-filter-button {
	@include b.primary-button(
		c.$white,
		1px solid c.$font-light,
		c.$font,
		f.$font-family-overpass,
		12px,
		f.$font-weight-bold,
		normal,
		normal,
		10px 7px 9px,
		$transition,
		c.$font-light,
		1px solid c.$font-light,
		c.$white
	);

	border-radius: 10px;
	text-align: center;

	&:active {
		background-color: c.$font-light;
		color: c.$white;
	}

	@media print,only screen and (min-width:800px) {
		font-size: 14px;
	}
}

%link-button-icon-arrow-base {
	background: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229.25%22%20stroke%3D%22%2300478C%22%20stroke-width%3D%221.5%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.2929%209.29289C15.6834%209.68342%2015.6834%2010.3166%2015.2929%2010.7071L11.0503%2014.9497C10.6597%2015.3403%2010.0266%2015.3403%209.63604%2014.9497C9.24552%2014.5592%209.24552%2013.9261%209.63604%2013.5355L12.1716%2011L5%2011C4.44772%2011%204%2010.5523%204%2010C4%209.44772%204.44772%209%205%209L12.1715%209L9.63595%206.46444C9.24542%206.07391%209.24542%205.44075%209.63595%205.05022C10.0265%204.6597%2010.6596%204.6597%2011.0502%205.05022L15.2861%209.28616C15.2884%209.28839%2015.2906%209.29064%2015.2929%209.29289Z%22%20fill%3D%22%2300478C%22%2F%3E%0A%3C%2Fsvg%3E');
	background-size: cover;
	content: '';
}

%link-button-icon-arrow-hover {
	background: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2211.25%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18.4928%2011.2929C18.8834%2011.6834%2018.8834%2012.3166%2018.4928%2012.7071L13.1188%2018.0811C12.7283%2018.4716%2012.0951%2018.4716%2011.7046%2018.0811L11.4218%2017.7983C11.0313%2017.4078%2011.0313%2016.7746%2011.4218%2016.3841L14.6058%2013.2L5.79995%2013.2C5.24767%2013.2%204.79995%2012.7523%204.79995%2012.2V11.8C4.79995%2011.2477%205.24767%2010.8%205.79995%2010.8L14.6058%2010.8L11.4217%207.6159C11.0311%207.22538%2011.0311%206.59222%2011.4217%206.20169L11.7045%205.91885C12.095%205.52832%2012.7282%205.52832%2013.1187%205.91885L18.2025%2011.0026C18.205%2011.0051%2018.2075%2011.0076%2018.21%2011.0101L18.4928%2011.2929Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E');
}

%link-button-invert-icon-arrow-base {
	background: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229.25%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.2929%209.29289C15.6834%209.68342%2015.6834%2010.3166%2015.2929%2010.7071L11.0503%2014.9497C10.6597%2015.3403%2010.0266%2015.3403%209.63604%2014.9497C9.24552%2014.5592%209.24552%2013.9261%209.63604%2013.5355L12.1716%2011L5%2011C4.44772%2011%204%2010.5523%204%2010C4%209.44772%204.44772%209%205%209L12.1715%209L9.63595%206.46444C9.24542%206.07391%209.24542%205.44075%209.63595%205.05022C10.0265%204.6597%2010.6596%204.6597%2011.0502%205.05022L15.2861%209.28616C15.2884%209.28839%2015.2906%209.29064%2015.2929%209.29289Z%22%20fill%3D%22%2338E8FF%22%2F%3E%0A%3C%2Fsvg%3E');
	background-size: cover;
	content: '';
}

%link-button-invert-icon-arrow-hover {
	background: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229.25%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.2929%209.29289C15.6834%209.68342%2015.6834%2010.3166%2015.2929%2010.7071L11.0503%2014.9497C10.6597%2015.3403%2010.0266%2015.3403%209.63604%2014.9497C9.24552%2014.5592%209.24552%2013.9261%209.63604%2013.5355L12.1716%2011L5%2011C4.44772%2011%204%2010.5523%204%2010C4%209.44772%204.44772%209%205%209L12.1715%209L9.63595%206.46444C9.24542%206.07391%209.24542%205.44075%209.63595%205.05022C10.0265%204.6597%2010.6596%204.6597%2011.0502%205.05022L15.2861%209.28616C15.2884%209.28839%2015.2906%209.29064%2015.2929%209.29289Z%22%20fill%3D%22%2338E8FF%22%2F%3E%0A%3C%2Fsvg%3E');
}

%gb-primary-button {
	@include b.primary-button(
		c.$blue-primary,
		3px solid c.$blue-primary,
		c.$white,
		f.$font-family-overpass,
		16px,
		f.$font-weight-ultra,
		normal,
		24px,
		8px 32px,
		$transition,
		c.$white,
		3px solid c.$blue-primary,
		c.$black
	);

	border-radius: 45px;
	min-block-size: 42px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&.gb-small-button {
		line-height: normal;
		min-block-size: 25px;
		padding: 0;
		position: relative;
	}

	&:active {
		background-color: c.$white;
		border: 3px solid c.$blue-light1;
		color: c.$font;
	}

	&.disabled {
		background-color: c.$gray-4;
		border: 3px solid c.$gray-4;
		box-shadow: none;
		color: c.$white;
		opacity: .5;
	}

	&:hover {
		&:active {
			box-shadow: none;
		}

		&:focus {
			box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		}
	}

	&:focus {
		background-color: c.$blue-dark2;
		border: 1px solid c.$form-highlight;
		box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		color: c.$white;

		&:active,
		&:hover {
			background-color: c.$white;
			border: 3px solid c.$blue-light1;
			color: c.$font;
		}

		&.disabled {
			border: 3px solid c.$blue-dark2;
			box-shadow: none;
		}
	}

	&.invert {
		@include b.button-invert(
			c.$white,
			3px solid c.$white,
			c.$blue-primary,
			transparent,
			c.$white
		);
		border-radius: 45px;

		&.disabled {
			border: 3px solid c.$blue-accent-3;
			color: c.$blue-accent-3;
		}
	}

	&.icon-right,
	&.icon-left {
		border-radius: 36px;
		padding: 5px 23px 4px 27px;
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		3px solid c.$blue-primary,
		c.$blue-primary,
		f.$font-family-overpass,
		16px,
		f.$font-weight-ultra,
		normal,
		24px,
		8px 32px,
		$transition,
		transparent,
		3px solid c.$blue-primary,
		c.$black
	);

	border-radius: 45px;
	min-block-size: 40px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&.gb-small-button {
		line-height: 1.75;
		min-block-size: 25px;
		padding: 0;
		position: relative;
	}

	&.disabled {
		border: 3px solid c.$gray-4;
		color: c.$gray-4;
		opacity: .5;

		&:hover {
			background-color: transparent;
			box-shadow: none;
		}
	}

	&:hover {
		&:focus,
		&:active {
			background-color: transparent;
			box-shadow: none;
		}
	}

	&:focus {
		background-color: transparent;
		border: 3px solid c.$blue-dark1;
		color: c.$blue-dark;
		-o-object-fit: contain;
		   object-fit: contain;
	}

	&.invert {
		@include b.button-invert(
			transparent,
			3px solid c.$white,
			c.$white,
			transparent,
			c.$white
		);

		&:active,
		&:hover {
			border: 3px solid c.$aqua-primary;
		}

		&.disabled {
			border: 3px solid c.$blue-accent-3;
			color: c.$blue-accent-3;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-tertiary-button {
	@include b.primary-button(
		transparent,
		3px solid transparent,
		c.$blue-primary,
		f.$font-family-overpass,
		16px,
		f.$font-weight-ultra,
		normal,
		24px,
		8px 32px,
		$transition,
		c.$gray-2,
		3px solid c.$gray-2,
		c.$black
	);

	border-radius: 45px;
	min-block-size: 40px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&.gb-small-button {
		line-height: normal;
		min-block-size: 25px;
		padding: 0;
		position: relative;
	}

	&.disabled {
		border-color: c.$white;
		color: c.$gray-4;
		opacity: .5;

		&:hover {
			/*background-color: transparent;*/
			border: 3px solid c.$white;
			box-shadow: none;

			&:focus,
			&:active,
			&.gb-target-zone-button-active {
				/*background-color: transparent;*/
				border: 3px solid c.$white;
				box-shadow: none;
			}
		}

		&:active {
			/*background-color: transparent;*/
			border: 3px solid c.$white;
		}
	}

	&:hover {
		&:active {
			box-shadow: none;
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			none,
			c.$white,
			transparent,
			c.$white
		);

		&:hover {
			border: 3px solid c.$white;
		}

		&.disabled {
			border: 3px solid c.$blue-accent-3;
			color: c.$blue-accent-3;
		}
	}

	&.icon-right,
	&.icon-left {
		border-radius: 36px;
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link-footer {
	@include b.link(
		c.$blue-light1,
		f.$font-family-overpass,
		16px,
		f.$font-weight-ultra,
		normal,
		normal,
		4px 0 0,
		c.$white
	);

	&.invert {
		@include b.link-invert(
			c.$blue-light1,
			c.$blue-light1
		);
	}

	&:hover {
		text-decoration: underline;
	}
}

%gb-link {
	@include b.link(
		c.$blue-primary,
		f.$font-family-overpass,
		16px,
		f.$font-weight-ultra,
		normal,
		24px,
		0,
		c.$black
	);

	align-items: center;
	block-size: 40px;
	display: inline-flex;
	justify-content: flex-start;

	&.disabled {
		color: c.$gray-4;
	}

	&.icon-right,
	&.icon-left {
		transition: $transition;

		&::before {
			@extend %link-button-icon-arrow-base;

			block-size: i.$icon-small;
			inline-size: i.$icon-small;
		}

		&::after {
			@extend %link-button-icon-arrow-base;

			block-size: i.$icon-small;
			inline-size: i.$icon-small;
		}

		&:active,
		&:focus,
		&:hover,
		&.gb-target-zone-button-active {
			&::before,
			&::after {
				@extend %link-button-icon-arrow-hover;

				block-size: 24px;
				inline-size: 24px;
			}
		}

		&.invert {
			&::after,
			&::before {
				@extend %link-button-invert-icon-arrow-base;
			}

			&:hover,
			&:active {
				&::after,
				&::before {
					@extend %link-button-invert-icon-arrow-hover;
				}
			}
		}
	}

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$white
		);

		&.disabled {
			color: c.$blue-accent-3;
		}
	}

	&.icon-right {
		&::after {
			margin: 0 8px;
		}

		&::before {
			display: none;
		}
	}

	&.icon-left {
		&::after {
			display: none;
		}

		&::before {
			margin: 0 8px;
			transform: rotate(180deg);
		}
	}
}

%gb-icon-button {
	@extend %button-icon-only;

	display: inline-block;
	inline-size: auto;
	padding: 6px;

	svg {
		fill: c.$black;
	}

	&:hover {
		svg {
			fill: c.$white;
		}
	}
}

%gb-list-item-primary {
	@include b.list-item-button(
		transparent,
		c.$grey,
		f.$font-family-overpass,
		.875rem,
		.875rem,
		1rem,
		f.$font-weight-medium,
		normal,
		1.5,
		none,
		3px solid transparent,
		0 .875rem .875rem 0,
		.625rem 2rem,
		.625rem 2rem,
		1.25rem 2rem,
		$transition,
		c.$grey-10,
		3px solid c.$brand-blue,
		c.$grey-10,
		3px solid c.$brand-blue

	);
}


%gb-list-item-description {
	@include b.list-item-description(
		.875rem,
		f.$font-family-overpass,
		f.$font-weight-normal,
		normal,
		1.429,
		c.$grey

	);
}

/*html[dir='rtl'] {
	%button-icon-base {
		&.icon-right {
			svg,
			img {
				margin-right: 5px;
			}
		}

		&.icon-left {
			svg,
			img {
				margin-left: 5px;
			}
		}
	}
}*/

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-primary-button-stacked-icon {
	@extend %gb-primary-button;
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button;
}

%gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-tertiary-button {
	@extend %gb-tertiary-button;
}

.gb-link-footer {
	@extend %gb-link-footer;
}

.gb-link {
	@extend %gb-link;
}

.gb-filter-button {
	@extend %gb-filter-button;
}

.gb-list-item-primary {
	@extend %gb-list-item-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-primary-button-stacked-icon {
	@extend %gb-primary-button-stacked-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button-stacked-icon;
}

.gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button-inline-icon;
}
