@use '../../common/common' as com;
@use '../../utils/breakpoints' as bp;

@use 'button' as b;
@use '../../cadillac-2022/colors' as c;
@use '../../cadillac-2022/fonts' as f;
@use '../../cadillac-2022/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.icon-stacked {
		flex-direction: column;

		svg,
		img {
			display: block;
			margin: auto auto calc(.5468 * #{com.$gmux-base-font});
		}
	}

	&.icon-left {
		flex-direction: row;
		padding: 9px 22px;

		svg,
		img {
			margin-right: 10px;
		}
	}

	&.icon-right {
		flex-direction: row;
		padding: 9px 22px;

		svg,
		img {
			margin-left: 10px;
		}
	}

	@include bp.medium-and-above {
		&.icon-left {
			padding: 11px 22px;
		}

		&.icon-right {
			padding: 11px 22px;
		}
	}
}

%gb-filter-button {
	@include b.filter-button(
		transparent,
		1px solid c.$gray-2,
		c.$gray-1,
		f.$cadillac-gothic,
		calc(.9843 * #{com.$gmux-base-font}),
		f.$font-weight-light,
		1.37px,
		1.33,
		0 calc(1.0937 * #{com.$gmux-base-font}) calc(.5468 * #{com.$gmux-base-font}) 0,
		calc(.5468 * #{com.$gmux-base-font}),
		transparent,
		c.$gray-1,
		20px,
		f.$font-weight-light,
		10px
	);

	&:active {
		background-color: c.$gray-2;
		color: c.$white;
		padding: 13px 20px;
	}

	&::after {
		content: '';
	}
}

$transition: background .25s, border .25s, color .25s;

%gb-primary-button {
	@include b.primary-button(
		c.$gray-1,
		2px solid c.$gray-1,
		c.$gray-7,
		f.$cadillac-gothic,
		12px,
		f.$font-weight-light,
		1.37px,
		16px,
		13px 22px,
		$transition,
		c.$gray-7,
		2px solid c.$gray-1,
		c.$gray-1
	);

	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;

	&.gb-small-button {
		border-width: 1px;
		line-height: 20px;
		padding: 1px;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&.disabled {
		background-color: c.$gray-5;
		border: 2px solid c.$gray-5;
		color: c.$gray-7;

		&:focus {
			background-color: c.$gray-5;
			border: 2px solid c.$gray-5;
			color: c.$gray-7;

			&:active,
			&:hover,
			&.gb-target-zone-button-active {
				background-color: c.$gray-5;
				border: 2px solid c.$gray-5;
				color: c.$gray-7;
			}
		}
	}

	&:focus {
		background-color: c.$gray-1;
		border: 2px solid c.$gray-1;
		color: c.$gray-7;

		&:active,
		&:hover,
		&.gb-target-zone-button-active {
			background-color: c.$gray-7;
			border: 2px solid c.$gray-1;
			color: c.$gray-1;
		}
	}

	&.invert {
		@include b.button-invert(
			c.$gray-7,
			2px solid c.$gray-7,
			c.$gray-1,
			c.$gray-1,
			c.$gray-7
		);

		&.disabled {
			background-color: c.$gray-2;
			border: 2px solid c.$gray-2;
			color: c.$black-2;

			&:focus {
				&:active,
				&:hover,
				&.gb-target-zone-button-active {
					background-color: c.$gray-2;
					border: 2px solid c.$gray-2;
					color: c.$black-2;
				}
			}
		}

		&:focus {
			&:active,
			&:hover,
			&.gb-target-zone-button-active {
				border: 2px solid c.$gray-7;
			}
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@include bp.medium-and-above {
		font-size: 14px;
		letter-spacing: 1.6px;
		line-height: 22px;
		padding: 12px 26px;
	}
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		2px solid c.$gray-1,
		c.$gray-1,
		f.$cadillac-gothic,
		12px,
		f.$font-weight-light,
		1.37px,
		16px,
		13px 22px,
		$transition,
		c.$gray-1,
		2px solid c.$gray-1,
		c.$gray-7
	);

	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;

	&.gb-small-button {
		border-width: 2px;
		line-height: 2;
		padding: 1px;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&.disabled {
		background-color: transparent;
		border: 2px solid c.$gray-5;
		color: c.$gray-5;

		&:focus {
			border: 2px solid c.$gray-5;
			color: c.$gray-5;

			&:active,
			&:hover,
			&.gb-target-zone-button-active {
				background-color: transparent;
				border: 2px solid c.$gray-5;
				color: c.$gray-5;
			}
		}
	}

	&:focus {
		background-color: transparent;
		color: c.$gray-1;

		&:active,
		&:hover,
		&.gb-target-zone-button-active {
			background-color: transparent;
			color: c.$gray-7;
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			2px solid c.$gray-7,
			c.$gray-7,
			c.$gray-7,
			c.$gray-1
		);

		&.disabled {
			background-color: transparent;
			border: 2px solid c.$gray-2;
			color: c.$gray-2;

			&:focus {
				&:active,
				&:hover,
				&.gb-target-zone-button-active {
					background-color: transparent;
					border: 2px solid c.$gray-2;
					color: c.$gray-2;
				}
			}
		}

		&:focus {
			&:active,
			&:hover,
			&.gb-target-zone-active {
				background-color: c.$gray-7;
				border: 2px solid c.$gray-7;
				color: c.$gray-1;
			}
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@include bp.medium-and-above {
		font-size: 14px;
		letter-spacing: 1.6px;
		line-height: 22px;
		padding: 12px 26px;
	}
}

%gb-tertiary-button {
	@include b.primary-button(
		transparent,
		2px solid transparent,
		c.$gray-1,
		f.$cadillac-gothic,
		12px,
		f.$font-weight-light,
		1.37px,
		16px,
		13px 22px,
		$transition,
		transparent,
		2px solid transparent,
		c.$gray-2
	);

	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;

	&.gb-small-button {
		line-height: normal;
		padding: 10px 25px 11px 26px;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&:focus {
		color: c.$gray-1;

		&:active,
		&:hover {
			color: c.$gray-2;
			text-decoration: none;
		}
	}

	&.disabled {
		box-shadow: none;
		color: c.$gray-5;

		&:focus {
			&:active,
			&:hover {
				color: c.$gray-5;
			}
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			2px solid transparent,
			c.$gray-7,
			transparent,
			c.$gray-4
		);

		&.disabled {
			color: c.$gray-2;

			&:focus {
				&:active,
				&:hover {
					color: c.$gray-2;
				}
			}
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@include bp.medium-and-above {
		font-size: 14px;
		letter-spacing: 1.6px;
		line-height: 22px;
		padding: 12px 26px;
	}
}

%gb-link-footer {
	@include b.link(
		c.$gray-1,
		f.$cadillac-gothic,
		16px,
		f.$font-weight-light,
		1.01px,
		22px,
		12px 19px,
		c.$gray-1
	);

	margin: 13px 0 0;

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$white
		);
	}
}

%gb-link {
	@include b.link(
		c.$gray-1,
		f.$cadillac-gothic,
		12px,
		f.$font-weight-light,
		1.37px,
		16px,
		11px 0,
		c.$gray-2
	);

	align-items: center;
	display: flex;
	text-align: center;

	&:active,
	&:hover,
	&:focus,
	&.gb-target-zone-button-active {
		&.icon-left {
			&::before {
				filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(94%) contrast(90%);
			}
		}

		&.icon-right {
			&::after {
				filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(94%) contrast(90%);
			}
		}
	}

	&.disabled {
		color: c.$gray-5;

		&.icon-left {
			&::before {
				filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(120%) hue-rotate(172deg) brightness(83%) contrast(99%);
			}
		}

		&.icon-right {
			&::after {
				filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(120%) hue-rotate(172deg) brightness(83%) contrast(99%);
			}
		}
	}

	&.icon-left {
		&::before {
			content: url("data:image/svg+xml,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7.83031%2016.32L7.05031%2017.5L3.07031%2014.71H5.53031L7.83031%2016.32Z'%20fill='currentColor'/%3E%3Cpath%20d='M0%2011.39L7.03%206.5L7.81%207.68L2.63%2011.28H24L23.45%2012.7H0V11.39Z'%20fill='currentColor'/%3E%3C/svg%3E");
			display: inline-block;
			height: calc(1.5 * #{com.$gmux-base-font});
			margin-right: calc(.625 * #{com.$gmux-base-font});
			width: calc(1.5 * #{com.$gmux-base-font});
		}
	}

	&.icon-right {
		&::after {
			content: url("data:image/svg+xml,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M16.1699%2016.31L16.9499%2017.49L20.9199%2014.71H18.4599L16.1699%2016.31Z'%20fill='currentColor'/%3E%3Cpath%20d='M24%2011.39L16.97%206.5L16.19%207.68L21.36%2011.28H0.54L0%2012.7H24V11.39Z'%20fill='currentColor'/%3E%3C/svg%3E%0A");
			display: inline-block;
			height: calc(1.5 * #{com.$gmux-base-font});
			margin-left: calc(.625 * #{com.$gmux-base-font});
			width: calc(1.5 * #{com.$gmux-base-font});
		}

	}

	&.invert {
		@include b.link-invert(
			c.$gray-7,
			c.$gray-4
		);

		&:active,
		&:hover,
		&:focus,
		&.gb-target-zone-button-active {
			&.icon-left {
				&::before {
					filter: brightness(0) saturate(100%) invert(74%) sepia(18%) saturate(0%) hue-rotate(254deg) brightness(82%) contrast(97%);
				}
			}

			&.icon-right {
				&::after {
					filter: brightness(0) saturate(100%) invert(74%) sepia(18%) saturate(0%) hue-rotate(254deg) brightness(82%) contrast(97%);
				}
			}
		}

		&.disabled {
			color: c.$gray-2;

			&.icon-left {
				&::before {
					filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(94%) contrast(90%);
				}
			}

			&.icon-right {
				&::after {
					filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(94%) contrast(90%);
				}
			}
		}

		&.icon-left {
			&::before {
				filter: brightness(0) saturate(100%) invert(85%) sepia(75%) saturate(1%) hue-rotate(159deg) brightness(107%) contrast(98%);
			}
		}

		&.icon-right {
			&::after {
				filter: brightness(0) saturate(100%) invert(85%) sepia(75%) saturate(1%) hue-rotate(159deg) brightness(107%) contrast(98%);
			}
		}
	}

	@include bp.medium-and-above {
		font-size: 14px;
		letter-spacing: 1.6px;
		line-height: 22px;
		padding: 13px 0;
	}
}

%gb-icon-button {
	@extend %button-icon-base;
	cursor: pointer;
	display: inline-block;
	height: i.$icon-large;
	padding: 0;
	width: i.$icon-large;

	svg {
		fill: c.$gray-1;
		height: i.$icon-large;
		width: i.$icon-large;
	}

	&.invert {
		svg {
			fill: c.$gray-2;
		}
	}
}

%gb-list-item-padding {
	&.small-list {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	&.large-list {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	&.no-padding {
		padding-left: 0;
		padding-right: 0;

		&::after {
			right: 0;
		}
	}
}

%gb-list-item-primary {
	@include b.list-item-button(
		c.$gray-7,
		c.$gray-1,
		f.$cadillac-gothic,
		12px,
		12px,
		12px,
		f.$font-weight-medium,
		1.37px,
		1,
		1px solid c.$gray-5,
		none,
		0,
		20px,
		20px,
		20px,
		$transition,
		c.$gray-6,
		none,
		c.$gray-6,
		none
	);

	&.active,
	&:hover {
		color: c.$gray-1;
	}

	&.invert {
		@include b.button-invert(
			c.$gray-1,
			1px solid c.$gray-5,
			c.$gray-7,
			c.$gray-2,
			c.$gray-1
		);

		border-width: 0 0 1px;

		&.active {
			background-color: c.$gray-1;
			color: c.$gray-7;
		};

		&:hover {
			background-color: c.$gray-2;
			color: c.$gray-7;
		}
	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-secondary {
	@include b.list-item-button(
		transparent,
		c.$gray-1,
		f.$cadillac-gothic,
		calc(.7656 * #{com.$gmux-base-font}),
		calc(.8203 * #{com.$gmux-base-font}),
		calc(.875 * #{com.$gmux-base-font}),
		f.$font-weight-light,
		calc(.0752 * #{com.$gmux-base-font}),
		1,
		none,
		none,
		0,
		calc(.875 * #{com.$gmux-base-font}) 5%,
		calc(.9375 * #{com.$gmux-base-font}),
		calc(1 * #{com.$gmux-base-font}),
		$transition,
		c.$gray-1,
		none,
		c.$gray-1,
		none
	);

	&.active,
	&:hover {
		color: c.$white;
	}

	&.invert {
		@include b.button-invert(
			c.$gray-1,
			none,
			c.$white,
			transparent,
			c.$gray-1
		);

		&.active {
			background-color: c.$gray-1;
			color: c.$white;
		};

		&:hover {
			background-color: transparent;
			color: c.$gray-1;
		}
	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-tertiary {
	@include b.list-item-button(
		transparent,
		c.$gray-1,
		f.$cadillac-gothic,
		calc(.7656 * #{com.$gmux-base-font}),
		calc(.8203 * #{com.$gmux-base-font}),
		calc(.875 * #{com.$gmux-base-font}),
		f.$font-weight-light,
		calc(.0752 * #{com.$gmux-base-font}),
		1,
		1px solid c.$gray-1,
		none,
		0,
		calc(.875 * #{com.$gmux-base-font}) 5%,
		calc(.9375 * #{com.$gmux-base-font}),
		calc(1 * #{com.$gmux-base-font}),
		$transition,
		c.$gray-1,
		none,
		c.$gray-1,
		none
	);

	&.active,
	&:hover {
		color: c.$gray-2;
	}

	&.invert {
		@include b.button-invert(
			c.$gray-1,
			1px solid c.$gray-1,
			c.$gray-2,
			transparent,
			c.$gray-2
		);

		border-width: 0 0 1px;

		&.active {
			background-color: c.$gray-1;
			color: c.$gray-2;
		};

		&:hover {
			background-color: transparent;
			color: c.$gray-2;
		}
	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

html[dir='rtl'] {
	%button-icon-base {
		&.icon-right {
			svg,
			img {
				margin-left: 0;
				margin-right: 10px;
			}
		}

		&.icon-left {
			svg,
			img {
				margin-left: 10px;
				margin-right: 0;
			}
		}
	}

	.gb-link {
		&.icon-right {
			&::after {
				content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.83031 16.32L7.05031 17.5L3.07031 14.71H5.53031L7.83031 16.32Z' fill='currentColor'/%3E%3Cpath d='M0 11.39L7.03 6.5L7.81 7.68L2.63 11.28H24L23.45 12.7H0V11.39Z' fill='currentColor'/%3E%3C/svg%3E");
				margin-left: 0;
				margin-right: calc(.625 * #{com.$gmux-base-font});
			}
		}

		&.icon-left {
			&::before {
				content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1699 16.31L16.9499 17.49L20.9199 14.71H18.4599L16.1699 16.31Z' fill='currentColor'/%3E%3Cpath d='M24 11.39L16.97 6.5L16.19 7.68L21.36 11.28H0.54L0 12.7H24V11.39Z' fill='currentColor'/%3E%3C/svg%3E%0A");
				margin-left: calc(.625 * #{com.$gmux-base-font});
				margin-right: 0;
			}
		}
	}
}

%gb-content-relationship {
	@include b.content-relationship(
		transparent,
		c.$gray-1,
		f.$cadillac-gothic,
		calc(1 * #{com.$gmux-base-font}),
		calc(1.125 * #{com.$gmux-base-font}),
		calc(1.125 * #{com.$gmux-base-font}),
		f.$font-weight-lighter,
		3px,
		3.5px,
		3.5px,
		25px,
		28px,
		28px,
		none,
		none,
		0,
		calc(.875 * #{com.$gmux-base-font}) 5%,
		calc(.9375 * #{com.$gmux-base-font}),
		calc(1 * #{com.$gmux-base-font}),
		$transition,
		transparent,
		1px,
		c.$gray-1,
		transparent,
		5px,
		c.$dark-blue,
		c.$dark-blue
	);
}

%gb-list-item-inline-icon-primary {
	@extend %gb-list-item-primary;
}

%gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-secondary;
}

%gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-tertiary;
}

%gb-list-item-description {
	@include b.list-item-description(
		calc(.7656 * #{com.$gmux-base-font}),
		f.$cadillac-gothic,
		f.$font-weight-light,
		normal,
		1.429,
		c.$gray-3
	);
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-primary-button-stacked-icon {
	@extend %gb-primary-button;
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button;
}

%gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-tertiary-button {
	@extend %gb-tertiary-button;
}

.gb-link-footer {
	@extend %gb-link-footer;
}

.gb-link {
	@extend %gb-link;
}

.gb-filter-button {
	@extend %gb-filter-button;
}

.gb-list-item-primary {
	@extend %gb-list-item-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-secondary {
	@extend %gb-list-item-secondary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-tertiary {
	@extend %gb-list-item-tertiary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-primary {
	@extend %gb-list-item-inline-icon-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-inline-icon-secondary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-inline-icon-tertiary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-primary-button-stacked-icon {
	@extend %gb-primary-button-stacked-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button-stacked-icon;
}

.gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button-inline-icon;
}

.gb-content-relation-button {
	@extend %gb-content-relationship;
}
