@use 'button' as b;
@use '../../gmc/colors' as c;
@use '../../gmc/fonts' as f;
@use '../../gmc/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;

		@media print,only screen and (min-width:800px) {
			height: i.$icon-large;
			vertical-align: middle;
			width: i.$icon-large;
		}
	}

	&.icon-stacked {
		font-size: 15px;
		letter-spacing: 2px;
		line-height: 20px;
		padding: 10px;
		word-break: break-word;

		svg,
		img {
			display: block;
			height: 40px;
			margin: auto;
			width: 40px;

			@media (min-width: 800px) and (max-width: 1199px) {
				height: 44px;
				width: 44px;
			}

			@media print,only screen and (min-width:1200px) {
				height: 48px;
				width: 48px;
			}
		}

		@media (min-width: 800px) and (max-width: 1199px) {
			font-size: 16.5px;
			line-height: 22px;
			padding: 11px;
		}

		@media print,only screen and (min-width:1200px) {
			font-size: 18px;
			line-height: 24px;
			padding: 12px;
		}
	}

	&.icon-left {
		svg,
		img {
			margin-right: 8px;

			@media print,only screen and (min-width:800px) {
				margin-right: 10px;
			}
		}
	}

	&.icon-right {
		svg,
		img {
			margin-left: 8px;

			@media print,only screen and (min-width:800px) {
				margin-left: 10px;
			}
		}
	}
}

// %gb-filter-button {
// 	@include b.filter-button(
// 		c.$white,
// 		2px solid c.$font-light,
// 		c.$font,
// 		f.$font-family-muli,
// 		12px,
// 		f.$font-weight-normal,
// 		1px,
// 		15px,
// 		null,
// 		14px 10px,
// 		null,
// 		null,
// 		null,
// 		null,
// 		null
// 	);

// 	border-radius: 10px;
// 	text-align: center;

// 	&::after {
// 		content: '';
// 	}

// 	&:active {
// 		background-color: c.$font-light;
// 		color: c.$white;
// 	}
// }

$transition: background 0.25s, border 0.25s, color 0.25s;

// %gb-primary-button {
// 	@include b.primary-button(
// 		transparent,
// 		2px solid c.$brand-red,
// 		c.$brand-red,
// 		f.$font-family-muli,
// 		14px,
// 		f.$font-weight-bold,
// 		1.56px,
// 		2px,
// 		12px 0,
// 		$transition,
// 		c.$brand-red-lighten,
// 		2px solid c.$brand-red-lighten,
// 		c.$white
// 	);

// 	-o-object-fit: contain;

// 	   object-fit: contain;
// 	text-align: center;

// 	&.gb-small-button {
// 		line-height: 1.75;
// 		padding: 0;
// 		position: relative;

// 		&::after {
// 			content: '';
// 			height: 170%;
// 			left: 0;
// 			position: absolute;
// 			top: -25%;
// 			visibility: visible;
// 			width: 100%;
// 		}
// 	}

// 	&.disabled {
// 		background-color: transparent;
// 		border: 1px solid c.$brand-red;
// 		color: c.$brand-red;
// 		opacity: .3;
// 	}

// 	&:focus {
// 		background-color: c.$brand-red;
// 		border: 3px solid c.$grey;
// 		color: c.$white;

// 		&:active,
// 		&:hover {
// 			background-color: c.$brand-red-lighten;
// 			color: c.$white;
// 		}

// 		&.disabled {
// 			background-color: transparent;
// 			border: 1px solid c.$brand-red;
// 			color: c.$brand-red;
// 		}
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			transparent,
// 			2px solid c.$brand-red,
// 			c.$brand-red,
// 			c.$brand-red-darken,
// 			c.$white
// 		);
// 	}

// 	/* For Inline and Stacked Icon Styling*/
// 	@extend %button-icon-base;

// 	@media print,only screen and (min-width:800px) {
// 		font-size: 16px;
// 		letter-spacing: 1.78px;
// 		line-height: 24px;
// 		padding: 16px 0;
// 	}
// }

%vpicker-gb-secondary-button {
	@include b.secondary-button(
		transparent,
		2px solid c.$brand-black,
		c.$brand-black,
		f.$font-family-muli,
		14px,
		f.$font-weight-bold,
		1.56px,
		1.43,
		10px 20px,
		$transition,
		c.$brand-black-lighten,
		2px solid c.$brand-black-lighten,
		c.$white
	);

	-o-object-fit: contain;

	   object-fit: contain;
	text-align: center;

	&.gb-small-button {
		line-height: 1.75;
		padding: 0;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&.disabled {
		background-color: transparent;
		border: 2px solid c.$brand-black;
		color: c.$brand-black;
		opacity: .3;
	}

	&:focus {
		background-color: transparent;
		border: 3px solid c.$grey;
		color: c.$brand-black;

		&:active,
		&:hover {
			background-color: c.$brand-black-lighten;
			color: c.$white;
		}

		&.disabled {
			background-color: transparent;
			border: 2px solid c.$brand-black;
			color: c.$brand-black;
		}
	}

	&.invert {
		@include b.button-invert(
			null,
			2px solid c.$grey,
			c.$grey,
			c.$brand-black-lighten,
			c.$white
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@media print,only screen and (min-width:800px) {
		font-size: 16px;
		letter-spacing: 1.78px;
		line-height: 1.5;
		padding: 14px 20px;
	}
}


// %gb-tertiary-button {
// 	@include b.primary-button(
// 		transparent,
// 		2px solid c.$white,
// 		c.$brand-black,
// 		f.$font-family-muli,
// 		14px,
// 		f.$font-weight-bold,
// 		1.56px,
// 		20px,
// 		12px 0,
// 		$transition,
// 		transparent,
// 		2px solid c.$brand-black,
// 		c.$brand-black
// 	);

// 	text-align: center;
// 	text-decoration: underline;

// 	&.gb-small-button {
// 		line-height: normal;
// 		padding: 10px 25px 11px 26px;
// 		position: relative;

// 		&::after {
// 			content: '';
// 			height: 170%;
// 			left: 0;
// 			position: absolute;
// 			top: -25%;
// 			visibility: visible;
// 			width: 100%;
// 		}
// 	}

// 	&.disabled {
// 		background-color: transparent;
// 		border: 2px solid c.$white;
// 		color: c.$brand-black;
// 		opacity: .3;
// 	}

// 	&:focus {
// 		border: 3px solid c.$grey;

// 		&.disabled {
// 			border: 2px solid c.$white;
// 		}
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			transparent,
// 			2px solid c.$brand-black,
// 			c.$grey,
// 			transparent,
// 			c.$brand-black
// 		);
// 	}

// 	/* For Inline and Stacked Icon Styling*/
// 	@extend %button-icon-base;

// 	@media print,only screen and (min-width:800px) {
// 		font-size: 16px;
// 		letter-spacing: 1.78px;
// 		line-height: 24px;
// 		padding: 16px 0;
// 	}
// }

// %gb-link-footer {
// 	@include b.link(
// 		c.$white,
// 		f.$font-family-muli,
// 		16px,
// 		f.$font-weight-bold,
// 		normal,
// 		22px,
// 		2px 0,
// 		c.$white
// 	);

// 	&.invert {
// 		@include b.link-invert(
// 			c.$white,
// 			c.$white
// 		);
// 	}
// }

// %gb-link {
// 	@include b.link(
// 		c.$brand-red,
// 		inherit,
// 		1.3rem,
// 		f.$font-weight-bold,
// 		.05rem,
// 		1.539,
// 		.5rem 0,
// 		c.$brand-red-darken
// 	);

// 	&.invert {
// 		@include b.link-invert(
// 			c.$white,
// 			c.$white-darken
// 		);
// 	}
// }

// %gb-icon-button {
// 	@extend %button-icon-base;
// 	color: c.$brand-black-lighten;
// 	display: inline-block;
// 	padding: 1rem;
// 	width: auto;

// 	&:hover {
// 		color: c.$brand-black;

// 		svg {
// 			fill: c.$brand-black;
// 		}
// 	}
// }

// %gb-list-item-padding {
// 	&.no-padding {
// 		padding-left: 0;
// 		padding-right: 0;

// 		&::after {
// 			right: 0;
// 		}
// 	}
// }

// %gb-list-item-primary {
// 	@include b.list-item-button(
// 		c.$brand-black-lighten,
// 		c.$white,
// 		f.$font-family-muli,
// 		1.5rem,
// 		1.5rem,
// 		1.5rem,
// 		f.$font-weight-bold,
// 		normal,
// 		2,
// 		1px solid c.$font-light,
// 		none,
// 		0,
// 		1rem 2rem,
// 		1rem 2rem,
// 		1rem 2rem,
// 		$transition,
// 		c.$brand-black,
// 		none,
// 		c.$brand-black,
// 		none
// 	);

// 	&:hover {
// 		color: c.$white;
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$grey-extra-light,
// 			1px solid c.$font-light,
// 			c.$brand-black,
// 			c.$white,
// 			c.$brand-black
// 		);

// 		border-width: 0 0 1px;

// 		&.active {
// 			background-color: c.$white;
// 		};

// 		&:hover {
// 			background-color: c.$white;
// 			color: c.$brand-black;
// 		}
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-secondary {
// 	@include b.list-item-button(
// 		c.$brand-red,
// 		c.$white,
// 		f.$font-family-muli,
// 		1.5rem,
// 		1.5rem,
// 		1.5rem,
// 		f.$font-weight-bold,
// 		normal,
// 		2,
// 		2px solid c.$brand-red-darken,
// 		none,
// 		0,
// 		1rem 2rem,
// 		1rem 2rem,
// 		1rem 2rem,
// 		$transition,
// 		c.$brand-red-darken,
// 		none,
// 		c.$brand-red-darken,
// 		none
// 	);

// 	text-align: center;

// 	&:hover {
// 		color: c.$white;
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$white,
// 			2px solid c.$grey-extra-light,
// 			c.$brand-red,
// 			c.$white,
// 			c.$brand-red
// 		);

// 		border-width: 0 0 2px;

// 		&.active {
// 			background-color: c.$brand-red;
// 			color: c.$white;
// 		};

// 		&:hover {
// 			background-color: c.$white;
// 			color: c.$brand-red;
// 		}
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-tertiary {
// 	@include b.list-item-button(
// 		c.$white,
// 		c.$brand-black,
// 		f.$font-family-muli,
// 		1.5rem,
// 		1.5rem,
// 		1.5rem,
// 		f.$font-weight-bold,
// 		normal,
// 		2,
// 		1px solid c.$font-light,
// 		none,
// 		0,
// 		1rem 2rem,
// 		1rem 2rem,
// 		1rem 2rem,
// 		none,
// 		c.$white,
// 		none,
// 		c.$white,
// 		none
// 	);

// 	overflow: hidden;
// 	position: relative;

// 	&::before {
// 		background-color: c.$brand-red-darken;
// 		content: '';
// 		height: 100%;
// 		left: -4px;
// 		position: absolute;
// 		top: 0;
// 		transition: left 0.15s;
// 		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
// 		width: 4px;
// 	}

// 	&.active,
// 	&:hover {
// 		color: c.$brand-black-lighten;

// 		&::before {
// 			left: 0;
// 		}
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$brand-black-lighten,
// 			1px solid c.$font-light,
// 			c.$white,
// 			c.$brand-black,
// 			c.$white
// 		);

// 		border-width: 0 0 1px;

// 		&.active,
// 		&:hover {
// 			background-color: c.$brand-black;
// 			color: c.$white;
// 		};
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-inline-icon-primary {
// 	@extend %gb-list-item-primary;
// }

// %gb-list-item-inline-icon-secondary {
// 	@extend %gb-list-item-secondary;
// }

// %gb-list-item-inline-icon-tertiary {
// 	@extend %gb-list-item-tertiary;
// }

// %gb-list-item-description {
// 	@include b.list-item-description(
// 		.875rem,
// 		f.$font-family-muli,
// 		f.$font-weight-normal,
// 		normal,
// 		1.429,
// 		c.$grey
// 	);
// }

// %gb-primary-button-inline-icon {
// 	@extend %gb-primary-button;
// }

// %gb-primary-button-stacked-icon {
// 	@extend %gb-primary-button;
// }

%vpicker-gb-secondary-button-inline-icon {
	@extend %vpicker-gb-secondary-button;
}

// %gb-secondary-button-stacked-icon {
// 	@extend %gb-secondary-button;
// }

// %gb-tertiary-button-inline-icon {
// 	@extend %gb-tertiary-button;
// }

// .gb-primary-button {
// 	@extend %gb-primary-button;
// }

.vpicker-gb-secondary-button {
	@extend %vpicker-gb-secondary-button;
}

// .gb-tertiary-button {
// 	@extend %gb-tertiary-button;
// }

// .gb-link-footer {
// 	@extend %gb-link-footer;
// }

// .gb-link {
// 	@extend %gb-link;
// }

// .gb-filter-button {
// 	@extend %gb-filter-button;
// }

// .gb-list-item-primary {
// 	@extend %gb-list-item-primary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-secondary {
// 	@extend %gb-list-item-secondary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-tertiary {
// 	@extend %gb-list-item-tertiary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-primary {
// 	@extend %gb-list-item-inline-icon-primary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-secondary {
// 	@extend %gb-list-item-inline-icon-secondary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-tertiary {
// 	@extend %gb-list-item-inline-icon-tertiary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-icon-button {
// 	@extend %gb-icon-button;
// }

// .gb-primary-button-inline-icon {
// 	@extend %gb-primary-button-inline-icon;
// }

// .gb-primary-button-stacked-icon {
// 	@extend %gb-primary-button-stacked-icon;
// }

.vpicker-gb-secondary-button-inline-icon {
	@extend %vpicker-gb-secondary-button-inline-icon;
}

// .gb-secondary-button-stacked-icon {
// 	@extend %gb-secondary-button-stacked-icon;
// }

// .gb-tertiary-button-inline-icon {
// 	@extend %gb-tertiary-button-inline-icon;
// }