@use 'button' as b;
@use '../../chevy-ev/colors' as c;
@use '../../chevy-ev/fonts' as f;
@use '../../chevy-ev/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.icon-stacked {
		svg,
		img {
			display: block;
			margin: auto auto .21739rem;
		}
	}

	&.icon-left {
		svg,
		img {
			margin-right: 12px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-left: 12px;
		}
	}
}

%gb-primary-button {
	@include b.primary-button(
		c.$chevy-ev-blue-base,
		1px solid c.$chevy-ev-blue-base,
		c.$white,
		f.$font-family-roboto,
		16px,
		f.$font-weight-bold,
		normal,
		1,
		12px 24px,
		background .5s cubic-bezier(0, 1, .5, 1),
		c.$chevy-ev-blue-bright,
		1px solid c.$chevy-ev-blue-bright,
		null
	);

	align-items: center;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	height: 48px;
	justify-content: center;
	text-transform: uppercase;

	&.gb-small-button {
		line-height: 2;
		padding: 0;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&:active {
		background-color: c.$chevy-ev-blue-bright;
		border-color: c.$chevy-ev-blue-bright;
		color: c.$white;
	}

	&:focus {
		background: c.$chevy-ev-blue-base;
		box-shadow: 0 0 10px #4682ef;
	}

	&.disabled {
		background-color: c.$gray-10;
		border-color: c.$gray-10;
		box-shadow: none;
		color: c.$gray-50;
	}

	&.invert {
		@include b.button-invert(
			c.$white,
			1px solid c.$white,
			c.$gray-90,
			c.$gray-20,
			null
		);

		&:hover,
		&:active {
			border-color: c.$gray-20;
		}

		&.disabled {
			background-color: c.$gray-90;
			border-color: c.$gray-90;
			color: c.$gray-80;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		1px solid c.$gray-90,
		c.$gray-90,
		f.$font-family-roboto,
		16px,
		f.$font-weight-bold,
		normal,
		1,
		12px 24px,
		background .5s cubic-bezier(0, 1, .5, 1),
		c.$gray-100-chevy-ev,
		1px solid c.$gray-100-chevy-ev,
		c.$white
	);

	align-items: center;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	height: 48px;
	justify-content: center;

	&.gb-small-button {
		line-height: 2;
		padding: 0;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&:active {
		background-color: c.$gray-100-chevy-ev;
		border-color: c.$gray-100-chevy-ev;
		color: c.$white;
	}

	&:focus {
		background: transparent;
		border-color: c.$gray-80;
		box-shadow: 0 0 10px #4682ef;
		color: c.$gray-90;
	}

	&.disabled {
		background-color: transparent;
		border-color: c.$gray-30;
		box-shadow: none;
		color: c.$gray-50;
	}

	&.invert {
		@include b.button-invert(
			transparent,
			1px solid c.$white,
			c.$white,
			c.$gray-20,
			c.$gray-90
		);

		&:hover,
		&:active {
			border-color: c.$gray-20;
		}

		&.disabled {
			background-color: transparent;
			border-color: c.$gray-90;
			color: c.$gray-80;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-tertiary-button {
	@include b.primary-button(
		transparent,
		none,
		c.$chevy-ev-blue-base,
		f.$font-family-roboto,
		16px,
		f.$font-weight-bold,
		normal,
		1,
		12px 24px,
		background .5s cubic-bezier(0, 1, .5, 1),
		transparent,
		none,
		c.$chevy-ev-blue-bright
	);

	align-items: center;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	height: 48px;
	justify-content: center;

	&.gb-small-button {
		line-height: 2;
		padding: 0;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&:active {
		color: c.$chevy-ev-blue-bright;
	}

	&:focus {
		color: c.$chevy-ev-blue-base;
	}

	&.disabled {
		color: c.$gray-50;
	}

	&.invert {
		@include b.button-invert(
			transparent,
			none,
			c.$white,
			transparent,
			c.$chevy-ev-blue-bright
		);

		&:hover,
		&:active {
			color: c.$chevy-ev-blue-bright;
		}

		&.disabled {
			color: c.$gray-50;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link {
	@include b.link(
		c.$chevy-ev-blue-base,
		f.$font-family-roboto,
		1rem,
		f.$font-weight-medium,
		1px,
		1.38,
		null,
		c.$chevy-ev-blue-bright
	);

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$white
		);
	}
}

%gb-icon-button {
	@extend %button-icon-base;
	background-color: c.$gray-100-chevy-ev;
	border-radius: 23px;
	cursor: pointer;
	display: inline-block;
	height: i.$icon-medium;
	padding: 0;
	width: i.$icon-medium;

	svg,
	img {
		color: c.$gray-10;
		height: i.$icon-small;
		left: 12px;
		position: relative;
		top: 12px;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.disabled {
		background-color: c.$gray-10;

		svg {
			color: c.$gray-50-chevy-ev;
		}

		&:active,
		&:hover {
			background-color: c.$gray-10;
		}
	}

	&:active,
	&:hover {
		background-color: c.$gray-80;
	}

	&.invert {
		background-color: c.$white;

		svg {
			color: c.$gray-90;
		}

		&:active,
		&:hover {
			background-color: c.$gray-20;
		}

		&.disabled {
			background-color: c.$gray-90;

			svg {
				color: c.$gray-80;
			}

			&:active,
			&:hover {
				background-color: c.$gray-90;
			}
		}
	}

	@media print,only screen and (min-width:800px) {
		border-radius: 48px;
		height: i.$icon-large;
		width: i.$icon-large;

		svg,
		img {
			height: i.$icon-medium;
			left: 24px;
			top: 24px;
			width: i.$icon-medium;
		}
	}
}

%gb-icon-outline-button {
	@extend %button-icon-base;
	background-color: transparent;
	border: 2px solid c.$gray-90;
	border-radius: 23px;
	cursor: pointer;
	display: inline-block;
	height: i.$icon-medium;
	padding: 0;
	width: i.$icon-medium;

	svg,
	img {
		color: c.$gray-90;
		height: i.$icon-small;
		left: 10px;
		position: relative;
		top: 10px;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.disabled {
		border-color: c.$gray-30;

		svg {
			color: c.$gray-50-chevy-ev;
		}

		&:active,
		&:hover {
			background-color: transparent;

			svg {
				color: c.$gray-50-chevy-ev;
			}
		}
	}

	&:active,
	&:hover {
		background-color: c.$gray-100-chevy-ev;
		/*border-color: c.$gray-100-chevy-ev;*/

		svg,
		img {
			color: c.$gray-10;
		}
	}

	&.invert {
		border-color: c.$gray-10;

		svg {
			color: c.$gray-10;
		}

		&:active,
		&:hover {
			background-color: c.$gray-20;
			border-color: c.$gray-20;

			svg {
				color: c.$gray-90;
			}
		}

		&.disabled {
			background-color: transparent;
			border-color: c.$gray-90;

			svg {
				color: c.$gray-80;
			}

			&:active,
			&:hover {
				background-color: transparent;
			}
		}
	}

	@media print,only screen and (min-width:800px) {
		border-radius: 48px;
		height: i.$icon-large;
		width: i.$icon-large;

		svg,
		img {
			height: i.$icon-medium;
			left: 22px;
			top: 22px;
			width: i.$icon-medium;
		}
	}
}

%gb-list-item-primary {
	@include b.list-item-button(
		transparent,
		c.$grey-dark,
		f.$font-family-roboto,
		.7rem,
		.7rem,
		.7rem,
		f.$font-weight-normal,
		normal,
		1,
		1px solid c.$grey-mid,
		3px solid transparent,
		0,
		1rem,
		1rem,
		1rem,
		null,
		transparent,
		none,
		transparent,
		3px solid c.$chevy-ev-blue-base
	);

	&:hover { 
		border-left: 3px solid c.$chevy-ev-blue-bright;
		color: c.$grey-dark;

	}
}

%gb-list-item-description {
	@include b.list-item-description(
		.875rem,
		f.$font-family-roboto,
		f.$font-weight-normal,
		normal,
		1.429,
		c.$grey
	);
}

html[dir='rtl'] {
	%button-icon-base {
		&.icon-right {
			svg,
			img {
				margin-right: 12px;
			}
		}

		&.icon-left {
			svg,
			img {
				margin-left: 12px;
			}
		}
	}

	%gb-icon-button {
		svg,
		img {
			right: 12px;

			@media print,only screen and (min-width:800px) {
				right: 24px;
			}
		}
	}

	%gb-icon-outline-button {
		svg,
		img {
			right: 10px;

			@media print,only screen and (min-width:800px) {
				right: 22px;
			}
		}
	}
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-primary-button-stacked-icon {
	@extend %gb-primary-button;
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button;
}

%gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button;
}

%gb-tertiary-button-stacked-icon {
	@extend %gb-tertiary-button;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-tertiary-button {
	@extend %gb-tertiary-button;
}

.gb-link {
	@extend %gb-link;
}

.gb-list-item-primary {
	@extend %gb-list-item-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-icon-outline-button {
	@extend %gb-icon-outline-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-primary-button-stacked-icon {
	@extend %gb-primary-button-stacked-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button-stacked-icon;
}

.gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button-inline-icon;
}

.gb-tertiary-button-stacked-icon {
	@extend %gb-tertiary-button-stacked-icon;
}
