@use 'button' as b;
@use '../../utils/gb_typography' as gbt;
@use '../../gm-parts/colors' as c;
@use '../../gm-parts/fonts' as f;
@use '../../gm-parts/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.icon-left {
		svg,
		img {
			margin-bottom: 4px;
			margin-right: 10px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-bottom: 4px;
			margin-left: 10px;
		}
	}
}

$transition: background .25s, border .25s, color .25s;

%link-button-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%204%200%208V0z%22%20fill%3D%22%230072CE%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-icon-arrow-hover {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%204%200%208V0z%22%20fill%3D%22%2326262680%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-icon-arrow-left {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%204%204%204V0z%22%20fill%3D%22%230072CE%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-icon-arrow-left-hover {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%204%204%204V0z%22%20fill%3D%22%2326262680%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-invert-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22m10%208-4%204V4z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-invert-icon-arrow-hover {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23d9d9d6%22%20d%3D%22m10%208-4%204V4z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-invert-icon-arrow-left {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22m6%208%204%204V4z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-invert-icon-arrow-left-hover {
	content: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23d9d9d6%22%20d%3D%22m6%208%204%204V4z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%gb-primary-button {
	@include b.primary-button(
		c.$gm-blue,
		1px solid c.$gm-blue,
		c.$white,
		f.$font-family-overpass,
		18px,
		f.$font-weight-ultra,
		0,
		1rem,
		1.5rem .75rem,
		$transition,
		transparent,
		1px solid c.$gm-blue,
		c.$gm-blue
	);

	min-height: 42px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&:active {
		background-color: c.$white;
		border: 3px solid c.$blue-light1;
		color: c.$font;
	}

	&.disabled {
		opacity: .5;

		&:hover {
			background-color: c.$blue-dark1;
			border: 3px solid c.$blue-dark1;
			box-shadow: none;
			color: c.$white;

			&:focus,
			&:active,
			&.gb-target-zone-button-active {
				background-color: c.$blue-dark1;
				border: 3px solid c.$blue-dark1;
				box-shadow: none;
				color: c.$white;
			}
		}

		&:active {
			background-color: c.$blue-dark1;
			border: 3px solid c.$blue-dark1;
			color: c.$white;
		}
	}

	&:hover {
		&:active {
			box-shadow: none;
		}

		&:focus {
			box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		}
	}

	&:focus {
		background-color: c.$blue-dark2;
		border: 1px solid c.$form-highlight;
		box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		color: c.$white;

		&:active,
		&:hover,
		&.gb-target-zone-button-active {
			background-color: c.$white;
			border: 3px solid c.$blue-light1;
			color: c.$font;
		}

		&.disabled {
			border: 3px solid c.$blue-dark2;
			box-shadow: none;
		}
	}

	&.invert {
		@include b.button-invert(
			c.$gm-parts-black-fifty-percent,
			1px solid c.$white,
			c.$white,
			c.$white,
			rgba(38, 38, 38, .65)
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		1px solid c.$black-two,
		c.$black-two,
		f.$font-family-overpass,
		18px,
		f.$font-weight-ultra,
		0,
		1rem,
		1.5rem .75rem,
		$transition,
		c.$black-two,
		1px solid c.$black-two,
		c.$white
	);

	min-height: 40px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&:active {
		background-color: transparent;
		border: 3px solid c.$blue-light1;
		color: c.$font;
	}

	&.disabled {
		opacity: .5;

		&:hover {
			background-color: transparent;
			border: 3px solid c.$blue-dark2;
			box-shadow: none;
			color: c.$blue-dark2;

			&:focus,
			&:active {
				background-color: transparent;
				border: 3px solid c.$blue-dark2;
				box-shadow: none;
				color: c.$blue-dark2;
			}
		}
	}

	&:hover {
		&:focus,
		&:active {
			background-color: transparent;
			border: 3px solid c.$blue-light1;
			box-shadow: none;
			color: c.$font;
		}
	}

	&:focus {
		background-color: transparent;
		border: 3px solid c.$blue-dark1;
		box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		color: c.$blue-dark;
		-o-object-fit: contain;
		   object-fit: contain;
	}

	&.invert {
		@include b.button-invert(
			c.$gm-parts-black-fifty-percent,
			1px solid rgb(99,99,99),
			c.$white,
			c.$white,
			rgba(38,38,38,.65)
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-tertiary-button {
	@include b.primary-button(
		transparent,
		none,
		c.$gm-blue,
		f.$font-family-overpass,
		18px,
		f.$font-weight-ultra,
		normal,
		normal,
		24px 12px,
		$transition,
		transparent,
		none,
		c.$grey-very-dark
	);

	min-height: 40px;
	-o-object-fit: contain;
	   object-fit: contain;
	text-align: center;

	&:active {
		background-color: transparent;
		border: 3px solid c.$font-light;
		color: c.$font;
	}

	&.disabled {
		border-color: c.$white;
		opacity: .5;

		&:hover {
			background-color: transparent;
			border: 3px solid c.$white;
			box-shadow: none;
			color: c.$font;

			&:focus,
			&:active {
				background-color: transparent;
				border: 3px solid c.$white;
				box-shadow: none;
				color: c.$font;
			}
		}

		&:active {
			background-color: transparent;
			border: 3px solid c.$white;
			color: c.$font;
		}
	}

	&:hover {
		&:active {
			box-shadow: none;
		}

		&:focus {
			box-shadow: 0 0 3px 3px c.$form-highlight;
		}
	}

	&:focus {
		background-color: transparent;
		border: 1px solid c.$form-highlight;
		box-shadow: 0 0 3px 3px rgba(c.$form-highlight, .6);
		color: c.$font;

		&:active,
		&:hover {
			background-color: transparent;
			border: 3px solid c.$font-light;
			color: c.$font;
		}

		&.disabled {
			border: 3px solid c.$white;
			box-shadow: none;
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			none,
			c.$white,
			transparent,
			c.$gm-parts-white-seventy-five-percent
		);

	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link-footer {
	@include gbt.gb-typography(
		c.$white,
		f.$font-family-overpass,
		16px,
		16px,
		16px,
		f.$font-weight-normal,
		1.375,
		null,
		/* No Override so no need to pass again*/
		null,
		/* No Override so no need to pass again*/
		normal,
		null,
		/* No Override so no need to pass again*/
		null /* No Override so no need to pass again*/
	);

	display: block;
	margin-bottom: 8px;
	text-decoration: none;

	&.invert {
		@include b.link-invert(c.$white, c.$white);
	}
}

%gb-link {
	@include b.link(
		c.$gm-blue,
		f.$font-family-overpass,
		18px,
		f.$font-weight-ultra,
		normal,
		16px,
		.75rem 0,
		c.$gm-parts-black-fifty-percent
	);

	align-items: center;
	display: inline-flex;
	justify-content: flex-start;

	.gb-link-label {
		font-family: f.$font-family-overpass;
		font-size: 18px;
	}

	&.invert {
		@include b.link-invert(c.$white, c.$gm-gray);

		&:not(.icon-left) {
			&::after {
				@extend %link-button-invert-icon-arrow-base;
				margin: .25rem 0 0 .375rem;
				width: 16px;
			}
		}

		&.icon-left {
			&::before {
				@extend %link-button-invert-icon-arrow-left;
				margin: .25rem .5rem 0 0;
				width: 16px;
			}
		}

		&:active,
		&:hover,
		&:focus,
		&.gb-target-zone-button-active {
			&:not(.icon-left) {
				&::after {
					@extend %link-button-invert-icon-arrow-hover;
					margin: .25rem 0 0 .375rem;
					width: 16px;
				}
			}

			&.icon-left {
				&::before {
					@extend %link-button-invert-icon-arrow-left-hover;
					margin: .25rem .5rem 0 0;
					width: 16px;
				}
			}
		}
	}

	&:not(.icon-left) {
		&::after {
			@extend %link-button-icon-arrow-base;
			margin: 0 0 .25rem .625rem;
			width: 16px;
		}
	}

	&.icon-left {
		&::before {
			@extend %link-button-icon-arrow-left;
			margin: 0 0 .25rem .5rem;
			width: 16px;
		}
	}

	&:active,
	&:hover,
	&:focus,
	&.gb-target-zone-button-active {
		&:not(.icon-left) {
			&::after {
				@extend %link-button-icon-arrow-hover;
				margin: 0 0 .25rem .625rem;
				width: 16px;
			}
		}

		&.icon-left {
			&::before {
				@extend %link-button-icon-arrow-left-hover;
				margin: 0 0 .25rem .5rem;
				width: 16px;
			}
		}
	}
}

%gb-icon-button {
	@extend %button-icon-base;

	display: inline-block;
	height: i.$icon-large;
	padding: 0;
	width: i.$icon-large;

	svg,
	img {
		height: i.$icon-large;
		vertical-align: middle;
		width: i.$icon-large;
	}
}

html[dir='rtl'] {
	%button-icon-base {
		&.icon-right {
			svg,
			img {
				margin-right: 10px;
			}
		}

		&.icon-left {
			svg,
			img {
				margin-left: 10px;
			}
		}
	}
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-tertiary-button {
	@extend %gb-tertiary-button;
}

.gb-link-footer {
	@extend %gb-link-footer;
}

.gb-link {
	@extend %gb-link;
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button-inline-icon;
}
