@use 'button' as b;
@use '../../cadillac/colors' as c;
@use '../../cadillac/fonts' as f;
@use '../../cadillac/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.icon-stacked {
		svg,
		img {
			display: block;
			margin: auto auto calc(0.5468 * #{com.$gmux-base-font});

			@include bp.medium-and-above {
				margin: auto auto calc(0.5859 * #{com.$gmux-base-font});
			}

			@include bp.large-and-above {
				margin: auto auto calc(0.625 * #{com.$gmux-base-font});
			}
		}
	}

	&.icon-left {
		svg,
		img {
			margin-right: 5px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-left: 5px;
		}
	}
}

// %gb-filter-button {
// 	@include b.filter-button(
// 		c.$grey-extra-light,
// 		transparent,
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		1.125rem,
// 		f.$font-weight-normal,
// 		1px,
// 		1.7,
// 		0 1.25rem 0.625rem 0,
// 		0.625rem,
// 		c.$grey-very-light,
// 		c.$grey-darker,
// 		20px,
// 		f.$font-weight-normal,
// 		10px
// 	);
// }

$transition: background 0.25s, border 0.25s, color 0.25s;

// %gb-primary-button {
// 	@include b.primary-button(
// 		c.$grey-darker,
// 		1px solid c.$grey-darker,
// 		c.$white,
// 		f.$cadillac-sans,
// 		14px,
// 		f.$font-weight-normal,
// 		.87px,
// 		20px,
// 		12px 0,
// 		$transition,
// 		c.$grey-light,
// 		1px solid c.$grey-light,
// 		c.$grey-darker
// 	);
// 	text-align: center;

// 	&.gb-small-button {
// 		border-width: 1px;
// 		line-height: 20px;
// 		padding: 1px;
// 		position: relative;

// 		&::after {
// 			content: '';
// 			height: 170%;
// 			left: 0;
// 			position: absolute;
// 			top: -25%;
// 			visibility: visible;
// 			width: 100%;
// 		}
// 	}

// 	&.disabled {
// 		background-color: c.$grey-light;
// 		border: 1px solid c.$grey-light;
// 		color: c.$grey-darker;
// 		opacity: .5;
// 	}

// 	&:hover {
// 		&:active {
// 			border: 1px solid c.$grey-light;
// 		}

// 		&:focus {
// 			border: 3px solid c.$grey-light;

// 		}
// 	}

// 	&:focus {
// 		background-color: c.$grey-darker;
// 		border: 3px solid c.$grey-light;
// 		color: c.$white;

// 		&:active,
// 		&:hover {
// 			background-color: c.$grey-light;
// 			color: c.$grey-darker;
// 		}

// 		&.disabled {
// 			background-color: c.$grey-light;
// 			border: 1px solid c.$grey-light;
// 			color: c.$grey-darker;
// 		}
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$grey-very-light,
// 			1px solid c.$grey-very-light,
// 			c.$grey-darker,
// 			c.$grey-light,
// 			c.$grey-darker
// 		);
// 	}

// 	/* For Inline and Stacked Icon Styling*/
// 	@extend %button-icon-base;

// 	@media print,only screen and (min-width:800px) {
// 		font-size: 16px;
// 		letter-spacing: 1.01px;
// 		line-height: 22px;
// 		padding: 17px 0;
// 	}
// }

%vpicker-gb-secondary-button {
	@include b.secondary-button(
		transparent,
		1px solid c.$grey-dark,
		c.$grey-darker,
		f.$cadillac-sans,
		14px,
		f.$font-weight-book,
		.87px,
		20px,
		11px 20px,
		$transition,
		c.$grey-darker,
		1px solid c.$grey-darker,
		c.$white
	);

	text-align: center;

	&.gb-small-button {
		border-width: 1px;
		line-height: 2;
		padding: 1px;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&.disabled {
		background-color: c.$grey-darker;
		border: 1px solid c.$grey-darker;
		color: c.$white;
		opacity: .5;
	}

	&:focus {
		background-color: c.$grey-darker;
		border: 3px solid c.$grey-light;
		color: c.$white;
		opacity: .5;

		&:active,
		&:hover {
			background-color: c.$grey-darker;
			color: c.$white;
			opacity: 1;
		}

		&.disabled {
			border: 1px solid c.$grey-darker;
			opacity: .5;
		}
	}

	&.invert {
		@include b.button-invert(
			null,
			1px solid c.$white,
			c.$white,
			c.$white,
			c.$grey-darker
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@media print,only screen and (min-width:800px) {
		font-size: 16px;
		letter-spacing: 1.01px;
		line-height: 22px;
		padding: 16px 20px;
	}
}


// %gb-tertiary-button {
// 	@include b.primary-button(
// 		transparent,
// 		1px solid c.$white,
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		14px,
// 		f.$font-weight-normal,
// 		.87px,
// 		20px,
// 		12px 0,
// 		$transition,
// 		transparent,
// 		1px solid c.$grey,
// 		c.$grey-darker
// 	);

// 	text-align: center;
// 	text-decoration: underline;

// 	&.gb-small-button {
// 		line-height: normal;
// 		padding: 10px 25px 11px 26px;
// 		position: relative;

// 		&::after {
// 			content: '';
// 			height: 170%;
// 			left: 0;
// 			position: absolute;
// 			top: -25%;
// 			visibility: visible;
// 			width: 100%;
// 		}
// 	}

// 	&:active,
// 	&:focus,
// 	&:hover {
// 		text-decoration: none;
// 	}

// 	&.disabled {
// 		background-color: transparent;
// 		border: 1px solid c.$grey;
// 		box-shadow: none;
// 		color: c.$grey-darker;
// 		opacity: .5;
// 		text-decoration: none;
// 	}

// 	&:focus {
// 		border: 3px solid c.$grey-light;

// 		&.disabled {
// 			border: 1px solid c.$grey;
// 		}
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			transparent,
// 			3px solid c.$grey-darker,
// 			c.$white,
// 			transparent,
// 			c.$white
// 		);

// 		border-radius: 37px;
// 	}

// 	/* For Inline and Stacked Icon Styling*/
// 	@extend %button-icon-base;

// 	@media print,only screen and (min-width:800px) {
// 		font-size: 16px;
// 		letter-spacing: 1.01px;
// 		line-height: 22px;
// 		padding: 17px 0;
// 	}
// }

// %gb-link-footer {
// 	@include b.link(
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		16px,
// 		f.$font-weight-normal,
// 		1.01px,
// 		22px,
// 		12px 19px,
// 		c.$grey-darker
// 	);

// 	margin: 13px 0 0;

// 	&.invert {
// 		@include b.link-invert(
// 			c.$white,
// 			c.$white
// 		);
// 	}
// }

// %gb-link {
// 	@include b.link(
// 		c.$grey-darker,
// 		inherit,
// 		1rem,
// 		f.$font-weight-book,
// 		2px,
// 		1.2,
// 		1rem 0,
// 		c.$grey-tint-70
// 	);

// 	&.invert {
// 		@include b.link-invert(
// 			c.$white,
// 			c.$gold-light
// 		);
// 	}

// 	&::after {
// 		content: url("data:image/svg+xml,%3Csvg%20viewBox='0 0 8.4 15.6'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolyline stroke='%239E8D6A'%20stroke-width='2'%20fill='none'%20points='0.9,0.8 6.9,7.8 0.9,14.8%20'/%3E%3C/svg%3E");
// 		display: inline-block;
// 		margin-left: .5625rem;
// 		width: .45rem;
// 	}
// }

// %gb-icon-button {
// 	@extend %button-icon-base;
// 	display: inline-block;
// 	padding: 1rem;
// 	width: auto;

// 	&:hover {
// 		color: c.$grey;

// 		svg {
// 			fill: c.$grey;
// 		}
// 	}
// }

// %gb-list-item-padding {
// 	&.small-list {
// 		padding-bottom: 1rem;
// 		padding-top: 1rem;
// 	}

// 	&.large-list {
// 		padding-bottom: 1.5rem;
// 		padding-top: 1.5rem;
// 	}

// 	&.no-padding {
// 		padding-left: 0;
// 		padding-right: 0;

// 		&::after {
// 			right: 0;
// 		}
// 	}
// }

// %gb-list-item-primary {
// 	@include b.list-item-button(
// 		transparent,
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		.875rem,
// 		.875rem,
// 		.875rem,
// 		f.$font-weight-book,
// 		.086rem,
// 		1,
// 		1px solid c.$grey-tint-20,
// 		none,
// 		0,
// 		1rem 5%,
// 		1rem,
// 		1rem,
// 		$transition,
// 		c.$blue,
// 		none,
// 		c.$blue-dark,
// 		none
// 	);

// 	&.active,
// 	&:hover {
// 		color: c.$white;
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$blue-dark,
// 			1px solid c.$grey-tint-20,
// 			c.$white,
// 			transparent,
// 			c.$grey-darker
// 		);

// 		border-width: 0 0 1px;

// 		&.active {
// 			background-color: c.$blue;
// 			color: c.$white;
// 		};

// 		&:hover {
// 			background-color: transparent;
// 			color: c.$grey-darker;
// 		}
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-secondary {
// 	@include b.list-item-button(
// 		transparent,
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		.875rem,
// 		.875rem,
// 		.875rem,
// 		f.$font-weight-book,
// 		.086rem,
// 		1,
// 		none,
// 		none,
// 		0,
// 		1rem 5%,
// 		1rem,
// 		1rem,
// 		$transition,
// 		c.$grey-tint-90,
// 		none,
// 		c.$grey-darker,
// 		none
// 	);

// 	&.active,
// 	&:hover {
// 		color: c.$white;
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$grey-darker,
// 			none,
// 			c.$white,
// 			transparent,
// 			c.$grey-darker
// 		);

// 		&.active {
// 			background-color: c.$grey-tint-90;
// 			color: c.$white;
// 		};

// 		&:hover {
// 			background-color: transparent;
// 			color: c.$grey-darker;
// 		}
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-tertiary {
// 	@include b.list-item-button(
// 		transparent,
// 		c.$grey-darker,
// 		f.$cadillac-sans,
// 		.875rem,
// 		.875rem,
// 		.875rem,
// 		f.$font-weight-book,
// 		.086rem,
// 		1,
// 		1px solid c.$grey-tint-20,
// 		none,
// 		0,
// 		1rem 5%,
// 		1rem,
// 		1rem,
// 		$transition,
// 		c.$grey-extra-light,
// 		none,
// 		c.$grey-light,
// 		none
// 	);

// 	&.active,
// 	&:hover {
// 		color: c.$grey-dark;
// 	}

// 	&.invert {
// 		@include b.button-invert(
// 			c.$grey-light,
// 			1px solid c.$grey-tint-20,
// 			c.$grey-dark,
// 			transparent,
// 			c.$grey-dark
// 		);

// 		border-width: 0 0 1px;

// 		&.active {
// 			background-color: c.$grey-extra-light;
// 			color: c.$grey-dark;
// 		};

// 		&:hover {
// 			background-color: transparent;
// 			color: c.$grey-dark;
// 		}
// 	}

// 	@extend %button-icon-base;

// 	@extend %gb-list-item-padding;
// }

// %gb-list-item-inline-icon-primary {
// 	@extend %gb-list-item-primary;
// }

// %gb-list-item-inline-icon-secondary {
// 	@extend %gb-list-item-secondary;
// }

// %gb-list-item-inline-icon-tertiary {
// 	@extend %gb-list-item-tertiary;
// }

// %gb-list-item-description {
// 	@include b.list-item-description(
// 		.875rem,
// 		f.$cadillac-sans,
// 		f.$font-weight-normal,
// 		normal,
// 		1.429,
// 		c.$grey
// 	);
// }

// %gb-primary-button-inline-icon {
// 	@extend %gb-primary-button;
// }

// %gb-primary-button-stacked-icon {
// 	@extend %gb-primary-button;
// }

%vpicker-gb-secondary-button-inline-icon {
	@extend %vpicker-gb-secondary-button;
}

// %gb-secondary-button-stacked-icon {
// 	@extend %gb-secondary-button;
// }

// %gb-tertiary-button-inline-icon {
// 	@extend %gb-tertiary-button;
// }

// .gb-primary-button {
// 	@extend %gb-primary-button;
// }

.vpicker-gb-secondary-button {
	@extend %vpicker-gb-secondary-button;
}

// .gb-tertiary-button {
// 	@extend %gb-tertiary-button;
// }

// .gb-link-footer {
// 	@extend %gb-link-footer;
// }

// .gb-link {
// 	@extend %gb-link;
// }

// .gb-filter-button {
// 	@extend %gb-filter-button;
// }

// .gb-list-item-primary {
// 	@extend %gb-list-item-primary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-secondary {
// 	@extend %gb-list-item-secondary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-tertiary {
// 	@extend %gb-list-item-tertiary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-primary {
// 	@extend %gb-list-item-inline-icon-primary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-secondary {
// 	@extend %gb-list-item-inline-icon-secondary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-list-item-inline-icon-tertiary {
// 	@extend %gb-list-item-inline-icon-tertiary;

// 	.gb-list-item-description {
// 		@extend %gb-list-item-description;
// 	}
// }

// .gb-icon-button {
// 	@extend %gb-icon-button;
// }

// .gb-primary-button-inline-icon {
// 	@extend %gb-primary-button-inline-icon;
// }

// .gb-primary-button-stacked-icon {
// 	@extend %gb-primary-button-stacked-icon;
// }

.vpicker-gb-secondary-button-inline-icon {
	@extend %vpicker-gb-secondary-button-inline-icon;
}

// .gb-secondary-button-stacked-icon {
// 	@extend %gb-secondary-button-stacked-icon;
// }

// .gb-tertiary-button-inline-icon {
// 	@extend %gb-tertiary-button-inline-icon;
// }

// html[dir='rtl'] {
// 	.gb-link {
// 		&::after {
// 			float: left;
// 			margin-left: 0;
// 			margin-right: .5625rem;
// 			transform: rotateX(180deg) rotateY(180deg);
// 		}
// 	}

// 	%button-icon-base {
// 		&.icon-right {
// 			svg,
// 			img {
// 				margin-right: 5px;
// 			}
// 		}

// 		&.icon-left {
// 			svg,
// 			img {
// 				margin-left: 5px;
// 			}
// 		}
// 	}
// }