%expander-base {
	display: block;
}

@mixin expander-btn(
	$bg-color,
	$color,
	$font-family,
	$font-size,
	$font-weight,
	$letter-spacing,
	$line-height,
	$padding,
	$icon-size,
	$icon-color,
	$icon-font-weight
) {
	align-items: center;
	background-color: $bg-color;
	color: $color;
	cursor: pointer;
	display: flex;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	justify-content: space-between;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	padding: $padding;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;

	&::before {
		color: $icon-color;
		content: '\FF0B'; /* Unicode for Plus*/
		display: inline-block;
		font-size: $icon-size;
		font-weight: $icon-font-weight;
		line-height: 0;
		order: 2;
	}
}

@mixin expander-btn-hover($bg-color, $border-color, $color, $icon-hover-color) {
	background-color: $bg-color;
	border-color: $border-color;
	color: $color;

	&::before {
		color: $icon-hover-color;
	}
}

@mixin expander-btn-active($bg-color, $border-color, $color, $icon-active-color) {
	background-color: $bg-color;
	border-color: $border-color;
	color: $color;

	&::before {
		color: $icon-active-color;
		content: '\FF0D'; /* Unicode for Minus*/
	}
}

@mixin expander-content($transition) {
	height: 0;
	overflow: hidden;
	transition: $transition;
}

@mixin expander-btn-disabled($padding, $color) {
	background: none;
	border: 0;
	color: $color;
	cursor: default;
	padding: $padding;

	&::before {
		content: '';
	}
}
