@use 'expander' as e;
@use '../../crossbrand/colors' as c;
@use '../../crossbrand/fonts' as f;
@use '../../utils/breakpoints' as bp;

.gb-expander {
	@extend %expander-base;

	>.gb-expander-btn {
		@include e.expander-btn(
			transparent,
			c.$grey,
			f.$font-family-gmglobal-sans,
			1rem,
			f.$font-weight-bold,
			normal,
			1,
			.625rem 0 .625rem .75rem,
			28px,
			c.$brand-blue,
			f.$font-weight-book
		);

		border-bottom: 1px solid c.$cool-grey1c;

		&::before {
			content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%3E%3Cpath%20d%3D%22M6.674%206.326l1.768-1.768%208.884%208.884-8.884%208.884-1.768-1.768%207.116-7.116z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
			transform: rotate(90deg);
		}

		@include bp.medium-only {
			padding: .688rem 0 .688rem 1rem;
		}

	}

	/* For Open / Close Animation*/
	>.gb-expander-content {
		@include e.expander-content(height .3s ease);
	}

	&.active {
		>.gb-expander-btn {
			@include e.expander-btn-active(null, null, null, null);

			&::before {
				content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%3E%3Cpath%20d%3D%22M6.674%206.326l1.768-1.768%208.884%208.884-8.884%208.884-1.768-1.768%207.116-7.116z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
				transform: initial;
			}
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	&[data-disabled] {
		>.gb-expander-btn {
			@include e.expander-btn-disabled(0 0 1rem, null);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	/*Classes if consumer wants a more control of when expander is active or disabled*/
	@include bp.small-only {
		&.gb-active-sm {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);

				&::before {
					content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%3E%3Cpath%20d%3D%22M6.674%206.326l1.768-1.768%208.884%208.884-8.884%208.884-1.768-1.768%207.116-7.116z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
					transform: initial;
				}
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-sm {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.medium-only {
		&.gb-active-med {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);

				&::before {
					content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%3E%3Cpath%20d%3D%22M6.674%206.326l1.768-1.768%208.884%208.884-8.884%208.884-1.768-1.768%207.116-7.116z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
					transform: initial;
				}
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-med {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.large-and-above {
		&.gb-active-lg {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);

				&::before {
					content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%3E%3Cpath%20d%3D%22M6.674%206.326l1.768-1.768%208.884%208.884-8.884%208.884-1.768-1.768%207.116-7.116z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
					transform: initial;
				}
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-lg {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(.5rem 0 .5rem 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
}
