@use 'expander' as e;
@use '../../gm-generic/colors' as c;
@use '../../gm-generic/fonts' as f;
@use '../../utils/breakpoints' as bp;

.gb-expander {
	@extend %expander-base;

	>.gb-expander-btn {
		@include e.expander-btn(
			transparent,
			c.$grey,
			f.$font-family-gmglobal-sans,
			1rem,
			f.$font-weight-bold,
			normal,
			1,
			1.5rem,
			28px,
			c.$brand-blue,
			f.$font-weight-book
		);

		border-bottom: 1px solid c.$grey-50;
	}

	/* For Open / Close Animation*/
	>.gb-expander-content {
		@include e.expander-content(height .3s ease);
	}

	&.active {
		>.gb-expander-btn {
			@include e.expander-btn-active(null, null, null, null);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	&[data-disabled] {
		>.gb-expander-btn {
			@include e.expander-btn-disabled(0 0 1rem, null);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	/*Classes if consumer wants a more control of when expander is active or disabled*/
	@include bp.small-only {
		&.gb-active-sm {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-sm {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.medium-only {
		&.gb-active-med {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-med {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.large-and-above {
		&.gb-active-lg {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-lg {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}
}
