@use 'expander' as e;
@use '../../cadillac/colors' as c;
@use '../../cadillac/fonts' as f;
@use '../../utils/breakpoints' as bp;

.gb-expander {
	@extend %expander-base;

	>.gb-expander-btn {
		@include e.expander-btn(
			c.$white,
			c.$grey-darker,
			f.$cadillac-sans,
			1.125rem,
			f.$font-weight-book,
			3px,
			1.5,
			1rem 2rem,
			28px,
			c.$gold-dark,
			f.$font-weight-book
		);

		border-bottom: 1px solid c.$grey-tint-20;

		&:hover {
			@include e.expander-btn-hover(null, null, null, c.$gold);
		}
	}

	/* For Open / Close Animation*/
	>.gb-expander-content {
		@include e.expander-content(height .3s ease);
	}

	&.active {
		>.gb-expander-btn {
			@include e.expander-btn-active(null, c.$white, null, c.$gold);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	&[data-disabled] {
		>.gb-expander-btn {
			@include e.expander-btn-disabled(0 0 1.25rem, null);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	/*Classes if consumer wants a more control of when expander is active or disabled*/
	@include bp.small-only {
		&.gb-active-sm {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, c.$white, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-sm {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1.25rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.medium-only {
		&.gb-active-med {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, c.$white, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-med {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1.25rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.large-and-above {
		&.gb-active-lg {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, c.$white, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-lg {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 1.25rem, null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}
}
