@use '../../common/common' as com;

@use 'expander' as e;
@use '../../chevy/colors' as c;
@use '../../chevy/fonts' as f;
@use '../../utils/breakpoints' as bp;

.gb-expander {
	@extend %expander-base;

	>.gb-expander-btn {
		@include e.expander-btn(
			c.$white,
			c.$grey-dark,
			f.$font-family-louis,
			15px,
			f.$font-weight-bold,
			normal,
			1.5,
			calc(1.25 * #{com.$gmux-base-font}) 0 calc(1.25 * #{com.$gmux-base-font}) calc(.938 * #{com.$gmux-base-font}),
			36px,
			c.$grey-mid,
			f.$font-weight-xbold
		);

		border: 1px solid c.$grey-mid;

		&:hover {
			@include e.expander-btn-hover(null, null, null, c.$gold);
		}

		@include bp.medium-and-above {
			padding: calc(1.09375 * #{com.$gmux-base-font}) calc(2.3437 * #{com.$gmux-base-font});
		}
	
		@include bp.large-and-above {
			padding: calc(1.2578 * #{com.$gmux-base-font}) calc(2.6953 * #{com.$gmux-base-font});
		}
	}

	/* For Open / Close Animation*/
	>.gb-expander-content {
		@include e.expander-content(height .01s ease);
	}

	&.active {
		>.gb-expander-btn {
			@include e.expander-btn-active(null, null, null, c.$gold);
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	&[data-disabled] {
		>.gb-expander-btn {
			@include e.expander-btn-disabled(0 0 calc(1.3281 * #{com.$gmux-base-font}), null);

			@include bp.medium-and-above {
				padding: 0 0 calc(1.5625 * #{com.$gmux-base-font});
			}
		
			@include bp.large-and-above {
				padding: 0 0 calc(1.7968 * #{com.$gmux-base-font});
			}
		}

		>.gb-expander-content {
			height: auto;
			visibility: visible;
		}
	}

	/*Classes if consumer wants a more control of when expander is active or disabled*/
	@include bp.small-only {
		&.gb-active-sm {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-sm {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 calc(1.3281 * #{com.$gmux-base-font}), null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.medium-only {
		&.gb-active-med {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-med {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 calc(1.5625 * #{com.$gmux-base-font}), null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	@include bp.large-and-above {
		&.gb-active-lg {
			>.gb-expander-btn {
				@include e.expander-btn-active(null, null, null, c.$gold);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}

		&.gb-disabled-lg {
			>.gb-expander-btn {
				@include e.expander-btn-disabled(0 0 calc(1.7968 * #{com.$gmux-base-font}), null);
			}
	
			>.gb-expander-content {
				height: auto;
				visibility: visible;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
}

:host(gb-global-footer),
.gb-expander {
	>.gb-expander-btn {
		background-color: c.$grey-very-light;
		border: 0 solid c.$grey-mid;
		border-bottom: 1px solid c.$grey-mid;

		&:hover {
			background-color: c.$white;
			border-color: c.$grey-mid;
			@include e.expander-btn-hover(null, null, null, c.$gold);
		}
	}

	&.active {
		>.gb-expander-btn {
			@include e.expander-btn-hover(null, null, null, c.$gold);
		}
	}
}
