

<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Alerts</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mb-6">
        <div class="col-12">
            <h1 class="mb-6"><small>Danger</small></h1>

            <div class="cit-alert alert-danger d-flex d-flex align-items-center" role="alert">
                <div class="icon">
                   <svg class="AlertCaution">
                        <use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
                    </svg>
                </div>
                <div class="text">
                    <h6 class="cit mb-0">The email address or password you entered is incorrect. Please try again.</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h1 class="mb-6"><small>Success</small></h1>

            <div class="cit-alert alert-success d-flex d-flex align-items-center" role="alert">
                <div class="icon">
                   <svg class="AlertCaution">
                        <use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
                    </svg>
                </div>
                <div class="text">
                    <h6 class="cit mb-0">All set! We resent the email.</h6>
                </div>
            </div>
        </div>
    </div>
        


</div>