

<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Alerts</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">


    <div class="row mb-6">
        <div class="col-12">
            <h1 class="mb-6"><small>Caution</small></h1>

            <div class="cit-alert alert-attention d-flex d-flex align-items-center" role="alert">
              <div class="icon">
                   <svg class="AlertAttention">
                        <use xlink:href="icons/symbol-defs.svg#AlertAttention"></use>
                    </svg>
                </div>
                <div class="text">
                    <h6 class="cit mb-0">We're sorry. This page is down temporarily for maintenance. Please try again later.</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-6">
        <div class="col-12">
            <h1 class="mb-6"><small>Danger</small></h1>

            <div class="cit-alert alert-danger d-flex d-flex align-items-center" role="alert">
                <div class="icon">
                   <svg class="AlertCaution">
                        <use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
                    </svg>
                </div>
                <div class="text">
                    <h6 class="cit mb-0">Sorry, your code has
expired. Please get the reset via <a href="" class="btn btn-link-dark-cit">Link</a>.</h6>
                </div>
            </div>
        </div>
    </div>



    <div class="row mb-6">
        <div class="col-12">
            <h1 class="mb-6"><small>Danger 2</small></h1>

            <div class="cit2-alert alert-danger d-flex flex-column" role="alert">
                <div class="content">
                    <div class="icon">
                        <svg class="icon-AlertCaution">
                            <use xlink:href="icons/symbol-defs.svg#icon-AlertCaution"></use>
                        </svg>
                    </div>
                    <div class="text">
                        <div class="gb-body1 heavy"><p class="mb-6">Plan 1 and Plan 2 plans have expired.</p></div>
                        <ul class="cit2-list-bullet mb-0">
                            <li class="gb-body1">Service 1</li>
                            <li class="gb-body1">Service 2</li>
                            <li class="gb-body1">Service 3</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-12">
            <h1 class="mb-6"><small>Success</small></h1>

            <div class="cit-alert alert-success d-flex d-flex align-items-center" role="alert">
                <div class="icon">
                    <span aria-hidden="true" class="icon-ui-checkcircle"></span>
                </div>
                <div class="text">
                    <h6 class="cit mb-0">All set! We resent the email.</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h1 class="mb-6"><small>Success 2</small></h1>
            
            <div class="cit2-alert alert-success d-flex flex-column mb-5" role="alert">
                <div class="content">
                    <div class="icon">
                        <span aria-hidden="true" class="icon-ui-checkcircle"></span>
                    </div>
                    <div class="text">
                        <div class="gb-body1 heavy"><p class="mb-0">Your services will be paused in 12 days.</p></div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>