

<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Alerts</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1><small>Info</small></h1>

            <div class="alert alert-info alert-dismissable">
                <span aria-hidden="true" class="icon-ui-info"></span>

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true" class="icon-ui-closedot"></span>
                </button> 


                <div class="card-body-alert info">
                    <p><strong>This is my Info alert</strong></p>
                    <p>that requires attention before proceeding. It can include an internal link, such as <a href="#" class="btn btn-link">Log In.</a></p>
                </div>
            </div>
        </div>

        <div class="col-12">
<pre>
<code class="html">
&lt;div class=&quot;alert alert-info alert-dismissable&quot;&gt;
    &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-info&quot;&gt;&lt;/span&gt;

    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-closedot&quot;&gt;&lt;/span&gt;
    &lt;/button&gt; 


    &lt;div class=&quot;card-body-alert info&quot;&gt;
        &lt;p&gt;&lt;strong&gt;This is my Info alert&lt;/strong&gt;&lt;/p&gt;
        &lt;p&gt;that requires attention before proceeding. It can include an internal link, such as &lt;a href=&quot;#&quot; class=&quot;btn btn-link&quot;&gt;Log In.&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </div>

        <div class="col-12">
            <h1><small>OVD Status</small></h1>

            <div class="alert alert-info alert-dismissable">
                 <span aria-hidden="true" class="icon-ui-checkfill green-text"></span>

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true" class="icon-ui-closedot"></span>
                </button> 

                <div class="card-body-alert info">
                    <p><strong>This is my OVD Status</strong></p>
                    <p>Supporting text</p>
                </div>
            </div>

        </div>

        <div class="col-12">
<pre>
<code class="html">
&lt;div class=&quot;alert alert-info alert-dismissable&quot;&gt;
     &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-checkfill green-text&quot;&gt;&lt;/span&gt;

    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-closedot&quot;&gt;&lt;/span&gt;
    &lt;/button&gt; 

    &lt;div class=&quot;card-body-alert info&quot;&gt;
        &lt;p&gt;&lt;strong&gt;This is my OVD Status&lt;/strong&gt;&lt;/p&gt;
        &lt;p&gt;Supporting text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </div>


    </div>

    
    <div class="row">
        <div class="col-12">
            <h1><small>Success</small></h1>

            <div class="alert alert-success alert-dismissable">
                <span aria-hidden="true" class="icon-ui-check"></span>


                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true" class="icon-ui-closedot"></span>
                </button> 

                <div class="undo">
                    <a href="#">Undo</a>
                </div>

                <div class="card-body-alert-undo success">
                    <p><strong>This isThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alert my Success alert</strong></p>
                    <p>Success supporting text</p> 
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
<pre>
<code class="html">
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12&quot;&gt;
        &lt;h1&gt;&lt;small&gt;Success&lt;/small&gt;&lt;/h1&gt;

        &lt;div class=&quot;alert alert-success alert-dismissable&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-check&quot;&gt;&lt;/span&gt;


            &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-closedot&quot;&gt;&lt;/span&gt;
            &lt;/button&gt; 

            &lt;div class=&quot;undo&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Undo&lt;/a&gt;
            &lt;/div&gt;

            &lt;div class=&quot;card-body-alert-undo success&quot;&gt;
                &lt;p&gt;&lt;strong&gt;This isThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alertThis is my Success alert my Success alert&lt;/strong&gt;&lt;/p&gt;
                &lt;p&gt;Success supporting text&lt;/p&gt; 
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </div>

    </div>




    <div class="row">
        <div class="col-12">
            <h1><small>Danger</small></h1>
    
            <div class="alert alert-danger alert-dismissable">
                <span aria-hidden="true" class="icon-ui-attention"></span>

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span aria-hidden="true" class="icon-ui-closedot"></span>
                </button> 

                 <div class="card-body-alert danger">
                    <p><strong>This is my Danger alert</strong></p>
                    <p>Danger supporting text</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
<pre>
<code class="html">
&lt;div class=&quot;alert alert-danger alert-dismissable&quot;&gt;
    &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-attention&quot;&gt;&lt;/span&gt;

    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-closedot&quot;&gt;&lt;/span&gt;
    &lt;/button&gt; 

     &lt;div class=&quot;card-body-alert danger&quot;&gt;
        &lt;p&gt;&lt;strong&gt;This is my Danger alert&lt;/strong&gt;&lt;/p&gt;
        &lt;p&gt;Danger supporting text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </div>

    </div>


   






</div>