

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Modal for Allison</h1>
			<hr>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModal">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content-cit">

			<div class="modal-header-cit dflex flex-column">
				<button type="button" class="close-cit" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="icon-ui-closedot"></span>
				</button>
				<div class="modal-title">
					<h3 class="cit35">Where's My Security Code</h3>
					<span class="citation-bar onstar"></span>
				</div>
			</div>

			<div class="modal-body-cit">
				<div class="row">
					<div class="col-12 col-md-4">
						<img src="img/CVV@2x.png" class="img-responsive-fullwidth mb-6 mb-md-0" alt="Responsive image">
					</div>
					<div class="col-12 col-md-8">
						<p class="cit mb-0">Visa, Mastercard and Discover display the three-digit security code on the back of your card, to the right of your signature.</p>
					</div>
				</div>
			</div>

				

		</div>
	</div>
</div>