
<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Buttons/Links</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container">
    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1><small>Buttons:</small></h1>
            <div class="d-flex flex-column flex-md-row flex-wrap">
                <div class="d-flex flex-column flex-md-row mb-2 mb-md-4">
                    <button href="#" class="btn btn-primary mb-4 mb-md-0 mr-md-4">Primary</button>
                    <button href="#" class="btn btn-secondary mb-4 mb-md-0">Secondary</button>
                </div>
                <button href="#" type="button" class="btn btn-link text-center text-md-left">Tertiary</button>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1><small>Buttons: Citation Style</small></h1>
            <div class="d-flex flex-column flex-md-row flex-wrap">
                <div class="d-flex flex-column">
                    <button href="#" class="btn btn-primary-dark-cit mb-4">Primary dark</button>
                    <div class="background-dark mb-4">
                        <button href="#" class="btn btn-primary-light-cit">Primary light</button>
                    </div>
                    <button href="#" class="btn btn-secondary-dark-cit mb-4">Secondary dark</button>
                    <div class="background-dark">
                        <button href="#" class="btn btn-secondary-light-cit">Secondary light</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1><small>Links:</small></h1>
            <ul>
                <li>
                    <a href="" class="btn btn-link">Link</a>
                </li>
                <li>
                    <a href="" class="btn btn-link"><span aria-hidden="true" class="icon-ui-edit"></span>Link with Icon</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1><small>Links: Citation Style</small></h1>
            <ul>
                <li>
                    <a href="" class="btn btn-link-dark-cit">Link</a>
                </li>
                <li>
                    <div class="background-dark mb-4">
                        <a href="" class="btn btn-link-light-cit">Link</a>
                    </div>
                </li>
                <li>
                    <a href="" class="btn btn-link-dark-cit"><span aria-hidden="true" class="icon-ui-edit"></span>Link with Icon</a>
                </li>
            </ul>
        </div>
    </div>

</div>
