
<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Buttons/Links</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container">


    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1 class="mb-6"><small>Buttons:</small></h1>
            <div class="d-flex flex-column flex-md-row flex-wrap">
                <div class="d-flex flex-column">

                    <button href="#" class="btn btn-primary-dark-cit mb-4 ">Primary dark</button>
                    <button href="#" class="btn btn-primary-dark-cit mb-4 disabled ">Primary dark - disabled</button>
                    <div class="background-dark mb-4">
                        <button href="#" class="btn btn-primary-light-cit mb-4 ">Primary light</button>
                        <button href="#" class="btn btn-primary-light-cit disabled">Primary light - disabled</button>
                    </div>

                    <button href="#" class="btn btn-secondary-dark-cit  mb-4">Secondary dark</button>
                    <button href="#" class="btn btn-secondary-dark-cit disabled mb-4">Secondary dark - disabled</button>

                    <div class="background-dark mb-4">
                        <button href="#" class="btn btn-secondary-light-cit mb-4">Secondary light</button>
                        <button href="#" class="btn btn-secondary-light-cit disabled ">Secondary light - disabled</button>
                    </div>


                </div>
            </div>
        </div>
    </div>


    



    <div class="row margin-bottom-xl">
        <div class="col-12">
            <h1 class="mb-6"><small>Links: </small></h1>
            <ul>
                <li>
                    <a href="" class="btn btn-link-dark-cit">Link</a>
                </li>
                <li>
                    <div class="background-dark mb-4">
                        <a href="" class="btn btn-link-light-cit">Link</a>
                    </div>
                </li>
                <li>
                    <a href="" class="btn btn-link-dark-cit"><span aria-hidden="true" class="icon-ui-edit"></span>Link with Icon</a>
                </li>
            </ul>
        </div>
    </div>

</div>
