
<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Buttons/Links</h1>
            <hr>
        </div>
    </div>
</div>



<div class="expand">
                        <div class="expand-heading" id="something" style="background-color: rgb(149, 149, 149);">
                            <span data-toggle="collapse" href="#collapseOne" aria-hidden="true" class="icon-ui-arrowdown" style="display: none; color: rgb(65, 120, 218);" aria-expanded="true"></span>
                            <span data-toggle="collapse" href="#collapseOne" aria-hidden="true" class="icon-ui-arrowup" style="color: rgb(255, 255, 255); display: block;" aria-expanded="true"></span>
                            <h4 class="expand-title" style="color: rgb(255, 255, 255);">Title</h4>
                        </div>

                        <div id="collapseOne" class="collapse in" aria-expanded="true" style="">
                            <div class="expand-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    
<div>
<a href="#" class="gb-primary-button">Primary Button</a>
<a href="#" class="gb-primary-button invert">Primary Button Inverted</a>

<div class="gb-display1">DISPLAY1</div>
</div>


<div class="container">


    <div class="row margin-bottom-xl">
        <div class="col-sm-12">
            <h1 class="mb-6"><small>Buttons:</small></h1>
            <div class="d-flex flex-column flex-md-row flex-wrap">
                <div class="d-flex flex-column">

                    <button href="#" class="btn btn-primary-dark-cit mb-4 ">Primary dark</button>
                    <button href="#" class="btn btn-primary-dark-cit mb-4 disabled ">Primary dark - disabled</button>
                    <div class="background-dark mb-4">
                        <button href="#" class="btn btn-primary-light-cit mb-4 ">Primary light</button>
                        <button href="#" class="btn btn-primary-light-cit disabled">Primary light - disabled</button>
                    </div>

                    <button href="#" class="btn btn-secondary-dark-cit  mb-4">Secondary dark</button>
                    <button href="#" class="btn btn-secondary-dark-cit disabled mb-4">Secondary dark - disabled</button>

                    <div class="background-dark mb-4">
                        <button href="#" class="btn btn-secondary-light-cit mb-4">Secondary light</button>
                        <button href="#" class="btn btn-secondary-light-cit disabled ">Secondary light - disabled</button>
                    </div>


                </div>
            </div>
        </div>
    </div>


    



    <div class="row margin-bottom-xl">
        <div class="col-12">
            <h1 class="mb-6"><small>Links: </small></h1>
            <ul>
                <li>
                    <a href="" class="btn btn-link-dark-cit">Link</a>
                </li>
                <li>
                    <div class="background-dark mb-4">
                        <a href="" class="btn btn-link-light-cit">Link</a>
                    </div>
                </li>
                <li>
                    <a href="" class="btn btn-link-dark-cit"><span aria-hidden="true" class="icon-ui-edit"></span>Link with Icon</a>
                </li>
            </ul>
        </div>
    </div>

</div>
