

<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Carousel</h1>
            <hr>
        </div>
    </div>
</div>



    <div class="row">
        <div class="col-12">
            <div class="cit-carousel">
             
                
                <div class="slick-slide">
                    <img src="img/slide1.png">
<!--                     <div class="carousel-text-area">
                        <h1>Test</h1>
                        <p>Thank" God for Onstar, because everybody assisting is in the communication loop. And it's safe. When you make a call with Onstar, your hands are on the weel."</p>
                    </div> -->
                </div>
            
                <div class="slick-slide">
                    <img src="img/slide2.png">
<!--                     <div class="carousel-text-area">
                        <h1>Test</h1>
                        <p>Supporting Text</p>
                    </div> -->
                </div>

                <div class="slick-slide">
                    <img src="img/slide3.png">
<!--                     <div class="carousel-text-area">
                        <h1>Test</h1>
                        <p>Supporting Text</p>
                    </div> -->
                </div>


            </div>

        </div>
    </div>
</div>


<script src="js/components/cit-slick-slider.js"></script>
<script src="js/components/cit-slick-slider-carousel.js"></script>