<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Carousel</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Carousel - Cit2 Social</small></h1>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="carousel-social">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption-cit2 d-none">
                        <div class="quote-graphic">
                            <span aria-hidden="true" class="icon-ui-quote"></span>
                        </div>
                        <div class="carousel-text text-center">
                            <div class="gb-headline2">[The Advisor] told me I had been in an accident and said they were calling an ambulance and the police. It made me feel better that there was someone there to make sure I was OK.</div>
                        </div>
                        <div class="author">
                            <img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
                            <div class="name">
                                <div class="gb-body2 heavy">Jim Wilson</div>
                                <div class="gb-body2">OnStar Member</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2 d-none ">
                        <div class="quote-graphic">
                            <span aria-hidden="true" class="icon-ui-quote"></span>
                        </div>
                        <div class="carousel-text text-center">
                            <div class="gb-headline2">[The Advisor] told me I had been in an accident and said they were calling an ambulance and the police. It made me feel better that there was someone there to make sure I was OK.</div>
                        </div>
                        <div class="author">
                            <img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
                            <div class="name">
                                <div class="gb-body2 heavy">Jim Wilson</div>
                                <div class="gb-body2">OnStar Member</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2 d-none ">
                        <div class="quote-graphic">
                            <span aria-hidden="true" class="icon-ui-quote"></span>
                        </div>
                        <div class="carousel-text text-center">
                            <div class="gb-headline2">[The Advisor] told me I had been in an accident and said they were calling an ambulance and the police. It made me feel better that there was someone there to make sure I was OK.</div>
                        </div>
                        <div class="author">
                            <img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
                            <div class="name">
                                <div class="gb-body2 heavy">Jim Wilson</div>
                                <div class="gb-body2">OnStar Member</div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> 

        </div>

        </div>
    </div>
</div>
