

<div class="container sg-title">
		<div class="row">
				<div class="col-12">
						<h1>Onboarding - Customer</h1>
						<hr>
				</div>
		</div>
</div>

<div class="container">

	<div class="row">

		<div class="col-12 col-md-6">
			<div class="mb-5 mb-md-0">
				<img class="img-responsive-fullwidth" src="img/prototypes/customer-onboarding/customer-onboard-image.png" alt="">
			</div>
		</div>

		<div class="col-12 col-md-6">

			<div class="ob-heading-area mb-5">
				<p class="mb-0"><small>Step 1 of 6</small></p>
				<h3 class="mb-4">Profile</h3>
				<p class="mb-0">Please confirm your profile information is correct and enter any information that's missing.</p>
			</div>

			<div class="ob-content-area mb-5">
				<form>
					<div class="mb-4">
						<label>Identification</label>
						<div class="form-group">
							<select name="selectName" class="form-control-custom select-container>
								<option value="0">Lorem ipsum</option>
								<option value="1">consectetur adipisicing elit</option>
								<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
								<option value="3">ut labore et dolore</option>
								<option value="4">do eiusmod tempor</option>
								<option value="5">dolore magna</option>
								<option value="6">ut</option>
								<option value="7">ut labore et dolore+</option>
							</select>
						</div>
					</div>

					<div class="mb-4">
						<label>First Name on ID</label>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Text input">
						</div>
					</div>

					<div class="mb-4">
						<label>Last Name on ID</label>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Text input">
						</div>
					</div>

					<div class="mb-4">
						<label>ID Number</label>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Text input">
						</div>
					</div>

					<hr>


					<label>Tax Status</label>
					<div class="form-group">
						<ul class="radio-list margin-bottom-none">
							<li>
								<label>
									<span class="radio">
										<input type="radio" name="foo" value="1">
										<span class="radio-value" aria-hidden="true"></span>
									</span>
									<div class="margin-left-xl">Final Consumer <span><a href=""><span class="icon-ui-infofill"></span></a></div>									
								</label>
							</li>
							<li>
								<label>
									<span class="radio">
										<input type="radio" name="foo" value="2">
										<span class="radio-value" aria-hidden="true"></span>
									</span>
									<div class="margin-left-xl">Monotributista <span><a href=""><span class="icon-ui-infofill"></span></a></div>
								</label>
								<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
							</li>
							<li>
								<label>
									<span class="radio">
										<input type="radio" name="foo" value="3">
										<span class="radio-value" aria-hidden="true"></span>
									</span>
									<div class="margin-left-xl">VAT Registered <span><a href=""><span class="icon-ui-infofill"></span></a></div>
								</label>
							</li>
						</ul>
					</div>				
				</form>
			</div>

			<div class="ob-button-area d-flex flex-column flex-md-row flex-wrap">
				<div class="d-flex flex-column flex-md-row mb-2 mb-md-4">
					<button href="#" class="btn btn-primary mb-4 mb-md-0 mr-md-4">Primary</button>
					<button href="#" class="btn btn-secondary mb-4 mb-md-0">Secondary</button>
				</div>
<!-- 				<button href="#" type="button" class="btn btn-link">Cancel</button> -->
				<button href="#" type="button" class="btn btn-link text-center text-md-left">Tertiary</button>
			</div>
		</div>
	</div>
</div>