

<div class="container sg-title">
		<div class="row">
				<div class="col-12">
						<h1>Onboarding - Customer (PROFILE EDIT)</h1>
						<hr>
				</div>
		</div>
</div>

<div class="container">

	<div class="row">

		<div class="col-12 col-md-6">
			<div class="mb-5 mb-md-0">
				<img class="img-responsive-fullwidth" src="img/prototypes/customer-onboarding/customer-onboard-image.png" alt="">
			</div>
		</div>

		<div class="col-12 col-md-6">

			<div class="mb-5">
				<p class="mb-0"><small>Step 1 of 5</small></p>
				<h3 class="mb-4">Confirm Your Profile Information</h3>
				<p class="mb-0">Please confirm your profile information is correct and enter any information that's missing.</p>
			</div>

			<div class="row">
				<div class="col-12 mb-2">
					<div class="d-flex">
						<h5>Identification</h5>
						<a href="https://dribbble.com/" class="btn btn-link ml-auto"><span aria-hidden="true" class="icon-ui-edit"></span>Edit</a>
					</div>
				</div>
				<div class="col-12">
					<ul class="mb-0">
						<li>Mr. Casey Jones</li>
					</ul>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-12 mb-2">
					<div class="d-flex">
						<h5>Home Address</h5>
						<a href="https://dribbble.com/" class="btn btn-link ml-auto"><span aria-hidden="true" class="icon-ui-edit"></span>Edit</a>
					</div>
				</div>
				<div class="col-12">
					<ul class="mb-0">
						<li class="mb-0">Junin 1940 - Planta Baja</li>
						<li class="mb-0">Codigo Postal C1113AAX</li>
						<li class="mb-0">Buenos Aires, Argentina</li>
					</ul>
				</div>
			</div>

			<hr/>

			<div class="row mb-5">
				<div class="col-12 mb-2">
					<div class="d-flex">
						<h5>Phone Number</h5>
						<a href="https://dribbble.com/" class="btn btn-link ml-auto"><span aria-hidden="true" class="icon-ui-edit"></span>Edit</a>
					</div>
				</div>
				<div class="col-12">
					<ul class="mb-0">
						<li class="mb-0"><strong>Mobile:</strong> +55 21 3512-8200</li>
						<li class="mb-3"><small>We will use this number for all SMS communications.</small></li>
						<li class="mb-0"><strong>Home:</strong> +55 21 3512-8200</li>
						<li class="mb-0"><strong>Work:</strong> +55 21 3512-8200</li>
					</ul>
				</div>
			</div>

					
					
			<div class="ob-button-area d-flex flex-column flex-md-row flex-wrap">
				<div class="d-flex flex-column flex-md-row">
					<button href="#" class="btn btn-primary">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>