

<div class="container sg-title">
		<div class="row">
				<div class="col-12">
						<h1>Onboarding - Customer (LANDING)</h1>
						<hr>
				</div>
		</div>
</div>

<div class="page-content-nonav">
	<div class="container">
		<div class="row">

			<div class="col-12 offset-md-3 col-md-6 mb-5">
				<h2 class="mb-4">Verify Access to Your Invitation</h2>
				<p class="mb-5">For added security, please enter your phone number to gain access to your invitation. If you have multiple phone numbers on file, any of them will work.</p>

					<label>Enter Phone Number</label>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Text input">
					</div>

			</div>

			<div class="col-12 offset-md-3 col-md-6">

				<div class="d-flex flex-column flex-md-row flex-wrap">
					<div class="d-flex flex-column flex-md-row mb-2 mb-md-4">
						<button href="#" class="btn btn-primary mb-4 mb-md-0 mr-md-4">Primary</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>