

<div class="container sg-title">
		<div class="row">
				<div class="col-12">
						<h1>Onboarding - Customer (CONNECTED SERVICES)</h1>
						<hr>
				</div>
		</div>
</div>

<div class="container">

	<div class="row">

		<div class="col-12 col-md-6">
			<div class="mb-5 mb-md-0">
				<img class="img-responsive-fullwidth" src="img/prototypes/customer-onboarding/customer-onboard-image.png" alt="">
			</div>
		</div>

		<div class="col-12 col-md-6">

			<div class="mb-5">
				<h3 class="mb-4">Welcome to Owner Center and connected vehicle services for your 2020 Chevrolet Cruze!</h3>
				<p class="mb-0">You can use Owner Center to browse personalized vehicle guides and tips, tracjk your service history, schedule maintenance or repairs, and more. <strong>Press the blue Onstar button in your vehicle to ensure that your connected vehicle services are activated.</strong></p>
			</div>

			<div class="row mb-5">
				<div class="col-12 col-md-6 mb-5 mb-md-0">
					<h1><span class="icon-graphic-carwifi" role="presentation" aria-hidden="true" title=""></span></h1>
					<h5 class="mb-3">Shop Connected Vehicle Services</h5>
					<p>Extend your connected vehicle services experience.</p>
					<a href="" class="btn btn-link">View Plans</a>
				</div>

				<div class="col-12 col-md-6 mb-2">
					<h1><span class="icon-graphic-cellphone" role="presentation" aria-hidden="true" title=""></span></h1>
					<h5 class="mb-3">myChevrolet app</h5>
					<p>Issue remote commands and more all with the swipe of your finger.</p>
					<a href="" class="btn btn-link">Download myChevrolet app</a>
				</div>
			</div>

			
					
					
			<div class="ob-button-area d-flex flex-column flex-md-row flex-wrap">
				<div class="d-flex flex-column flex-md-row">
					<button href="#" class="btn btn-primary">Visit My Connected Services</button>
				</div>
			</div>
		</div>
	</div>
</div>