

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Onboarding - Customer (LANDING)</h1>
			<hr>
		</div>
	</div>
</div>

<div class="page-content-nonav">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-lg-4 col-xl-4 padding-none">
				<div class="homepage-login-panel card non-homepage-login-panel">
					<div class="row mb-2">
						<div class="col-12">
							<h2 class="mb-4">Verify Your Invitation</h2>
							<p class="mb-5">For added security, please enter your phone number to gain access to your invitation. If you have multiple phone numbers on file, any of them will work.</p>
							<label>Enter Phone Number</label>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Text input">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="d-flex flex-column flex-md-row flex-wrap">
								<button href="#" class="btn btn-primary mb-4 mb-md-0">Primary</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="row">
				<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-lg-4 col-xl-4 padding-none">
					<div class="homepage-login-panel card non-homepage-login-panel">
						<div class="row">
							<div class="col-12">
								<h2 class="mb-4">Verify Your Invitation</h2>
								<div class="mb-5">
	              					<span aria-hidden="true" class="icon-ui-checkcircle margin-right-xs green-text"></span>
									<strong><span> Your invite is verified</span></strong>
								</div>

								<div class="mb-4">
									<p>Need to set up your account?</p>
									<div class="d-flex flex-column flex-md-row flex-wrap">
										<button href="#" class="btn btn-primary mb-4 mb-md-0">Primary</button>
									</div>
								</div>
								<div class="mb-0">
									<p>Already have an account account?</p>
									<div class="d-flex flex-column flex-md-row flex-wrap">
										<button href="#" class="btn btn-secondary mb-4 mb-md-0">Secondary</button>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>