<div class="container sg-title">
    <h1>Divider</h1>
    <hr>
</div>

<div class="container">       

    <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule:</small></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule: Citation Style</small></h1>
            <p><small>DARK</small></p>
            <hr class="cit">
        </div>
        <div class="col-sm-12">
            <p><small>LIGHT</small></p>
            <hr class="cit light">
        </div>
        <div class="col-sm-12">
            <p><small>TEXT</small></p>
<!--             <div class="hr-cit-text" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <p class="cit" style="background-color: #F3F5F6; padding: 0 10px;">Included with your Vehicle for No Additonal Charge></p>
            </div> -->
            <div class="hr-cit-text">
                <p>Included with your Vehicle for No Additonal Charge</p>
            </div>
        </div>
    </div>

</div>
