<div class="container sg-title">
    <h1>Divider</h1>
    <hr>
</div>

<div class="container">       

    <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule:</small></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule: Citation Style</small></h1>
            <p><small>DARK</small></p>
            <hr class="cit">
        </div>
        <div class="col-sm-12">
            <p><small>LIGHT</small></p>
            <hr class="cit light">
        </div>
    </div>

</div>
