<div class="container sg-title">

		<div class="row">
				<div class="col-12">
						<h1>Forms</h1>
						<hr>
				</div>
		</div>


		<div class="row mb-6">
				<div class="col-sm-6">
						<h1><small>Password</small></h1>
				</div>
		</div>


		<div class="row mb-6">
			<div class="col-12">
				<ul class="cit-password-instruction">
					<li>
						<h6 class="cit heavy mb-0 mr-1">Password Strength</h6><h6 class="cit heavy weak mb-0">Weak</h6>
					</li>
					<li>
						<div class="check-mark__wrapper">
							<div class="check-mark"></div>
						</div>
						<p class="cit">1 number</p>
					</li>
					<li class="success">
						<div class="check-mark__wrapper">
							<div class="check-mark"></div>
						</div>
						<p class="cit heavy">8 characters in length</p>
					</li>
					<li class="default">
						<p class="cit">Password can’t be longer than 32 characters. Change color to red by replacing "default" class with "error" class</p>
					</li>
				</ul>
			</div>
		</div>







		<div class="row">
				<div class="col-sm-6">
						<h1><small>Text Input</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<input type="text" class="form-control" placeholder="Text input">
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label with Error:</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group has-error">
										<input type="text" class="form-control on-error" placeholder="Text input" value="asl@#dkfj3338">
								</div>
								<p class="help-block-below red-text">No special characters allowed</p>
						</div>
				</div>
		</form>


		<div class="row">
				<div class="col-12">
						<h1><small>Text Area</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<div class="form-link-right">
										<label>Field Label</label>
										<p><strong><a hred="#">Open in new window</a></strong></p>
								</div>

								<div class="form-group">
										<textarea class="form-control" rows="4" readonly>
A. By using and/or visiting this Website, you agree to and accept (1) these terms and conditions (the "Terms of Service"), and (2) the privacy notice found at http://www.gm.com/privacy/. If you do not agree to any of these terms, or the privacy notice, please do not use the Web site.  The Web site is operated by General Motors LLC ("GM"), through various agencies and service providers.
										</textarea>
								</div>
						</div>
				</div>
		</form>


		<div class="row">
				<div class="col-12">
						<h1><small>Pin Input</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-4 margin-bottom-medium">
								<label>Field Label</label>
								<div class="form-group">
										<input type="text" class="form-control-pin">
										<input type="text" class="form-control-pin">
										<input type="text" class="form-control-pin">
										<input type="text" class="form-control-pin">
								</div>
						</div>
				</div>
		</form>


		<div class="row">
				<div class="col-12">
						<h1><small>Checkboxes</small></h1>
				</div>
		</div>


		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<div class="row">
												<div class="col-12">
														<ul class="checkbox-list margin-bottom-none">
																<li>
																	<label>
																		<span class="checkbox">
																			<input type="checkbox" name="foo" value="2">
																			<span class="checkbox-value" aria-hidden="true"></span>
																		</span>
																		<div class="margin-left-xl">Option 1</div>
																	</label>
																</li>
																<li>
																	<label>
																		<span class="checkbox">
																			<input type="checkbox" name="foo" value="2">
																			<span class="checkbox-value" aria-hidden="true"></span>
																		</span>
																		<div class="margin-left-xl">Option 2</div>
																	</label>
																</li>
														</ul>
												</div>
										</div>
								</div>
						</div>
				</div>
		</form>




		<div class="row">
				<div class="col-12">
						<h1><small>Radio Buttons - Vertical</small></h1>
				</div>
		</div>



		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<div class="row">
												<div class="col-12">
														<ul class="radio-list margin-bottom-none">
																<li>
																	<label>
																		<span class="radio">
																			<input type="radio" name="foo" value="2">
																			<span class="radio-value" aria-hidden="true"></span>
																		</span>
																		<div class="margin-left-xl">Option 1</div>
																	</label>
																</li>
																<li>
																	<label>
																		<span class="radio">
																			<input type="radio" name="foo" value="2">
																			<span class="radio-value" aria-hidden="true"></span>
																		</span>
																		<div class="margin-left-xl">Option 2</div>
																	</label>
																</li>
																<li>
																	<label class="disabled">
																		<span class="radio" disabled>
																			<input type="radio" name="foo" value="2" disabled>
																			<span class="radio-value" aria-hidden="true"></span>
																		</span>
																		<div class="margin-left-xl">Disabled</div>
																	</label>
																</li>
														</ul>
												</div>
										</div>
								</div>
						</div>
				</div>
		</form>


		<div class="row">
				<div class="col-12">
						<h1><small>Radio Buttons - Horizontal</small></h1>
				</div>
		</div>


	 <form role="form">
			<div class="row">
				 <label class="control-label col-12 col-xs-3">Field Label</label>
				 <div class="col-12 col-sm-9 margin-bottom-medium">
						<ul class="radio-list-inline margin-bottom-none">
							 <li>
									<label>
										 <span class="radio">
												<input type="radio" name="foo" value="1">
												<span class="radio-value" aria-hidden="true"></span>
										 </span>
										 <div class="margin-left-xl">Option 1</div>
									</label>
							 </li>
							 <li>
									<label>
										 <span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
										 </span>
										 <div class="margin-left-xl">Option 1</div>
									</label>
							 </li>
						</ul>
				 </div>
			</div>
	 </form>

		<div class="row">
				<div class="col-12">
						<h1><small>Switch</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<ul class="switch-list">
												<li>
														<input type="checkbox" id="s1" />
														<label class="switch" for="s1"></label>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</form>




		<div class="row">
				<div class="col-12">
						<h1><small>Dropdown</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label one Item</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<div class="form-control-custom select-container-oneitem">
										Place item heresds
										</div>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label with Error</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group on-selectError on-error">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
								<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
						</div>
				</div>
		</form>



				<form role="form">
						<div class="row">
								<div class="col-12 margin-bottom-medium">
										<label class="margin-bottom-none">Field Label</label>
										<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<div class="form-group select-container default">
												<select name="selectName">
														<option>Lorem ipsum</option>
														<option>consectetur adipisicing elit</option>
														<option>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
														<option>ut labore et dolore</option>
														<option>do eiusmod tempor</option>
														<option>dolore magna</option>
														<option>ut</option>
														<option>ut labore et dolore+</option>
												</select>
												<span class="select-value" aria-hidden="true"></span>
										</div>
								</div>
						</div>

						<div class="row">
								<div class="col-12 margin-bottom-medium">
										<label class="margin-bottom-none">Field Label with Error</label>
										<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<div class="form-group select-container on-selectError on-error">
												<select name="selectName">
														<option>Lorem ipsum</option>
														<option>consectetur adipisicing elit</option>
														<option>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
														<option>ut labore et dolore</option>
														<option>do eiusmod tempor</option>
														<option>dolore magna</option>
														<option>ut</option>
														<option>ut labore et dolore+</option>
												</select>
												<span class="select-value" aria-hidden="true"></span>
										</div>
										<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
								</div>
						</div>
				</form>








<!--  <form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="styled-select">
									 <select>
											<option>Here is the first option</option>
											<option>The second option</option>
									 </select>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label with Error</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group on-selectError on-error">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
								<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
						</div>
				</div>
		</form> -->









		<div class="row">
				<div class="col-sm-6">
						<h1><small>Search Field</small></h1>
				</div>
		</div>


		<form class="form-search-inline" role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label>Field Label</label>
								<button type="submit" class="btn btn-primary">Search</button>
								<div class="form-search-input">
										<input type="text" class="form-control-search" placeholder="Search">
								</div>
						</div>
				</div>
		</form>




</div>

