<script>
$(document).ready(function() {
    
    $('.cit-input-field.password button').on('click', function() {
        
        if ($('.cit-input-field.password input').attr('password-shown') == 'false') {
            
            $('.cit-input-field.password input').removeAttr('type');
            $('.cit-input-field.password input').attr('type', 'text');
            
            $('.cit-input-field.password input').removeAttr('password-shown');
            $('.cit-input-field.password input').attr('password-shown', 'true');
            
            // $('.cit-input-field.password button').html('Hide');
            
        }else {
            
            $('.cit-input-field.password input').removeAttr('type');
            $('.cit-input-field.password input').attr('type', 'password');
            
            $('.cit-input-field.password input').removeAttr('password-shown');
            $('.cit-input-field.password input').attr('password-shown', 'false');
            
            // $('.cit-input-field.password button').html('Show');
            
        }
        
    });
    
});
</script>




<div class="container sg-title">

		<div class="row">
				<div class="col-12">
						<h1>Forms</h1>
						<hr>
				</div>


		</div>



		<div class="row mb-6">
				<div class="col-sm-6">
						<h1><small>Text Input</small></h1>
				</div>
		</div>

		<form class="mb-6" >
			<div class="cit-input-field">
				<input type="text" id="email" required />
				 <span class="bar"></span>
				<label for="email">Email</label>
			</div>
		</form>


		<div class="row mb-6">
				<div class="col-sm-6">
					<h1><small>Text Input : ERROR</small></h1>
				</div>
		</div>

		<form class="mb-6" >
			<div class="cit-input-field error">
				<input type="text" id="name" required/>
				 <span class="bar"></span>
				<label for="name">Name</label>
				<p class="cit mt-2"><small>Error text</small>
			</div>
		</form>



		<div class="row mb-6">
				<div class="col-sm-6">
						<h1><small>Password</small></h1>
				</div>
		</div>

		<div class="row mb-6">
			<div class="col-12">

				<div class="cit-input-field password mb-0">
			      <input id="password" type="password" password-shown="false" required>
						<span class="bar"></span>
				    <label for="password">Password</label>
				    <button class="secondary-button" type="button"><span aria-hidden="true" class="icon-ui-view"></span></button>
				</div>

			</div>
		</div>		

		<div class="row mb-6">
			<div class="col-12">

				<ul class="cit-password-instruction">
					<li>
						<h6 class="cit heavy mb-0 mr-1">Password Strength</h6><h6 class="cit heavy weak mb-0">Weak</h6>
					</li>
					<li>
						<div class="check-mark__wrapper">
							<div class="check-mark"></div>
						</div>
						<p class="cit">1 number</p>
					</li>
					<li class="success">
						<div class="check-mark__wrapper">
							<div class="check-mark"></div>
						</div>
						<p class="cit heavy">8 characters in length</p>
					</li>
					<li class="default">
						<p class="cit">Password can’t be longer than 32 characters. Change color to red by replacing "default" class with "error" class</p>
					</li>
				</ul>
			</div>
		</div>



		<div class="row mb-6">
				<div class="col-12">
						<h1><small>Phone Input with AreaCode</small></h1>
				</div>
		</div>


		<div class="row mb-3">
			<div class="col-12">
				<label>Field Label</label>
				<div class="form-group phone-input-areacode">
						<div class="area-code">+966</div>
						<input type="text" class="form-control" placeholder="">
				</div>
			</div>
		</div>

		<div class="row mb-9">
			<div class="col-12">
				<label>Field Label with Error</label>
				<div class="form-group phone-input-areacode has-error">
						<div class="area-code">+966</div>
						<input type="text" class="form-control" placeholder="">
						<p class="help-block-below red-text">Please enter valid phone number</p>
				</div>
			</div>
		</div>




		<div class="row mb-6">
				<div class="col-12">
						<h1><small>Checkboxes</small></h1>
				</div>
		</div>


		<form role="form">
				<div class="row">
						<div class="col-12">
							<div class="form-group mb-0">
									<ul class="cit-checkbox-list">
										<li>
											<label>
													<span class="cit-checkbox">
														<input type="checkbox" name="foo" value="2">
														<span class="cit-checkbox-value" aria-hidden="true"></span>
													</span>
													<p class="cit mb-0"><small>Option 1</small></p>
											</label>
										</li>
										<li>
											<label>
												<span class="cit-checkbox">
													<input type="checkbox" name="foo" value="2">
													<span class="cit-checkbox-value" aria-hidden="true"></span>
												</span>
												<p class="cit mb-0"><small>Option 2</small></p>
											</label>
										</li>
									</ul>
							</div>
						</div>
				</div>
		</form>




		<div class="row mb-6">
				<div class="col-12">
						<h1><small>Radio Buttons - Vertical</small></h1>
				</div>
		</div>



		<form role="form">
				<div class="row">
						<div class="col-12">
								<div class="form-group mb-0">
										<div class="row">
												<div class="col-12">
														<ul class="cit-radio-list">
																<li>
																	<label>
																		<span class="cit-radio">
																			<input type="radio" name="foo" value="1">
																			<span class="cit-radio-value" aria-hidden="true"></span>
																		</span>
																		<h6 class="cit heavy">Option 1</h6>
																	</label>
																</li>
																<li>
																	<label>
																		<span class="cit-radio">
																			<input type="radio" name="foo" value="2">
																			<span class="cit-radio-value" aria-hidden="true"></span>
																		</span>
																		<h6 class="cit heavy">Option 2</h6>
																	</label>
																</li>
																<li>
																	<label class="disabled">
																		<span class="cit-radio" disabled>
																			<input type="radio" name="foo" value="3" disabled>
																			<span class="cit-radio-value" aria-hidden="true"></span>
																		</span>
																		<h6 class="cit heavy">Disabled</h6>
																	</label>
																</li>
														</ul>
												</div>
										</div>
								</div>
						</div>
				</div>
		</form>


		<div class="row">
				<div class="col-12">
						<h1><small>Radio Buttons - Horizontal</small></h1>
				</div>
		</div>


	 <form role="form">
			<div class="row">
				 <label class="control-label col-12 col-xs-3">Field Label</label>
				 <div class="col-12 col-sm-9 margin-bottom-medium">
						<ul class="radio-list-inline margin-bottom-none">
							 <li>
									<label>
										 <span class="radio">
												<input type="radio" name="foo" value="1">
												<span class="radio-value" aria-hidden="true"></span>
										 </span>
										 <div class="margin-left-xl">Option 1</div>
									</label>
							 </li>
							 <li>
									<label>
										 <span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
										 </span>
										 <div class="margin-left-xl">Option 1</div>
									</label>
							 </li>
						</ul>
				 </div>
			</div>
	 </form>

		<div class="row">
				<div class="col-12">
						<h1><small>Switch</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<ul class="switch-list">
												<li>
														<input type="checkbox" id="s1" />
														<label class="switch" for="s1"></label>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</form>




		<div class="row">
				<div class="col-12">
						<h1><small>Dropdown</small></h1>
				</div>
		</div>

		<form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium">
								<label class="margin-bottom-none">Field Label one Item</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group">
										<div class="form-control-custom select-container-oneitem">
										Place item heresds
										</div>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label with Error</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group on-selectError on-error">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
								<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
						</div>
				</div>
		</form>



				<form role="form">
						<div class="row">
								<div class="col-12 margin-bottom-medium">
										<label class="margin-bottom-none">Field Label</label>
										<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<div class="form-group select-container default">
												<select name="selectName">
														<option>Lorem ipsum</option>
														<option>consectetur adipisicing elit</option>
														<option>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
														<option>ut labore et dolore</option>
														<option>do eiusmod tempor</option>
														<option>dolore magna</option>
														<option>ut</option>
														<option>ut labore et dolore+</option>
												</select>
												<span class="select-value" aria-hidden="true"></span>
										</div>
								</div>
						</div>

						<div class="row">
								<div class="col-12 margin-bottom-medium">
										<label class="margin-bottom-none">Field Label with Error</label>
										<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<div class="form-group select-container on-selectError on-error">
												<select name="selectName">
														<option>Lorem ipsum</option>
														<option>consectetur adipisicing elit</option>
														<option>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
														<option>ut labore et dolore</option>
														<option>do eiusmod tempor</option>
														<option>dolore magna</option>
														<option>ut</option>
														<option>ut labore et dolore+</option>
												</select>
												<span class="select-value" aria-hidden="true"></span>
										</div>
										<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
								</div>
						</div>
				</form>








<!--  <form role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="styled-select">
									 <select>
											<option>Here is the first option</option>
											<option>The second option</option>
									 </select>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label class="margin-bottom-none">Field Label with Error</label>
								<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="form-group on-selectError on-error">
										<select name="selectName" class="form-control-custom select-container">
												<option value="0">Lorem ipsum</option>
												<option value="1">consectetur adipisicing elit</option>
												<option value="2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</option>
												<option value="3">ut labore et dolore</option>
												<option value="4">do eiusmod tempor</option>
												<option value="5">dolore magna</option>
												<option value="6">ut</option>
												<option value="7">ut labore et dolore+</option>
										</select>
								</div>
								<p class="help-block-below red-text">Lorem ipsum dolor sit amet</p>
						</div>
				</div>
		</form> -->







		<div class="row mb-5">
				<div class="col-sm-6">
						<h1><small>Search Fields</small></h1>
				</div>
		</div>



		<div class="row mb-9">
			<div class="col-12">
				<div class="cit-search">
					<input type="text" id="" class="" placeholder="Search">
					<button class="secondary-button" type="button">Go</button>
				</div>
			</div>
		</div>



		<form class="form-search-inline" role="form">
				<div class="row">
						<div class="col-12 margin-bottom-medium clearfix">
								<label>Field Label</label>
								<button type="submit" class="btn btn-primary">Search</button>
								<div class="form-search-input">
										<input type="text" class="form-control-search" placeholder="Search">
								</div>
						</div>
				</div>
		</form>




</div>



