

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Components for Hayley</h1>
			<hr>
		</div>
	</div>
</div>



<div class="container">
	<div class="row mb-4">
		<div class="col-12">
			<div class="card p-4">
				<div class="row mb-4">
					<div class="col-12">
						<h4 class="mb-2">Gain insight about your driving skills and more</h4>
						<p>Upgrade to the Remote Access Plan and we can use real-time driving data to help you sharpen your driving skills, reduce wear and tear and enhance fuel efficiency.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<img class="w-100 mb-4 mb-md-0" src="img/prototypes/cit-style/video-image.png" alt="Responsive image">
					</div>
					<div class="col-12 col-md-6">
						<p class="mb-4">What else can you do with the Remote Access Plan?</p>
						<ul class="list-bullet mb-0">
							<li>Control your vehicle from your smartphone</li>
							<li>View your real-time vehicle status</li>
							<li>Access your vehicle’s location</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="inline-buttons-right">
				<a href="#" class="btn btn-primary">View Remote Access Plan</a>
				<a href="#" class="btn btn-secondary">More on Chevrolet Smart Driver</a>
			</div>
		</div>
	</div>
</div>


