<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">OC - Component Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elements</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="index.html?p=margins">Margins</a>
          <a class="dropdown-item" href="index.html?p=alerts" >Alerts</a>
          <a class="dropdown-item" href="index.html?p=expander">Expander</a>
          <a class="dropdown-item" href="index.html?p=forms">Forms</a>
          <a class="dropdown-item" href="index.html?p=buttons">Buttons/Links</a>
          <a class="dropdown-item" href="index.html?p=typography">Typography</a>
          <a class="dropdown-item" href="index.html?p=divider">Divider</a>
          <a class="dropdown-item" href="index.html?p=icons-svg">Icons</a>
          <a class="dropdown-item" href="index.html?p=progress-bar">Progress Bar</a>
          <a class="dropdown-item" href="index.html?p=modal-window">Modal-Window</a>
          <a class="dropdown-item" href="index.html?p=carousel">Carousel</a>
          <a class="dropdown-item" href="index.html?p=badges">Badges</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href="index.html?widget=navigation">Navigation</a>
            <a class="dropdown-item" href="index.html?widget=footer">Footer</a>
            <a class="dropdown-item" href="index.html?widget=cards-citation">Cards - Citation</a>
            <a class="dropdown-item" href="index.html?widget=cards-citation-plans">Cards - Citation - Plans</a>
            <a class="dropdown-item" href="index.html?widget=feature-citation">Features - Citation</a>
            <a class="dropdown-item" href="index.html?widget=card-default">Card - Default</a>
            <a class="dropdown-item" href="index.html?widget=card-brand">Card - Brand</a>
            <a class="dropdown-item" href="index.html?widget=card-secondary">Card - Secondary</a>
            <a class="dropdown-item" href="index.html?widget=card-tertiary">Card - Tertiary</a>
            <a class="dropdown-item" href="index.html?widget=masthead">Masthead</a>
            <a class="dropdown-item" href="index.html?widget=page-headings">Page Headings</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prototypes</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="index.html?p=customer-ob-landing">Onboarding Customer Landing</a>
            <a class="dropdown-item" href="index.html?p=customer-ob-profile">Onboarding Customer Profile</a>
            <a class="dropdown-item" href="index.html?p=customer-ob-profile-edit">Onboarding Customer Profile Edit</a>
            <a class="dropdown-item" href="index.html?p=customer-ob-connected-services">Onboarding Customer Connected Services</a>
            <a class="dropdown-item" href="index.html?p=password-reset-signin">Password Reset - Signin</a>
            <a class="dropdown-item" href="index.html?p=password-reset-reset">Password Reset - Reset</a>
            <a class="dropdown-item" href="index.html?p=password-reset-forgot">Password Reset - Forgot</a>
            <a class="dropdown-item" href="index.html?p=password-reset-strength">Password Reset - Strength</a>
            <a class="dropdown-item" href="index.html?p=hayley">Hayley</a>
            <a class="dropdown-item" href="index.html?p=mike">Mike</a>
            <a class="dropdown-item" href="index.html?p=allison">Allison</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP 2.0</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="index.html?p=shop-snackbar">Shop Snackbar</a>
            <a class="dropdown-item" href="index.html?p=shop-footer">Shop Footer</a>
            <a class="dropdown-item" href="index.html?p=shop-stepper">Shop Stepper</a>
            <a class="dropdown-item" href="index.html?p=shop-tabs">Shop Tabs</a>
            <a class="dropdown-item" href="index.html?p=shop-table">Shop Table</a>
            <a class="dropdown-item" href="index.html?p=shop-myplans">Shop My plans</a>
            <a class="dropdown-item" href="index.html?p=shop-pause-myplans">Shop Pause-My plans</a>
            <a class="dropdown-item" href="index.html?p=shop-cancel-myplans">Shop Cancel-My plans</a>
            <a class="dropdown-item" href="index.html?p=shop-payment">Shop Payment</a>
            <a class="dropdown-item" href="index.html?p=shop-card">Shop Card</a>
            <a class="dropdown-item" href="index.html?p=shop-status-bar">Status Bar</a>
            <a class="dropdown-item" href="index.html?p=shop-modals">Plan Modals</a>
            <a class="dropdown-item" href="index.html?p=shop-bundles">Plan Bundles</a>
            <a class="dropdown-item" href="index.html?p=shop-pd-content">Product Details Content</a>
            <a class="dropdown-item" href="index.html?p=shop-pd-compare">Product Details Compare</a>
            <a class="dropdown-item" href="index.html?p=shop-pd-no-compare">Product Details No-Compare</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VEHCILE PROFILE</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="index.html?p=vehicle-profile">Vehicle Profile</a>
        </div>
      </li>

    </ul>
  </div>
</nav>


