



<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Icons SVG</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container mb-9">
    <div class="row">
        <div class="col-12">
            <h4>
                <div class="icon-svg-inline">
                    <svg class="IconAttention">
                        <use xlink:href="icons/symbol-defs.svg#IconAttention"></use>
                    </svg>
                    <span class="icon-svg-text">IconAttention</span>
                </div>
            </h4>


            <h4>
                <div class="icon-svg-inline">
                    <svg class="AlertCaution">
                        <use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
                    </svg>
                    <span class="icon-svg-text">AlertCaution</span>
                </div>
            </h4>



            <h4>
                <div class="icon-svg-inline">
                    <svg class="planCheck">
                        <use xlink:href="icons/symbol-defs.svg#planCheck"></use>
                    </svg>
                    <span class="icon-svg-text">planCheck</span>
                </div>
            </h4>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="planRemoteAccess">
                        <use xlink:href="icons/symbol-defs.svg#planRemoteAccess"></use>
                    </svg>
                    <span class="icon-svg-text">planRemoteAccess</span>
                </div>
            </h4>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="planRemoteAccessSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#planRemoteAccessSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">planRemoteAccessSafetySecurity</span>
                </div>
            </h4>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="planSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#planSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">planSafetySecurity</span>
                </div>
            </h2>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="planUnlimitedAccess">
                        <use xlink:href="icons/symbol-defs.svg#planUnlimitedAccess"></use>
                    </svg>
                    <span class="icon-svg-text">planUnlimitedAccess</span>
                </div>
            </h4>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="planUnlimitedAccessSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#planUnlimitedAccessSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">planUnlimitedAccessSafetySecurity</span>
                </div>
            </h2>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="Wifi">
                        <use xlink:href="icons/symbol-defs.svg#Wifi"></use>
                    </svg>
                    <span class="icon-svg-text">Wifi</span>
                </div>
            </h4>

            <h4>
                <div class="icon-svg-inline">
                    <svg class="Navigation">
                        <use xlink:href="icons/symbol-defs.svg#Navigation"></use>
                    </svg>
                    <span class="icon-svg-text">Navigation</span>
                </div>
            </h4>
        </div>
    </div>
</div>





<div class="container">

    <div class="row">
        <div class="col-12">
            <h1><small>ICON: Inline</small></h1>

            <div class="icon-svg-inline">
                <svg class="IconAttention">
                    <use xlink:href="icons/symbol-defs.svg#IconAttention"></use>
                </svg>
                <span class="icon-svg-text">IconAttention</span>
            </div>

            <h2>
                <div class="icon-svg-inline">
                    <svg class="IconAttention">
                        <use xlink:href="icons/symbol-defs.svg#IconAttention"></use>
                    </svg>
                    <span class="icon-svg-text">IconAttention</span>
                </div>
            </h2>
        </div>

        <div class="col-12">
<pre class="margin-top-large">
<code class="html">
&lt;div class=&quot;icon-svg-inline&quot;&gt;
    &lt;svg class=&quot;IconAttention&quot;&gt;
        &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#IconAttention&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
    &lt;span class=&quot;icon-svg-text&quot;&gt;IconAttention&lt;/span&gt;

&lt;/div&gt;

&lt;h2&gt;
    &lt;div class=&quot;icon-svg-inline&quot;&gt;
        &lt;svg class=&quot;IconAttention&quot;&gt;
            &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#IconAttention&quot;&gt;&lt;/use&gt;
        &lt;span class=&quot;icon-svg-text&quot;&gt;IconAttention&lt;/span&gt;
    &lt;/div&gt;
&lt;/h2&gt;
</code>
</pre>
        </div>
     

        <div class="col-12">
            <h1><small>ICON: Absolute Position</small></h1>

            <ul class="list-inline">
                <li>
                    <div class="icon-svg-absolute">
                        <h2>
                            <span aria-hidden="true" class="icon-graphic-settings"></span>
                            <svg class="IconAttention">
                                <use xlink:href="icons/symbol-defs.svg#IconAttention"></use>
                            </svg>
                        </h2>
                    </div>
                </li>
                <li>
                    <div class="icon-svg-absolute">
                        <span aria-hidden="true" class="icon-graphic-settings"></span>
                        <svg class="IconAttention">
                            <use xlink:href="icons/symbol-defs.svg#IconAttention"></use>
                        </svg>
                    </div>
                </li>
            </ul>

        </div>


        <div class="col-12">
<pre>
<code class="html">
 &lt;div class=&quot;icon-svg-absolute&quot;&gt;
    &lt;h2&gt;
        &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-graphic-settings&quot;&gt;&lt;/span&gt;
        &lt;svg class=&quot;IconAttention&quot;&gt;
            &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#IconAttention&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/h2&gt;
&lt;/div&gt;

&lt;div class=&quot;icon-svg-absolute&quot;&gt;
    &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-graphic-settings&quot;&gt;&lt;/span&gt;
    &lt;svg class=&quot;IconAttention&quot;&gt;
        &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#IconAttention&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code>
</pre>
        </div>

    </div>
</div>




