



<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Icons SVG</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container mb-9">
    <div class="row">
        <div class="col-12">
            <h3>
                <div class="icon-svg-inline fill-gray">
                    <svg class="icon-payments fill-gray">
                        <use class="fill-gray" xlink:href="icons/symbol-defs.svg#icon-payments""></use>
                    </svg>
                    <span class="icon-svg-text">icon-Payments</span>
                </div>
            </h3>
            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-IconAttention">
                        <use xlink:href="icons/symbol-defs.svg#icon-IconAttention"></use>
                    </svg>
                    <span class="icon-svg-text">icon-IconAttention</span>
                </div>
            </h3>


            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-AlertCaution">
                        <use xlink:href="icons/symbol-defs.svg#icon-AlertCaution"></use>
                    </svg>
                    <span class="icon-svg-text">icon-AlertCaution</span>
                </div>
            </h3>



            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planCheck">
                        <use xlink:href="icons/symbol-defs.svg#icon-planCheck"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planCheck</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planRemoteAccess">
                        <use xlink:href="icons/symbol-defs.svg#icon-planRemoteAccess"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planRemoteAccess</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planRemoteAccessSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#icon-planRemoteAccessSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planRemoteAccessSafetySecurity</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#icon-planSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planSafetySecurity</span>
                </div>
            </h2>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planUnlimitedAccess">
                        <use xlink:href="icons/symbol-defs.svg#icon-planUnlimitedAccess"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planUnlimitedAccess</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planUnlimitedAccessSafetySecurity">
                        <use xlink:href="icons/symbol-defs.svg#icon-planUnlimitedAccessSafetySecurity"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planUnlimitedAccessSafetySecurity</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-planGuardian">
                        <use xlink:href="icons/symbol-defs.svg#icon-planGuardian"></use>
                    </svg>
                    <span class="icon-svg-text">icon-planGuardian</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-Wifi">
                        <use xlink:href="icons/symbol-defs.svg#icon-Wifi"></use>
                    </svg>
                    <span class="icon-svg-text">icon-Wifi</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-Navigation">
                        <use xlink:href="icons/symbol-defs.svg#icon-Navigation"></use>
                    </svg>
                    <span class="icon-svg-text">icon-Navigation</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pending">
                        <use xlink:href="icons/symbol-defs.svg#icon-pending"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pending</span>
                </div>
            </h3>


            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-amex">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-amex"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-amex</span>
                </div>
            </h3>


            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-checking">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-checking"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-checking</span>
                </div>
            </h3>


            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-cvv">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-cvv"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-cvv</span>
                </div>
            </h3>



            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-discover">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-discover"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-discover</span>
                </div>
            </h3>


            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-generic-credit-card">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-generic-credit-card"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-generic-credit-card</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-master-card">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-master-card"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-master-card</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-paypal">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-paypal"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-paypal</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-visa">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-visa</span>
                </div>
            </h3>

            <h3>
                <div class="icon-svg-inline">
                    <svg class="icon-pay-wells-fargo">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-wells-fargo"></use>
                    </svg>
                    <span class="icon-svg-text">icon-pay-wells-fargo</span>
                </div>
            </h3>

        </div>
    </div>
</div>





<div class="container">

    <div class="row">
        <div class="col-12">
            <h1><small>ICON: Inline</small></h1>

            <div class="icon-svg-inline">
                <svg class="icon-IconAttention">
                    <use xlink:href="icons/symbol-defs.svg#icon-IconAttention"></use>
                </svg>
                <span class="icon-svg-text">icon-IconAttention</span>
            </div>

            <h2>
                <div class="icon-svg-inline">
                    <svg class="icon-IconAttention">
                        <use xlink:href="icons/symbol-defs.svg#icon-IconAttention"></use>
                    </svg>
                    <span class="icon-svg-text">icon-IconAttention</span>
                </div>
            </h2>
        </div>

        <div class="col-12">
<pre class="margin-top-large">
<code class="html">
&lt;div class=&quot;icon-svg-inline&quot;&gt;
    &lt;svg class=&quot;icon-IconAttention&quot;&gt;
        &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#icon-IconAttention&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
    &lt;span class=&quot;icon-svg-text&quot;&gt;icon-IconAttention&lt;/span&gt;

&lt;/div&gt;

&lt;h2&gt;
    &lt;div class=&quot;icon-svg-inline&quot;&gt;
        &lt;svg class=&quot;icon-IconAttention&quot;&gt;
            &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#icon-IconAttention&quot;&gt;&lt;/use&gt;
        &lt;span class=&quot;icon-svg-text&quot;&gt;icon-IconAttention&lt;/span&gt;
    &lt;/div&gt;
&lt;/h2&gt;
</code>
</pre>
        </div>
     

        <div class="col-12">
            <h1><small>ICON: Absolute Position</small></h1>

            <ul class="list-inline">
                <li>
                    <div class="icon-svg-absolute">
                        <h2>
                            <span aria-hidden="true" class="icon-graphic-settings"></span>
                            <svg class="icon-IconAttention">
                                <use xlink:href="icons/symbol-defs.svg#icon-IconAttention"></use>
                            </svg>
                        </h2>
                    </div>
                </li>
                <li>
                    <div class="icon-svg-absolute">
                        <span aria-hidden="true" class="icon-graphic-settings"></span>
                        <svg class="icon-IconAttention">
                            <use xlink:href="icons/symbol-defs.svg#icon-IconAttention"></use>
                        </svg>
                    </div>
                </li>
            </ul>

        </div>


        <div class="col-12">
<pre>
<code class="html">
 &lt;div class=&quot;icon-svg-absolute&quot;&gt;
    &lt;h2&gt;
        &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-graphic-settings&quot;&gt;&lt;/span&gt;
        &lt;svg class=&quot;icon-IconAttention&quot;&gt;
            &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#icon-IconAttention&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/h2&gt;
&lt;/div&gt;

&lt;div class=&quot;icon-svg-absolute&quot;&gt;
    &lt;span aria-hidden=&quot;true&quot; class=&quot;icon-graphic-settings&quot;&gt;&lt;/span&gt;
    &lt;svg class=&quot;icon-IconAttention&quot;&gt;
        &lt;use href=&quot;/content/dam/gmownercenter/gmna/static/siteImages/icons/symbol-defs.svg#icon-IconAttention&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code>
</pre>
        </div>

    </div>
</div>


<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Icon FONTS - GRAPHIC</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container mb-9">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-onstar-gaurdian"></span> icon-onstar-gaurdian</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-family-sharing"></span> icon-graphic-family-sharing</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-addvehicle"></span> icon-graphic-addvehicle</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-android-home"></span> icon-graphic-android-home</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-apps"></span> icon-graphic-apps</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-bluetooth"></span> icon-graphic-bluetooth</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-buick"></span> icon-graphic-buick</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-cadillac"></span> icon-graphic-cadillac</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-car"></span> icon-graphic-car</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-carwifi"></span> icon-graphic-carwifi</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-cellphone"></span> icon-graphic-cellphone</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-chargedelayed"></span> icon-graphic-chargedelayed</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-chargeimmediate"></span> icon-graphic-chargeimmediate</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-chargeratedelayed"></span> icon-graphic-chargeratedelayed</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-checkbox"></span> icon-graphic-checkbox</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-chevrolet"></span> icon-graphic-chevrolet</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-clipboard"></span> icon-graphic-clipboard</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-coffee"></span> icon-graphic-coffee</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-dashboard"></span> icon-graphic-dashboard</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-document"></span> icon-graphic-document</h3>
                </li>
                <li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-documentoutline"></span> icon-graphic-documentoutline</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-electric"></span> icon-graphic-electric</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-featurearticles"></span> icon-graphic-featurearticles</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-garage"></span> icon-graphic-garage</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-gm"></span> icon-graphic-gm</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-gmc"></span> icon-graphic-gmc</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-graph"></span> icon-graphic-graph</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-graphchart"></span> icon-graphic-graphchart</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-keys"></span> icon-graphic-keys</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-learnabout"></span> icon-graphic-learnabout</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-location"></span> icon-graphic-location</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-map"></span> icon-graphic-map</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-maps"></span> icon-graphic-maps</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-message"></span> icon-graphic-message</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-messages"></span> icon-graphic-messages</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-messagesopen"></span> icon-graphic-messagesopen</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-mileage"></span> icon-graphic-mileage</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-mobile"></span> icon-graphic-mobile</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-music"></span> icon-graphic-music</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class=" icon-graphic-myplans"></span> icon-graphic-myplans</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-nav"></span> icon-graphic-nav</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-notifications"></span> icon-graphic-notifications</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number1"></span> icon-graphic-number1</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number2"></span> icon-graphic-number2</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number3"></span> icon-graphic-number3</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number4"></span> icon-graphic-number4</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number5"></span> icon-graphic-number5</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-number6"></span> icon-graphic-number6</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-offers"></span> icon-graphic-offers</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-oillife"></span> icon-graphic-oillife</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-oillifemeter"></span> icon-graphic-oillifemeter</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-authorizeddrivers"></span> icon-graphic-onStar-authorizeddrivers</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-average-speed"></span> icon-graphic-onstar-average-speed</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-brand"></span> icon-graphic-onStar-brand</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-distance-driven"></span> icon-graphic-onstar-distance-driven</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-driver-score"></span> icon-graphic-onstar-driver-score</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-emergency"></span> icon-graphic-onStar-emergency</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-familylink"></span> icon-graphic-onStar-familylink</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-fuel-economy"></span> icon-graphic-onstar-fuel-economy</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-gmcard"></span> icon-graphic-onStar-gmcard</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-handsfree"></span> icon-graphic-onStar-handsfree</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-hard-acceleration"></span> icon-graphic-onstar-hard-acceleration</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-hard-braking"></span> icon-graphic-onstar-hard-braking</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-idle-time"></span> icon-graphic-onstar-idle-time</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-insurance"></span> icon-graphic-onStar-insurance</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-late-night-driving"></span> icon-graphic-onstar-late-night-driving</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-nav"></span> icon-graphic-onStar-nav</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-paymethod"></span> icon-graphic-onStar-paymethod</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-pin"></span> icon-graphic-onStar-pin</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-profile"></span> icon-graphic-onStar-profile</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-roadsideassist"></span> icon-graphic-onStar-roadsideassist</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-security"></span> icon-graphic-onStar-security</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-siriusxm"></span> icon-graphic-onStar-siriusxm</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar-speed-above-80"></span> icon-graphic-onstar-speed-above-80</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-vehiclemanager"></span> icon-graphic-onStar-vehiclemanager</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onStar-wifihotspot"></span> icon-graphic-onStar-wifihotspot</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar"></span> icon-graphic-onstar</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-onstar2"></span> icon-graphic-onstar2</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-phone"></span> icon-graphic-phone</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-pluggedin"></span> icon-graphic-pluggedin</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-profile"></span> icon-graphic-profile</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-pulse"></span> icon-graphic-pulse</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-pulsefill"></span> icon-graphic-pulsefill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-recalls"></span> icon-graphic-recalls</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-secure"></span> icon-graphic-secure</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-service"></span> icon-graphic-service</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-settings"></span> icon-graphic-settings</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-shop"></span> icon-graphic-shop</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-shopbag"></span> icon-graphic-shopbag</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-star"></span> icon-graphic-star</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-tcpsaccepts"></span> icon-graphic-tcpsaccepts</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-tcpsclock"></span> icon-graphic-tcpsclock</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-tcpspencil"></span> icon-graphic-tcpspencil</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-time"></span> icon-graphic-time</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-tools"></span> icon-graphic-tools</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-truck"></span> icon-graphic-truck</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-unplugged"></span> icon-graphic-unplugged</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-vehicles"></span> icon-graphic-vehicles</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-voice"></span> icon-graphic-voice</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-warranty"></span> icon-graphic-warranty</h3>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-graphic-wifi"></span> icon-graphic-wifi</h3>
                </li>
            </ul>
        </div>
    </div>
</div>




<div class="container sg-title">
    <div class="row">
        <div class="col-12">
            <h1>Icon FONTS - UI</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container mb-9">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-account"></span> icon-ui-account</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-add"></span> icon-ui-add</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-adddot"></span> icon-ui-adddot</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-addfill"></span> icon-ui-addfill</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowdown"></span> icon-ui-arrowdown</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowdownfill"></span> icon-ui-arrowdownfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowleft"></span> icon-ui-arrowleft</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowleftfill"></span> icon-ui-arrowleftfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowright"></span> icon-ui-arrowright</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowrightfill"></span> icon-ui-arrowrightfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowup"></span> icon-ui-arrowup</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-arrowupfill"></span> icon-ui-arrowupfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-attention"></span> icon-ui-attention</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-attentionfill"></span> icon-ui-attentionfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-attentionoutline"></span> icon-ui-attentionoutline</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-bargraph"></span> icon-ui-bargraph</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-bullet"></span> icon-ui-bullet</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-calendar"></span> icon-ui-calendar</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-caution"></span> icon-ui-caution</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-change"></span> icon-ui-change</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-chat"></span> icon-ui-chat</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-check"></span> icon-ui-check</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-checkcircle"></span> icon-ui-checkcircle</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-checkfill"></span> icon-ui-checkfill</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-connected-services-data"></span> icon-ui-connected-services-data</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-connected-services-marketplace"></span> icon-ui-connected-services-marketplace</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-connected-services-mobile-app"></span> icon-ui-connected-services-mobile-app</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-connected-services-remote-key-fob"></span> icon-ui-connected-services-remote-key-fob</h3>
                </li>


                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-circle"></span> icon-ui-circle</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-circleopen"></span> icon-ui-circleopen</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-clock"></span> icon-ui-clock</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-close"></span> icon-ui-close</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-closedot"></span> icon-ui-closedot</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-closefill"></span> icon-ui-closefill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-directions"></span> icon-ui-directions</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-download"></span> icon-ui-download</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-edit"></span> icon-ui-edit</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-editdots"></span> icon-ui-editdots</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-globe"></span> icon-ui-globe</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-grid"></span> icon-ui-grid</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-help"></span> icon-ui-help</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-info"></span> icon-ui-info</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-infofill"></span> icon-ui-infofill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-linegraph"></span> icon-ui-linegraph</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-list"></span> icon-ui-list</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-minus"></span> icon-ui-minus</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-minusfill"></span> icon-ui-minusfill</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-newwindow"></span> icon-ui-newwindow</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-notification"></span> icon-ui-notification</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-offer-tag"></span> icon-ui-offer-tag</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-onstar-advisor"></span> icon-ui-onstar-advisor</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-onstar-emergency-contact"></span> icon-ui-onstar-emergency-contact</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-onstar-remote-access"></span> icon-ui-onstar-remote-access</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-onstar-roadside-assistance"></span> icon-ui-onstar-roadside-assistance</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-onstar-safety-and-security"></span> icon-ui-onstar-safety-and-security</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-pause"></span> icon-ui-pause</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-preferreddealer"></span> icon-ui-preferreddealer</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-print"></span> icon-ui-print</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-quote"></span> icon-ui-quote</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-refresh"></span> icon-ui-refresh</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-save"></span> icon-ui-save</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-search"></span> icon-ui-search</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-swoop"></span> icon-ui-swoop</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-table"></span> icon-ui-table</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-trash"></span> icon-ui-trash</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-upload"></span> icon-ui-upload</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-video"></span> icon-ui-video</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videofullscreen"></span> icon-ui-videofullscreen</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videominimize"></span> icon-ui-videominimize</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videooutline"></span> icon-ui-videooutline</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videopause"></span> icon-ui-videopause</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videoplay"></span> icon-ui-videoplay</h3>
                </li>

                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-videovolume"></span> icon-ui-videovolume</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-view-document"></span> icon-ui-view-document</h3>
                </li>
                <li>
                    <h3 class="cit"><span aria-hidden="true" class="icon-ui-view"></span> icon-ui-view</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

