

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>for Julie</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
    <div class="row">

        <div class="col-lg-8 col-12">

            <div class="gb-label gb-color-grey-mid-dark">
                <p class="mb-1">Results last updated: Jun 13, 2022</p>
            </div>
            <div class="gb-headline2">
                <p class="mb-1">2021 Chevrolet Bolt EV</p>
            </div>
            <div class="gb-label mb-6">
                <p class="mb-0">VIN: 1G1FY6S04M4114576</p>
            </div>


            <div class="d-flex flex-column flex-lg-row justify-content-lg-between justify-content-start">
                <div>
                    <div class="gb-label">
                        <p class="mb-0">Mileage</p>
                    </div>
                    <div class="gb-body1 heavy">
                        <p class="mb-0 mt-2">52,241</p>
                    </div>
                    <div class="gb-body2 mb-2">
                        <p class="mb-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                    <div class="gb-label gb-color-grey-mid-dark">
                        <p class="mb-0">Last updated: Jun 13, 2022</p>
                    </div>
                </div>

                <div class="gb-body2 mt-4 mt-lg-0">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable1">Update</a>
                </div>
        </div>
    </div>




</div>
