

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Arabic Font Size for Mike</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
    <div class="row">

        <div class="col-sm-12 margin-bottom-medium">
            <h1><small>Headings: CITATION Style</small></h1>
            <h1 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 1 - 35px</h1>
            <h2 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 2 - 35px</h2>
            <h3 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 3 - 30px</h3>
            <h3 class="cit35">قفز الثعلب البني السريع فوق الكلب الكسول Heading 3.5 - 25px</h3>
            <h4 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 4 - 22px</h4>
            <h5 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 5 - 20px</h5>
            <h6 class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Heading 6 - 16px</h6>
        </div>
<!--         <div class="col-sm-12 margin-bottom-medium">
            <h1><small>Body/Paragraph:</small></h1>
            <p>Body - 16px</p>
            <p><strong>This is strong paragraph text. - 16px</strong></p>
            <p><em>This is italicized paragraph text. - 16px</em></p>
            <p><small>This is small paragraph text. - 14px</small></p>
        </div> -->
        <div class="col-sm-12">
            <h1><small>Body/Paragraph: CITATION Style</small></h1>
            <p class="cit">قفز الثعلب البني السريع فوق الكلب الكسول Body - 16px</p>
            <p class="cit disclaimer">قفز الثعلب البني السريع فوق الكلب الكسول Disclaimer - 14px</strong></p>
        </div>
    </div>




</div>
