<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Modal Window</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModal">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content-cit">

			<div class="modal-header-cit dflex flex-column">
				<button type="button" class="close-cit" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="icon-ui-closedot"></span>
				</button>
				<div class="modal-title">
					<h3 class="cit35">
					    <div class="icon-svg-inline">
					        <svg class="planSafetySecurity">
					            <use href="icons/symbol-defs.svg#planSafetySecurity"></use>
					        <span class="icon-svg-text">About Onstar Safety & Security</span>
					    </div>
					</h3>
					<span class="citation-bar onstar"></span>
				</div>
			</div>

			<div class="modal-body-cit">
				<h5 class="cit strike-through">$24.99/mo</h5>
				<h3 class="cit35 heavy mb-6">$19.99/mo</h3>

				<h4 class="cit heavy">Emergency Services</h4>
				<p class="cit mb-6">Push your red Emergency button and a specially trained Advisor can direct emergency service providers to your location.</p>

				<h4 class="cit heavy">Crisis Assist</h4>
				<p class="cit mb-12">Onstar can provide critical assistance in severe weather conditions or a crisis.</p>

				<div class="card-cit-cta mb-8">
                	<div class="content">
                    	<h5 class="cit">Want to keep a good thing going?</h5>
                    	<div class="d-flex flex-column flex-md-row justify-content-center">
                        	<div class="d-flex flex-column">
                            	<button href="#" class="btn btn-primary-dark-cit mb-0">Secondary Dark</button>
                        	</div>
                    	</div>
                	</div>
            	</div>

				<div class="card-cit-cta mb-8">
                	<div class="content ">
                		<h5 class="cit heavy mb-6 text-left">Select how you want to renew your plan when it ends.</h5>
					    <div class="row mb-1 d-flex justify-content-center">
					        <div class="col-12 col-md-6 d-flex">
					            <div class="card-cit-select selected">
					                <h6 class="cit heavy">Month by month</h6>
					                <span class="citation-bar"></span>
					                <h4 class="cit heavy">$21.99/mo <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></h4>
					                <p class="cit mb-0">Billed monthly $21.99 <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></p>
v
					            </div>
					        </div>
					        <div class="col-12 col-md-6 d-flex">
					            <div class="card-cit-select">
					                <h6 class="cit heavy">Annual purchase</h6>
					                <span class="citation-bar"></span>
					                <h4 class="cit heavy">$19.99/mo <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></h4>
					                <p class="cit mb-0">Billed annually $21.99 <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></p>
					                <a href="" class="btn btn-link-dark-cit mt-2">Select</a>
					            </div>
					        </div>
					    </div>
                    	<div class="d-flex flex-column flex-md-row justify-content-center">
                        	<div class="d-flex flex-column">
                            	<button href="#" class="btn btn-primary-dark-cit mb-0">Add to Cart</button>
                        	</div>
                    	</div>

                	</div>
            	</div>


				<div class="card-cit-cta mb-8">
                	<div class="content ">
                		<h5 class="cit heavy mb-6 text-left">Select how you want to renew your plan when it ends.</h5>
					    <div class="row mb-1 d-flex justify-content-center">
					        <div class="col-12 col-md-6 d-flex">
					            <div class="card-cit-select selected ">
					                <h6 class="cit heavy">Month by month</h6>
					                <span class="citation-bar"></span>
					                <h4 class="cit heavy">$21.99/mo <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></h4>
					                <p class="cit mb-0">Billed monthly $21.99 <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></p>
                <h5 class="cit heavy mt-1 mb-0"><span aria-hidden="true" class="icon-ui-checkfill"></span>Selected</h5>
					            </div>
					        </div>
					        <div class="col-12 col-md-6 d-flex">
					            <div class="card-cit-select">
					                <h4 class="cit heavy">$19.99/mo <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></h4>
					                <a href="" class="btn btn-link-dark-cit mt-2">Select</a>
					            </div>
					        </div>
					    </div>
                    	<div class="d-flex flex-column flex-md-row justify-content-center">
                        	<div class="d-flex flex-column">
                            	<button href="#" class="btn btn-primary-dark-cit mb-0">Add to Cart</button>
                        	</div>
                    	</div>

                	</div>
            	</div>


				<div class="card-cit-cta mb-8">
                	<div class="content ">
                		<h5 class="cit heavy mb-6 text-left">Select how you want to renew your plan when it ends.</h5>
					    <div class="row mb-1 d-flex justify-content-center">
					        <div class="col-12 col-md-6">
					            <div class="card-cit-select selected">
					                <h4 class="cit heavy">$21.99/mo <sup><a href="" class="btn btn-link-dark-cit disclaimer">&#8224</a></sup></h4>
                					<h5 class="cit heavy mt-1 mb-0"><span aria-hidden="true" class="icon-ui-checkfill"></span>Selected</h5>
					            </div>
					        </div>
					    </div>
                    	<div class="d-flex flex-column flex-md-row justify-content-center">
                        	<div class="d-flex flex-column">
                            	<button href="#" class="btn btn-primary-dark-cit mb-0">Add to Cart</button>
                        	</div>
                    	</div>

                	</div>
            	</div>
	            <div class="card-cit-payment-info">
	                <div class="row mb-4">
	                    <div class="col-12">
	                        <h4 class="cit heavy">Your Payment Information</h4>
	                    </div>
	                </div>
	                <div class="row mb-4">
	                    <div class="col-12 col-md-6">
	                        <h6 class="cit heavy">Payment Method:<span class="p cit ml-3">VISA 3242</span></h6>
	                    </div>
	                    <div class="col-12 col-md-6">
	                        <h6 class="cit heavy">Next Bill:<span class="p cit ml-3"><strong><a href="" class="btn btn-link-dark-cit">August 21, 2019</a></strong></span></h6>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-12">
	                        <a href="" class="btn btn-link-dark-cit">Change Payment Method</a>
	                    </div>
	                </div>
	            </div>
			</div>

			<div class="modal-footer-cit">
				<p class="cit mb-4">Want help figuring out your next plan? <a href="" class="btn btn-link-dark-cit">Chat with an Advisor</a></p>
				<h6 class="cit heavy mb-1">Want to modify or cancel your service?</h6>
				<p class="cit mb-0">Call <a href="tel:713-992-0916" class="cit btn btn-link-dark-cit">1.888.4ONSTAR</a> (466.7827) to talk to an Advisor or <a href="" class="btn btn-link-dark-cit">Cancel your Onstar or chevrolet Connected Services</a></p>
			</div>
		</div>
	</div>
</div>







<!-- DBaker: On second click of same modal launch, makes the modal scroll to top so heading of modal can be read. -->
<!-- <script>
	$('#myModal').on('shown.bs.modal', function () {
			$('#myModal').animate({ scrollTop: 0 }, 'fast');
	});
</script>
 -->



