

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Password Reset</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
	<div class="row margin-bottom-xl mt-12">
        <div class="col-12">
            <h1><small>Forgot</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row ">
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

			<div class="container-cit-h100 p-md-16">
				<div class="row">
					<div class="col-12">
						<h3 class="cit heavy mb-0">Forgot your sign in or password?</h3>
					</div>
				</div>

				<div class="row mt-4 mb-10">
					<div class="col-12">
						<p class="cit mb-0">Don’t worry, we’ll help you remember. Enter your email address below to confirm your account.</p>
					</div>
				</div>


				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-4">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group mb-6">
								<ul class="radio-list margin-bottom-none">
									<li>
										<label>
											<span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
											</span>
											<div class="margin-left-xl">Receive an Email</div>
										</label>
									</li>
									<li>
										<label>
											<span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
											</span>
											<div class="margin-left-xl">Receive a Text Message</div>
										</label>
									</li>
								</ul>
								<p class="cit disclaimer mt-2 mb-0">Standard message and data rates apply.</p>
							</div>
               				<button href="#" class="btn btn-primary-dark-cit disabled">Primary dark</button>
						</form>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-12 d-flex flex-column">
						<a href="" class="btn btn-link-dark-cit text-center mb-0">Cancel</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<p class="cit mb-0">If you need help, please call us at <a href="tel:1-877-558-8352" class="btn btn-link-dark-cit">1-877-558-8352</a>.</p>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>

