

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Password Reset</h1>
			<hr>
		</div>
	</div>
</div>

<div class="container">
	<div class="row margin-bottom-xl">
        <div class="col-12">
            <h1><small>Sign in</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 padding-none">

			<div class="container-cit p-16">
				<div class="row mb-8">
					<div class="col-12 text-center">
						<img srcset="img/prototypes/customer-onboarding/2019-bowtie-chevrolet-sm.png" alt="description of image">
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-6">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group mb-6">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
               				<button href="#" class="btn btn-primary-dark-cit">Primary dark</button>
						</form>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-12 d-flex flex-column">
						<a href="" class="btn btn-link-dark-cit text-center mb-2">Forgot password</a>
						<a href="" class="btn btn-link-dark-cit text-center">Create account</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<h5 class="cit heavy text-center mb-6">One sign in. All your rewards, vehicles, and apps.</h5>
						<img srcset="img/prototypes/customer-onboarding/19-ot-4-div-cb-v-sml-rgb.png" class="img-fluid mb-6" alt="description of image">
						<p class="cit mb-0">By signing in, you are accepting our <a href="" class="btn btn-link-dark-cit">Terms and Conditions</a> and <a href="" class="btn btn-link-dark-cit">Privacy Statement</a>.</p>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row margin-bottom-xl mt-12">
        <div class="col-12">
            <h1><small>Password Reset</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

			<div class="container-cit p-16">
				<div class="row">
					<div class="col-12">
						<h3 class="cit heavy mb-0">Sign in to your account</h3>
					</div>
				</div>

				<div class="row mt-4 mb-4">
					<div class="col-12">
						<div class="cit-alert alert-danger d-flex d-flex align-items-center mb-0" role="alert">
							<div class="icon">
								<svg class="AlertCaution">
									<use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
								</svg>
							</div>
							<div class="text">
								<h6 class="cit mb-0">Sorry, your code has expired. Please get the reset via <a href="" class="btn btn-link-dark-cit">Link</a>.</h6>
							</div>
						</div>
					</div>
				</div>


				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-6">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group mb-6">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
               				<button href="#" class="btn btn-primary-dark-cit">Primary dark</button>
						</form>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-12 d-flex flex-column">
						<a href="" class="btn btn-link-dark-cit text-center mb-2">Forgot password</a>
						<a href="" class="btn btn-link-dark-cit text-center">Create account</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<h5 class="cit heavy text-center mb-6">One sign in. All your rewards, vehicles, and apps.</h5>
						<img srcset="img/prototypes/customer-onboarding/19-ot-4-div-cb-v-sml-rgb.png" class="img-fluid mb-6" alt="description of image">
						<p class="cit mb-0">By signing in, you are accepting our <a href="" class="btn btn-link-dark-cit">Terms and Conditions</a> and <a href="" class="btn btn-link-dark-cit">Privacy Statement</a>.</p>
					</div>
				</div>



			</div>
		</div>
	</div>


	<div class="row mt-12"><!-- NOTE mt-12 on this row class is for guide only! -->
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

			<div class="container-cit p-16">
				<div class="row">
					<div class="col-12">
						<h3 class="cit heavy mb-0">Forgot your sign in?</h3>
					</div>
				</div>

				<div class="row mt-4 mb-10">
					<div class="col-12">
						<p class="cit mb-0">Don’t worry, we’ll help you remember. Enter your email address below to confirm your 
					</div>
				</div>


				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-4">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group mb-6">
								<ul class="radio-list margin-bottom-none">
									<li>
										<label>
											<span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
											</span>
											<div class="margin-left-xl">Receive an Email</div>
										</label>
									</li>
									<li>
										<label>
											<span class="radio">
												<input type="radio" name="foo" value="2">
												<span class="radio-value" aria-hidden="true"></span>
											</span>
											<div class="margin-left-xl">Receive a Text Message</div>
										</label>
									</li>
								</ul>
								<p class="cit disclaimer mt-2 mb-0">Standard message and data rates apply.</p>
							</div>
               				<button href="#" class="btn btn-primary-dark-cit disabled">Primary dark</button>
						</form>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-12 d-flex flex-column">
						<a href="" class="btn btn-link-dark-cit text-center mb-0">Cancel</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<p class="cit mb-0">If you need help, please call us at <a href="tel:1-877-558-8352" class="btn btn-link-dark-cit">1-877-558-8352</a>.</p>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>

