

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Password Reset</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
	<div class="row margin-bottom-xl mt-12">
        <div class="col-12">
            <h1><small>Reset</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

			<div class="container-cit-h100 p-16">
				<div class="row">
					<div class="col-12">
						<h3 class="cit heavy mb-0">Sign in to your account</h3>
					</div>
				</div>

				<div class="row mt-4 mb-4">
					<div class="col-12">
						<div class="cit-alert alert-danger d-flex align-items-center mb-0" role="alert">
							<div class="icon">
								<svg class="AlertCaution">
									<use xlink:href="icons/symbol-defs.svg#AlertCaution"></use>
								</svg>
							</div>
							<div class="text">
								<h6 class="cit mb-0">Sorry, your code has expired. Please get the reset via <a href="" class="btn btn-link-dark-cit">Link</a>.</h6>
							</div>
						</div>
					</div>
				</div>


				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-6">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							</div>
							<div class="form-group mb-6">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
               				<button href="#" class="btn btn-primary-dark-cit">Primary dark</button>
						</form>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-12 d-flex flex-column">
						<a href="" class="btn btn-link-dark-cit text-center mb-2">Forgot password</a>
						<a href="" class="btn btn-link-dark-cit text-center">Create account</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12 d-flex flex-column align-items-center">
						<h5 class="cit heavy text-center mb-6">One sign in. All your rewards, vehicles, and apps.</h5>
						<img srcset="img/prototypes/customer-onboarding/19-ot-4-div-cb-v-sml-rgb.png" class="img-fluid mb-6" alt="description of image">
						<p class="cit mb-0">By signing in, you are accepting our <a href="" class="btn btn-link-dark-cit">Terms and Conditions</a> and <a href="" class="btn btn-link-dark-cit">Privacy Statement</a>.</p>
					</div>
				</div>



			</div>
		</div>
	</div>


</div>

