

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Password Reset</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
	<div class="row margin-bottom-xl mt-12">
        <div class="col-12">
            <h1><small>Strength</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

			<div class="container-cit-h100 p-16">
				<div class="row">
					<div class="col-12">
						<h3 class="cit heavy mb-0">Reset password</h3>
					</div>
				</div>
				<div class="row mt-4 mb-10">
					<div class="col-12">
						<p class="cit mb-0">Don’t worry, we’ll help you remember. Enter your email address below to confirm your account.</p>
					</div>
				</div>


				<div class="row mb-4">
					<div class="col-12">
						<form>
							<div class="form-group mb-6">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>

							<ul class="cit-password-instruction mb-6">
								<li>
									<h6 class="cit heavy mb-0 mr-1">Password Strength</h6><h6 class="cit heavy weak mb-0">Weak</h6>
								</li>
								<li>
									<div class="check-mark__wrapper">
										<div class="check-mark"></div>
									</div>
									<p class="cit">1 number</p>
								</li>
								<li class="success">
									<div class="check-mark__wrapper">
										<div class="check-mark"></div>
									</div>
									<p class="cit heavy">8 characters in length</p>
								</li>
								<li class="error">
									<p class="cit">Password can’t be longer than 32 characters. Change color to red by replacing "default" class with "error" class</p>
								</li>
							</ul>

               				<button href="#" class="btn btn-primary-dark-cit disabled">Primary dark</button>
						</form>

					</div>
				</div>

	


			</div>
		</div>
	</div>


</div>

