
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Buttons</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Toggle button</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn gb-secondary-button active">
			<input type="radio" name="options" id="option1" autocomplete="off" checked>Active
		</label>
		<label class="btn gb-secondary-button">
			<input type="radio" name="options" id="option2" autocomplete="off">In-Active
		</label>
	</div>
</div>



