
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Badges</h1>
			<hr>
		</div>
	</div>
</div>

<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Badge - Discount</small></h1>
        </div>
    </div>

    <div class="row margin-bottom-xl">
    	<div class="col-12">
			<div class="cit2-badge-discount">
				<span aria-hidden="true" class="icon-ui-offer-tag"></span>
				<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
			</div>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Badge - Satus</small></h1>
        </div>
    </div>

    <div class="row margin-bottom-xl">
    	<div class="col-12">
			<div class="cit2-badge-status">
				<div class="gb-descriptive1">CONNECTED</div>	
			</div>
			<div class="cit2-badge-status">
				<div class="gb-descriptive1">SHARED</div>	
			</div>
		</div>
	</div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Badge - Family Sharing</small></h1>
        </div>
    </div>

    <div class="row margin-bottom-xl">
    	<div class="col-12">
			<ul class="cit2-badge-familyshare">
				<li class=""><div class="gb-body1"><p>JW</p></div></li>
				<li class="child"><div class="gb-body1"><p>MF</p></div></li>
			</ul>
		</div>
	</div>
</div>

