<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Cards</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card - Offer Large</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16 justify-content-md-center">
		<div class="col-12 col-lg-10">
            <div class="card-offer-large-cit2">
                <div class="d-flex flex-column flex-lg-row">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

                    <div class="content">
						<div class="gb-body1 heavy mb-2"><p class="mb-0">Get the App Access Plan</p></div>
						<div class="gb-body1 mb-6"><p class="mb-0">Bring your In-Vehicle Apps to life with the Chevrolet App Access Plan. With just a tap on your infotainment screen, you can access your music, news, audiobooks and more. Plus, with Alexa Built-In, you can ask to stream your favorite playlist, find and listen to popular podcasts, get directions on the go, and more — all from inside your vehicle.</p></div>

						<div class="row">
							<div class="col-12 col-lg-6">
								<a class="gb-primary-button">View details</a>
							</div>
						</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card - Offer Small</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12 col-lg-4 d-flex">

            <div class="card-offer-small-cit2">
                <div class="content">
					<div class="gb-body1 heavy mb-2"><p class="mb-0">Complimentary in-vehicle data for Chevrolet owners</p></div>
					<div class="gb-body1"><p class="mb-6">Voluptate cillum eu Lorem sunt. Aute consectetur ex occaecat et aute duis velit cupidatat amet.</p></div>
                </div>
				<div class="row mt-auto">
					<div class="col-12 col-lg-6">
						<a class="gb-primary-button">View details</a>
					</div>
				</div>
            </div>

        </div>

		<div class="col-12 col-lg-4 d-flex">

            <div class="card-offer-small-cit2">
                <div class="content">
					<div class="gb-body1 heavy mb-2"><p class="mb-0">Get 2 months at no additional cost</p></div>
					<div class="gb-body1"><p class="mb-6">Voluptate cillum eu Lorem sunt. Aute consectetur ex occaecat et aute duis velit cupidatat. <a class="gb-body1 heavy" href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></p></div>
                </div>
				<div class="row mt-auto">
					<div class="col-12 col-lg-6">
						<a class="gb-primary-button">View details</a>
					</div>
				</div>
            </div>

        </div>

		<div class="col-12 col-lg-4 d-flex">

            <div class="card-offer-small-cit2">
                <div class="content">
					<div class="gb-body1 heavy mb-2"><p class="mb-0">Some other offer with a shortish description</p></div>
					<div class="gb-body1"><p class="mb-6">Voluptate cillum eu Lorem sunt. Aute consectetur ex occaecat et aute duis velit cupidatat.</p></div>
                </div>
				<div class="row mt-auto">
					<div class="col-12 col-lg-6">
						<a class="gb-primary-button">View details</a>
					</div>
				</div>
            </div>

        </div>

    </div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card 1</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12 col-md-6">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

                    <div class="content">
						<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
						<div class="gb-body1 mb-6"><p class="mb-0">Get the complete driving experience.</p></div>

						<div class="pricing d-flex flex-column mb-9">
							<div class="price d-flex">
								<div class="gb-bold1 mb-0 sup">$</div>
								<div class="gb-bold1 mb-0 mx-1">41</div>
								<div class="d-flex flex-column">
									<div class="gb-bold1 mb-1 sup">.99</div>
									<div class="gb-body2">
										<a href="#">/month</a>
										<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
									</div>
								</div>
							</div>

							<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
						</div>

						<a class="gb-primary-button">View details</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card 2</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

					<div class="content">
						<div class="row">
							<div class="col-12 col-lg-7">
                    		
                    			<div class="gb-body2">Get one month on us</div>
								<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
								<div class="gb-body1 mb-6"><p class="mb-0">Keep all of your services and enjoy 1 month on us. With your Essentials plan, stay more protected and connected on the road ahead with Automatic Crash Response, emergency services, remote key fob and more!</p></div>
								<div class="d-flex mb-6">
									<div class="gb-body1 heavy mr-5"><a href="#">View details</a></div>
									<div class="gb-body1 heavy"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></li>
								</div>
							</div>

							<div class="col-12 col-lg-5">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="pricing d-flex flex-column mb-4">
											<div class="price d-flex">
												<div class="gb-bold1 mb-0 sup">$</div>
												<div class="gb-bold1 mb-0 mx-1">41</div>
												<div class="d-flex flex-column">
													<div class="gb-bold1 mb-1 sup">.99</div>
													<div class="gb-body2">
														<a href="#">/month</a>
														<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
													</div>
												</div>
											</div>
											<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
										</div>

										<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="gb-body2">
												<p class="mb-0">Price includes your First Responders discount</p>
											</div>
											<div class="cit2-badge-discount">
												<span aria-hidden="true" class="icon-ui-offer-tag"></span>
												<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-6">
										<a class="gb-primary-button">Take offer</a>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-lg-6">


									</div>
								</div>

							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card BYO</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12">
            <div class="card-byo-cit2">
                <div class="d-flex flex-column">


						<div class="row">
							<div class="col-12 col-lg-4 mb-8 mb-lg-0">
                    			<div class="gb-body1 heavy mb-3">4G LTE Wi-Fi</div>
								<div class="gb-body2 mb-0"><p class="mb-0">Unlimited in-vehicle data powers up to 7 devices for easy streaming & surfing for you and your passengers with a fast, reliable connection. <a href="#" class="gb-body2 heavy">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></p></div>
							</div>

							<div class="col-12 col-lg-4 mb-6 mb-lg-0">
								<ul class="category">
									<li>
										<div class="gb-body2 strike-through">Unlimited 4G LTE Wi-Fi<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
									<li>
										<div class="gb-body2 strike-through">In-vehicle app Access<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
								</ul>
							</div>

							<div class="col-12 col-lg-4">
								<div class="pricing d-flex flex-column mb-8 mb-lg-4">
									<div class="price d-flex">
										<div class="gb-bold1 mb-0 sup">$</div>
										<div class="gb-bold1 mb-0 mx-1">15</div>
										<div class="d-flex flex-column">
											<div class="gb-bold1 mb-1 sup">.00</div>
											<div class="gb-body2">/month</div>
										</div>
									</div>
								</div>
								<a class="gb-primary-button">Add and Save</a>
							</div>

						</div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
	<div class="row mb-16">
		<div class="col-12">
            <div class="card-byo-cit2 selected">
				<div class="selected-pill">
					<div class="gb-body2 invert"><small><span aria-hidden="true" class="icon-ui-check"></span>Selected</small></div>
				</div>
                <div class="d-flex flex-column">


						<div class="row">
							<div class="col-12 col-lg-4 mb-8 mb-lg-0">
								<div class="gb-body2">Included in your current plan</div>
                    			<div class="gb-body1 heavy mb-3">Safety & Security</div>
								<div class="gb-body2 mb-0"><p class="mb-0">The unexpected can happen at any time. But with the OnStar Safety & Security Plan, a specially trained Advisor is ready to help 24/7 with emergencies, crashes, vehicle theft and more. <a href="#" class="gb-body2 heavy">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></p></div>
							</div>

							<div class="col-12 col-lg-4 mb-6 mb-lg-0">
								<ul class="category">
									<li>
										<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
									<li>
										<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
									<li>
										<div class="gb-body2">Stolen Vehicle Assistance<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
									<li>
										<div class="gb-body2">Roadside Assistance<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
									<li>
										<div class="gb-body2">Crisis Assist<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a></div>
									</li>
								</ul>
							</div>

							<div class="col-12 col-lg-4">
								<div class="gb-body2">Included in your current plan</div>
								<div class="gb-body1 heavy mb-2">$34.99 <em>Essentials plan</em></div>
								<div class="gb-body2">Available separately for $12.99</div>
								<a class="gb-secondary-button mt-4">Remove</a>
							</div>

						</div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card - Payment</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12 col-lg-6 d-flex">

            <div class="card-payment-cit2 selected">
 				<div class="selected-pill">
					<div class="gb-body2 invert"><small><span aria-hidden="true" class="icon-ui-check"></span>Selected</small></div>
				</div>
				<div class="info-area">
					<div class="gb-body1">
		                <div class="icon-svg-inline medium-icon">
		                    <svg class="icon-pay-visa">
		                        <use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
		                    </svg>
		                </div>
	            	</div>
	        		<div class="gb-body1 heavy mb-2"><p class="mb-0">••••   ••••   ••••   2123</p></div>

					<div class="gb-body2"><p class="mb-0">This card has been deleted from your account but will still be billed until you select a new payment method.</p></div>
				</div>
				<div class="edit-area">
					<a class="gb-icon-button" href="">
						<span aria-hidden="true" class="icon-ui-editdots"></span>
					</a>
				</div>
            </div>

        </div>

		<div class="col-12 col-lg-6 d-flex">

            <div class="card-payment-cit2">
				<div class="info-area">
					<div class="gb-body1">
		                <div class="icon-svg-inline medium-icon">
	                    	<svg class="icon-pay-amex">
	                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-amex"></use>
	                    	</svg>
		                </div>
	            	</div>
					<div class="gb-body1 heavy mb-2"><p class="mb-0">••••   ••••   ••••   2123</p></div>
					<div class="d-flex">
						<div class="d-flex flex-column mr-10">
                			<div class="gb-body1 heavy mb-0"><p class="mb-0">NAME ON CARD</p></div>
							<div class="gb-body2"><p class="mb-0">Grey Franklin</p></div>
						</div>
						<div class="d-flex flex-column">
                			<div class="gb-body1 heavy mb-0"><p class="mb-0">EXPIRES ON</p></div>
							<div class="gb-body2"><p class="mb-0">02/22</p></div>
						</div>
					</div>
				</div>
				<div class="edit-area">
					<a class="gb-icon-button" href="">
						<span aria-hidden="true" class="icon-ui-editdots"></span>
					</a>
				</div>
            </div>

        </div>

		<div class="col-12 col-lg-6 d-flex">

            <div class="card-payment-cit2 expired">
				<div class="info-area">
					<div class="gb-body1">
		                <div class="icon-svg-inline medium-icon">
	                    	<svg class="icon-pay-paypal">
	                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-paypal"></use>
	                    	</svg>
		                </div>
	            	</div>

                	<div class="gb-body1 heavy mb-0"><p class="mb-0">EMAIL</p></div>
					<div class="gb-body2"><p class="mb-0">greyfranklin@gmail.com</p></div>
					<div class="gb-body2 mt-4">Not eligible for this plan<a class="gb-icon-button pl-1 pt-0 pb-0"><span aria-hidden="true" class="icon-ui-help "></span></a>
					</div>
				</div>
				<div class="edit-area">
					<a class="gb-icon-button" href="">
						<span aria-hidden="true" class="icon-ui-editdots"></span>
					</a>
				</div>
			</div>

        </div>

    </div>
</div>