
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Payment</h1>
			<hr>
		</div>
	</div>
</div>



<div class="container sg-desktop-show">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Payment History</small></h1>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
    	<div class="col-12">
    		<div class="payment-history">

    			<div class="section-title">
    				<div class="gb-body1 heavy">Next Payment</div>
    			</div>
				<div class="payment">
					<div class="title">
						<div class="payment-icon">
							<div class="gb-body1">
			                	<div class="icon-svg-inline medium-icon">
			                   		<svg class="icon-pay-visa">
			                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
			                    	</svg>
			                	</div>
			                </div>
			            </div>
		                <div class="title-info">
	            			<div class="gb-body1 heavy">October 24, 2020</div>
	            			<div class="gb-body2">Visa ending in 2123</div>
	            		</div>
		            </div>

					<div class="price">
						<div class="gb-body1 heavy">
							<a href="#">15.00</a>
							<sup>*</sup>
						</div>
					</div>
				</div>

    			<div class="section-title">
    				<div class="gb-body1 heavy">Past Payments</div>
    			</div>
				<div class="payment">
					<div class="title">
						<div class="payment-icon">
							<div class="gb-body1">
			                	<div class="icon-svg-inline medium-icon">
			                   		<svg class="icon-pay-checking">
			                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-checking"></use>
			                    	</svg>
			                	</div>
			                </div>
			            </div>
		                <div class="title-info">
	            			<div class="gb-body1 heavy">September 24, 2020</div>
	            			<div class="gb-body2">Paid by check</div>
	            		</div>
		            </div>

					<div class="price">
						<div class="gb-body1 heavy">
							<a href="#">15.00</a>
							<sup>*</sup>
						</div>
					</div>
				</div>
				<div class="payment">
					<div class="title">
						<div class="payment-icon">
							<div class="gb-body1">
			                	<div class="icon-svg-inline medium-icon">
			                   		<svg class="icon-pay-visa">
			                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
			                    	</svg>
			                	</div>
			                </div>
			            </div>
		                <div class="title-info">
	            			<div class="gb-body1 heavy">August 24, 2020</div>
	            			<div class="gb-body2">Paid with My Rewards</div>
	            		</div>
		            </div>

					<div class="price">
						<div class="gb-body1 heavy">
							<a href="#">890 points</a>
						</div>
					</div>
				</div>
				<div class="payment">
					<div class="title">
						<div class="payment-icon">
							<div class="gb-body1">
			                	<div class="icon-svg-inline medium-icon">
			                   		<svg class="icon-pay-visa">
			                        	<use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
			                    	</svg>
			                	</div>
			                </div>
			            </div>
		                <div class="title-info">
	            			<div class="gb-body1 heavy">October 24, 2020</div>
	            			<div class="gb-body2">Visa ending in 2123</div>
	            		</div>
		            </div>

					<div class="price">
						<div class="gb-body1 heavy">
							<a href="#">15.00</a>
							<sup>*</sup>
						</div>
					</div>
				</div>

    			<div class="gb-body2 ml-4 mt-3">*Prices include taxes and fees.</div>
			</div>
		</div>
	</div>
</div>

				