
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Bundle</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Mobile Bundle</small></h1>
            <p class="mb-0">Add class <b>two-up</b> to class <b>cit2-mobile-bundle</b> for showing two plans</p>
        </div>
    </div>
</div>



<div class="container">



    <div class="row">
    	<div class="col-12">
			<div class="cit2-mobile-bundle"> <!-- // add class two-up here for when there will be max 2 plans -->

				<div class="d-flex align-items-center justify-content-between mb-5">
					<div class="gb-body2">
						<p class="mb-0">Price includes your First Responders discount</p>
					</div>
					<div class="cit2-badge-discount">
						<span aria-hidden="true" class="icon-ui-offer-tag"></span>
						<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
					</div>
				</div>


				<div class="title-price">
					<div class="bundle current">
						<div class="tag-and-plan-name">
							<div class="selected-pill">
								<div class="gb-body2 invert"><small>My current plan</small></div>
							</div>
							<div class="gb-body1 heavy">Essentials</div>
							<div class="gb-body2">Vehicle connectivity + vehicle safety</div>
						</div>
						<div class="pricing">
							<div class="price d-flex mb-0">
								<div class="gb-body1 heavy">$34.99</div> 
								<div class="gb-body1">/month</div>
							</div>
							<div class="gb-body2 strike-through">$40.00/month</div>

							<a class="gb-secondary-button mt-4 mb-3">Manage plan</a>
							<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
						</div>
					</div>

					<div class="bundle">
						<div class="tag-and-plan-name">
							<div class="gb-body1 heavy">(Future Plan)</div>
							<div class="gb-body2">Voluptate cillum eu lorem sunt</div>
						</div>
						<div class="pricing">
							<div class="price d-flex mb-0">
								<div class="gb-body1 heavy">$40.99</div>
								<div class="gb-body1">/month</div>
							</div>
							<div class="gb-body2 strike-through">$45.00/month</div>
						</div>
						
						<a class="gb-primary-button mt-4 mb-3">Add plan</a>
						<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
					</div>

					<div class="bundle">
						<div class="tag-and-plan-name">
							<div class="gb-body1 heavy">Premium</div>
							<div class="gb-body2">Add data for enhanced connectivity</div>
						</div>
						<div class="pricing">
							<div class="price d-flex mb-0">
								<div class="gb-body1 heavy">$41.99</div>
								<div class="gb-body1">/month</div>
							</div>
							<div class="gb-body2 strike-through">$44.99/month</div>
						</div>
						
						<a class="gb-primary-button mt-4 mb-3">Add plan</a>
						<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
					</div>
				</div>

				<div class="services">

					<div class="service-title">
						<div class="gb-body1 heavy">OnStar</div>
					</div>
					<div class="values">
						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>

						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>

						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Good Samariton<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="service-title">
						<div class="gb-body1 heavy">Chevrolet Connected Services</div>
					</div>
					<div class="values">
						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Remote Key Fob <a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>

						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>

						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Vehicle Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>

						<div class="service-category">
							<div class="title">
								<div class="gb-body2">Unlimited  4G LTE Wi-Fi<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
							<div class="bundle-value">
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-minus"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
								<div class="gb-body1">
									<span aria-hidden="true" class="icon-ui-checkcircle"></span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="controls">
					<div class="gb-body1">
						<a href="#">View details</a>
					</div>
					<div class="gb-body1">
						<a href="#">View details</a>
					</div>
					<div class="gb-body1">
						<a href="#">View details</a>
					</div>
				</div>

				<div class="gb-body1 mt-8 mb-10">
					<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show all services</a>
				</div>

			</div>
		</div>
	</div>
</div>












<div class="container">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Desktop Bundle</small></h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    	<div class="col-12">

			<table class="cit2-desktop-bundle mb-10">
				<tbody>
					<tr class="first-row">
						<td class="">

						</td>
						<td>
							<div class="selected-pill">
								<div class="gb-body2 invert"><small>My current plan</small></div>
							</div>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Essentials</div>
								<div class="gb-body2">Vehicle connectivity + vehicle safety</div>
							</div>
						</td>
						<td>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Future plan</div>
								<div class="gb-body2">Add data for enhanced connectivity</div>
							</div>
						</td>

						<td>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Premium</div>
								<div class="gb-body2">Add data for enhanced connectivity</div>
							</div>
						</td>
					</tr>

					<tr class="second-row">
						<td class="cat">
							<div class="gb-body1 heavy"><p class="mb-0">Monthly Price</p></div>
							<div class="d-flex align-items-center justify-content-between ">
								<div class="gb-body1">All prices include your First Responders discount</div>
								<div class="cit2-badge-discount">
									<span aria-hidden="true" class="icon-ui-offer-tag"></span>
									<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
								</div>
							</div>
						</td>
						<td>
							<div class="pricing-large d-flex flex-column">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 mb-0 mx-1">34</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>
								<div class="gb-body2 mb-0 strike-through ml-2">$40.00/month</div>
								<a class="gb-secondary-button mt-4 mb-3">Manage plan</a>
								<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
							</div>
						</td>
							 
							 
						<td>
							<div class="pricing-large d-flex flex-column mb-9">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 mb-0 mx-1">40</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>

								<div class="gb-body2 mb-0 strike-through ml-2">$45.00/month</div>
								<a class="gb-primary-button mt-4 mb-3">Add plan</a>
								<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
							</div>
						</td>

						<td>
							<div class="pricing-large d-flex flex-column mb-9">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 mb-0 mx-1">41</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>

								<div class="gb-body2 mb-0 strike-through ml-2">$44.99/month</div>
								<a class="gb-primary-button mt-4 mb-3">Add plan</a>
								<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
							</div>

						</td>
					</tr>

					<tr class="cat-title-first">
						<td colspan="4">
							<div class="gb-body1 heavy">Onstar</div>
						</td>
					</tr>

					<tr>
						<td class="cat">
							<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Good Samaritan<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>

					<tr class="cat-title">
						<td colspan="4">
							<div class="gb-body1 heavy">Chevrolet Connected Services</div>
						</td>

					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Remote Key Fob<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-minus"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="cat">
							<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>

					<tr class="controls">

						<td class="cat">
							<div class="gb-body1">
								<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show more</a>
							</div>
						</td>
						<td>
							<div class="gb-body1"><a href="#">View details</a></div>
						</td>
						<td>
							<div class="gb-body1"><a href="#">View details</a></div>
						</td>
						<td>
							<div class="gb-body1"><a href="#">View details</a></div>
						</td>


					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



