<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Stepper</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Stepper</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
            <div class="stepper">
				<ul>
					<li class="checked">
						<div class="circle-graphic">
							<div class="gb-body3"><small>1</small></div>
						</div>
						<div class="title">
							<div class="gb-body3"><small><p class="step-title">Update</p></small></div>
						</div>
					</li>
					<li class="active">
						<div class="circle-graphic">
							<div class="gb-body3"><small>2</small></div>
<!-- 							<div class="step-connection"></div> -->
						</div>
						<div class="title">
							<div class="gb-body3"><small><p class="step-title">Review</p></small></div>
						</div>
					</li>
					<li>
						<div class="circle-graphic">
							<div class="gb-body3"><small>3</small></div>
<!-- 							<div class="step-connection"></div> -->
						</div>
						<div class="title">
							<div class="gb-body3"><small><p class="step-title">Checkout</p></small></div>
						</div>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>



