
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Product Details - Compare</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container sg-mobile-show">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Mobile Compare - Current plan</small></h1>
        </div>
    </div>
</div>



<div class="container sg-mobile-show">


    <div class="row">
    	<div class="col-12">
			<div class="cit2-tab-container">
				<input type="radio" class="state" id="tab-one" name="tabs-state" checked="">
				<input type="radio" class="state" id="tab-two" name="tabs-state">

				<div class="cit2-tabs">
					<div class="tab-labels">
						<label for="tab-one" id="tab-one-label" class="tab gb-body1 heavy">Safety & Security</label>
						<label for="tab-two" id="tab-two-label" class="tab gb-body1 heavy">Compare to my current plan</label>
					</div>

					<div id="tab-one-content" class="panel active">
						
						<div class="services">
							<div class="service-title">
								<div class="gb-body1 heavy">OnStar</div>
							</div>
							<div class="values">
								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>

								</div>

								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>

								</div>

								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Good Samariton<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>
								</div>
							</div>

							<div class="service-title">
								<div class="gb-body1 heavy">Chevrolet Connected Services</div>
							</div>
							<div class="values">
								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Remote Key Fob <a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>
								</div>

								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>
								</div>

								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Vehicle Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>
								</div>

								<div class="service-category">
									<div class="title">
										<div class="gb-body2">Unlimited  4G LTE Wi-Fi<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
									</div>
								</div>
							</div>
						</div>


						<div class="controls mt-4">
							<div class="gb-body1 mb-10">
								<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show all services</a>
							</div>
						</div>

					</div>


					<div id="tab-two-content" class="panel">

						<div class="row">
					    	<div class="col-12">
								<div class="cit2-mobile-bundle two-up"> <!-- // add class two-up here for when there will be max 2 plans -->

									<div class="d-flex align-items-center mb-5">
										<div class="gb-body2">
											<p class="mb-0">Price includes your First Responders discount</p>
										</div>
										<div class="cit2-badge-discount">
											<span aria-hidden="true" class="icon-ui-offer-tag"></span>
											<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
										</div>
									</div>


									<div class="title-price">
										<div class="bundle current">
											<div class="tag-and-plan-name">
												<div class="selected-pill">
													<div class="gb-body2 invert"><small>My current plan</small></div>
												</div>
												<div class="gb-body1 heavy">Essentials</div>
											</div>
											<div class="pricing">
												<div class="price d-flex mb-0">
													<div class="gb-body1 heavy">$34.99</div> 
													<div class="gb-body1">/month</div>
												</div>
												<div class="gb-body2 strike-through">$40.00/month</div>
											</div>
										</div>


										<div class="bundle">
											<div class="tag-and-plan-name">
												<div class="gb-body1 heavy">Safety & Security</div>
											</div>
											<div class="pricing">
												<div class="price d-flex mb-0">
													<div class="gb-body1 heavy">$24.99</div>
													<div class="gb-body1">/month</div>
												</div>
												<div class="gb-body2 strike-through">$29.99/month</div>
											</div>
											
										</div>
									</div>

									<div class="services">

										<div class="service-title">
											<div class="gb-body1 heavy">OnStar</div>
										</div>
										<div class="values">
											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>

											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>

											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Good Samariton<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>
										</div>

										<div class="service-title">
											<div class="gb-body1 heavy">Chevrolet Connected Services</div>
										</div>
										<div class="values">
											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Remote Key Fob <a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>

											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>

											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Vehicle Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>

											<div class="service-category">
												<div class="title">
													<div class="gb-body2">Unlimited  4G LTE Wi-Fi<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
												</div>
												<div class="bundle-value">
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-minus"></span>
													</div>
													<div class="gb-body1">
														<span aria-hidden="true" class="icon-ui-checkcircle"></span>
													</div>
												</div>
											</div>
										</div>

									</div>

									<div class="controls">
										<div class="gb-body1 mb-10">
											<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show all services</a>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    
</div>








<div class="container sg-desktop-show">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Desktop Compare - Current plan</small></h1>
        </div>
    </div>
</div>


<div class="container sg-desktop-show">
<!-- 	 <div class="row">
    	<div class="col-12">
			<div class="gb-headline2 mb-6">Included services</div>
    	</div>
    </div> -->

    <div class="row">
    	<div class="col-12">

			<table class="cit2-desktop-compare mb-10">
				<tbody>
					<tr>
						<td></td>
						<td>
							<div class="selected-pill">
								<div class="gb-body2 invert"><small>My current plan</small></div>
							</div>
						</td>
					</tr>
					<tr class="first-row">
						<td class="discount">
							<div class="d-flex align-items-center justify-content-between">
								<div class="gb-body1">All prices include your First Responders discount</div>
								<div class="cit2-badge-discount">
									<span aria-hidden="true" class="icon-ui-offer-tag"></span>
									<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
								</div>
							</div>
						</td>
						<td>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Essentials</div>
							</div>
							<div class="pricing-large d-flex flex-column">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 dollar mb-0 mx-1">34</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>
								<div class="gb-body2 mb-0 strike-through ml-2">$40.00/month</div>
							</div>
						</td>
						<td>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Safety & Security</div>
							</div>
							<div class="pricing-large d-flex flex-column">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 dollar mb-0 mx-1">24</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>

								<div class="gb-body2 mb-0 strike-through ml-2">$29.99/month</div>

							</div>
						</td>



					</tr>



					<tr class="cat-title-first">
						<td colspan="3">
							<div class="gb-body1 heavy">Onstar</div>
						</td>
					</tr>

					<tr>
						<td class="cat">
							<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>

					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
	
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Good Samaritan<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>

					</tr>

					<tr class="cat-title">
						<td colspan="3">
							<div class="gb-body1 heavy">Chevrolet Connected Services</div>
						</td>

					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Remote Key Fob<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-minus"></span>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>

					</tr>
					<tr>
						<td class="cat">
							<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
						<td class="cat">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-checkcircle"></span>
							</div>
						</td>
					</tr>

					<tr class="controls">

						<td class="cat">
							<div class="gb-body1">
								<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show more</a>
							</div>
						</td>
						<td>

						</td>
						<td>

						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



