<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Cards</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card 1</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12 col-md-6">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

                    <div class="content">
						<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
						<div class="gb-body1 mb-6"><p class="mb-0">Get the complete driving experience.</p></div>

						<div class="pricing d-flex flex-column mb-9">
							<div class="price d-flex">
								<div class="gb-bold1 mb-0 sup">$</div>
								<div class="gb-bold1 mb-0 mx-1">41</div>
								<div class="d-flex flex-column">
									<div class="gb-bold1 mb-1 sup">.99</div>
									<div class="gb-body2">
										<a href="#">/month</a>
										<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
									</div>
								</div>
							</div>

							<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
						</div>

						<a class="gb-primary-button">View details</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Card 2</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row mb-16">
		<div class="col-12">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

					<div class="content">
						<div class="row">
							<div class="col-12 col-lg-7">
                    		
                    			<div class="gb-body2">Get one month on us</div>
								<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
								<div class="gb-body1 mb-6"><p class="mb-0">Keep all of your services and enjoy 1 month on us. With your Essentials plan, stay more protected and connected on the road ahead with Automatic Crash Response, emergency services, remote key fob and more!</p></div>
								<div class="d-flex mb-6">
									<div class="gb-body1 heavy mr-5"><a href="#">View details</a></div>
									<div class="gb-body1 heavy"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></li>
								</div>
							</div>

							<div class="col-12 col-lg-5">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="pricing d-flex flex-column mb-4">
											<div class="price d-flex">
												<div class="gb-bold1 mb-0 sup">$</div>
												<div class="gb-bold1 mb-0 mx-1">41</div>
												<div class="d-flex flex-column">
													<div class="gb-bold1 mb-1 sup">.99</div>
													<div class="gb-body2">
														<a href="#">/month</a>
														<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
													</div>
												</div>
											</div>
											<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
										</div>

										<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="gb-body2">
												<p class="mb-0">Price includes your First Responders discount</p>
											</div>
											<div class="cit2-badge-discount">
												<span aria-hidden="true" class="icon-ui-offer-tag"></span>
												<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-6">
										<a class="gb-primary-button">Take offer</a>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-lg-6">


									</div>
								</div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



