
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Table</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Mobile Table</small></h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    	<div class="col-12">
			<table class="cit2-mobile mb-10">
			</table>
		</div>
	</div>
</div>















<div class="container">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Desktop Table</small></h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    	<div class="col-12">
			<table class="cit2-desktop mb-10">
				<tbody>
					<tr class="first-row">
						<td class="cat">
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Save money by combining individual services into a single plan.</div>
							</div>
						</td>
						<td class="selected">
							<div class="selected-pill">
								<div class="gb-body2 invert"><small><span aria-hidden="true" class="icon-ui-check"></span>Selected</small></div>
							</div>
							<div class="tag-and-plan-name">
								<div class="gb-body2 mb-2">My current plan</div>
								<div class="gb-body1 heavy">Essentials</div>
								<div class="gb-body2">Vehicle connectivity + vehicle safety</div>
							</div>
						</td>
						<td>
							<div class="tag-and-plan-name">
								<div class="gb-body1 heavy">Premium</div>
								<div class="gb-body2">Add data for enhanced connectivity</div>
							</div>
						</td>
					</tr>

					<tr class="second-row">
						<td class="cat">
							<div class="gb-body1 heavy"><p class="mb-0">Monthly Price</p></div>
							<div class="d-flex align-items-center justify-content-between ">
								<div class="gb-body1">All prices include your First Responders discount</div>
								<div class="cit2-badge-discount">
									<span aria-hidden="true" class="icon-ui-offer-tag"></span>
									<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
								</div>
							</div>
						</td>
						<td class="selected">
							<div class="pricing-large d-flex flex-column">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 mb-0 mx-1">34</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>
								<div class="gb-body2 mb-0 strike-through ml-2">$40.00/month</div>
								<a class="gb-primary-button mt-4">Switch plan</a>
							</div>
						</td>
							 
							 
						<td>
							<div class="pricing-large d-flex flex-column mb-9">
								<div class="price d-flex">
									<div class="gb-bold1 mb-0 sup">$</div>
									<div class="gb-bold1 mb-0 mx-1">44</div>
									<div class="d-flex flex-column">
										<div class="gb-bold1 mb-1 sup">.99</div>
										<div class="gb-body2">
											<a href="#">/month</a>
											<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
										</div>
									</div>
								</div>

								<div class="gb-body2 mb-0 strike-through ml-2">$55.00/month</div>
							</div>

						</td>
					</tr>

					<tr class="cat-title-first">
						<td >
							<div class="gb-body1 heavy">Onstar</div>
						</td>
						<td class="selected"></td>
						<td></td>
					</tr>

					<tr>
						<td class="cat">
							<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Good Samaritan<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
					</tr>

					<tr class="cat-title">
						<td>
							<div class="gb-body1 heavy">Chevrolet Connected Services</div>
						</td>
						<td class="selected"></td>
						<td></td>
					</tr>

					<tr>
						<td class="cat"><div class="gb-body2">Remote Key Fob<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-minus"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="cat"><div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class=" icon-ui-help"></span></a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
						<td>
							<div class="gb-body1">
								<span aria-hidden="true" class="icon-ui-check"></span>
							</div>
						</td>
					</tr>

					<tr class="controls">

						<td class="cat">
							<div class="gb-body1">
								<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show all services</a>
							</div>
						</td>
						<td class="selected">
							<div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div>
						</td>
						<td><div class="gb-body1"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></td>


					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



