
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Cancel My Plans</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Cancel - Step1</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">Cancel plans</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-body1 heavy">2018 Chevrolet Equinox</div>
			<div class="gb-body2">VIN: 91829748363892</div>
        	<hr class="cit mt-6 mb-4">
        	<div class="gb-headline2">Select the plans you would like to cancel:</div>
			<div class="gb-checkbox mt-10 mb-10">
			    <input id="checkboxId" type="checkbox" />
			    <label for="checkboxId">Essentials - Renews Monthly</label>
			</div>
            <a class="gb-primary-button mb-3">Cancel plans</a>

		</div>
	</div>



	<div class="row mb-16">
		<div class="col-12">
			<hr class="cit mb-4">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="d-flex flex-column flex-lg-row">
						<div class="d-flex flex-column align-items-center align-items-lg-start">
							<div class="gb-body1 heavy">Need assistance?</div>
							<div class="gb-body1 mb-5">We'll help in any way we can.</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-2">
					<a class="gb-secondary-button-inline-icon icon-left"><svg>...svg content...</svg>Message us</a>
				</div>
			</div>
		</div>
	</div>
</div>






<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Cancel - Step1.2</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">Cancel plans</div>
		</div>
	</div>


	<div class="row mb-8 mb-lg-16">
		<div class="col-12 col-lg-6">
			<div class="gb-body1 heavy">2018 Chevrolet Equinox</div>
			<div class="gb-body2">VIN: 91829748363892</div>
        	<hr class="cit mt-6 mb-4">
        	<div class="gb-headline2">Select the plans you would like to cancel:</div>
			<div class="gb-checkbox mt-10 mb-6">
			    <input id="checkboxId" type="checkbox" />
			    <label for="checkboxId">Essentials - Renews Monthly</label>
			</div>
			<div class="gb-body2 heavy">Effective End Date</div>
			<div class="gb-body2">June 21, 2021 11:59 PM EST</div>

			<hr class="cit mt-6 mb-4">

			<div class="gb-headline2 mb-6">Where did we go wrong?</div>

			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">Too expensive</label>
					</div>
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">Don't use</label>
					</div>
					<div class="gb-checkbox mb-2 mb-lg-0">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">Technical issue</label>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">Temporary, I'll be back</label>
					</div>
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">No longer own the vehicle</label>
					</div>
					<div class="gb-checkbox mb-2 mb-lg-0">
					    <input id="checkboxId" type="checkbox" />
					    <label for="checkboxId">Other</label>
					</div>
				</div>
			</div>


		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<div class="gb-headline1 mt-8 mt-lg-16 mb-16">You're eligible! Don't miss out on this great offer</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

					<div class="content">
						<div class="row">
							<div class="col-12 col-lg-7">
                    		
                    			<div class="gb-body2">Get one month on us</div>
								<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
								<div class="gb-body1 mb-6"><p class="mb-0">Keep all of your services and enjoy 1 month on us. With your Essentials plan, stay more protected and connected on the road ahead with Automatic Crash Response, emergency services, remote key fob and more!</p></div>
								<div class="d-flex mb-6">
									<div class="gb-body1 heavy mr-5"><a href="#">View details</a></div>
									<div class="gb-body1 heavy"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></li>
								</div>
							</div>

							<div class="col-12 col-lg-5">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="pricing d-flex flex-column mb-4">
											<div class="price d-flex">
												<div class="gb-bold1 mb-0 sup">$</div>
												<div class="gb-bold1 mb-0 mx-1">41</div>
												<div class="d-flex flex-column">
													<div class="gb-bold1 mb-1 sup">.99</div>
													<div class="gb-body2">
														<a href="#">/month</a>
														<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
													</div>
												</div>
											</div>
											<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
										</div>

										<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="gb-body2">
												<p class="mb-0">Price includes your First Responders discount</p>
											</div>
											<div class="cit2-badge-discount">
												<span aria-hidden="true" class="icon-ui-offer-tag"></span>
												<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-6">
										<a class="gb-primary-button">Take offer</a>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-lg-6">


									</div>
								</div>

                  			</div>
                  		</div>
                  	</div>
                </div>
            </div>
        </div>
    </div>

	<div class="row mt-8 mt-lg-15 mb-16">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="d-flex flex-column flex-lg-row">
						<div class="d-flex flex-column align-items-center align-items-lg-start">
							<div class="gb-body1 heavy">Need assistance?</div>
							<div class="gb-body1 mb-5">We'll help in any way we can.</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-2">
					<a class="gb-secondary-button-inline-icon icon-left"><svg>...svg content...</svg>Message us</a>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Cancel - Step2</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">Confirm cancellation</div>
		</div>
	</div>


	<div class="row mb-8 mb-lg-16">
		<div class="col-12 col-lg-6">
			<div class="cit2-alert alert-danger d-flex flex-column mb-6" role="alert">
			    <div class="content">
			        <div class="icon">
			            <svg class="icon-AlertCaution">
			                <use xlink:href="icons/symbol-defs.svg#icon-AlertCaution"></use>
			            </svg>
			        </div>
			        <div class="text">
			            <div class="gb-body1 heavy"><p class="mb-6">By clicking "Confirm cancellation" below, you acknowledge you will no longer receive the following services beginning June 21, 2021 at 11:59 PM Eastern time.</p></div>
			            <div class="gb-body1 heavy"><p class="mb-3">Essentials</p></div>
			            <ul class="cit2-list-bullet mb-0">
			                <li class="gb-body1">Service 1</li>
			                <li class="gb-body1">Service 2</li>
			                <li class="gb-body1">Service 3</li>
			            </ul>
			        </div>
			    </div>
			</div>

			<div class="gb-body1"><p class="mb-3">The Connected Access plan included with your vehicle purchase will remain active through October 21, 2030</p></div>

			<a class="gb-primary-button">Confirm cancellation</a>

			<hr class="cit mt-6 mb-4">
			<div class="gb-headline2 mb-6">Just hit pause</div>
			<div class="gb-body1"><p class="mb-3">Instead of canceling, schedule a pause. You can pause your subscription for up to 9 months beginning on your next billing date. While your subscription is paused, you won’t be billed. You can log in to resume or cancel any time</p></div>

			<a class="gb-secondary-button">Pause services</a>

		</div>
	</div>


	<div class="row pt-8 pt-lg-16">
		<div class="col-12">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

					<div class="content">
						<div class="row">
							<div class="col-12 col-lg-7">
                    		
                    			<div class="gb-body2">Get one month on us</div>
								<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
								<div class="gb-body1 mb-6"><p class="mb-0">Keep all of your services and enjoy 1 month on us. With your Essentials plan, stay more protected and connected on the road ahead with Automatic Crash Response, emergency services, remote key fob and more!</p></div>
								<div class="d-flex mb-6">
									<div class="gb-body1 heavy mr-5"><a href="#">View details</a></div>
									<div class="gb-body1 heavy"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></li>
								</div>
							</div>

							<div class="col-12 col-lg-5">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="pricing d-flex flex-column mb-4">
											<div class="price d-flex">
												<div class="gb-bold1 mb-0 sup">$</div>
												<div class="gb-bold1 mb-0 mx-1">41</div>
												<div class="d-flex flex-column">
													<div class="gb-bold1 mb-1 sup">.99</div>
													<div class="gb-body2">
														<a href="#">/month</a>
														<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
													</div>
												</div>
											</div>
											<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
										</div>

										<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="gb-body2">
												<p class="mb-0">Price includes your First Responders discount</p>
											</div>
											<div class="cit2-badge-discount">
												<span aria-hidden="true" class="icon-ui-offer-tag"></span>
												<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-6">
										<a class="gb-primary-button">Take offer</a>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-lg-6">


									</div>
								</div>

                  			</div>
                  		</div>
                  	</div>
                </div>
            </div>
        </div>
    </div>

	<div class="row mt-8 mt-lg-15 mb-16">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="d-flex flex-column flex-lg-row">
						<div class="d-flex flex-column align-items-center align-items-lg-start">
							<div class="gb-body1 heavy">Need assistance?</div>
							<div class="gb-body1 mb-5">We'll help in any way we can.</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-2">
					<a class="gb-secondary-button-inline-icon icon-left"><svg>...svg content...</svg>Message us</a>
				</div>
			</div>
		</div>
	</div>

</div>






<div class="container ">
    <div class="row mt-16 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Cancel - Sold</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">I have sold or no longer own</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="cit2-alert alert-danger d-flex flex-column mb-6" role="alert">
			    <div class="content">
			        <div class="icon">
			            <svg class="icon-AlertCaution">
			                <use xlink:href="icons/symbol-defs.svg#icon-AlertCaution"></use>
			            </svg>
			        </div>
			        <div class="text">
			            <div class="gb-body1 heavy"><p class="mb-6">By clicking "Confirm cancellation," you will immediately deactivate all OnStar and Connected Services for your 2018 Chevrolet Equinox and remove it from your Owner Center account.</p></div>
			            <div class="gb-body1 heavy"><p class="mb-3">Connected Access</p></div>
			            <ul class="cit2-list-bullet mb-5">
			         		<div class="row">
			         			<div class="col-12 col-lg-6">
			                		<li class="gb-body1">Service 1</li>
			                		<li class="gb-body1">Service 2</li>
			                	</div>
			                	<div class=" col-12 col-lg-6">
			                		<li class="gb-body1">Service 3</li>
			                	</div>
			                </div>
			            </ul>

			            <div class="gb-body1 heavy"><p class="mb-3">Safety & Security</p></div>
			            <ul class="cit2-list-bullet mb-0">
			         		<div class="row">
			         			<div class="col-12 col-lg-6">
			                		<li class="gb-body1">Service 1</li>
			                		<li class="gb-body1">Service 2</li>
			                		<li class="gb-body1">Service 3</li>
			                	</div>
			                	<div class=" col-12 col-lg-6">
			                		<li class="gb-body1">Service 4</li>
			                		<li class="gb-body1">Service 5</li>
			                	</div>
			                </div>
			            </ul>
			        </div>
			    </div>
			</div>


			<hr class="cit mt-10 mb-4">

			<div class="gb-headline2 mb-6">Effective end date</div>
			<div class="gb-body1"><p class="mb-3">The effective end date for the selected plans will be today, February 28, 2021 at 11:59 PM Eastern time.</p></div>

			<hr class="cit mt-8 mb-4">

			<div class="gb-headline2 mb-6">Refunds</div>

			<div class="d-flex justify-content-between mb-4">
				<div class="gb-body1 heavy">Safety and Security</div>
				<div class="gb-body1 heavy">$28.19</div>
			</div>

			<div class="gb-body1"><p class="mb-6">This is the balance of unused plan services you paid for in advance. You will be refunded via the original payment method you provided to us.</p></div>

			<a class="gb-primary-button">Confirm cancellation</a>

		</div>
	</div>

	<div class="row mb-16">
		<div class="col-12">
			<hr class="cit mb-4">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="d-flex flex-column flex-lg-row">
						<div class="d-flex flex-column align-items-center align-items-lg-start">
							<div class="gb-body1 heavy">Need assistance?</div>
							<div class="gb-body1 mb-5">We'll help in any way we can.</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-2">
					<a class="gb-secondary-button-inline-icon icon-left"><svg>...svg content...</svg>Message us</a>
				</div>
			</div>
		</div>
	</div>

</div>




<div class="container ">
    <div class="row mt-16 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Cancel - Pay to Cancel</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">Cancel services</div>
		</div>
	</div>


	<div class="row mb-8 mb-lg-16">
		<div class="col-12 col-lg-6">
			<div class="gb-body1 heavy">2018 Chevrolet Equinox</div>
			<div class="gb-body2">VIN: 91829748363892</div>
        	<hr class="cit mt-6 mb-4">
        	<div class="gb-headline2">Which plan would like to cancel:</div>
			<div class="gb-checkbox mt-10 mb-6">
			    <input id="checkboxId" type="checkbox" />
			    <label for="checkboxId">Essentials - Renews Monthly</label>
			</div>
			<div class="gb-body2 heavy">Effective End Date</div>
			<div class="gb-body2 mb-5">Today (service expires at 11:59 PM EST)</div>

			<div class="gb-body2 heavy">Remaining balance</div>
			<div class="gb-body2 mb-3">For the plan services you’ve received to date</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Safety and Security</div>
				<div class="gb-body2">$8.23</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Fees</div>
				<div class="gb-body2">$0.00</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Taxes</div>
				<div class="gb-body2">$0.00</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Subtotal</div>
				<div class="gb-body2">$8.23</div>
			</div>

			<hr class="cit mt-6 mb-8">

			<div class="gb-checkbox mt-10 mb-6">
			    <input id="checkboxId" type="checkbox" />
			    <label for="checkboxId">Super Cruise - Renews Monthly</label>
			</div>

			<div class="gb-body2 heavy">Effective End Date</div>
			<div class="gb-body2 mb-5">Today (service expires at 11:59 PM EST)</div>

			<div class="gb-body2 heavy">Remaining balance</div>
			<div class="gb-body2 mb-3">For the plan services you’ve received to date</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Super Cruise</div>
				<div class="gb-body2">$11.14</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Fees</div>
				<div class="gb-body2">$0.00</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Taxes</div>
				<div class="gb-body2">$0.00</div>
			</div>

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body2">Subtotal</div>
				<div class="gb-body2">$11.14</div>
			</div>

			<hr class="cit mt-6 mb-6">

			<div class="d-flex justify-content-between mb-2">
				<div class="gb-body1 heavy">Total due today</div>
				<div class="gb-body1 heavy">$19.37</div>
			</div>

			<hr class="cit mt-11 mb-6">

			<div class="gb-headline2 mb-6">Payment method</div>

			<div class="gb-body1">
                <div class="icon-svg-inline medium-icon">
                    <svg class="icon-pay-visa">
                        <use xlink:href="icons/symbol-defs.svg#icon-pay-visa"></use>
                    </svg>
                    <span class="icon-svg-text">Visa ending in 9876</span>
                </div>
        	</div>

        	<div class="gb-body1 heavy"><a href="#">Change payment</a></div>

        	<div class="gb-body2 mt-">By clicking “Cancel Plan” below, you authorize OnStar to process a one-time payment in the total amount shown above to pay for the remaining balance for the identified plan above, under the OnStar User Terms available at: <a href=#"">https://www.onstar.com/us/en/footer-links/terms-conditions.html</a>.</div>

			<hr class="cit mt-11 mb-4">

			<div class="gb-headline2 mb-6">Where did we go wrong?</div>

			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">Too expensive</label>
					</div>
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">Don't use</label>
					</div>
					<div class="gb-checkbox mb-2 mb-lg-0">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">Technical issue</label>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">Temporary, I'll be back</label>
					</div>
					<div class="gb-checkbox mb-2">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">No longer own the vehicle</label>
					</div>
					<div class="gb-checkbox mb-2 mb-lg-0">
					    <input id="checkboxId" type="checkbox">
					    <label for="checkboxId">Other</label>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="gb-headline1 mt-8 mt-lg-16 mb-16">You're eligible! Don't miss out on this great offer</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
            <div class="card-cit2">
                <div class="d-flex flex-column">
					<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">

					<div class="content">
						<div class="row">
							<div class="col-12 col-lg-7">
                    		
                    			<div class="gb-body2">Get one month on us</div>
								<div class="gb-body1 heavy mb-2"><p class="mb-0">Premium</p></div>
								<div class="gb-body1 mb-6"><p class="mb-0">Keep all of your services and enjoy 1 month on us. With your Essentials plan, stay more protected and connected on the road ahead with Automatic Crash Response, emergency services, remote key fob and more!</p></div>
								<div class="d-flex mb-6">
									<div class="gb-body1 heavy mr-5"><a href="#">View details</a></div>
									<div class="gb-body1 heavy"><a href="#">Disclosures</a><sup><a href="#" class="gb-body2 mb-0 ml-1">†</a></sup></div></li>
								</div>
							</div>

							<div class="col-12 col-lg-5">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="pricing d-flex flex-column mb-4">
											<div class="price d-flex">
												<div class="gb-bold1 mb-0 sup">$</div>
												<div class="gb-bold1 mb-0 mx-1">41</div>
												<div class="d-flex flex-column">
													<div class="gb-bold1 mb-1 sup">.99</div>
													<div class="gb-body2">
														<a href="#">/month</a>
														<sup><a href="#" class="gb-body2 mb-0">†</a></sup>
													</div>
												</div>
											</div>
											<div class="gb-body2 mb-0 strike-through ml-2">$45.99/month</div>
										</div>

										<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="gb-body2">
												<p class="mb-0">Price includes your First Responders discount</p>
											</div>
											<div class="cit2-badge-discount">
												<span aria-hidden="true" class="icon-ui-offer-tag"></span>
												<div class="gb-body2 heavy"><p class="mb-0">-10%</p></div>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-6">
										<a class="gb-primary-button">Take offer</a>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-lg-6">


									</div>
								</div>

                  			</div>
                  		</div>
                  	</div>
                </div>
            </div>
        </div>
    </div>


	<div class="row mt-8 mt-lg-15 mb-16">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="d-flex flex-column flex-lg-row">
						<div class="d-flex flex-column">
							<div class="gb-headline2 mb-2 mb-lg-4">Need Assistance?</div>
							<div class="gb-body1 mb-5 mb-lg-8">If you need help canceling or changing your services, please call 1.888.466.7827 to speak to an Advisor. Calls are monitored and recorded. </div>
						</div>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col-12 col-lg-3">
					<a class="gb-primary-button">Cancel cancellation</a>
				</div>
			</div>
		</div>
	</div>
</div>

