
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Tabs</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Pill Tabs</small></h1>
        </div>
    </div>
</div>


<div class="container mb-12">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn gb-secondary-button active">
			<input type="radio" name="options" id="option1" autocomplete="off" checked>Active
		</label>
		<label class="btn gb-secondary-button">
			<input type="radio" name="options" id="option2" autocomplete="off">In-Active
		</label>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Tabs</small></h1>
        </div>
    </div>
</div>


<div class="container mb-12">
	<div class="row">
		<div class="col-12">
			<div class="cit2-tab-container">
				<input type="radio" class="state" id="tab-one" name="tabs-state" checked />
				<input type="radio" class="state" id="tab-two" name="tabs-state" />

				<div class="cit2-tabs">
					<div class="tab-labels">
						<label for="tab-one" id="tab-one-label" class="tab gb-body1 heavy">Tab One</label>
						<label for="tab-two" id="tab-two-label" class="tab gb-body1 heavy">Tab Two</label>
					</div>

					<div id="tab-one-content" class="panel active">
						<p>Tab One Content</p>
					</div>
					<div id="tab-two-content" class="panel">
						<p>Tab Two Content</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
