
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 -  Plan Modals</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Plan Dialog</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable1">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2">
			<div class="dismiss" data-dismiss="modal" aria-label="Close">
				<a href="#" class="gb-icon-button">
					<span aria-hidden="true" class="icon-ui-close"></span>
				</a>
			</div>
		</div>
		<img class="img-fluid" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">

		<div class="modal-body-cit2">
			<div class="gb-headline1 mb-8">Essentials</div>
			<div class="gb-body1 mb-10">Get our essential safety, security and remote access services with this bundle.</div>
			<ul class="modal-controls-cit2">
				<li>
					<div class="gb-body1 heavy">Connected vehicle features</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">OnStar safety features</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>					

			</ul>
		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>







<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Category Dialog</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable2">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2-back">
			<div class="back">
				<a href="#" class="gb-icon-button">
					<span aria-hidden="true" class="icon-ui-arrowleft"></span>
				</a>
				<div class="gb-body1 heavy">Essentials</div>
			</div>
		</div>
		<div class="modal-body-cit2">
			<div class="gb-headline1 mb-8">Connected vehicle features</div>
			<div class="gb-body1 mb-10">Conveniently stay connected & in control, in or out of your vehicle. With the myChevrolet app, you can start and stop your engine, check fuel levels and tire pressure all from your smartphone. Conveniently stay connected & in control, in or out of your vehicle. </div>
			<ul class="modal-controls-cit2">
				<li>
					<div class="gb-body1 heavy">Remote Key Fob</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">Vehicle Status</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">Vehicle Locate</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">Remote Personalization</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">Send-to-Navigation</div>
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowright"></span>
					</a>
				</li>				
			</ul>
		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>




<!---------- Service Dialog Modal ------------>


<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Service Dialog</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable3">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable3" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2">
			<div class="back-dismiss">
				<div class="back">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowleft"></span>
					</a>
					<div class="gb-body1 heavy">Essentials</div>
				</div>

				<div class="dismiss" data-dismiss="modal" aria-label="Close">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-close"></span>
					</a>
				</div>
			</div>
		</div>


		<div class="modal-body-cit2 py-0 px-0">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors.With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors.With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Service Dialog - No Image</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable4">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable4" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2-no-image">
			<div class="back-dismiss">
				<div class="back">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowleft"></span>
					</a>
					<div class="gb-body1 heavy">Essentials</div>
				</div>

				<div class="dismiss" data-dismiss="modal" aria-label="Close">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-close"></span>
					</a>
				</div>
			</div>
		</div>


		<div class="modal-body-cit2 py-0 px-0">
			<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors.With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors.With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>



<!------------------ ABOUT SERVICE DIALOG ------------------>
<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - About Service Dialog</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable5">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable5" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2">
			<div class="back-dismiss">
				<div class="back">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowleft"></span>
					</a>
					<div class="gb-body1 heavy">Essentials</div>
				</div>

				<div class="dismiss" data-dismiss="modal" aria-label="Close">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-close"></span>
					</a>
				</div>
			</div>
		</div>


		<div class="modal-body-cit2 py-0 px-0">
			<div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                	<img class="img-fluid w-100" src="img/prototypes/cit-style/card-cit2-image-modal.jpg" alt="Responsive image">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>





<!------------------ ABOUT SERVICE DIALOG - NO Image ------------------>
<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - About Service Dialog - No Image</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable6">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable6" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2-no-image">
			<div class="back-dismiss">
				<div class="back">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-arrowleft"></span>
					</a>
					<div class="gb-body1 heavy">Essentials</div>
				</div>

				<div class="dismiss" data-dismiss="modal" aria-label="Close">
					<a href="#" class="gb-icon-button">
						<span aria-hidden="true" class="icon-ui-close"></span>
					</a>
				</div>
			</div>
		</div>


		<div class="modal-body-cit2 py-0 px-0">
			<div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-cit2">
                        <div class="carousel-text">
							<div class="gb-headline1 mb-8">Remote Key Fob</div>
							<div class="gb-body1 mb-3">With your Smartphone and paired with Alexa or Google devices, you can start or stop your vehicle's engine and lock & unlock your doors. </div>
							<ul class="modal-controls-cit2">
								<li>
									<div class="gb-body1 heavy">Safety & Security</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class="icon-ui-minus"></span>
									</a>
								</li>
								<li>
									<div class="gb-body1 heavy">Essentials</div>
									<a href="#" class="gb-icon-button">
										<span aria-hidden="true" class=" icon-ui-checkcircle"></span>
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Plan Expired</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable7">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable7" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2">
			<div class="dismiss" data-dismiss="modal" aria-label="Close">
				<a href="#" class="gb-icon-button">
					<span aria-hidden="true" class="icon-ui-close"></span>
				</a>
			</div>
		</div>

		<div class="modal-body-cit2">
			<div class="gb-headline1 mb-8">Plan 1 and Plan 2 plans have expired.</div>

            <div class="cit2-alert alert-danger d-flex flex-column mb-6" role="alert">
                <div class="content">
                    <div class="icon">
                        <svg class="icon-AlertCaution">
                            <use xlink:href="icons/symbol-defs.svg#icon-AlertCaution"></use>
                        </svg>
                    </div>
                    <div class="text">
                        <div class="gb-body1 heavy"><p class="mb-6">Your subscription no longer includes:</p></div>
                        <ul class="cit2-list-bullet mb-0">
                            <li class="gb-body1">Service 1</li>
                            <li class="gb-body1">Service 2</li>
                            <li class="gb-body1">Service 3</li>
                        </ul>
                    </div>
                </div>
            </div>

            <a class="gb-primary-button mb-3">Shop Plans</a>
            <a class="gb-secondary-button" data-dismiss="modal">Close</a>

		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Modal - Change Payment</small></h1>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-md-row">
				<div class="d-flex">
					<button class="btn btn-primary-dark-cit mb-4" data-toggle="modal" data-target="#exampleModalScrollable8">Launch Modal</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalScrollable8" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
		<div class="modal-header-cit2">

		</div>


		<div class="modal-body-cit2">

			<ul class="modal-controls-cit2 mb-6 border-top-0">
				<li>
					<div class="gb-body1 heavy">Edit VIsa ending in 2123</div>
					<a href="#" class="gb-icon-button">
					</a>
				</li>
				<li>
					<div class="gb-body1 heavy">Delete Visa ending in 3938</div>
					<a href="#" class="gb-icon-button">
					</a>
				</li>					
				<li>
					<div class="gb-body1 heavy">Set as default</div>
					<a href="#" class="gb-icon-button">
					</a>
				</li>
			</ul>
			<a class="gb-secondary-button" data-dismiss="modal">Cancel</a>
		</div>
      <div class="modal-footer-cit2"></div>
    </div>
  </div>
</div>






