
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Pause My Plans</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Pause My Plans</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">My Plans</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="cit2-alert alert-success d-flex flex-column mb-5" role="alert">
                <div class="content">
                    <div class="icon">
						<span aria-hidden="true" class="icon-ui-checkcircle"></span>
                    </div>
                    <div class="text">
                        <div class="gb-body1 heavy"><p class="mb-0">Your services will be paused in 12 days.</p></div>
                    </div>

                </div>

            </div>
       	</div>
    </div>



	<div class="row">
		<div class="col-12 col-lg-6">
			<ul class="plan-timeline">
				<div class="vertical-line">
					<li class="plan-timeline-item-first">
						<div class="gb-body2">My current plan</div>
						<div class="gb-body1 heavy"><a href="#">Plan name</a></div>
        				<hr class="cit mt-10 mb-4">
					</li>

					<li class="plan-timeline-item-second pause">
						<div class="gb-body2">Scheduled Pause</div>
						<div class="d-flex">
							<div class="d-flex flex-column">
								<div class="gb-body1 heavy mb-3">
									<a href="#">Plan name</a>
								</div>
								<div class="gb-body1">
									<p>Plans will be paused August 20, 2021 Plan resumes November 20, 2021</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</ul>

			<div class="plan-timeline-end mt-4">
	            <a class="gb-primary-button mb-3">Cancel pause</a>
            	<a class="gb-secondary-button">Cancel services</a>
			</div>

			<hr class="cit mb-3">

		</div>
	</div>



	<div class="row mb-16">
		<div class="col-12 col-lg-6">
			<div class="gb-body1"><a href="#" class="gb-body1 heavy">Connected Access</a> is included with your vehicle purchase and active through July 21, 2029</div>
		</div>
	</div>
</div>






<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Pause My Plans - Downgrade</small></h1>
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="gb-headline1 mb-16">My Plans</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-lg-6">
			<ul class="plan-timeline">
				<div class="vertical-line">
					<li class="plan-timeline-item-first pause">
						<div class="gb-body1 heavy">Your subscription is paused</div>
        				<hr class="cit mt-10 mb-3">
					</li>

					<li class="plan-timeline-item-second">
						<div class="gb-body2">My paused plan</div>
						<div class="d-flex">
							<div class="d-flex flex-column">
								<div class="gb-body1 heavy mb-3">
									<a href="#">Plan name</a>
								</div>
								<div class="gb-body1">
									<p>Plans reumes July 20, 2021</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</ul>

			<div class="plan-timeline-end mt-4">
	            <a class="gb-primary-button mb-3">Restart services</a>
            	<a class="gb-secondary-button">Cancel services</a>
			</div>

			<hr class="cit mb-3">

		</div>
	</div>



	<div class="row mb-16">
		<div class="col-12 col-lg-6">
			<div class="gb-body1"><a href="#" class="gb-body1 heavy">Connected Access</a> is included with your vehicle purchase and active through July 21, 2029</div>
		</div>
	</div>
</div>





