
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Product Details - No Compare</h1>
			<hr>
		</div>
	</div>
</div>


<div class="container sg-mobile-show">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Mobile No Compare - Current plan</small></h1>
        </div>
    </div>
</div>




<div class="container sg-mobile-show">

	<div class="row">
    	<div class="col-12">

    		<div class="no-compare-mobile">
				<div class="services">
					<div class="service-title">
						<div class="gb-body1 heavy">OnStar</div>
					</div>

					<div class="values">
						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Stolen Vehicle Assistance<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>


						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Roadside Assistance<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Crisis Assist<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Turn-by-Turn Navigation<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>



						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Good Samaritan<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Mobile Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Location Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>
					</div>


					<div class="service-title">
						<div class="gb-body1 heavy">Chevrolet Connected Services</div>
					</div>


					<div class="values">
						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Remote Key Fob<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Vehicle Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Unlimited Data<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">In-Vehicle App Access<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Remote Personalization<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

						<div class="service-container">
							<div class="title">
								<div class="gb-body2">Send-to-Navigation<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
							</div>
						</div>

					</div>
				</div>

				<div class="gb-body1 mt-3">
					<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show less</a>
				</div>
			</div>
		</div>
	</div>
</div>











<div class="container sg-desktop-show">
    <div class="row mt-0 mb-12 sg-subtitle">
        <div class="col-12">
            <h1><small>Desktop No Compare - Current plan</small></h1>
        </div>
    </div>
</div>


<div class="container sg-desktop-show">

    <div class="row">
    	<div class="col-12">
    		<div class="no-compare-desktop">
				<div class="services">
					<div class="service-title">
						<div class="gb-body1 heavy">OnStar</div>
					</div>
					<div class="values">
						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Automatic Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Emergency Services<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Stolen Vehicle Assistance<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>

						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Roadside Assistance<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Crisis Assist<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Turn-by-Turn Navigation<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>


						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Good Samaritan<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Mobile Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Location Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>
					</div>

					<div class="service-title">
						<div class="gb-body1 heavy">Chevrolet Connected Services</div>
					</div>

					<div class="values">
						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Remote Key Fob<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Vehicle Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Unlimited Data<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>

						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Vehicle Locate<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">In-Vehicle App Access<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Remote Personalization<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>


						<div class="values-row">
							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Send-to-Navigation<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Mobile Crash Response<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>

							<div class="service-container">
								<div class="title">
									<div class="gb-body2">Location Status<a class="gb-icon-button"><span aria-hidden="true" class="icon-ui-help"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="gb-body1 mt-3">
					<a href="#"><span aria-hidden="true" class="icon-ui-add"></span> Show less</a>
				</div>
			</div>
		</div>
	</div>
</div>



