
<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 -  FOOTER</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Footer - Snackbar</small></h1>
        </div>
    </div>
</div>

<!-- START MOBILE FOOTER -->
<div class="footer-snackbar-mobile-wrapper">
	<div class="container ">
		<div class="row">
	    	<div class="col-12">
				<div class="footer-snackbar-mobile">
					<div class="title">
						<div class="gb-body1 invert heavy">
							<a href="#">Essentials</a>
							<sup><a href="#" class="gb-body1 mb-0">†</a></sup>
						</div>

						<div class="price">
							<div class="gb-body2 invert heavy">$34.99</div>
							<div class="gb-body2 invert">/month</div>
						</div>
					</div>
					<div class="cta">
						<a class="gb-primary-button invert">Continue</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END MOBILE FOOTER -->



<!-- START DESKTOP FOOTER -->
<div class="footer-snackbar-desktop">
	<div class="container ">
    	<div class="row">
        	<div class="col-12">
        		<ul>
        			<li>
        				<div class="gb-body1 invert heavy">
        					<a href="#">Essentials</a>
        					<sup><a href="#" class="gb-body1 mb-0">†</a></sup>
        				</div>
        			</li>

					<li>
						<div class="pricing-large">
							<div class="price">
								<div class="gb-bold1 invert mb-0 sup">$</div>
								<div class="gb-bold1 invert mb-0 mx-1">41</div>
								<div class="d-flex flex-column">
									<div class="gb-body1 heavy invert mb-1 sup">.99</div>
									<div class="gb-body2 invert">/month</div>
								</div>
							</div>
						</div>
					</li>

					<li><a class="gb-primary-button invert">Continue</a></li>
				</ul>
	        </div>
    	</div>
	</div>
</div>
<!-- END DESKTOP FOOTER -->			
