<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>SHOP 2.0 - Product Details - Content</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Product Details - Content</small></h1>
        </div>
    </div>
</div>



<div class="lighter-grey-background">
	<div class="container">
		<div class="row pd-service-section">
			<div class="col-12 col-lg-4 mb-6 mb-lg-0">
	            <div class="gb-headline2">Be ready for the unexpected, drive with more confidence</div>
	        </div>

			<div class="col-12 col-lg-8 d-flex flex-column">
				<div class="service-item-container">
					<div class="service-item">
						<span aria-hidden="true" class="icon-ui-onstar-advisor"></span>
						<div class="description">
		            		<div class="gb-body2 heavy">OnStar Advisors</div>
		            		<div class="gb-body2">Emergency Certified & Ready to help 24/7</div>
		            	</div>
		            </div>
					<div class="service-item">
						<span aria-hidden="true" class="icon-ui-account"></span>
						<div class="description">
		            		<div class="gb-body2 heavy">Automatic Crash Response</div>
		            		<div class="gb-body2">Get help right away in a crash, even if you can’t ask for it</div>
		            	</div>
		            </div>
		        </div>
		        <div class="service-item-container">	
					<div class="service-item">
						<span aria-hidden="true" class="icon-ui-account"></span>
						<div class="description">
		            		<div class="gb-body2 heavy">Stolen Vehicle Assistance</div>
		            		<div class="gb-body2">Layers of protection that make theft much more difficult</div>
		            	</div>
		            </div>
					<div class="service-item">
						<span aria-hidden="true" class="icon-ui-onstar-roadside-assistance"></span>
						<div class="description">
		            		<div class="gb-body2 heavy">Emergency Services</div>
		            		<div class="gb-body2">Help if you have a flat, run out of gas or find yourself stranded</div>
		            	</div>
		            </div>
		        </div>
	        </div>
	    </div>
	</div>
</div>


<div class="light-grey-background">
	<div class="container">
		<div class="row pd-explore-section">

			<!-- START IMAGE/TEXT CARDs -->
			<div class="col-12 explore-item-container1">
	            <div class="row">
	            	<div class="col-12 col-lg-6 image">
	            		<img class="img-responsive-fullwidth" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
		            </div>
		            <div class="col-12 col-lg-6 description">
	            		<div class="gb-body2 mb-1 mb-lg-2">Automatic Crash Response</div>
						<div class="gb-headline2 mb-4 mb-lg-6">Crashes Happen - <br>OnStar Can Help</div>
						<div class="gb-body1">Built-in vehicle sensors automatically alert an OnStar Emergency-Certified Advisor. With Injury Severity Prediction, Advisors can help make first responders aware of the possible severity of injuries.</div>
					</div>
	            </div>
	        </div>
			<div class="col-12 explore-item-container2">
	            <div class="row">
	            	<div class="col-12 col-lg-6 description">
	            		<div class="gb-body2 mb-1 mb-lg-2">Automatic Crash Response</div>
						<div class="gb-headline2 mb-4 mb-lg-6">Recover Your Vehicle Quickly and Safely</div>
						<div class="gb-body1">OnStar Advisors can work with law enforcement to locate and recover a stolen vehicle, using services like Remote Ignition Block and Stolen Vehicle Slowdown.</div>
		            </div>
		            <div class="col-12 col-lg-6 image">
	            		<img class="img-responsive-fullwidth" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
					</div>
	            </div>
	        </div>
	        <!-- END IMAGE/TEXT CARDs -->

	        <!-- START EXPLORE CARD -->
			<div class="col-12">
				<div class="card-explore-cit2 mb-16">
					<div class="image">
	            		<img class="img-responsive-fullwidth" src="img/prototypes/cit-style/card-cit2-image.jpg" alt="Responsive image">
					</div>
					<!-- MOBILE -->
					<div class="content-mobile">
						<div class="gb-headline3 mb-4 mb-lg-6">Explore all of OnStar</div>
						<gb-expander class="gb-expander">
						    <div class="gb-expander-btn" role="button" aria-expanded="false" tabindex="0">
						        <div class="gb-body1 heavy">Emergency Services</div>
						    </div>
						    <div class="gb-expander-content">
						        <div class="gb-expander-content-body">
						            <div class="gb-body2">The red SOS button gives you a priority connection to an OnStar Emergency-Certified Advisor, who can contact emergency service providers and offer critical assistance until they arrive.</div>
						        </div>
						    </div>
						</gb-expander>
						<gb-expander class="gb-expander">
						    <div class="gb-expander-btn" role="button" aria-expanded="false" tabindex="0">
						        <div class="gb-body1 heavy">Roadside Assistance</div>
						    </div>
						    <div class="gb-expander-content">
						        <div class="gb-expander-content-body">
						            <div class="gb-body2">The red SOS button gives you a priority connection to an OnStar Emergency-Certified Advisor, who can contact emergency service providers and offer critical assistance until they arrive.</div>
						        </div>
						    </div>
						</gb-expander>
						<gb-expander class="gb-expander">
						    <div class="gb-expander-btn" role="button" aria-expanded="false" tabindex="0">
						        <div class="gb-body1 heavy">Crisis Assist</div>
						    </div>
						    <div class="gb-expander-content">
						        <div class="gb-expander-content-body">
						            <div class="gb-body2">The red SOS button gives you a priority connection to an OnStar Emergency-Certified Advisor, who can contact emergency service providers and offer critical assistance until they arrive.</div>
						        </div>
						    </div>
						</gb-expander>
						<gb-expander class="gb-expander">
						    <div class="gb-expander-btn" role="button" aria-expanded="false" tabindex="0">
						        <div class="gb-body1 heavy">Turn-by-Turn Navigation</div>
						    </div>
						    <div class="gb-expander-content">
						        <div class="gb-expander-content-body">
						            <div class="gb-body2">The red SOS button gives you a priority connection to an OnStar Emergency-Certified Advisor, who can contact emergency service providers and offer critical assistance until they arrive.</div>
						        </div>
						    </div>
						</gb-expander>
					</div>
					<!-- DESKTOP -->
					<div class="content-desktop">
						<div class="gb-headline3 mb-4 mb-lg-6">Explore all of OnStar</div>
				        <div class="explore-item-container">	
							<div class="explore-item">
								<span aria-hidden="true" class="icon-ui-bullet"></span>
								<div class="description">
				            		<div class="gb-body2 heavy mb-2">Stolen Vehicle Assistance</div>
				            		<div class="gb-body2">The red SOS button gives you a priority connection to an OnStar Emergency-Certified Advisor, who can contact emergency service providers and offer critical assistance until they arrive.</div>
				            	</div>
				            </div>
							<div class="explore-item">
								<span aria-hidden="true" class="icon-ui-bullet"></span>
								<div class="description">
				            		<div class="gb-body2 heavy mb-2">Crisis Assist</div>
				            		<div class="gb-body2">Advisors are available 24/7 to provide critical assistance and special routing during severe weather, a natural disaster or other crisis situation.</div>
				            	</div>
				            </div>
				        </div>
				        <div class="explore-item-container">	
							<div class="explore-item">
								<span aria-hidden="true" class="icon-ui-bullet"></span>
								<div class="description">
				            		<div class="gb-body2 heavy mb-2">Roadside Assistance</div>
				            		<div class="gb-body2">Travel with confidence knowing an Advisor can send for help if you have a flat tire, need a tow or run out of gas.</div>
				            	</div>
				            </div>
							<div class="explore-item">
								<span aria-hidden="true" class="icon-ui-bullet"></span>
								<div class="description">
				            		<div class="gb-body2 heavy mb-2">Turn-by-Turn Navigation</div>
				            		<div class="gb-body2">OnStar helps you with simple, safe and easily accessible Turn-by-Turn Navigation. Getting directions is as easy as pushing your blue OnStar button and telling an Advisor where you want to go.</div>
				            	</div>
				            </div>
				        </div>
					</div>

				</div>
			</div>
			<!-- END EXPLORE CARD -->

			<!-- START STATS -->
			<div class="col-12 col-lg-4">
				<div class="stat mb-8 mb-lg-0">
					<div class="stat-graphic">
						<span aria-hidden="true" class="icon-ui-onstar-emergency-contact"></span>
					</div>
					<div class="stat-content">
						<div class="gb-display2 heavy mb-2">3 million+</div>
						<div class="gb-body1">OnStar Members</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="stat mb-8 mb-lg-0">
					<div class="stat-graphic">
						<span aria-hidden="true" class="icon-ui-onstar-roadside-assistance"></span>
					</div>
					<div class="stat-content">
						<div class="gb-display2 heavy mb-2">3,500+</div>
						<div class="gb-body1 mb-2">Monthly Automatic Crash Responses</div>
						<div class="gb-body2">Data from OnStar as of June 2020.</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="stat mb-0">
					<div class="stat-graphic">
						<span aria-hidden="true" class="icon-ui-onstar-advisor"></span>
					</div>
					<div class="stat-content">
						<div class="gb-display2 heavy mb-2">700+</div>
						<div class="gb-body1 mb-2">Monthly Stolen Vehicle Assistance Calls</div>
					</div>
				</div>
			</div>
			<!-- END STATS -->
		</div>
	</div>
</div>






