<div class="container sg-title">
    <h1>Typography</h1>
    <hr>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 margin-bottom-medium">
            <h1><small>Headings:</small></h1>
            <h1>Heading 1 - 35px</h1>
            <h2>Heading 2 - 35px</h2>
            <h3>Heading 3 - 30px</h3>
            <h4>Heading 4 - 22px</h4>
            <h5>Heading 5 - 20px</h5>
            <h6>Heading 6 - 16px</h6>
        </div>
        <div class="col-sm-12 margin-bottom-medium">
            <h1><small>Headings: CITATION Style</small></h1>
            <h1 class="cit">Heading 1 - 35px/45.5px</h1>
            <h1 class="cit heavy">Heading 1 - 35px/45.5px</h1>
            <h2 class="cit">Heading 2 - 35px/45.5px</h2>
            <h2 class="cit heavy">Heading 2 - 35px/45.5px</h2>
            <h3 class="cit">Heading 3 - 30px/39px</h3>
            <h3 class="cit heavy">Heading 3 - 30px/39px</h3>
            <h3 class="cit35">Heading 3.5 - 25px/32.5px</h3>
            <h3 class="cit35 heavy">Heading 3.5 - 25px/32.5px</h3>
            <h4 class="cit">Heading 4 - 22px/28.6px</h4>
            <h4 class="cit heavy">Heading 4 - 22px/28.6px</h4>
            <h5 class="cit">Heading 5 - 20px/26px</h5>
            <h5 class="cit heavy">Heading 5 - 20px/26px</h5>
            <h6 class="cit">Heading 6 - 16px/20px</h6>
            <h6 class="cit heavy">Heading 6 - 16px/20px</h6>
        </div>
        <div class="col-sm-12 margin-bottom-medium">
            <h1><small>Body/Paragraph:</small></h1>
            <p>Body - 16px</p>
            <p><strong>This is strong paragraph text. - 16px</strong></p>
            <p><em>This is italicized paragraph text. - 16px</em></p>
            <p><small>This is small paragraph text. - 14px</small></p>
        </div>
        <div class="col-sm-12">
            <h1><small>Body/Paragraph: CITATION Style</small></h1>
            <p class="cit">Body - 16px</p>
            <p class="cit disclaimer">Disclaimer - 14px/18.9px</strong></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule:</small></h1>
            <hr>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Page Header:</small></h1>
            <h1>Page Header</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Page Header with SubText:</small></h1>
            <h1>Page Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui <a class="btn btn-link" href="#">Link</a>.</p>
        </div>
    </div>

<!--     <div class="row">
        <div class="col-12">
            <h1><small>Page Header with Button:</small></h1>
            <div class="page-header-button">
                <h1>Page Header</h1>
                <button type="button" class="btn btn-primary btn-right"><span aria-hidden="true" class="icon-ui-adddot"></span>Add Vehicle</button>
            </div>
            <div class="page-header-subinfo">
                <ul class="list-inline-pipe">
                    <li><strong>SiriusXM Satellite Radio</strong></li>
                    <li>CURRENTLY VIEWING 6 of 6 vehicles</li>
                </ul>
                <ul class="list-inline">
                    <li><button type="button" class="btn btn-link">Manage OnStar<span class="icon-ui-newwindow"></span></button></li>
                    <li><button type="button" class="btn btn-link">XM Channel Guide<span class="icon-ui-newwindow"></span></button></li>
                </ul>
            </div>
        </div>
    </div> -->


    <div class="row">
        <div class="col-sm-12">
            <h1><small>Page Header within image:</small></h1>
            <h1 class="page-header-image">Page Header</h1>
        </div>
    </div>



<!--     <div class="row">
        <div class="col-sm-12">
            <h1><small>HR Rule Light:</small></h1>
            <hr class="light">
        </div>
    </div> -->


</div>
