

<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>Vehicle Profile</h1>
			<hr>
		</div>
	</div>
</div>



<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>Vehicle Profile - Hero</small></h1>
        </div>
    </div>
</div>


<div class="cit2-alert-fullscreen alert-danger" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="title">
                        <div class="icon">
                            <span aria-hidden="true" class="icon-ui-caution"></span>
                        </div>
                        <div class="heading">
                            <div class="gb-body1 heavy"><p class="mb-0">Your vehicle has an active safety recall.</p></div>
                            <div class="description">
                                <div class="gb-body1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</div>
                            </div>
                        </div>
                    </div>

                    <ul class="links">
                        <li class="gb-body2"><a href="#">View Recall</a></li>
                        <li class="gb-body2"><a href="#">Dismiss</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="cit2-page-heading">
                <div class="title">
                    <div class="gb-headline1">Vehicle Overview</div>
                </div>
                <div class="control">
                    <div class="gb-body2"><a href="#">Switch Vehicle</a></div>
                </div>
            </div>
        </div>
    </div>


	<div class="row mb-6">
		<div class="col-12 col-lg-6 mb-3 mb-lg-0">
			<img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/image-chevy-bolt-xl.png" alt="">
		</div>

		<div class="col-12 col-lg-6">
			<div class="gb-descriptive2">2020</div>
			<div class="gb-display3 mt-1 mb-1">CHEVROLET BOLT EV</div>
			<div class="gb-descriptive2">VIN: 1GCGTDEN2K1314604</div>
			<div class="mt-1">
				<div class="cit2-badge-status">
					<div class="gb-descriptive1">CONNECTED</div>	
				</div>
				<div class="cit2-badge-status">
					<div class="gb-descriptive1">SHARED</div>	
				</div>
			</div>
			<ul class="cit2-badge-familyshare mb-1">
				<li class=""><div class="gb-body1"><p>JW</p></div></li>
				<li class="child"><div class="gb-body1"><p>MF</p></div></li>
			</ul>
			<div class="gb-body2 mb-0"><p class="mb-0">Linda Green shared this vehicle.</p></div>
			<div class="gb-body2"><a href="#">Family Sharing</a></div>
		</div>
	</div>
</div>


<div class="cit2-grey-section mb-6 mb-lg-10">
	<div class="container">
	    <div class="row">
	        <div class="col-12 tool-container">
	        	<div class="tool">
					<div class="gb-descriptive2">
						<a href="#">
							<img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/vehicle-profile-health.svg" alt="">VEHICLE HEALTH
						</a>
					</div>
				</div>

	        	<div class="tool">
					<div class="gb-descriptive2"><a href="#"><img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/vehicle-profile-service.svg" alt=""><p>SERVICE HISTORY</p></a></div>
				</div>

	        	<div class="tool">
					<div class="gb-descriptive2"><a href="#"><img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/vehicle-profile-warranty.svg" alt="">WARRANTY</a></div>
				</div>

	        	<div class="tool">
<!-- 					<div class="gb-descriptive2"><a href="#"><img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/vehicle-profile-recall.svg" alt="">RECALL</a></div> -->
					<div class="gb-descriptive2 red"><a href="#"><img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/vehicle-profile-recall.svg" alt="">1 RECALL</a></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container mb-14 mb-lg-20">
    <div class="row">
        <div class="col-12 col-lg-6 mb-14 mb-lg-0">
			<div class="gb-headline1">OnStar & Connected Services</div>

			<hr class="cit2 mt-6 mb-6">

			<div class="gb-body1"><p>You’re viewing the plans for this shared vehicle as a Family Member</p></div>

			<hr class="cit2 mt-6 mb-6">

			<div class="gb-headline2 mb-2">Essentials</div>
			<div class="gb-body1"><p>Renews monthly</p></div>

			<hr class="cit2 mt-6 mb-6">

			<div class="gb-body1 mb-10"><a href="#" class="gb-body1 heavy">Connected Access</a> is included with your vehicle purchase and active through July 21, 2029</div>

			<div class="row">
				<div class="col-12 col-lg-6">
					<a class="gb-primary-button">My Plans</a>
				</div>
			</div>
        </div>

        <div class="col-12 col-lg-6">
			<div class="gb-headline1">Preferred Service Dealer</div>

			<hr class="cit2 mt-6 mb-6">

			<div class="gb-headline2 mb-2">George Matick Chevrolet</div>
			<address>
				<div class="gb-body2"><p class="mb-0">14001 Telegraph Rd</p></div>
				<div class="gb-body2"><p class="mb-0">Redford Charter Twp, MI 48239</p></div>
				<div class="gb-body2"><p>48239</p></div>
			</address>

			<div class="row mb-4">
				<div class="col-12 col-lg-6 mb-2 mb-lg-0">
					<div class="gb-body2"><p class="mb-0">Sales</p></div>
					<div class="gb-body2 heavy"><p class="mb-0">(888) 422-1988</p></div>
				</div>
				<div class=" col-12 col-lg-6">
					<div class="gb-body2"><p class="mb-0">Service</p></div>
					<div class="gb-body2 heavy"><p class="mb-0">(877) 207-7264</p></div>
				</div>
			</div>

			<div class="gb-body1"><a href="#">Dealer Website</a></div>
			<div class="gb-body1"><a href="#">Driving Directions</a></div>


			<div class="row mt-10 mb-6 mb-lg-10">
				<div class="col-12 col-lg-6">
					<a class="gb-primary-button">Schedule Service</a>
				</div>
			</div>

			<div class="gb-body1"><a href="#">Change preferred dealer</a></div>


        </div>
    </div>
</div>


<div class="cit2-grey-section mb-14 mb-lg-20">
	<div class="container">
	    <div class="row">
			<div class="col-12 col-lg-6 mb-5 mb-lg-0">
				<img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/image-my-chevrolet-ev-xl@3x.png" alt="">
			</div>
			<div class="col-12 col-lg-6">
				<div class="gb-headline1 mb-2">Exclusively available in the myChevrolet app</div>
				<div class="gb-body1 mb-2">From locking and unlocking your vehicle’s doors to checking its fuel range, oil life and more,† the MyBuick Mobile App† allows you to remotely access your vehicle, even when you’re not near it.</div>
				<ul class="cit2-list-bullet mb-8">
					<li><div class="gb-body1">EV Status</div></li>
					<li><div class="gb-body1">Remote Keyfob</div></li>
					<li><div class="gb-body1">Vehicle Locate</div></li>
					<li><div class="gb-body1">Charging Stations</div></li>
				</ul>

				<div class="d-none d-lg-block">
					<div class="app-badges">
						<img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/google-play-badge.png" alt="">
						<img class="img-responsive-fullwidth" src="img/prototypes/vehicle-profile/App_Store_Badge_US.svg" alt="">
					</div>
					<div class="gb-body2"><small>______ and ______ are registered trademarks of Apple Inc. Google Play and the Google Play logo are trademarks of Google LLC.</small></div>
				</div>

				<div class="row d-block d-lg-none">
					<div class="col-12 col-lg-6">
						<a class="gb-primary-button">Open MyChevrolet App</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="container mb-6 mb-lg-8">
    <div class="row">
        <div class="col-12">
			<div class="gb-headline1">Owner Resources</div>

			<hr class="cit2 mt-6 mb-6">

			<div class="row">
        		<div class="col-12 col-lg-6">
        			<ul>
        				<li><div class="gb-body1"><a href="#">Owner Manual</a></div></li>
        				<li><div class="gb-body1"><a href="#">Vehicle Support</a></div></li>
        				<li><div class="gb-body1"><a href="#">Bluetooth Information</a></div></li>
        				<li><div class="gb-body1"><a href="#">Android Auto</a></div></li>
        				<li><div class="gb-body1"><a href="#">Apple CarPlay</a></div></li>
        			</ul>
        		</div>

        		<div class="col-12 col-lg-6">
        			<ul>
        				<li><div class="gb-body1"><a href="#">Notification Preferences</a></div></li>
        				<li><div class="gb-body1"><a href="#">Vehicle Settings</a></div></li>
        				<li><div class="gb-body1"><a href="#">Shop Accessories</a></div></li>
        				<li><div class="gb-body1"><a href="#">Tire Safety</a></div></li>
        			</ul>
        		</div>
        	</div>
        </div>
    </div>
</div>
