<div class="container sg-title">
	<div class="row">
		<div class="col-12">
			<h1>WEB INBOX - DEFAULT</h1>
			<hr>
		</div>
	</div>
</div>




<div class="container ">
    <div class="row mt-0 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>AUTOSELECT</small></h1>
        </div>
    </div>
</div>


<div class="web-inbox">
    <div class="container">
        <div class="row">
            <!-- BEGIN ---- INBOX LIST -->
            <div class="col-12 col-lg-5 inbox">
                <div class="inbox-header">
                    <div class="title">
                        <div class="gb-headline2 gb-align-left">
                            <p class="mb-0">INBOX</p>
                        </div>
                    </div>
                    <div class="control">
                        <div class="gb-body3 .gb-color-grey-mid-dark gb-align-left">
                            <a href="#">
                                <p class="mb-0">Edit</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="inbox-tab-container">
                    <input type="radio" class="state" id="tab-notifications" name="tabs-state" checked="">
                    <input type="radio" class="state" id="tab-messages" name="tabs-state">
    
                    <div class="inbox-tabs">
                        <div class="tab-labels">
                            <label for="tab-notifications" id="tab-notifications-label" class="tab gb-body1">Notifications</label>
                            <label for="tab-messages" id="tab-messages-label" class="tab gb-body1">Messages</label>
                        </div>
    
                        <div id="tab-notifications-content" class="panel active">
                            <!-- BEGIN ---- ALERT (NOTIFICATION / MESSAGE DELETED) -->
                            <div class="alert-container">
                                <div class="inbox-alert" role="alert">
                                    <div class="title">
                                        <div class="icon">
                                            <span aria-hidden="true" class="icon-ui-trash"></span>
                                        </div>
                                        <div class="gb-body2">
                                            <p class="mb-0">1 notification deleted</p>
                                        </div>
                                    </div>
                                    <div class="close">
                                        <a href="#" class="gb-icon-button">
                                            <div class="gb-body4">
                                                <span aria-hidden="true" class="icon-ui-close"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- END ---- ALERT (NOTIFICATION / MESSAGE DELETED) -->

                            <!-- BEGIN ---- NOTIFICATION / MESSAGES -->
                            <div class="content-container">
                                <div class="content-item selected">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">Schedule Your Vehicle Delivery Appointment</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">Today</p>
                                        </div>
                                        <div class="gb-body2">
                                            <span aria-hidden="true" class="icon-ui-attentionoutline"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-body2">
                                            <p class="mb-0">No Longer Available</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item unread">
                                    <div class="title">
                                        <p class="mb-0"><span aria-hidden="true" class="icon-ui-circle"></span></p>
                                        <div class="gb-body2">
                                            <p class="mb-0">Continue Buying</p>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/10/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-container">
                                    <a href="#" class="gb-primary-button">Load More</a>
                                </div>
                            </div>
                            <!-- END ---- NOTIFICATION / MESSAGES -->


                        </div>
                        <div id="tab-messages-content" class="panel">
                            <p>Tab Two Content</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END ---- INBOX LIST -->

            <!-- BEGIN ---- READING PANE -->
            <div class="col-12 col-lg-7 reading-pane status-message">
                <div class="status-content">
                    <!-- START ICON -->
                    <div class="icon">
                        <div class="gb-headline2">
                            <span aria-hidden="true" class="icon-ui-caution"></span>
                        </div>
                    </div>
                    <!-- END ICON -->

                    <!-- START TITLE -->
                    <div class="gb-body1 heavy">
                        <p class="mb-0">Unable to Connect</p>
                    </div>
                     <!-- END TITLE -->
                     
                     <!-- START MESSAGE -->
                    <div class="gb-body2">
                        <p class="mb-0">We're having trouble loading your notifications right now. Check your connection, wait a moment, and then try again.</p>
                    </div>
                     <!-- END MESSAGE -->
                </div>
            </div>
            <!-- END ---- READING PANE -->
        </div>
    </div>
</div>


<div class="container ">
    <div class="row mt-15 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>EDIT</small></h1>
        </div>
    </div>
</div>


<div class="web-inbox">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 inbox edit">
                <div class="inbox-header">
                    <div class="title">
                        <div class="gb-headline2 gb-align-left">
                            <p class="mb-0">INBOX</p>
                        </div>
                    </div>
                    <div class="control">
                        <div class="gb-body3 .gb-color-grey-mid-dark gb-align-left">
                            <a href="#">
                                <p class="mb-0">Cancel</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="inbox-tab-container">
                    <input type="radio" class="state" id="tab-notifications2" name="tabs-state2" checked="">
                    <input type="radio" class="state" id="tab-messages2" name="tabs-state2">
    
                    <div class="inbox-tabs">
                        <div class="tab-labels">
                            <label for="tab-notifications2" id="tab-notifications-label" class="tab gb-body1">Notifications</label>
                            <label for="tab-messages2" id="tab-messages-label" class="tab gb-body1">Messages</label>
                        </div>
    
                        <div id="tab-notifications-content" class="panel active">
                            <!-- BEGIN ---- EDIT -->
                            <div class="edit-container">
                                <div class="edit-contents">
                                    <div class="gb-checkbox inbox-selected">
                                        <input id="checkboxId4" type="checkbox" />
                                        <label for="checkboxId4"><span aria-hidden="true" class="icon-ui-arrowdown"></span></label>
                                        <ul class="edit-dropdown">
                                            <li>
                                                <div class="gb-label gb-align-left">
                                                    <p>Select All</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gb-label gb-align-left">
                                                    <p>Select None</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gb-label gb-align-left">
                                                    <p>Select Read</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gb-label gb-align-left">
                                                    <p>Select Unread</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    
                                    <ul class="controls disabled">
                                        <li class="gb-body3 .gb-color-grey-mid-dark gb-align-left">
                                            <a href="#">
                                                <p class="mb-0">Mark Unread</p>
                                            </a>
                                        </li>
                                        <li class="gb-body3 .gb-color-grey-mid-dark gb-align-left">
                                            <a href="#">
                                                <p class="mb-0">Mark Read</p>
                                            </a>
                                        </li>
                                        <li class="gb-body3 .gb-color-grey-mid-dark gb-align-left">
                                            <a href="#">
                                                <p class="mb-0">Delete</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END ---- EDIT -->

                            <!-- BEGIN ---- ALERT (NOTIFICATION / MESSAGE DELETED) -->
                            <div class="alert-container">
                                <div class="inbox-alert" role="alert">
                                    <div class="title">
                                        <div class="icon">
                                            <span aria-hidden="true" class="icon-ui-trash"></span>
                                        </div>
                                        <div class="gb-body2">
                                            <p class="mb-0">1 notification deleted</p>
                                        </div>
                                    </div>
                                    <div class="close">
                                        <a href="#" class="gb-icon-button">
                                            <div class="gb-body4">
                                                <span aria-hidden="true" class="icon-ui-close"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- END ---- ALERT (NOTIFICATION / MESSAGE DELETED) -->

                            <!-- BEGIN ---- NOTIFICATION / MESSAGES -->
                            <div class="content-container">
                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-checkbox">
                                            <input id="checkboxId1" type="checkbox" />
                                            <label for="checkboxId1">Schedule Your Vehicle Delivery Appointment</label>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">Today</p>
                                        </div>
                                        <div class="gb-body2">
                                            <span aria-hidden="true" class="icon-ui-attentionoutline"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item">
                                    <div class="title">
                                        <div class="gb-checkbox">
                                            <input id="checkboxId2" type="checkbox" />
                                            <label for="checkboxId2">No Longer Available</label>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/14/23</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-item unread">
                                    <div class="title">
                                        <div class="gb-checkbox">
                                            <input id="checkboxId3" type="checkbox" />
                                            <label for="checkboxId3"><span aria-hidden="true" class="icon-ui-circle"></span>Continue Buying</label>
                                        </div>
                                    </div>
                                    <div class="stamp">
                                        <div class="gb-body3 gb-color-grey-mid-dark">
                                            <p class="mb-0">2/10/23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END ---- NOTIFICATION / MESSAGES -->
                        </div>
                        <div id="tab-messages-content" class="panel">
                            <p>Tab Two Content</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BEGIN ---- READING PANE -->
            <div class="col-12 col-lg-7 reading-pane">
                <div class="default-message">
                    <div class="header">
                        <div class="gb-body1 heavy mb-2">
                            <p class="mb-0">Schedule Your Vehicle Delivery Appointment</p>
                        </div>
                        <div class="gb-body2">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="body">
                        <div class="item-container">
                            <div class="item">
                                <div class="icon">
                                    <span aria-hidden="true" class="icon-graphic-car"></span>
                                </div>
                                <div class="title-vin">
                                    <div class="gb-body3 heavy">
                                        <p class="mb-0">2022 Chevrolet Blazer EV</p>
                                    </div>
                                    <div class="gb-body3 gb-color-grey-mid-dark">
                                        <p class="mb-0">VIN: 298398298922</p>
                                    </div>
                                </div>            
                            </div>
                            <div class="item-status">
                                <div class="gb-body3 heavy">
                                    <p class="mb-0">Schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <a href="#" class="gb-secondary-button">Mark Unread</a>
                        <a href="#" class="gb-secondary-button">Delete</a>
                    </div>

                </div>
            </div>
            <!-- END ---- READING PANE -->
        </div>
    </div>
</div>


<div class="container ">
    <div class="row mt-15 mb-10 sg-subtitle">
        <div class="col-12">
            <h1><small>MOBILE - READING PANE</small></h1>
        </div>
    </div>
</div>


<div class="web-inbox">
    <div class="container">
        <div class="row">
            <!-- BEGIN ---- READING PANE -->
            <div class="col-12 reading-pane-mobile">
                <div class="default-message">
                    <div class="reading-pane-nav">
                        <a href="#" class="gb-icon-button py-0"><span aria-hidden="true" class="icon-ui-arrowleft"></span></a>
                    </div>
                    <div class="header">
                        <div class="stamp">
                            <div class="gb-body2">
                                <span aria-hidden="true" class="icon-ui-attentionoutline"></span>
                            </div>
                            <div class="gb-body3 gb-color-grey-mid-dark">
                                <p class="mb-0">This notification is high priority</p>
                            </div>
                        </div>

                        <div class="gb-body1 heavy">
                            <p class="mb-0">Schedule Your Vehicle Delivery Appointment</p>
                        </div>
                        <div class="gb-body3 gb-color-grey-mid-dark">
                            <p class="mb-0">Today</p>
                        </div>
                        
                        <div class="gb-body2 mt-5">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="body">
                        <div class="item-container">
                            <div class="item">
                                <div class="icon">
                                    <span aria-hidden="true" class="icon-graphic-car"></span>
                                </div>
                                <div class="title-vin">
                                    <div class="gb-body3 heavy">
                                        <p class="mb-0">2022 Chevrolet Blazer EV</p>
                                    </div>
                                    <div class="gb-body3 gb-color-grey-mid-dark">
                                        <p class="mb-0">VIN: 298398298922</p>
                                    </div>
                                </div>            
                            </div>
                            <div class="item-status">
                                <div class="gb-body3 heavy">
                                    <p class="mb-0">Schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <a href="#" class="gb-secondary-button">Mark Unread</a>
                        <a href="#" class="gb-secondary-button">Delete</a>
                    </div>

                </div>
            </div>
            <!-- END ---- READING PANE -->
        </div>
    </div>
</div>