@use '../../common/common' as com;
@use '../../utils/breakpoints' as bp;

@use 'button' as b;
@use '../../chevy-2023/colors' as c;
@use '../../chevy-2023/fonts' as f;

%button-icon-base {
	svg,
	img {
		block-size: 20px;
		inline-size: 20px;
		inset-block-start: -2px;
		position: relative;
		vertical-align: middle;
	}

	&.icon-left {
		svg,
		img {
			margin-inline-end: 5px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-inline-start: 5px;
		}
	}

	height: 48px;
}

%gb-primary-button {
	@include b.primary-button(
		c.$chevy-blue,
		none,
		c.$white,
		f.$font-family-chevy-sans,
		16px,
		f.$font-weight-demi,
		normal,
		125%,
		14px 32px,
		background .5s cubic-bezier(0, 1, .5, 1),
		c.$button-hover,
		none,
		c.$white,
	);
	-o-object-fit: contain;
	   object-fit: contain;

	&.disabled {
		background-color: c.$button-hover;
	}

	&.invert {
		@include b.button-invert(
			c.$white,
			none,
			c.$grey-dark,
			c.$grey-light,
			c.$grey-dark,
		);

		&.disabled {
			background-color: c.$grey-mid-dark;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		1px solid c.$chevy-blue,
		c.$chevy-blue,
		f.$font-family-chevy-sans,
		16px,
		f.$font-weight-bold,
		normal,
		125%,
		14px 32px,
		background .25s cubic-bezier(0, 1, .5, 1),
		transparent,
		1px solid c.$button-hover,
		c.$button-hover
	);
	-o-object-fit: contain;
	   object-fit: contain;

	&.disabled {
		&:active,
		&:focus,
		&:hover,
		&.gb-target-zone-button-active {
			background-color: transparent;
			border: 1px solid c.$button-disabled;
			color: c.$button-disabled;
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			1px solid c.$white,
			c.$white,
			transparent,
			c.$white
		);

		&.disabled {
			&:active,
			&:focus,
			&:hover,
			&.gb-target-zone-button-active {
				background-color: transparent;
				border: 1px solid c.$grey-mid-dark;
				color: c.$grey-mid-dark;
			}
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-tertiary-button {
	@include b.primary-button(
		transparent,
		none,
		c.$chevy-blue,
		f.$font-family-chevy-sans,
		16px,
		f.$font-weight-demi,
		normal,
		125%,
		14px 32px,
		background .25s cubic-bezier(0, 1, .5, 1),
		transparent,
		none,
		c.$button-hover
	);
	-o-object-fit: contain;
	   object-fit: contain;

	&.disabled {
		color: c.$button-disabled;
	}

	&.invert {
		@include b.button-invert(
			transparent,
			none,
			c.$white,
			transparent,
			c.$white
		);

		&.disabled {
			color: c.$button-disabled;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link {
	@include b.link(
		c.$chevy-blue,
		f.$font-family-chevy-sans,
		16px,
		f.$font-weight-demi,
		normal,
		20px,
		12px 0,
		c.$button-hover,
	);

	height: 48px;

	&.icon-left {
		&::before {
			content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%230077D9"/></svg>');
			margin-inline-end: 5px;
			position: relative;
			top: 1px;
			vertical-align: middle;
		}
	}

	&.icon-right {
		&::after {
			content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%230077D9"/></svg>');
			margin-inline-start: 5px;
			position: relative;
			top: 1px;
			vertical-align: middle;
		}
	}

	&:hover {
		&.icon-left {
			&::before {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%23005ba6"/></svg>');
				vertical-align: middle;
			}
		}


		&.icon-right {
			&::after {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%23005ba6"/></svg>');
				vertical-align: middle;
			}
		}
	}

	&.disabled {
		color: c.$button-disabled;

		&.icon-left {
			&::before {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%23005ba6"/></svg>');
				vertical-align: middle;
			}
		}

		&.icon-right {
			&::after {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%23005ba6"/></svg>');
				vertical-align: middle;
			}
		}
	}

	&.invert {
		&.disabled {
			color: c.$grey-mid-dark;

			&.icon-left {
				&::before {
					content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%23666666"/></svg>');
					vertical-align: middle;
				}
			}

			&.icon-right {
				&::after {
					content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%23666666"/></svg>');
					vertical-align: middle;
				}
			}
		}

		&.icon-left {
			&::before {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%23ffffff"/></svg>');
				vertical-align: middle;
			}
		}

		&.icon-right {
			&::after {
				content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%23ffffff"/></svg>');
				vertical-align: middle;
			}
		}

		&:hover {
			&.icon-left {
				&::before {
					content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983ZM16%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%20-3.85775e-07%2012.4128%200%208C3.85775e-07%203.58725%203.57617%20-3.86743e-07%208%200C12.4238%203.86743e-07%2016%203.58725%2016%208ZM7.92156%2011.0252C7.70316%2011.2392%207.35093%2011.2374%207.13483%2011.0211L4.5031%208.38743C4.28862%208.1728%204.28862%207.8272%204.5031%207.61256L7.13483%204.9789C7.35093%204.76264%207.70316%204.76079%207.92157%204.97477C8.13997%205.18874%208.14184%205.53751%207.92574%205.75377L6.2316%207.44915L11.1015%207.44916C11.4088%207.44916%2011.6578%207.69578%2011.6578%208C11.6578%208.30422%2011.4088%208.55085%2011.1015%208.55085H6.2316L7.92574%2010.2462C8.14184%2010.4625%208.13997%2010.8113%207.92156%2011.0252Z"%20fill="%23e6e6e6"/></svg>');
					vertical-align: middle;
				}
			}


			&.icon-right {
				&::after {
					content: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="16"%20viewBox="0%200%2016%2016"%20fill="none"><path%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M8%201.10169C4.20176%201.10169%201.11262%204.18464%201.11262%208C1.11262%2011.8154%204.20176%2014.8983%208%2014.8983C11.7982%2014.8983%2014.8874%2011.8154%2014.8874%208C14.8874%204.18464%2011.7982%201.10169%208%201.10169ZM0%208C0%203.58725%203.57617%200%208%200C12.4238%200%2016%203.58725%2016%208C16%2012.4128%2012.4238%2016%208%2016C3.57617%2016%200%2012.4128%200%208ZM8.07844%204.97477C8.29684%204.7608%208.64907%204.76264%208.86517%204.9789L11.4969%207.61257C11.7114%207.8272%2011.7114%208.1728%2011.4969%208.38744L8.86517%2011.0211C8.64907%2011.2374%208.29684%2011.2392%208.07844%2011.0252C7.86003%2010.8113%207.85816%2010.4625%208.07426%2010.2462L9.7684%208.55085L4.89846%208.55085C4.59122%208.55085%204.34215%208.30422%204.34215%208C4.34215%207.69578%204.59122%207.44915%204.89846%207.44915L9.7684%207.44916L8.07426%205.75377C7.85816%205.53751%207.86003%205.18874%208.07844%204.97477Z"%20fill="%23e6e6e6"/></svg>');
					vertical-align: middle;
				}
			}
		}

		@include b.link-invert(
			c.$white,
			c.$grey-light,
		);
	}
}

%gb-icon-button {
	@extend %button-icon-base;
	color: c.$grey-dark;
	cursor: pointer;
	height: 48px;
	padding: 12px 0;
	width: auto;
}

%gb-tab-toggle {
	@include b.gb-tab-toggle(
		transparent,
		0,
		c.$grey-dark,
		f.$font-family-chevy-sans,
		16px,
		f.$font-weight-medium,
		normal,
		1.5,
		6px 0,
		background .5s cubic-bezier(0, 1, .5, 1),
		transparent,
		0,
		c.$grey-dark,
		transparent,
		0,
		c.$grey-dark,
		transparent,
		0,
		c.$white,
		transparent,
		c.$white,
		transparent,
		c.$white,
		21px,
		21px
	);

	text-align: start;

	.gb-link-label {
		border-inline-start: 2px solid transparent;
		padding-inline-end: 24px;
		padding-inline-start: 22px;
	}

	&:hover,
	&:active,
	&.gb-target-zone-button-active {
		.gb-link-label {
			border-inline-start-color: c.$gold-legacy;
			transition: border-color .5s cubic-bezier(0, 1, .5, 1);
		}
	}

	@media print,only screen and (min-width:800px) {
		font-size: 20px;
		line-height: 1.4;
	}
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-tertiary-button {
	@extend %gb-tertiary-button;
}

.gb-link {
	@extend %gb-link;
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-tertiary-button-inline-icon {
	@extend %gb-tertiary-button-inline-icon;
}

.gb-tab-toggle,
.gb-content-relation-button {
	@extend %gb-tab-toggle;
}
