@use 'button' as b;
@use '../../fleet/colors' as c;
@use '../../fleet/fonts' as f;
@use '../../fleet/icons' as i;

$transition: background .25s, border .25s, color .25s;

%link-button-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011%2018%22%3E%3Cpath%20d%3D%22m1%201%208%208-8%208%22%20stroke%3D%22%23007DBE%22%20stroke-width%3D%222.5%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%link-button-invert-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011%2018%22%3E%3Cpath%20d%3D%22m1%201%208%208-8%208%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222.5%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;

}

%list-item-button-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011%2018%22%3E%3Cpath%20d%3D%22m1%201%208%208-8%208%22%20stroke%3D%22%23252525%22%20stroke-width%3D%222.5%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%list-item-button-invert-icon-arrow-base {
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011%2018%22%3E%3Cpath%20d%3D%22m1%201%208%208-8%208%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222.5%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	display: inline-block;
}

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: top;
		width: i.$icon-small;
	}

	&.icon-stacked {
		svg,
		img {
			display: block;
			height: i.$icon-medium;
			margin: auto auto .625rem;
			width: i.$icon-medium;
		}
	}

	&.icon-left {
		svg,
		img {
			margin-right: 1rem;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-left: 1rem;
		}
	}
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;
}

%gb-primary-button-stacked-icon {
	@extend %gb-primary-button;


}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;
}

%gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button;
}

%gb-primary-button {
	@include b.primary-button(
		c.$brand-blue,
		2px solid c.$brand-blue,
		c.$white,
		f.$font-family-gotham,
		1rem,
		f.$font-weight-bold,
		0,
		1,
		1rem 1rem,
		$transition,
		c.$blue-darkest,
		2px solid c.$blue-darkest,
		c.$white
	);

	&.gb-small-button {
		padding: 6px;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}


	&.invert {
		@include b.button-invert(
			c.$white,
			2px solid c.$white,
			c.$brand-blue,
			c.$brand-blue,
			c.$white
		);

		&:hover,
		&:active {
			border-color: c.$brand-blue;
		}

		&.active,
		&.gb-target-zone-button-active {
			background-color: c.$brand-blue;
			border-color: c.$brand-blue;
			color: c.$white;

			&:hover,
			&:active {
				background-color: c.$brand-blue;
				border-color: c.$brand-blue;
				color: c.$white;
			}
		}

	}

	&.active,
	&.gb-target-zone-button-active {
		background-color: c.$blue-darkest;
		border-color: c.$blue-darkest;

		&:hover,
		&:active {
			background-color: c.$blue-darkest;
			border-color: c.$blue-darkest;
			color: c.$white;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		c.$white,
		2px solid c.$brand-blue,
		c.$brand-blue,
		f.$font-family-gotham,
		1rem,
		f.$font-weight-bold,
		0,
		1,
		1rem 1rem,
		$transition,
		c.$grey-light,
		2px solid c.$brand-blue,
		c.$brand-blue
	);

	&.gb-small-button {
		line-height: 1.75;
		padding: 0;
		position: relative;

		&::after {
			content: '';
			height: 170%;
			left: 0;
			position: absolute;
			top: -25%;
			visibility: visible;
			width: 100%;
		}
	}

	&.invert {
		@include b.button-invert(
			transparent,
			2px solid c.$white,
			c.$white,
			c.$white,
			c.$grey-very-dark
		);

		&.active {
			background-color: c.$white;
			border-color: c.$white;
			color: c.$grey-very-dark;

			&:hover,
			&:active {
				background-color: c.$white;
				border-color: c.$white;
			}
		}
	}

	&.active {
		background-color: c.$grey-light;
		border-color: c.$brand-blue;

		&:hover,
		&:active {
			background-color: c.$grey-light;
			border-color: c.$brand-blue;
		}
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link {
	@include b.link(
		c.$brand-blue,
		f.$font-family-gotham,
		1rem,
		f.$font-weight-bold,
		normal,
		1,
		.75rem 0,
		c.$grey-very-dark
	);

	align-items: center;
	display: inline-block;
	height: 3rem;

	.gb-link-label {
		font-family: f.$font-family-gotham;
		padding-left: 0;
		padding-right: .5rem;
	}

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$grey-almost
		);
	}

	&.icon-right,
	&.icon-left {
		&::before {
			@extend %link-button-icon-arrow-base;

		}

		&::after {
			@extend %link-button-icon-arrow-base;
		}

		&.invert {
			&::before {
				@extend %link-button-icon-arrow-base;
			}

			&::after {
				@extend %link-button-icon-arrow-base;
			}

		}
	}

	&.icon-right {
		.gb-link-label {
			padding-left: 0;
			padding-right: .5rem;
		}

		&::after {
			height: i.$icon-small;
			width: .5rem;
		}

		&::before {
			content: '';
		}
	}

	&.icon-left {
		.gb-link-label {
			padding-left: .5rem;
			padding-right: 0;
		}

		&::after {
			content: '';
			width: 0;
		}

		&::before {
			bottom: 2px;
			height: i.$icon-small;
			position: relative;
			transform: rotate(180deg);
			width: .5rem;
		}
	}

	&::after {
		@extend %link-button-icon-arrow-base;
		width: .5rem;
	}
}

%gb-link-footer {
	@include b.link(
		c.$black,
		f.$font-family-gotham,
		1rem,
		f.$font-weight-normal,
		normal,
		1.375rem,
		.75rem 0,
		c.$brand-blue
	);

	align-items: center;
	display: inline-flex;
	height: 3rem;
	justify-content: flex-start;

	.gb-link-label {
		font-family: f.$font-family-gotham;
		padding: 0 .5rem;
	}

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$grey-almost
		);
	}
}


%gb-icon-button {
	border-style: none;
	color: c.$brand-blue;
	cursor: pointer;
	display: inline-block;
	height: i.$icon-large;
	width: i.$icon-large;

	svg,
	img {
		fill: c.$brand-blue;
		height: 100%;
		width: 100%;
	}

	&:hover {
		color: c.$black;

		svg {
			fill: c.$black;
		}
	}
}

%gb-list-item-padding {
	&.small-list {
		padding: 1rem;
	}

	&.large-list {
		padding: 2rem 1rem;
	}

	&.no-padding {
		padding-left: 0;
		padding-right: 0;

		&::after {
			right: 0;
		}
	}
}

%gb-list-item-primary {
	@include b.list-item-button(
		transparent,
		c.$black,
		f.$font-family-gotham,
		1rem,
		1rem,
		1rem,
		f.$font-weight-bold,
		normal,
		1,
		1px solid c.$grey-almost,
		none,
		0,
		1rem,
		1rem,
		1rem,
		$transition,
		c.$grey-light,
		none,
		c.$blue-dark,
		none

	);

	position: relative;



	&.active {
		background-color: c.$brand-blue;
		color: c.$white;

		&::after {
			display: none;
		}

		&:hover,
		&:active {
			color: c.$white;
		}
	}

	&.invert {
		@include b.button-invert(
			c.$grey-very-dark,
			none,
			c.$white,
			transparent,
			c.$grey-very-dark
		);

		&.active {
			background-color: c.$brand-blue;

			&:hover {
				background-color: transparent;
			}
		}

		&:hover {
			&::after {
				@extend %list-item-button-icon-arrow-base;
			}
		}

		&::after {
			@extend %list-item-button-invert-icon-arrow-base;
		}

		border-bottom: 1px solid c.$grey-almost;
	}

	&:hover {
		color: c.$black;

	}

	&::after {
		@extend %list-item-button-icon-arrow-base;
		height: 9px;
		position: absolute;
		right: 1rem;
		top: 44%;
		transform: translateY(-50%);
		width: 9px;

	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-secondary {
	@include b.list-item-button(
		transparent,
		c.$grey-very-dark,
		f.$font-family-gotham,
		1rem,
		1rem,
		1rem,
		f.$font-weight-bold,
		normal,
		1,
		1px solid c.$grey-lighter,
		none,
		0,
		1rem,
		1rem,
		1rem,
		$transition,
		c.$grey-dark,
		none,
		c.$grey-very-dark,
		none

	);

	position: relative;

	&:hover {
		color: c.$white;

	}

	&.active {
		color: c.$white;
	}

	&.invert {
		@include b.button-invert(
			c.$grey-very-dark,
			none,
			c.$white,
			transparent,
			c.$grey-very-dark
		);

		&.active {
			background-color: c.$grey-dark;

			&:hover {
				background-color: transparent;
			}
		}

		&:hover {
			&::after {
				@extend %list-item-button-icon-arrow-base;
			}
		}

		&::after {
			@extend %list-item-button-invert-icon-arrow-base;
		}

		border-bottom: 1px solid c.$grey-almost;
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-tertiary {
	@include b.list-item-button(
		transparent,
		c.$grey-very-dark,
		f.$font-family-gotham,
		1rem,
		1rem,
		1rem,
		f.$font-weight-bold,
		normal,
		1,
		1px solid c.$grey-lighter,
		none,
		0,
		1rem,
		1rem,
		1rem,
		$transition,
		c.$grey-almost,
		none,
		transparent,
		none

	);

	position: relative;

	&:hover {
		color: c.$grey-very-dark;
	}

	&.active {
		color: c.$brand-blue;
	}

	&.invert {
		@include b.button-invert(
			c.$grey,
			none,
			c.$white,
			transparent,
			c.$grey-very-dark
		);

		&.active {
			background-color: c.$grey-almost;
			color: c.$grey-very-dark;

			&:hover {
				background-color: transparent;
			}
		}

		&:hover {
			&::after {
				@extend %list-item-button-icon-arrow-base;
			}
		}

		&::after {
			@extend %list-item-button-invert-icon-arrow-base;
		}

		border-bottom: 1px solid c.$grey-almost;
	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-inline-icon-primary {
	@extend %gb-list-item-primary;

	&::after {
		display: none;
	}
}

%gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-secondary;
}

%gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-tertiary;
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-link {
	@extend %gb-link;
}

.gb-link-footer {
	@extend %gb-link-footer;
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-primary-button-stacked-icon {
	@extend %gb-primary-button-stacked-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button-stacked-icon;
}

.gb-list-item-primary {
	@extend %gb-list-item-primary;
}

.gb-list-item-secondary {
	@extend %gb-list-item-secondary;
}

.gb-list-item-tertiary {
	@extend %gb-list-item-tertiary;
}

.gb-list-item-inline-icon-primary {
	@extend %gb-list-item-inline-icon-primary;
}

.gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-inline-icon-secondary;
}

.gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-inline-icon-tertiary;
}

html[dir='rtl'] {
	.gb-link {
		&.icon-right {
			&::before {
				height: 0;
				width: 0;
			}
		}

		&.icon-left {
			.gb-link-label {
				padding-left: 0;
				padding-right: .5rem;
			}

			&::before {
				bottom: 0;
				transform: rotate(0deg);
			}
		}

		.gb-link-label {
			padding-left: .5rem;
			padding-right: 0;
		}

		&::after {
			bottom: 2px;
			position: relative;
			transform: rotate(180deg);
		}
	}
}
