@use 'button' as b;
@use '../../chevy/colors' as c;
@use '../../chevy/fonts' as f;
@use '../../chevy/icons' as i;

%button-icon-base {
	svg,
	img {
		height: i.$icon-small;
		vertical-align: middle;
		width: i.$icon-small;
	}

	&.icon-stacked {
		svg,
		img {
			display: block;
			margin: auto auto .21739rem;
		}
	}

	&.icon-left {
		svg,
		img {
			margin-right: 20px;
		}
	}

	&.icon-right {
		svg,
		img {
			margin-left: 20px;
		}
	}
}

%gb-filter-button {
	@include b.filter-button(
		c.$grey-very-light,
		0,
		c.$grey,
		f.$font-family-roboto,
		12px,
		f.$font-weight-bold,
		1px,
		1.7,
		0 30px 20px 0,
		10px 20px,
		c.$grey-very-light,
		c.$grey-dark,
		20px,
		f.$font-weight-normal,
		10px
	);
}

$transition: background 0.25s, border 0.25s, color 0.25s;

%gb-primary-button {
	@include b.primary-button(
		transparent,
		2px solid c.$gold,
		c.$grey-dark,
		f.$font-family-roboto,
		.7rem,
		f.$font-weight-bold,
		normal,
		1.9,
		.8rem 0,
		background .25s cubic-bezier(0, 1, .5, 1),
		c.$gold,
		null,
		c.$grey-dark
	);

	&.invert {
		@include b.button-invert(
			null,
			2px solid c.$gold,
			c.$white,
			c.$gold,
			c.$white
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-secondary-button {
	@include b.secondary-button(
		transparent,
		2px solid c.$grey-mid,
		c.$grey-dark,
		f.$font-family-roboto,
		.7rem,
		f.$font-weight-bold,
		normal,
		1.9,
		.8rem 0,
		background .25s cubic-bezier(0, 1, .5, 1),
		c.$grey-mid,
		null,
		c.$grey-dark
	);

	&.invert {
		@include b.button-invert(
			null,
			2px solid c.$grey-mid,
			c.$white,
			c.$grey-mid,
			c.$white
		);
	}

	/* For Inline and Stacked Icon Styling*/
	@extend %button-icon-base;
}

%gb-link {
	@include b.link(
		c.$grey-dark,
		inherit,
		.7rem,
		f.$font-weight-bold,
		normal,
		inherit,
		.8rem 0,
		c.$gold
	);

	.gb-link-label {
		font-size: 12px;
	}

	&.invert {
		@include b.link-invert(
			c.$white,
			c.$gold
		);
	}
}

%gb-icon-button {
	@extend %button-icon-base;
	color: c.$grey;
	cursor: pointer;
	display: inline-block;
	padding: 0.8rem 0;
	width: auto;

	&:hover {
		color: c.$grey-dark;

		svg {
			fill: c.$grey-dark;
		}
	}
}

%gb-list-item-padding {

	&.small-list {
		padding-bottom: 18px;
		padding-top: 18px;
	}

	&.large-list {
		padding-bottom: 28px;
		padding-top: 28px;
	}

	&.no-padding {
		padding-left: 0;
		padding-right: 0;

		&::after {
			right: 0;
		}
	}
}

%gb-list-item-primary {
	@include b.list-item-button(
		transparent,
		c.$grey-dark,
		f.$font-family-roboto,
		.7rem,
		.7rem,
		.7rem,
		f.$font-weight-normal,
		normal,
		1,
		1px solid c.$grey-mid,
		3px solid transparent,
		0,
		18px 5%,
		18px 30px,
		18px 30px,
		$transition,
		transparent,
		none,
		transparent,
		3px solid c.$gold
	);

	&:hover { 
		border-left: 3px solid c.$gold;
		color: c.$grey-dark;

	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-tertiary {
	@include b.list-item-button(
		transparent,
		c.$grey-mid,
		f.$font-family-roboto,
		.7rem,
		.7rem,
		.7rem,
		f.$font-weight-normal,
		normal,
		1,
		1px solid c.$grey-mid,
		3px solid transparent,
		0,
		18px 5%,
		18px 30px,
		18px 30px,
		$transition,
		transparent,
		none,
		transparent,
		3px solid c.$gold
	);

	&:hover { 
		border-left: 3px solid c.$gold;
		color: c.$grey-dark;

	}

	@extend %button-icon-base;

	@extend %gb-list-item-padding;
}

%gb-list-item-description {
	@include b.list-item-description(
		.875rem,
		f.$font-family-roboto,
		f.$font-weight-normal,
		normal,
		1.429,
		c.$grey
	);
}

%gb-list-item-inline-icon-primary {
	@extend %gb-list-item-primary;

	&::after {
		display: none;
	}
}

%gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-primary;
}

%gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-tertiary;
}

%gb-primary-button-inline-icon {
	@extend %gb-primary-button;

	&:hover {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px c.$gold;
	}

	&.invert {
		&:hover {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px c.$gold;
		}
	}
}

%gb-primary-button-stacked-icon {
	@extend %gb-primary-button;

	&:hover {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px c.$gold;
	}

	&.invert {
		&:hover {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px c.$gold;
		}
	}
}

%gb-secondary-button-inline-icon {
	@extend %gb-secondary-button;

	&:hover {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px c.$grey-mid;
	}

	&.invert {
		&:hover {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px c.$grey-mid;
		}
	}
}

%gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button;

	&:hover {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px c.$grey-mid;
	}

	&.invert {
		&:hover {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px c.$grey-mid;
		}
	}
}

.gb-primary-button {
	@extend %gb-primary-button;
}

.gb-secondary-button {
	@extend %gb-secondary-button;
}

.gb-link {
	@extend %gb-link;
}

.gb-filter-button {
	@extend %gb-filter-button;
}

.gb-list-item-primary {
	@extend %gb-list-item-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-secondary {
	@extend %gb-list-item-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-tertiary {
	@extend %gb-list-item-tertiary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-primary {
	@extend %gb-list-item-inline-icon-primary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-secondary {
	@extend %gb-list-item-inline-icon-secondary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-list-item-inline-icon-tertiary {
	@extend %gb-list-item-inline-icon-tertiary;

	.gb-list-item-description {
		@extend %gb-list-item-description;
	}
}

.gb-icon-button {
	@extend %gb-icon-button;
}

.gb-primary-button-inline-icon {
	@extend %gb-primary-button-inline-icon;
}

.gb-primary-button-stacked-icon {
	@extend %gb-primary-button-stacked-icon;
}

.gb-secondary-button-inline-icon {
	@extend %gb-secondary-button-inline-icon;
}

.gb-secondary-button-stacked-icon {
	@extend %gb-secondary-button-stacked-icon;
}
