/* FEATURES - CITATION Style
   ========================================================================== */


// More - Features:
// --------------------------------------------------

.feature-more-cit {
	background-color: $transparent;
	border: 1px solid $cit-divider-gray;
	padding: 15px 15px;
	@media (min-width: $screen-tablet) {
		padding: 30px 30px;
	}
	.feature-title {
		@media (min-width: $screen-tablet) {
			text-align: center;
		}
	}
	.feature {
		margin-bottom: 25px;
		@media (min-width: $screen-tablet) {
			padding:0px;
		}
	}
}



// Key - Features:
// --------------------------------------------------

.feature-key-cit {
	margin: 0px 0px 25px 0px;
	background-color: $transparent;
	text-align: center;
	@media (min-width: $screen-tablet) {
		margin: 0px 0px 40px 0px;
	}
	.feature-title {
		padding: 15px 0px 10px 0px;
		@media (min-width: $screen-tablet) {
			text-align: center;
			padding: 20px 0px 0px 0px;
		}
		.citation-bar {
			// margin-bottom: 15px;
		}
	}
	img{
		width: 100%;
		margin-bottom: 15px;
		@media (min-width: $screen-tablet) {
			width: 75%;
			margin-bottom: 15px;
		}
	}
	svg {
		height: 48px;
		margin-bottom: 15px;
		@media (min-width: $screen-tablet) {
			margin-bottom: 15px;
		}
	}
}



// Promo - Features:
// --------------------------------------------------

.feature-promo-cit {
	.promo {
		margin: 0px 0px 100px 0px;
		text-align: center;
		@media (min-width: $screen-tablet) {
			margin: 0px 0px 40px 0px;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		img{
			width: 100%;
			margin-bottom: 15px;
			@media (min-width: $screen-tablet) {
				width: 75%;
				margin-bottom: 15px;
			}
		}
		svg {
			height: 100px;
			margin-bottom: 30px;
		}
	}
}


// AT&T - Features:
// --------------------------------------------------

.feature-att-cit {
	text-align: center;
	img{
		width: 50%;
		margin-bottom: 20px;
		@media (min-width: $screen-tablet) {
			width: 40%;
		}
		@media (min-width: $screen-desktop) {
			width: 20%;
		}
	}
	svg {
		height: 100px;
		margin-bottom: 15px;
		@media (min-width: $screen-tablet) {
			margin-bottom: 15px;
		}
	}
}


// OwnerCenter - Features:
// --------------------------------------------------

.feature-oc-cit {
	z-index: 2;
	text-align: center;
	border: 1px solid $cit-divider-gray;
	flex-grow: 1;
	width: 100%;
	flex-basis: 100%;
	padding: 30px 30px 60px 30px;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 25px;
	background-color: $white;
	@media (min-width: $screen-tablet) {
		margin-right: 0px;
		margin-left: 0px;
	}
	@media (min-width: $screen-desktop) {
		margin-bottom: 0px;
	}
	svg {
		height: 40px;
		width: 100%;
		margin-bottom: 15px;
		@media (min-width: $screen-tablet) {
			margin-bottom: 15px;
		}
	}
	.citation-bar {
		margin-bottom: 30px
	}
	li {
		margin-bottom: 15px;
	}
}