/* DIVIDER/CITATION BAR - CITATION Style
   ========================================================================== */


// Divider
// -------------------------
hr.cit	{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid $cit-divider-gray-dark;
	&.light {
		border-top: 1px solid $cit-divider-gray;
	}
}



// Citation Text Divider
// -------------------------
.hr-cit-text {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $cit-divider-gray-dark;
    p {
        font-family:$font-family-bold-cit;
        text-align: center;
        margin-bottom: 5px;
        font-size: $font-size-small-cit;
    }
    @media (min-width: $screen-desktop) {
        border-bottom: none;
        p {
            overflow: hidden;
        }
        p:before,
        p:after {
            background-color: $cit-divider-gray-dark;
            content: "";
            display: inline-flex;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        p:before {
            right: 25px;
            margin-left: -50%;
        }
        p:after {
            left: 25px;
            margin-right: -50%;
        }
    }
}


// Citation Bar
// -------------------------
.citation-bar	{
    margin-top: 15px;
    margin-bottom: 30px;
    height:4px;
    background-color:$brand-primary;
    width:120px;
    display: inline-block;
	@media (min-width: $screen-tablet) {
	    margin-top: 15px;
	    margin-bottom: 25px;
	}
}

.citation-bar-subnav   {
    margin-top: 0px;
    margin-bottom: 0px;
    height:2px;
    background-color:$brand-primary;
    width: 60px;
    display: block;
}

.citation-bar.onstar {
    margin-top: 15px;
    margin-bottom: 30px;
    height:4px;
    background-color:$cit-blue-dark;
    width:120px;
    display: block;
    @media (min-width: $screen-tablet) {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

