//
// FOOTER - CITATION Style
// --------------------------------------------------

.global-footer {
  min-height: 100%;
  background-color: $white;
  padding-top: 24px;
  padding-bottom: 16px;
  @media (min-width: $screen-tablet) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  @media (min-width: $screen-desktop) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  & .footer-links {
    .mobile {
      display: block;
      @media (min-width: $screen-tablet) {
        display: none;
      }
      ul {
        margin: 0px;
        padding:0px;
        li {
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
    .tablet {
      display: none;
      @media (min-width: $screen-tablet) {
        display: flex;
        justify-content: space-between;
      }
      @media (min-width: $screen-desktop) {
        display: none;
      }
      ul {
        margin: 0px;
        padding:0px;
        li {
          margin-bottom: 0px;
          &:last-child {
            margin-bottom: 0px;
          }
          a {
            line-height: 1.8rem;
            margin-bottom: 0px
          }
        }

      }
    }
    .desktop {
      display: none;
      @media (min-width: $screen-desktop) {
        display: block;
      }
      ul {
        margin: 0px;
        padding:0px;
        display: flex;
        justify-content: space-between;
        li {
          margin-bottom: 0px;
          &:last-child {
            margin-bottom: 0px;
          }
          a {
            line-height: 1.8rem;
            margin-bottom: 0px
          }
        }

      }
    }
  }
  & .brand-logo {
      align-self: flex-end;
      text-align: right;
  }
}

