/* UTILITIES - CITATION Style
   ========================================================================== */


// Colors
// -------------------------
.bg-dark {
	background-color: $cit-bg-gray-darker;
}


// Containers
// -------------------------
.container-cit {
	background-color: $white;
	padding:30px;
	border: 1px solid $cit-divider-gray;
}

.container-cit-h100 {
	background-color: $white;
	padding:30px;
	border-top: none;
	border-bottom: none;
 	min-height: 100vh;
	@media (min-width: $screen-tablet) {
		border-left: 1px solid $cit-divider-gray;
		border-right: 1px solid $cit-divider-gray;
	}
}


.hv-100 {
 height: 100vh;
}