/* CARDS - CITATION Style
   ========================================================================== */



// PRIMARY CARDS:
// --------------------------------------------------
.card-cit-primary-left, .card-cit-primary-right{
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
	}

	.image {
		text-align: center;
		padding:50px 25px 25px 25px;
	    background:url(img/prototypes/customer-onboarding/phone-mobile.jpg) center center no-repeat;	
		height:315px;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
	    	background:url(img/prototypes/customer-onboarding/phone-tablet.jpg) center center no-repeat;
			flex-basis: 50%;
			height: auto;
			padding: 40px 60px 60px 60px;
			background-size: cover;
		}
		@media (min-width: $screen-desktop) {
	    	background:url(img/prototypes/customer-onboarding/phone-desktop.jpg) center center no-repeat;
	    	background-size: cover;
	    }
		h1, h5, h3 {
			color: $cit-type-gray-darker;
		}
		h3 {
			line-height: 1em;
		}
	}

	.image.dark {
		background:url(img/prototypes/customer-onboarding/Chevrolet_Citation_II_fron.jpg) center center no-repeat;
				background-size: cover;
		h1, h5, h3 {
			color: $white;
		}
		h3 {
			line-height: 1em;
		}
	}

	.content {
		padding: 25px;
		background-color: $white;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			padding:90px 60px 60px 60px;
		}
		a {
			display: block;
			margin-bottom: 30px;
		}
		h5 {

		}
	}
}


.card-cit-primary-right {
	.image {
		order: 1;
		@media (min-width: $screen-tablet) {
			order: 2;
		}
	}
	.content {
		order: 2;
		@media (min-width: $screen-tablet) {
			order: 1;
		}
	}
}


// SECONDARY CARD:
// --------------------------------------------------

.card-cit-secondary {
	border: 2px solid $cit-divider-gray;
	margin-bottom: 25px;
	background-color: $transparent;
	width: 100%;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.image-area {
		padding:15px 15px 25px 15px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			padding:30px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
		}
		.image-container {
			padding-top: 100%; /* 1:1 Aspect Ratio */
	  		position: relative; /* If you want text inside of it */
			.image {
				background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
				background-size: cover;
	   			position: absolute;
	  			top: 0;
	  			left: 0;
	  			bottom: 0;
	  			right: 0;
			}
		}	
	}

	.content {
		padding: 0px 15px 25px 15px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			padding: 30px 30px 30px 0px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
		}
		.citation-bar	{
		    margin-top: 15px;
		    margin-bottom: 15px;
		}
		h5 {
			margin-bottom: 5px;
		}
	}
}


// PROMO CARD:
// --------------------------------------------------

.card-cit-promo {
	margin-bottom: 25px;
	background-color: $cit-type-gray;
	width: 100%;
	@media (min-width: $screen-tablet) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.content {
		padding: 25px;
		text-align:center;
		@media (min-width: $screen-tablet) {
			text-align: left;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 58.33333%;
			padding: 45px 60px;
		}
		h4 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 25px;
		}
	}
	.image-area-mobile {
		@media (min-width: $screen-tablet) {
			display: none;
		}
		.image-container {
			padding-top: 66.66%; /* 3:12 Aspect Ratio */
	  		position: relative; /* If you want text inside of it */
			.image {
				background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
				background-size: cover;
	   			position: absolute;
	  			top: 0;
	  			left: 0;
	  			bottom: 0;
	  			right: 0;
			}
		}
	}
	.image-area-desktop{
		background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 41.66667%;
	}
}


// CTA CARD:
// --------------------------------------------------

.card-cit-cta {
	margin-bottom: 25px;
	background-color: $cit-type-gray;
	width: 100%;
	.content {
		padding: 25px;
		text-align:center;
		@media (min-width: $screen-tablet) {
			padding: 30px;
		}
		h5 {
			margin-bottom: 15px;
		}
	}
}


// PLAN ACTIVE CARDS:
// --------------------------------------------------
.card-cit-plan-active {
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	padding: 0px 25px 25px 25px;
	background-color: $white;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
		padding: 0px 30px 30px 30px;
	}
	
	.title {
		text-align: center;
		background-color: $cit-type-gray;
		padding:8px 0px;
		margin-left: -30px;
		margin-right: -30px;
	}

	.footer {
		text-align: center;
		background-color: $cit-type-gray;
		padding:8px 0px;
		margin-left: -30px;
		margin-right: -30px;
		margin-top: 25px;
		margin-bottom: -30px;
		@media (min-width: $screen-tablet) {
			margin-top: 30px;
			margin-bottom: -30px;
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.content {
		padding: 25px 0px 0px 0px;
		background-color: $white;
		@media (min-width: $screen-desktop) {
			padding: 30px 0px 0px 0px;
		}
		.plan-content {
			.plan-name {
				margin: 0px 0px 0px 0px;
				@media (min-width: $screen-desktop) {
					margin: 0px 40px 0px 0px;
				}
				p {
					margin-top:5px;
				}
			}
			.pricing {
				margin: 15px 0px 0px 40px;
				@media (min-width: $screen-desktop) {
					margin: 0px;
					padding: 0px 20px;
				}
			}
			.bill-date {
				margin: 5px 0px 0px 40px;
				@media (min-width: $screen-desktop) {
					margin: 0px 40px 0px 0px;
					padding: 0px 20px 0px 0px;
				}
			}
		}
		button {
			margin-top: 25px;
			@media (min-width: $screen-desktop) {
				margin-top: 0px;
			}
		}
	}
}



// PLAN DETAIL CARDS:
// --------------------------------------------------

.card-cit-plan-detail {
	border: 1px solid $cit-divider-gray;
	background-color: $cit-type-gray;
	cursor: pointer;
	position: relative;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	width:100%;
	&.disabled {
		cursor: default;
		background-color: $transparent;
		&:hover {
			outline: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		.title {
			color: $cit-divider-gray-dark;
			h4 {
				color: $cit-divider-gray-dark;
			}
			.citation-bar {
				background-color: $cit-divider-gray-dark;
			}
		}
		.content {
			color: $cit-divider-gray-dark;
			background-color: $transparent;
			ul {
				border-color: $cit-divider-gray;
			}
			h6{
				color: $cit-divider-gray-dark;
			}
		}
		.price {
			color: $cit-divider-gray-dark;
			background-color: $transparent;
			h3 {
				color: $cit-divider-gray-dark;
			}
			a {
				color: $cit-divider-gray-dark;
				cursor: default;
			}
		}
	}
	&.selected {
		cursor: default;
		border: 4px solid $brand-onstar;
		&:hover {
			outline: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		.price {
			p:last-of-type {
				color:$brand-onstar;
				font-weight: 700;
			}
		}
	}
	.title {
		padding: 45px 30px 30px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $white;
		position: relative;
		.citation-tag {
			background-color: $onstar;
	  		position: absolute;
	        top: 14px;
	        left: 50%;
	        margin-right: -50%;
	        transform: translate(-50%, -50%);
		}
		.citation-bar {
			margin-bottom: 15px;
			background-color: $onstar;
		}
	}
	.content {
		background-color: $cit-type-gray;
		padding: 30px 30px 0px 30px;
		display: flex;
		flex-direction: column;
		ul {
			margin-bottom:auto;
			padding-bottom:30px;
			margin-bottom: 30px;
			border-bottom: 1px solid $cit-divider-gray-dark;
		}
	}
	.price {
		margin-top: auto;
		background-color: $cit-type-gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px 0px 30px 0px;
	}

	sup a { 
		display: inline;
		text-align: left;
	}
	a {
		display: inline-block;
		text-align: center;
	}
	&:hover {
		outline: 0;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
	}
}



// MESSAGE CARDS:
// --------------------------------------------------
.card-cit-message {
		text-align: center;
		background-color: $cit-type-gray;
		padding:8px 25px;
	}




// PLAN TRIAL CARDS:
// --------------------------------------------------

.card-cit-plan-trial {
	border: 1px solid $cit-divider-gray;
	margin-bottom: 25px;
	background-color: $transparent;
	width: 100%;
	.image {
		background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
		background-size: cover;
		height: 250px;
	}
	.content {
		padding: 25px;
		@media (min-width: $screen-tablet) {
			padding:30px 30px 30px 30px;
		}
		.plan-title {
			margin-left: 10px;
			width: 100%;
			flex-basis: 100%;
			.plan-status {
				margin-top: 25px;
			}
		}
	}
}


// PLAN UPCOMING CARDS:
// --------------------------------------------------

.card-cit-plan-upcoming {
	border: 1px solid $cit-divider-gray;
	background-color: $white;
	padding: 25px 25px 25px 25px;
	margin-bottom: 25px;
	@media (min-width: $screen-tablet) {
		padding:30px 30px 30px 30px;
		margin-bottom: 30px;
	}
	button {
		margin-top: 25px;
		@media (min-width: $screen-desktop) {
			margin-top: 0px;
		}
	}
	.content {
		// margin-bottom: 15px;
		// @media (min-width: $screen-tablet) {
		// 	margin-bottom: 0px;
		// }
		// .plan-title {
		// 	margin-left: 10px;
		// }
	}
	.plan-status {
		margin-top: 15px;
		@media (min-width: $screen-tablet) {
			margin-top: 0px;
		}
		p {
			margin-bottom: 5px;
		}

	}
	.title {
		text-align: center;
		background-color: $cit-type-gray;
		padding:8px 0px;
		margin-left: -25px;
		margin-right: -25px;
		margin-top: 25px;
		margin-bottom: -25px;
		@media (min-width: $screen-tablet) {
			margin-top: 30px;
			margin-bottom: -30px;
			margin-left: -30px;
			margin-right: -30px;
		}
	}
}


// PAYMENT INFO CARD:
// --------------------------------------------------

.card-cit-payment-info {
	border: 1px solid $cit-divider-gray;
	background-color: $white;
	padding: 25px 25px 25px 25px;
	@media (min-width: $screen-tablet) {
		padding:30px 30px 30px 30px;
	}
}


// SELECTABLE CARD:
// --------------------------------------------------

.card-cit-select {
	width: 100%;
	text-align: center;
	border: 1px solid $cit-divider-gray;
	background-color: $white;
	padding: 55px 25px 25px 25px;
	cursor: pointer;
	position: relative;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (min-width: $screen-tablet) {
		padding:45px 30px 30px 30px;
	}
	sup a { 
		display: inline;
		text-align: left;
	}
	a {
		display: inline-block;
		text-align: center;
	}
	&:hover {
		outline: 0;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
	}
	&.selected {
		cursor: default;
		border: 4px solid $brand-primary;
		&:hover {
			outline: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		p:last-of-type {
			color:$brand-primary;
			font-weight: 700;
		}
	}
	&.disabled {
			border: 1px solid $cit-divider-gray;
		h6,h3,a {
			color:$cit-divider-gray-dark;
			font-weight: 700;
		}
		.citation-bar {
			 background-color:$cit-divider-gray-dark;
		}
	}
	.citation-tag {
  		position: absolute;
        top: 14px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
	}
	.citation-bar {
		margin-bottom: 15px;
	}
}


// PRICE CARD:
// --------------------------------------------------

.card-cit-price {
	width: 100%;
	text-align: center;
	border: 2px solid $cit-divider-gray;
	background-color: $white;
	padding: 25px 25px 25px 25px;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (min-width: $screen-tablet) {
		padding:30px 30px 30px 30px;
	}
	sup a { 
		display: inline;
		text-align: left;
	}
	a {
		display: inline-block;
		text-align: center;
	}
	.citation-bar {
		display: inline-block;
		margin-bottom: 15px;
	}
}


// PRODUCT CARDS:
// --------------------------------------------------
.card-cit-product-left {
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	text-align: center;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
	}

	.image {
		text-align: center;
	    background:url(img/prototypes/customer-onboarding/card-image-light.jpg) center center no-repeat;	
		height:315px;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		order: 1;
		@media (min-width: $screen-tablet) {
			order: 2;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			height: auto;
		}
	}

	.content {
		padding: 25px;
		background-color: $white;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		order: 2;
		@media (min-width: $screen-tablet) {
			order: 1;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			padding: 90px 60px 60px 60px;
		}
		h5 {
			margin-bottom: 10px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 15px;
			}		
		}
		p {
			margin-bottom: 25px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 30px;
			}
		}
		.card-cit-price {
			margin-bottom: 25px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 30px;
			}
		}
	}
}


.card-cit-product-right {
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	text-align: center;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
	}

	.image {
		text-align: center;
	    background:url(img/prototypes/customer-onboarding/card-image-light.jpg) center center no-repeat;	
		height:315px;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		order: 2;
		@media (min-width: $screen-tablet) {
			order: 1;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			height: auto;
		}
	}

	.content {
		padding: 25px;
		background-color: $white;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		order: 1;
		@media (min-width: $screen-tablet) {
			order: 2;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			padding: 90px 60px 60px 60px;
		}
		h5 {
			margin-bottom: 10px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 15px;
			}		
		}
		p {
			margin-bottom: 25px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 30px;
			}
		}
		.card-cit-price {
			margin-bottom: 25px;
			@media (min-width: $screen-tablet) {
				margin-bottom: 30px;
			}
		}
	}
}

// PRODUCT INFO CARDS:
// --------------------------------------------------
.card-cit-product-info-left, .card-cit-product-info-right{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.image {
		text-align: center;
	    background:url(img/prototypes/customer-onboarding/card-image-light.jpg) center center no-repeat;	
		height:315px;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			height: auto;
		}
	}

	.content {
		padding: 25px;
		background-color: $white;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			padding:60px 60px 60px 60px;
		}
	}
}


.card-cit-product-info-left {
	.image {
		order: 1;
		@media (min-width: $screen-tablet) {
			order: 2;
		}
	}
	.content {
		order: 2;
		@media (min-width: $screen-tablet) {
			order: 1;
		}
	}
}