//
// BUTTONS/LINKS - CITATION Style
// --------------------------------------------------



/* BUTTONS
	 ========================================================================== */

.btn-primary-dark-cit, .btn-primary-light-cit,  .btn-secondary-dark-cit, .btn-secondary-light-cit{
	// text-transform: uppercase;
	font-family: $font-family-bold-cit;
	font-size: $h6-font-size-cit;
	font-weight: normal;
	padding: 15px 50px;
	border-radius: 0rem;
	letter-spacing: 0px;
	@media (min-width: $screen-tablet) {
		// font-size: $font-size-base-cit * 1.25; 		//20.8px
		letter-spacing: 0px;
	}
}

.btn-primary-dark-cit, .btn-primary-light-cit{
	&:focus,
 	&.focus {
		outline: 0;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25);
	}
}

.btn-secondary-dark-cit, .btn-secondary-light-cit{
	&:focus,
 	&.focus {
		outline: 0;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	}
}
.btn-primary-dark-cit {
	@include button-variant-primary-dark-cit(
		$white, //color
		$cit-bg-gray, //background
		$cit-bg-gray //border
	);
}

.btn-primary-light-cit {
	@include button-variant-primary-light-cit(
		$cit-bg-gray, //color
		$white, //background
		$white //border
	);
}



.btn-secondary-dark-cit {
	@include button-variant-secondary-dark-cit(
		$cit-bg-gray, //color
		$button-color-secondary-light-cit, //background
		$cit-bg-gray //border
	);
}



.btn-secondary-light-cit {
	@include button-variant-secondary-light-cit(
		$white, //color
		$button-color-secondary-light-cit, //background
		$white //border
	);
}





/* LINKS
	 ========================================================================== */

h1.cit, h2.cit, h3.cit, h3.cit35, h4.cit, h5.cit, h6.cit, h1.cit.heavy, h2.cit.heavy, h3.cit.heavy, h3.cit35.heavy, h4.cit.heavy, h5.cit.heavy, h6.cit.heavy {
	.btn-link-dark-cit, .btn-link-light-cit {
		font-family: $font-family-bold-cit !important;
	}
}

h3.cit35, h4.cit, h5.cit, h6.cit, h1.cit.heavy, h2.cit.heavy, h3.cit.heavy, h3.cit35.heavy, h4.cit.heavy, h5.cit.heavy, h6.cit.heavy, p {
	.btn-link-dark-cit.disclaimer, .btn-link-light-cit.disclaimer{
		font-family: $font-family-plain-cit !important;
		font-size: $font-size-small-cit;
	}
	sup {
		display: inline-block;
	}
}



a {
	&.btn-link-dark-cit, &.btn-link-light-cit {
		font-family: $font-family-bold-cit;
		white-space: normal;
		font-weight: bold;
		cursor: pointer;
		padding: 0px 0px 0px 0px;
		text-align: left;
		vertical-align: baseline;
		display: inline;
		text-decoration: underline !important;
		text-underline-position: under;
		border: 1px solid transparent;
		line-height: 1.5rem;
		&,
		&:active,
		&[disabled],
		fieldset[disabled] & {
			background-color: transparent;
			@include box-shadow(none);
		}
		&,
		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
			@include box-shadow(none);
		}
		&.disclaimer {
			text-underline-position: auto;
		}
	}
}

.btn-link-dark-cit {
	color: $cit-type-gray-darkest;
	&:hover,
	&:focus {
		color: $cit-type-gray-darkest;
		text-decoration: underline;
		// text-underline-position: under;
		background-color: transparent;
		border-color: transparent;
	}
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus {
			color: $cit-type-gray-darkest;
			text-decoration: underline;
			text-underline-position: under;
			background-color: transparent;
		}
	}
}


.btn-link-light-cit {
	color: $white;
	&,
	&:active,
	&[disabled],
	fieldset[disabled] & {
		background-color: transparent;
		@include box-shadow(none);
	}
	&,
	&:hover,
	&:focus,
	&:active {
	// border-color: transparent;
	}
	&:hover,
	&:focus {
		color: $white;
		text-decoration: underline;
		// text-underline-position: under;
		background-color: transparent;
	}
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus {
			color: $white;
			text-decoration: underline;
			text-underline-position: under;
			background-color: transparent;
		}
	}
}



/* LINKS - TELEPHONE
	 ========================================================================== */
@media (max-width: $screen-md) {
  a.btn.btn-link-dark-cit[href^="tel:"]:before {
    content: none;
    font-size: $font-size-xlarge;
    display: inline-block;
    margin-right: 0.5em;
  }
  a.btn.btn-link-dark-cit[href^="tel:"]{
    font-size: inherit;
  }
}
@media (min-width: $screen-md) {
  a.btn.btn-link-dark-cit[href^="tel:"]{
     pointer-events: none;
     cursor: default;
     color: inherit;
     text-decoration: none !important;
     font-family: $font-family-plain-cit;
     font-weight: normal;
   }
 }


/* LINKS - Blue
	 ========================================================================== */
a {
	&.btn-link-blue-bold {
		font-family: $font-family-bold-cit;
		white-space: normal;
		font-weight: normal;
		cursor: pointer;
		padding: 0px 0px 0px 0px;
		text-align: left;
		vertical-align: baseline;
		display: inline;
		text-decoration: none;
		border: none;
		line-height: 1.5rem;
		color: $blue-gm;
		&,
		&:active,
		&[disabled],
		fieldset[disabled] & {
			background-color: transparent;
			@include box-shadow(none);
		}
		&,
		&:hover,
		&:focus,
		&:active {
			color: $blue-gm;
			border-color: none;
			@include box-shadow(none);
		}
		&.disclaimer {
			text-underline-position: auto;
		}
	}
}

