/* CARDS - CITATION Style
   ========================================================================== */



// PRIMARY CARDS:
// --------------------------------------------------
.card-cit-primary-left, .card-cit-primary-right{
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
	}

	.image {
		text-align: center;
		padding:50px 20px 20px 20px;
	    background:url(img/prototypes/customer-onboarding/Chevrolet_Citation_II_fron.jpg) center center no-repeat;	
		height:315px;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			height: auto;
			padding: 100px 20px 20px 20px;
		}
		h1, h5 {
			color: $white;
		}
		h1 {
			text-transform: uppercase;
		}
	}
	.content {
		padding: 25px;
		background-color: $white;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
			padding:90px 60px 60px 60px;
		}
		a {
			display: block;
			margin-bottom: 30px;
		}
		h4 {
			text-decoration: line-through;
		}
		h3 {
			margin-bottom: 15px;
		}
	}
}


.card-cit-primary-right {
	.image {
		order: 1;
		@media (min-width: $screen-tablet) {
			order: 2;
		}
	}
	.content {
		order: 2;
		@media (min-width: $screen-tablet) {
			order: 1;
		}
	}
}


// SECONDARY CARD:
// --------------------------------------------------

.card-cit-secondary {
	border: 1px solid $cit-divider-gray;
	margin-bottom: 25px;
	background-color: $transparent;
	width: 100%;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.image-area {
		padding:15px 15px 25px 15px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			padding:30px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
		}
		.image-container {
			padding-top: 100%; /* 1:1 Aspect Ratio */
	  		position: relative; /* If you want text inside of it */
			.image {
				background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
				background-size: cover;
	   			position: absolute;
	  			top: 0;
	  			left: 0;
	  			bottom: 0;
	  			right: 0;
			}
		}	
	}

	.content {
		padding: 0px 15px 25px 15px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		@media (min-width: $screen-tablet) {
			padding: 30px 30px 30px 0px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 50%;
		}
		.citation-bar	{
		    margin-top: 15px;
		    margin-bottom: 15px;
		}
		h5 {
			margin-bottom: 5px;
		}
	}
}


// PROMO CARD:
// --------------------------------------------------

.card-cit-promo {
	margin-bottom: 25px;
	background-color: $cit-bg-gray-light;
	width: 100%;
	@media (min-width: $screen-tablet) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.content {
		padding: 25px;
		text-align:center;
		@media (min-width: $screen-tablet) {
			text-align: left;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 58.33333%;
			padding: 45px 60px;
		}
		h4 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 25px;
		}
	}
	.image-area-mobile {
		@media (min-width: $screen-tablet) {
			display: none;
		}
		.image-container {
			padding-top: 66.66%; /* 3:12 Aspect Ratio */
	  		position: relative; /* If you want text inside of it */
			.image {
				background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
				background-size: cover;
	   			position: absolute;
	  			top: 0;
	  			left: 0;
	  			bottom: 0;
	  			right: 0;
			}
		}
	}
	.image-area-desktop{
		background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
		background-size: cover;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 41.66667%;
	}
}


// CTA CARD:
// --------------------------------------------------

.card-cit-cta {
	margin-bottom: 25px;
	background-color: $cit-bg-gray-light;
	width: 100%;
	.content {
		padding: 25px;
		text-align:center;
		@media (min-width: $screen-tablet) {
			padding: 30px;
		}
		h5 {
			margin-bottom: 15px;
		}
	}
}


// PLAN ACTIVE CARDS:
// --------------------------------------------------
.card-cit-plan-active {
	border-top: 1px solid $cit-divider-gray;
	border-bottom: 1px solid $cit-divider-gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	padding: 0px 25px 25px 25px;
	background-color: $white;
	@media (min-width: 576px) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
		border: 1px solid $cit-divider-gray;
		padding: 0px 30px 30px 30px;
	}
	
	.title {
		text-align: center;
		background-color: $cit-bg-gray-light;
		padding:8px 0px;
		margin-left: -30px;
		margin-right: -30px;
	}

	.footer {
		text-align: center;
		background-color: $cit-bg-gray-light;
		padding:8px 0px;
		margin-left: -25px;
		margin-right: -25px;
		margin-top: 25px;
		margin-bottom: -25px;
		@media (min-width: $screen-tablet) {
			margin-top: 30px;
			margin-bottom: -30px;
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.content {
		padding: 25px 0px 0px 0px;
		background-color: $white;
				@media (min-width: $screen-desktop) {
			padding: 30px 0px 0px 0px;
		}
		.plan-content {
			margin-left: 20px;
				@media (min-width: $screen-desktop) {
				margin-left: 0px;
			}
			.plan-name {
				width: 100%;
				@media (min-width: $screen-desktop) {
					margin: 0px 0px 0px 20px;
					width: 50%;
				}
				p {
					margin-top:5px;
				}
			}
			.pricing {
				margin: 15px 0px 5px 0px;
				@media (min-width: $screen-desktop) {
					margin: 0px 0px 0px 0px;
					padding: 0px 20px;
				}
			}
			.bill-date {
				margin: 0px 0px 25px 0px;
				@media (min-width: $screen-desktop) {
					margin: 0px 20px 0px 00px;
					padding: 0px 20px 0px 0px;
				}
			}
		}
	}
}




// PLAN TRIAL CARDS:
// --------------------------------------------------

.card-cit-plan-trial {
	border: 1px solid $cit-divider-gray;
	margin-bottom: 25px;
	background-color: $transparent;
	width: 100%;
	.image {
		background:url(img/prototypes/cit-style/card-cit-secondary.jpg) center center no-repeat;
		background-size: cover;
		height: 250px;
	}
	.content {
		padding: 25px;
		@media (min-width: $screen-tablet) {
			padding:30px 30px 30px 30px;
		}
		.plan-title {
			margin-left: 10px;
			width: 100%;
			flex-basis: 100%;
			.plan-status {
				margin-top: 25px;
			}
		}
	}
}


// PLAN UPCOMING CARDS:
// --------------------------------------------------

.card-cit-plan-upcoming {
	border: 1px solid $cit-divider-gray;
	background-color: $transparent;
	padding: 25px 25px 25px 25px;
	margin-bottom: 25px;
	@media (min-width: $screen-tablet) {
		padding:30px 30px 30px 30px;
		margin-bottom: 30px;
	}
	.content {
		margin-bottom: 15px;
		@media (min-width: $screen-tablet) {
			margin-bottom: 0px;
		}
		.plan-title {
			margin-left: 10px;
		}
	}
	.plan-status {
		margin-bottom: 25px;
		@media (min-width: $screen-tablet) {
			margin-bottom: 0px;
		}
		p {
			margin-bottom: 5px;
		}

	}
	.title {
		text-align: center;
		background-color: $cit-bg-gray-light;
		padding:8px 0px;
		margin-left: -25px;
		margin-right: -25px;
		margin-top: 25px;
		margin-bottom: -25px;
		@media (min-width: $screen-tablet) {
			margin-top: 30px;
			margin-bottom: -30px;
			margin-left: -30px;
			margin-right: -30px;
		}
	}
}