//
// FORMS - CITATION Style
// --------------------------------------------------


/* INPUT
   ========================================================================== */
.cit-input-field {
  position: relative;
  width: 100%;
  // height: 30px;
  line-height: 30px;
  margin-bottom:40px;
  display: inline-block;
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    font-family: $font-family-plain-cit;
    font-size:$font-size-base-cit;
    font-weight: normal;
    color: $cit-type-gray-dark;
  }

  // input:invalid {
  //   outline: 0;
  //   border-bottom: 2px solid $cit-red;
  // }

  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0px;
    border-bottom: 2px solid $cit-bg-gray;
    box-shadow: none;
    color: $cit-bg-gray-dark;
    font-family: $font-family-plain-cit;
  }

  input:focus~label,
  input:valid~label {
    font-size: 14px;
    top: -30px;
    color: $cit-type-gray-dark;
    text-transform: uppercase;
  }
  &.error {
    input:focus~label,
    input:valid~label {
      font-size: 14px;
      top: -30px;
      color: $cit-red;
      text-transform: uppercase;
    }
    input {
        border-bottom: 2px solid $cit-red;
    }
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      background:$cit-red; 
    }
    p small{
      color:$cit-red;
    }
    p {
      margin-bottom: 0px;
    }
  }


  .bar  { 
    position:relative;
    display:block; 
    width: 100%; 
  }
  .bar:before, .bar:after   {
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    position: absolute;
    background:$brand-primary; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

}


/* SEARCH
   ========================================================================== */
.cit-search {
  display: flex;
  flex-wrap: wrap;
  input {
    border:none;
    margin-bottom: 0px;
    flex: 0 0 88%;
    height: 40px;
    border-radius: 0px;
    background-color: $cit-bg-gray-lightest-2;
    padding: 0px 16px;
    font-family: $font-family-plain-cit;
    &:focus{
      outline: none;
    }
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $cit-type-gray-darkest;
    opacity: 0.5;
  }
  :-ms-input-placeholder {
    color: $cit-type-gray-darkest;
    opacity: 0.5;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $cit-type-gray-darkest;
    opacity: 0.5;
  }
  button {
    flex: 0 0 12%;
    margin-bottom:0px;
    height: 40px;
    border: none;
    background-color: $cit-bg-gray;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color: $white;
    font-family: $font-family-plain-cit;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $brand-primary;
    }
  }
  small a, small p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 0 0 100%;
  }
}


/* PASSWORD
   ========================================================================== */
.cit-input-field {
  &.password {
    position: relative;
    button {
      position: absolute;
      top:0;
      right:0;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0px;

    }
  }
}
ul.cit-password-instruction {
    margin-bottom: 0px;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    &:first-child {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-top: 32px;
    }
    h6 {
      display: inline;
      &.weak {
        color: $cit-red;
      }
      &.strong {
        color: $cit-green;
      }
    }
    p {
      margin-bottom: 0px;
      color: $cit-bg-gray-lightest;
    }
    &.default {
      p {
        color: $cit-type-gray-dark;
      }
    }
    &.error {
      p {
        color: $cit-red;
      }
    }
    &.success {
      .check-mark__wrapper {
        background-color: $cit-green;
      }
      .check-mark::before {
        background-color: $cit-green;
      }
      p.cit {
        color: $cit-green;
      }
    }
  }
}

.check-mark__wrapper {
  width: 15px;
  height: 15px;
  margin: 0px 8px 1px 0px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  background-color: $cit-type-gray;
}

.check-mark {
  position: relative;
  width: 5px;
  height: 9px;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 2px;
  background-color: $white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-mark::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: 2px;
  z-index: 10;
  width: 3px;
  height: 8px;
  background-color: $cit-type-gray;
}


/* RADIO BUTTONS
   ========================================================================== */
.cit-radio {
  display: flex;
}

ul.cit-radio-list label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0px;
  &.disabled {
     cursor: default;
     h6 {
      color: $cit-bg-gray;
      opacity: .45;
     }
 }
}

.cit-radio input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* style the "fake" checkbox */
.cit-radio-value {
  width: 24px;
  height: 24px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% auto;
  border-radius: 50%;
  border: 1px solid $cit-divider-gray-dark;
  box-shadow: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;

}

/* style the "fake CHECKED" radio */
input:checked + .cit-radio-value {
  // &:before {
  //   content: " ";
  //   width: 24px;
  //   height: 24px;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   border: 1px solid $cit-divider-gray-dark;
  // }
  &:after {
    content: " ";
    border-radius: 50%;
    background-color: $cit-bg-gray;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}


/* CHECKBOX
   ========================================================================== */
.cit-checkbox {
  margin-right: 10px;
  display: flex;
}

ul.cit-checkbox-list li {
  margin-bottom: 20px
}

ul.cit-checkbox-list li:last-child {
  margin-bottom: 0px;
}


ul.cit-checkbox-list label {
  display: inline-flex;
  cursor: pointer;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: $font-size-base;
  p small {
    color: $cit-bg-gray;
    margin-bottom: 0px;
    line-height: 16px;
    vertical-align: top;
  }
}

.cit-checkbox input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* style the "fake" checkbox */
.cit-checkbox-value {
  background-color: $white;
  border: 1px solid $cit-divider-gray-dark;
  box-shadow: none;
  border-radius: 2px;
  position: relative;
  width: 16px;
  height: 16px;
}

/* style the "fake CHECKED" checkbox */
input:checked + .cit-checkbox-value:before {
  font-family: 'icon-ui';
  font-weight: normal;
  content: "\e915";
  font-size: 16px;
  position: absolute;
  top: -3px;
  left: -1px;
  color: $cit-bg-gray;
}

