/* CARDS - CITATION Style
   ========================================================================== */


// Vertical - Features:
// --------------------------------------------------

.feature-vertical-cit {
	margin: 0px 0px 40px 0px;
	background-color: $transparent;
	text-align: center;
	img{
		width: 100%;
		margin-bottom: 30px;
		@media (min-width: $screen-tablet) {
			width: 75%;
		}
	}
}