//
// PROGRESS BAR - CITATION Style
// --------------------------------------------------



.progress-cit {
  display: flex;
  height: 8px;
  background-color: $cit-type-gray-darkest;
  margin-bottom: 5px;
}

.progress-bar-cit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: $brand-primary;
}



//
// PROGRESS BAR - FULL SCREEN MODAL
// --------------------------------------------------

.progressbar-modal {
  display: flex;
  height: 1px;
  background-color: $black;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
}

.progressbar-modal-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: $black;
  height: 4px;
  position: absolute;
  top:-1px;
}